@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.col-LoginAndHelp {
  display: none;
}
#MenuButton {
  display: none;
}
.Survey {
  background-color: #c0de5e !important;
}
hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -0.8em;
  padding: 0 0.25em;
  font-family: FontAwesome;
  font-size: 2em;
}
hr.star-light {
  border-color: #fff;
}
hr.star-light:after {
  color: #fff;
  background-color: #2c5fb2;
}
hr.star-primary {
  border-color: #2c3e50;
}
hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}
.shake {
  display: inline-block;
}