h3 {
  color: #003264;
}
.first-row h3 {
  margin-top: 0px;
}
.first-row .bold {
  font-weight: bold;
}
.first-row .col-xs-3 {
  height: 223px;
  margin-bottom: 0px;
}
.first-row .col-xs-3 #chartKnowledgeP {
  height: 101px;
}
.first-row .col-xs-4 {
  height: 98px;
}
.first-row .col-xs-4 h3 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 970px) {
  .first-row .col-xs-4 {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .first-row [class*="col-"] {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
  }
}
.second-row {
  margin-top: 0px;
  padding-top: 0px;
}
.second-row .col-xs-3 {
  margin-top: -50px;
  padding-top: 0px;
}
@media only screen and (max-width: 970px) {
  .second-row .col-xs-3 {
    margin-top: 30px;
  }
}
.second-row .col-xs-3 .reputation-number {
  font-size: 2em;
  margin-right: 0.3em;
}
.second-row .col-xs-3 span {
  font-size: 1.1em;
}
.second-row .col-xs-5 {
  margin-top: 50px;
}
.second-row .col-xs-5 .ProgressBarContainer,
.second-row .col-xs-5 .ProgressBarSegment {
  height: 30px;
}
.second-row .col-xs-5 .ProgressBarContainer {
  display: table;
  width: 100%;
  border: solid 2px #E1EFB3;
  background-color: #E1EFB3;
  margin-bottom: 5px;
}
.second-row .col-xs-5 .ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.second-row .col-xs-5 .ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  min-width: 30px;
  font-weight: bold;
}
.second-row .col-xs-5 .ProgressBarDone {
  background-color: #AFD534;
  position: relative;
  overflow: visible;
}
@media only screen and (max-width: 970px) {
  .second-row [class*="col-"] {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 970px) {
  .second-row .col-xs-5 [class*="col-"] {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
  }
}
.second-row .col-xs-5 .ProgressBarContainer,
.second-row .col-xs-5 .ProgressBarSegment {
  height: 30px;
}
.second-row .col-xs-5 .learn-points {
  text-align: center;
}
.second-row .col-xs-4 {
  margin-top: -117px;
  height: 797px;
}
@media only screen and (max-width: 970px) {
  .second-row .col-xs-4 {
    margin-top: 40px;
    height: auto;
  }
}
.second-row .col-xs-4 .col-xs-3 {
  margin-top: 0px;
}
@media only screen and (max-width: 970px) {
  .second-row [class*="col-"] {
    width: 100%;
    align-content: center;
    margin-bottom: 30px;
    text-align: center;
  }
  .second-row [class*="col-"] .ItemImage {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-width: 970px) {
  .third-row [class*="col-"] {
    width: 100%;
    align-content: center;
    text-align: center;
  }
}
.third-row .col-xs-8 {
  margin-top: -390px;
}
@media only screen and (max-width: 970px) {
  .third-row .col-xs-8 {
    margin-top: 30px;
  }
}
.third-row .col-xs-8 .third-cell #detailsToEdit {
  margin-left: 0px;
  width: 103px;
  margin-top: 10px;
}
@media only screen and (max-width: 970px) {
  .third-row .col-xs-8 .third-cell #detailsToEdit {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.third-row .col-xs-8 .third-cell #startGame {
  margin-left: -11px;
}
@media only screen and (max-width: 970px) {
  .third-row .col-xs-8 .third-cell #startGame {
    margin-left: 5px;
  }
}
.third-row .col-xs-8 #noOpenDates {
  display: none;
}