@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}h3 {
  color: #003264;
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (max-width: 990px) {
  .first-row {
    margin-bottom: 4em;
  }
  .first-row [class*="col-"] {
    width: 33%;
  }
  .first-row [class*="col-"] h3 {
    text-align: center;
  }
}
@media only screen and (max-width: 760px) {
  .first-row {
    margin-bottom: 0;
  }
  .first-row [class*="col-"] {
    width: 50%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
  }
  .first-row .col-xs-4 {
    width: 100%;
  }
}
.first-row h3 {
  margin-top: 0;
}
@media only screen and (max-width: 970px) {
  .first-row .col-xs-5 {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
@media only screen and (max-width: 970px) {
  .first-row .col-xs-4 {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
@media only screen and (max-width: 970px) {
  .second-row [class*="col-"] {
    width: 50%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .second-row .col-xs-4 {
    margin-top: -117px;
  }
}
.second-row .col-xs-3 .reputation-number {
  font-size: 1.5em;
}
.second-row .col-xs-3 span {
  font-size: 1.1em;
}
.second-row .col-xs-3 #rang {
  font-weight: bolder;
}
.second-row .col-xs-5 .ProgressBarContainer,
.second-row .col-xs-5 .ProgressBarSegment {
  height: 30px;
}
.second-row .col-xs-5 .ProgressBarContainer {
  display: table;
  width: 100%;
  border: solid 2px #E1EFB3;
  background-color: #E1EFB3;
  margin-bottom: 5px;
}
.second-row .col-xs-5 .ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.second-row .col-xs-5 .ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  min-width: 30px;
  font-weight: bold;
}
.second-row .col-xs-5 .ProgressBarDone {
  background-color: #AFD534;
  position: relative;
  overflow: visible;
}
.second-row .col-xs-5 .ProgressBarContainer,
.second-row .col-xs-5 .ProgressBarSegment {
  height: 30px;
}
.second-row .col-xs-5 .learn-points {
  text-align: center;
}
.second-row .col-xs-4 {
  margin-top: -117px;
}
@media only screen and (max-width: 970px) {
  .second-row .col-xs-4 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .second-row .col-xs-4 .col-xs-3,
  .second-row .col-xs-4 .col-xs-9 {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .second-row .col-xs-4 .ItemImage {
    height: 2.5em;
    width: 2.5em;
  }
}
@media only screen and (max-width: 25em) {
  .first-row [class*="col-"],
  .second-row [class*="col-"] {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
  }
}
/*.third-row {
    @media only screen and (max-width: 970px) {
        [class*="col-"] {
            width: 100%;
            text-align: center;
            align-content: center;
            text-align: center;
        }
    }

    .col-xs-8 {
        margin-top: -390px;

        @media only screen and (max-width: 970px) {
            margin-top: 30px;
        }

        .third-cell {
            #detailsToEdit {
                margin-left: 0px;
                width: 103px;
                margin-top: 10px;

                @media only screen and (max-width: 970px) {
                    margin-left: 5px;
                    margin-top: 0px;
                }
            }

            #startGame {
                margin-left: -11px;

                @media only screen and (max-width: 970px) {
                    margin-left: 5px;
                }
            }
        }

        #noOpenDates {
            display: none;
        }
    }
}*/