@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#app {
  font-family: Open Sans, Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#app h2 {
  margin-bottom: 21px;
}
table {
  table-layout: initial;
}
.vuetable {
  font-size: 18px;
}
.vuetable .vuetable-th-slot-questionTitle,
.vuetable .vuetable-th-slot-knowWas,
.vuetable .vuetable-th-slot-authorImage,
.vuetable .vuetable-th-slot-category {
  border-bottom: solid 2px #337ab7;
  padding-left: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #2c5fb2;
}
.vuetable .vuetable-th-slot-questionTitle {
  padding-left: 10px;
}
@media only screen and (max-width: 424px) {
  .vuetable .vuetable-th-slot-questionTitle {
    font-size: 13px;
  }
}
.vuetable thead {
  color: #ec971f;
}
.vuetable thead .vuetable-th-slot-knowWas {
  min-width: 9.25em;
}
@media only screen and (max-width: 424px) {
  .vuetable thead .vuetable-th-slot-knowWas {
    font-size: 13px;
  }
}
.vuetable thead .vuetable-th-slot-authorImage {
  min-width: 5em;
}
@media only screen and (max-width: 48.125em) {
  .vuetable thead .vuetable-th-slot-authorImage {
    display: none;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable thead .vuetable-th-slot-category {
    display: none;
  }
}
.vuetable .td-question {
  padding-left: 10px;
  vertical-align: middle;
}
.vuetable .td-question .image {
  float: left;
}
@media only screen and (max-width: 48.125em) {
  .vuetable .td-question .image {
    display: none;
  }
}
.vuetable .td-question .title-table {
  padding-left: 2.5em;
}
@media only screen and (max-width: 48.125em) {
  .vuetable .td-question .title-table {
    padding-left: 0;
  }
}
@media only screen and (max-width: 424px) {
  .vuetable .td-question .title-table {
    font-size: 13px;
  }
}
.vuetable .td-know-was {
  vertical-align: middle;
}
.vuetable .know-was {
  padding-left: 45px;
}
.vuetable .know-was .greenD,
.vuetable .know-was .yellow,
.vuetable .know-was .red,
.vuetable .know-was .grey,
.vuetable .know-was .round {
  width: 21px;
  height: 21px;
  border-radius: 10px;
}
.vuetable .know-was .greenD {
  background-color: #AFD534;
  text-align: center;
}
.vuetable .know-was .yellow {
  background-color: #fdd648;
}
.vuetable .know-was .red {
  background-color: silver;
}
.vuetable .know-was .grey {
  background-color: silver;
}
.vuetable .author-image-name {
  vertical-align: middle;
}
@media only screen and (max-width: 48.125em) {
  .vuetable .author-image-name {
    display: none;
  }
}
.vuetable .author-image-name .author-image {
  float: left;
  height: 30px;
  width: 30px;
}
.vuetable .author-image-name .author-name {
  padding: 0em 2.5em;
}
@media only screen and (max-width: 1200px) {
  .vuetable .author-image-name .author-name {
    display: none;
  }
}
.vuetable .category-table {
  vertical-align: middle;
}
.vuetable .category-table .link-to-category {
  padding-left: 2.5em;
}
.vuetable .category-table .round {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  float: left;
}
@media only screen and (max-width: 1000px) {
  .vuetable .category-table .round {
    display: none;
  }
  .vuetable .category-table .link-to-category {
    padding-left: 0;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable .category-table {
    display: none;
  }
}
.imageTable {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 5px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2C5FB2;
  color: #2C5FB2;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 24px;
  border: 2px solid #999999;
  border-radius: 4px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.switch {
  padding-bottom: 62px;
  padding-left: 0px;
}
@media only screen and (max-width: 417px) {
  .vuetable-pagination a {
    padding: 6px;
  }
}