#app {
  font-family: Open Sans, Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#app h2 {
  margin-bottom: 21px;
}
table {
  table-layout: fixed;
}
.vuetable {
  font-size: 18px;
}
.vuetable .vuetable-th-slot-questionTitle,
.vuetable .vuetable-th-slot-knowWas,
.vuetable .vuetable-th-slot-authorImage,
.vuetable .vuetable-th-slot-category {
  border-bottom: solid 2px #337ab7;
  padding-left: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #2c5fb2;
}
.vuetable .vuetable-th-slot-questionTitle {
  width: 46%;
  padding-left: 0px;
}
@media only screen and (max-width: 1000px) {
  .vuetable .vuetable-th-slot-questionTitle {
    width: 25%;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable .vuetable-th-slot-questionTitle {
    width: 45%;
  }
}
@media only screen and (max-width: 424px) {
  .vuetable .vuetable-th-slot-questionTitle {
    font-size: 13px;
    width: 48%;
  }
}
.vuetable .vuetable-th-slot-knowWas {
  width: 15%;
}
@media only screen and (max-width: 1200px) {
  .vuetable .vuetable-th-slot-knowWas {
    width: 18%;
  }
}
@media only screen and (max-width: 1000px) {
  .vuetable .vuetable-th-slot-knowWas {
    width: 25%;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable .vuetable-th-slot-knowWas {
    width: 33%;
  }
}
@media only screen and (max-width: 521px) {
  .vuetable .vuetable-th-slot-knowWas {
    text-align: center;
  }
}
@media only screen and (max-width: 424px) {
  .vuetable .vuetable-th-slot-knowWas {
    font-size: 13px;
    width: 52%;
  }
}
.vuetable .vuetable-th-slot-authorImage {
  width: 18%;
}
@media only screen and (max-width: 1200px) {
  .vuetable .vuetable-th-slot-authorImage {
    width: 15%;
  }
}
@media only screen and (max-width: 1000px) {
  .vuetable .vuetable-th-slot-authorImage {
    width: 25%;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable .vuetable-th-slot-authorImage {
    width: 21%;
  }
}
@media only screen and (max-width: 521px) {
  .vuetable .vuetable-th-slot-authorImage {
    display: none;
  }
}
.vuetable .vuetable-th-slot-category {
  width: 21%;
}
@media only screen and (max-width: 1000px) {
  .vuetable .vuetable-th-slot-category {
    width: 25%;
  }
}
@media only screen and (max-width: 675px) {
  .vuetable .vuetable-th-slot-category {
    display: none;
  }
}
.vuetable .td-question {
  padding-left: 0px;
}
.vuetable .td-question .image {
  float: left;
}
.vuetable .td-question .title-table {
  padding-left: 2.5em;
}
@media only screen and (max-width: 424px) {
  .vuetable .td-question .title-table {
    font-size: 13px;
  }
}
.vuetable .know-was {
  padding-left: 45px;
}
@media only screen and (max-width: 521px) {
  .vuetable .know-was {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 521px) {
  .vuetable .know-was {
    margin: auto;
  }
}
.vuetable .know-was .greenD,
.vuetable .know-was .yellow,
.vuetable .know-was .red,
.vuetable .know-was .grey,
.vuetable .know-was .round {
  width: 21px;
  height: 21px;
  border-radius: 10px;
}
@media only screen and (max-width: 521px) {
  .vuetable .know-was .greenD,
  .vuetable .know-was .yellow,
  .vuetable .know-was .red,
  .vuetable .know-was .grey,
  .vuetable .know-was .round {
    margin: auto;
  }
}
.vuetable .know-was .greenD {
  background-color: #afd534;
  text-align: center;
}
.vuetable .know-was .yellow {
  background-color: #fdd648;
}
.vuetable .know-was .red {
  background-color: silver;
}
.vuetable .know-was .grey {
  background-color: silver;
}
@media only screen and (max-width: 521px) {
  .vuetable .author-image-name {
    display: none;
  }
}
.vuetable .author-image-name .author-image {
  float: left;
  padding-right: 10px;
  max-width: 40px;
}
.vuetable .author-image-name .author-name {
  font-size: 18px;
  color: #0560AB;
  width: calc(100% - 40px - 10px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
}
@media only screen and (max-width: 675px) {
  .vuetable .category-table {
    display: none;
  }
}
.vuetable .category-table a {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
  width: calc(100% - 30px - 10px);
}
.vuetable .category-table .round {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  float: left;
}
thead {
  color: #ec971f;
}
.imageTable {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.link-to-category {
  margin-left: 10px;
}
table.table.table-striped .title {
  float: left;
}
.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 5px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2C5FB2;
  color: #2C5FB2;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 24px;
  border: 2px solid #999999;
  border-radius: 4px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.switch {
  padding-bottom: 62px;
  padding-left: 0px;
}
@media only screen and (max-width: 417px) {
  .vuetable-pagination a {
    padding: 6px;
  }
}