@import (reference) '../../../Style/includes/imports.less';

@color-font: #2d60b4;

html {

}

#app {
    font-family: Open Sans, Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    #h2TpopicAndLearnset {
        margin-bottom: 21px;
    }

    .switch {
        margin-bottom: 62px;
        padding-left: 0px;
        //|-----------------------switch--------------------------|
        .onoffswitch {
            position: relative;
            width: 40px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            margin-top: 5px;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid @memo-grey-dark;
            border-radius: 50px;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 12px;
            padding: 0;
            line-height: 12px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "";
            padding-left: 10px;
            background-color: #2C5FB2;
            color: #2C5FB2;
        }

        .onoffswitch-inner:after {
            content: "";
            padding-right: 10px;
            background-color: #EEEEEE;
            color: @memo-grey-dark;
            text-align: right;
        }

        .onoffswitch-switch {
            display: block;
            width: 8px;
            height: 8px;
            margin: 3px;
            background: #FFFFFF;
            position: absolute;
            top: 1px;
            bottom: 0;
            right: 24px;
            border: 2px solid @memo-grey-dark;
            border-radius: 4px;
            transition: all 0.3s ease-in 0s;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
        }
    }
}

// |----------------------------Table----------------------|
.vuetable {
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    table-layout: fixed;




    .btn {
        font-size: 18px;

        @media only screen and (max-width: 476px) {
            font-size: 13px;
        }

        @media only screen and (max-width: 414px) {
            padding-left: 3px;
        }
    }
    // --------------------Table Head----------------
    thead {
        color: @color-font;

        .vuetable-th-slot-imageAndTitle, .vuetable-th-KnowlegdeWishPartial, .vuetable-th-slot-topicCount, .vuetable-th-slot-dropDown {
            border-bottom: solid 2px #337ab7;
        }

        .vuetable-th-slot-imageAndTitle {
            width: 38%;

            @media only screen and (max-width: 711px) {
                width: 37%;
            }

            @media only screen and (max-width: 677px) {
                width: 48%;
            }

            @media only screen and (max-width: 600px) {
                width: 70%;
            }

            @media only screen and (max-width: 476px) {
                font-size: 16px;
            }
        }

        .vuetable-th-KnowlegdeWishPartial {
            width: 25%;

            @media only screen and (max-width: 677px) {
                width: 28%;
            }

            @media only screen and (max-width: 583px) {
                display: none;
            }
        }

        .vuetable-th-slot-topicCount {
            width: 25%;

            @media only screen and (max-width: 1200px) {
                width: 22%;
            }

            @media only screen and (max-width: 1000px) {
                width: 18%;
            }

            @media only screen and (max-width: 677px) {
                display: none;
            }
        }
    }
    // ------------------------------------Table Body-------------------------------------
    .td-topic {
        font-size: 18px;
        vertical-align: middle;

        @media only screen and (max-width: 476px) {
            font-size: 13px;
        }

        .set-category-title {
            padding-left: 2.5em;

            @media only screen and (max-width: 736px) {
                float: none;
                text-align: center;
                padding-left: 0;
            }
        }

        .imageParent {
            float: left;

            @media only screen and (max-width: 736px) {
                float: none;
                text-align: center;
            }
        }

        .image {
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }

    .td-knowledge-bar-wrapper {
        vertical-align: middle;

        @media only screen and (max-width: 600px) {
            display: none;
        }

        .KnowledgeBarLegend {
            color: @memo-grey-dark;
            margin-top: -10px;
            font-size: 12px;
            line-height: 1.5em;
            opacity: 0;
            transition: opacity 0.2s linear;
        }

        &:hover { //show on hover over navigation tile
            .KnowledgeBarLegend {
                opacity: 1;
            }
        }

        .set-knowledge-bar, .category-knowledge-bar {
            display: inline-block;
            height: 10px;
            width: 100%;

            .solid-knowledge, .needs-learning, .needs-consolidation, .not-learned, .not-in-wish-knowledge {
                height: inherit;
                float: left;
            }

            .needs-learning {
                background-color: lightsalmon;
            }

            .needs-consolidation {
                background-color: #fdd648;
            }

            .solid-knowledge {
                background-color: @memo-green;
            }

            .not-learned {
                background-color: silver;
            }

            .not-in-wish-knowledge {
                background-color: @memo-grey-light;
            }
        }
    }

    .topic-count-td {
        vertical-align: middle;

        @media only screen and (max-width: 677px) {
            display: none;
        }
    }

    .drop-down-td {
        vertical-align: middle;

        .btn {
            padding-right: 0em;
        }

        .Button {
            float: left;

            .fa-line-chart {
                font-size: 18px;
                vertical-align: -5%;
            }
        }
    }
    /* hyphens */
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

//--------------- Pagination ------------------------------------------------
.vuetable-pagination {

    @media only screen and (max-width: 417px) {
        a{
            padding: 6px;
        }
    }
}

#DropdownTopic {
    display: contents;
}

#DropdownTopic .dropdown-menu {
    top: auto;
    right: 9px;
}