@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#app {
  font-family: Open Sans, Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#app #h2TpopicAndLearnset {
  margin-bottom: 21px;
}
#app .switch {
  margin-bottom: 62px;
  padding-left: 0px;
}
#app .switch .onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 5px;
}
#app .switch .onoffswitch-checkbox {
  display: none;
}
#app .switch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
#app .switch .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
#app .switch .onoffswitch-inner:before,
#app .switch .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
#app .switch .onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2C5FB2;
  color: #2C5FB2;
}
#app .switch .onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
#app .switch .onoffswitch-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 24px;
  border: 2px solid #999999;
  border-radius: 4px;
  transition: all 0.3s ease-in 0s;
}
#app .switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
#app .switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.vuetable {
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  table-layout: fixed;
  /* hyphens */
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.vuetable .btn {
  font-size: 18px;
}
@media only screen and (max-width: 476px) {
  .vuetable .btn {
    font-size: 13px;
  }
}
@media only screen and (max-width: 414px) {
  .vuetable .btn {
    padding-left: 3px;
  }
}
.vuetable thead {
  color: #2d60b4;
}
.vuetable thead .vuetable-th-slot-imageAndTitle,
.vuetable thead .vuetable-th-KnowlegdeWishPartial,
.vuetable thead .vuetable-th-slot-topicCount,
.vuetable thead .vuetable-th-slot-dropDown {
  border-bottom: solid 2px #337ab7;
}
.vuetable thead .vuetable-th-slot-imageAndTitle {
  width: 38%;
}
@media only screen and (max-width: 711px) {
  .vuetable thead .vuetable-th-slot-imageAndTitle {
    width: 37%;
  }
}
@media only screen and (max-width: 677px) {
  .vuetable thead .vuetable-th-slot-imageAndTitle {
    width: 48%;
  }
}
@media only screen and (max-width: 600px) {
  .vuetable thead .vuetable-th-slot-imageAndTitle {
    width: 70%;
  }
}
@media only screen and (max-width: 476px) {
  .vuetable thead .vuetable-th-slot-imageAndTitle {
    font-size: 16px;
  }
}
.vuetable thead .vuetable-th-KnowlegdeWishPartial {
  width: 25%;
}
@media only screen and (max-width: 677px) {
  .vuetable thead .vuetable-th-KnowlegdeWishPartial {
    width: 28%;
  }
}
@media only screen and (max-width: 583px) {
  .vuetable thead .vuetable-th-KnowlegdeWishPartial {
    display: none;
  }
}
.vuetable thead .vuetable-th-slot-topicCount {
  width: 25%;
}
@media only screen and (max-width: 1200px) {
  .vuetable thead .vuetable-th-slot-topicCount {
    width: 22%;
  }
}
@media only screen and (max-width: 1000px) {
  .vuetable thead .vuetable-th-slot-topicCount {
    width: 18%;
  }
}
@media only screen and (max-width: 677px) {
  .vuetable thead .vuetable-th-slot-topicCount {
    display: none;
  }
}
.vuetable .td-topic {
  font-size: 18px;
  vertical-align: middle;
}
@media only screen and (max-width: 476px) {
  .vuetable .td-topic {
    font-size: 13px;
  }
}
.vuetable .td-topic .set-category-title {
  padding-left: 2.5em;
}
@media only screen and (max-width: 736px) {
  .vuetable .td-topic .set-category-title {
    float: none;
    text-align: center;
    padding-left: 0;
  }
}
.vuetable .td-topic .imageParent {
  float: left;
}
@media only screen and (max-width: 736px) {
  .vuetable .td-topic .imageParent {
    float: none;
    text-align: center;
  }
}
.vuetable .td-topic .image {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.vuetable .td-knowledge-bar-wrapper {
  vertical-align: middle;
}
@media only screen and (max-width: 600px) {
  .vuetable .td-knowledge-bar-wrapper {
    display: none;
  }
}
.vuetable .td-knowledge-bar-wrapper .KnowledgeBarLegend {
  color: #999999;
  margin-top: -10px;
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.vuetable .td-knowledge-bar-wrapper:hover .KnowledgeBarLegend {
  opacity: 1;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar {
  display: inline-block;
  height: 10px;
  width: 100%;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .solid-knowledge,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .solid-knowledge,
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .needs-learning,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .needs-learning,
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .needs-consolidation,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .needs-consolidation,
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .not-learned,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .not-learned,
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .not-in-wish-knowledge,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .not-in-wish-knowledge {
  height: inherit;
  float: left;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .needs-learning,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .needs-learning {
  background-color: lightsalmon;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .needs-consolidation,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .needs-consolidation {
  background-color: #fdd648;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .solid-knowledge,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .solid-knowledge {
  background-color: #AFD534;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .not-learned,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .not-learned {
  background-color: silver;
}
.vuetable .td-knowledge-bar-wrapper .set-knowledge-bar .not-in-wish-knowledge,
.vuetable .td-knowledge-bar-wrapper .category-knowledge-bar .not-in-wish-knowledge {
  background-color: #DDDDDD;
}
.vuetable .topic-count-td {
  vertical-align: middle;
}
@media only screen and (max-width: 677px) {
  .vuetable .topic-count-td {
    display: none;
  }
}
.vuetable .drop-down-td {
  vertical-align: middle;
}
.vuetable .drop-down-td .btn {
  padding-right: 0em;
}
.vuetable .drop-down-td .Button {
  float: left;
}
.vuetable .drop-down-td .Button .fa-line-chart {
  font-size: 18px;
  vertical-align: -5%;
}
@media only screen and (max-width: 417px) {
  .vuetable-pagination a {
    padding: 6px;
  }
}
#DropdownTopic {
  display: contents;
}
#DropdownTopic .dropdown-menu {
  top: auto;
  right: 9px;
}