@import (reference) '../../../Style/includes/imports.less';

@solid: @memo-green;
@needs-consolidation: #fdd648;
@not-learned: silver;
@needs-learning: lightsalmon;
@quarter: 25%;
@one-third: 33%;


#app {
    font-family: Open Sans, Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    h2 {
        margin-bottom: 21px;
    }
}

table {
    table-layout: initial;
}

.vuetable {
    font-size: 18px;
    // TableHeader
    .vuetable-th-slot-questionTitle,
    .vuetable-th-slot-knowWas,
    .vuetable-th-slot-authorImage,
    .vuetable-th-slot-category {
        border-bottom: solid 2px #337ab7;
        padding-left: 8px;
        font-size: 18px;
        font-weight: bold;
        color: #2c5fb2;
    }

    .vuetable-th-slot-questionTitle {
        padding-left: 10px;

        @media only screen and (max-width: 424px) {
            font-size: 13px;
        }
    }

    thead {
        color: #ec971f;


        .vuetable-th-slot-knowWas {
            min-width: 9.25em;

            @media only screen and (max-width: 424px) {
                font-size: 13px;
            }
        }

        .vuetable-th-slot-authorImage {
            min-width: 5em;

            @media only screen and (max-width: 48.125em) {
                display: none;
            }
        }

        .vuetable-th-slot-category {
            @media only screen and (max-width: 675px) {
                display: none;
            }
        }
    }
    // Table Body
    .td-question {
        padding-left: 10px;
        vertical-align: middle;

        .image {
            float: left;

            @media only screen and (max-width: 48.125em) {
                display: none;
            }
        }

        .title-table {
            padding-left: 2.5em;

            @media only screen and (max-width: 48.125em) {
                padding-left: 0;
            }

            @media only screen and (max-width: 424px) {
                font-size: 13px;
            }
        }
    }

    .td-know-was {
        vertical-align: middle;
    }

    .know-was {
        padding-left: 45px;

        .greenD, .yellow, .red, .grey, .round {
            width: 21px;
            height: 21px;
            border-radius: 10px;
        }

        .greenD {
            background-color: @solid;
            text-align: center;
        }

        .yellow {
            background-color: @needs-consolidation;
        }

        .red {
            background-color: @not-learned;
        }

        .grey {
            background-color: silver;
        }
    }

    .author-image-name {
        vertical-align: middle;


        @media only screen and (max-width: 48.125em) {
            display: none;
        }

        .author-image {
            float: left;
            height: 30px;
            width: 30px;
        }

        .author-name {
            padding: 0em 2.5em;

            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }
    }

    .category-table {
        vertical-align: middle;

        .link-to-category {
            padding-left: 2.5em;
        }

        .round {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            float: left
        }

        @media only screen and (max-width: 1000px) {
            .round {
                display: none;
            }

            .link-to-category {
                padding-left: 0;
            }
        }

        @media only screen and (max-width: 675px) {
            display: none;
        }
    }
}


.imageTable {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

//|-----------------------switch--------------------------|
.onoffswitch {
    position: relative;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 5px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid @memo-grey-dark;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 12px;
    padding: 0;
    line-height: 12px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2C5FB2;
    color: #2C5FB2;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: @memo-grey-dark;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 8px;
    height: 8px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 24px;
    border: 2px solid @memo-grey-dark;
    border-radius: 4px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.switch {
    padding-bottom: 62px;
    padding-left: 0px;
}


//--------------- Pagination ------------------------------------------------
.vuetable-pagination {

    @media only screen and (max-width: 417px) {
        a {
            padding: 6px;
        }
    }
}
