#app {
  font-family: Open Sans, Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.container {
  padding-left: 0px;
}
.row {
  margin-left: 1px;
  margin-right: 4px;
}
th {
  width: 25%;
}
table {
  table-layout: fixed;
}
.vuetable {
  font-size: 18px;
}
.vuetable #_Titel,
.vuetable #_KnowlegdeWishPartial,
.vuetable .vuetable-th-slot-knowWas,
.vuetable .vuetable-th-slot-authorImage,
.vuetable .vuetable-th-slot-category,
.vuetable .vuetable-th-slot-image {
  border-bottom: solid 2px #337ab7;
  padding-left: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #2c5fb2;
}
.vuetable .vuetable-th-slot-authorImage {
  width: 18%;
}
.vuetable .imageTable {
  float: left;
}
.vuetable .vuetable-th-slot-image {
  width: 46%;
  padding-left: 0px;
}
.vuetable .vuetable-th-slot-knowWas {
  width: 15%;
}
.vuetable th {
  width: 25%;
}
.vuetable .tdImage {
  padding-left: 0px;
  padding-right: 0px;
}
.vuetable .know-was {
  padding-left: 45px;
}
.vuetable .title-table {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
  width: 437px;
}
.vuetable .author-image {
  float: left;
  padding-right: 10px;
}
.vuetable .greenD,
.vuetable .yellow,
.vuetable .red,
.vuetable .grey,
.vuetable .round {
  width: 21px;
  height: 21px;
  border-radius: 10px;
}
.vuetable .author-name {
  font-size: 18px;
  color: #0560AB;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
}
.vuetable .greenD {
  background-color: #afd534;
  text-align: center;
}
.vuetable .yellow {
  background-color: #fdd648;
}
.vuetable .red {
  background-color: silver;
}
.vuetable .grey {
  background-color: silver;
}
thead {
  color: #ec971f;
}
td {
  height: 30px;
  width: 136px;
}
.imageTable {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.link-to-category {
  margin-left: 10px;
}
table.table.table-striped .title {
  float: left;
}
.KnowledgeBarWrapper {
  display: inline-block;
}
.KnowledgeBarWrapper .KnowledgeBarLegend {
  color: #999999;
  margin-top: -10px;
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.KnowledgeBarWrapper:hover .KnowledgeBarLegend {
  opacity: 1;
}
.KnowledgeBarWrapper .set-knowledge-bar,
.KnowledgeBarWrapper .category-knowledge-bar {
  display: inline-block;
  height: 10px;
  width: 180px;
}
.KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  height: inherit;
  float: left;
}
.KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.KnowledgeBarWrapper .category-knowledge-bar .needs-learning {
  background-color: lightsalmon;
}
.KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation {
  background-color: #fdd648;
}
.KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge {
  background-color: #afd534;
}
.KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.KnowledgeBarWrapper .category-knowledge-bar .not-learned {
  background-color: silver;
}
.KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  background-color: #dddddd;
}
.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 5px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 12px;
  padding: 0;
  line-height: 12px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2C5FB2;
  color: #2C5FB2;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #FFFFFF;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 24px;
  border: 2px solid #999999;
  border-radius: 4px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.switch {
  padding-bottom: 62px;
  padding-left: 0px;
}