
@solid: #afd534;
@needs-consolidation: #fdd648;
@not-learned: silver;
@needs-learning: lightsalmon;

#app {
    font-family: Open Sans, Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
// overwrite Bootstrap
.container{
    padding-left: 0px;

}

.row{
    margin-left: 0px;
    margin-right: 0px;
}
.orange.glyphicon {
    color: orange;
}
.row{
   // margin-right:0px;
}
.vuetable {

    #_Titel,
    #_KnowlegdeWishPartial,
    .vuetable-th-slot-knowWas,
    .vuetable-th-slot-authorImage,
    .vuetable-th-slot-category,
    .vuetable-th-slot-image {
        border-bottom: solid 2px #337ab7;
        padding-left: 0px;
        font-size: 18px;
        font-weight: normal;
        color: #2c5fb2;
    }

    .vuetable-th-slot-authorImage {
        width: 175px;
    }

    .vuetable-th-slot-knowWas {
        padding-left: 17px;
    }

    .vuetable-th-slot-category {
        padding-left: 20px;
    }

    .tdImage {
        padding-left: 0px;
        padding-right: 0px;
        width: 382px;
    }

    .know-was {
        padding-left: 70px;
        padding-right: 124px;
    }

    .title-table {
        padding-left: 10px;
    }

    .vuetable-th-slot-knowWas {
        width: 50px;
    }

    .greenD, .yellow, .red, .grey, .round {
        width: 21px;
        height: 21px;
    }

    .greenD, .yellow, .red, .grey, .round {
        border-radius: 10px;
        position: absolute;
    }

    .image-author {
        width: 22px;
        margin-right: 10px;
    }

    .author-image-name {
        padding-left: 0px;
        padding-right: 0px;
    }

    .category-table {
        padding-left: 20px;
        width: 255.5px;
    }

    .author-name {
        font-size: 14px;
        color: #0560AB;
    }

    .greenD {
        background-color: @solid;
        text-align: center;
    }

    .yellow {
        background-color: @needs-consolidation;
    }

    .red {
        background-color: @not-learned;
    }

    .grey {
        background-color: silver;
    }
}

thead {
    color: #ec971f;
}

h1 {
    font-size: 30px;
}

td {
    height: 30px;
}

.imageTable {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

/*table.table.table-striped {
    margin-right: -5px;
    width: 30px;
    float: right;
}*/


.link-to-category{
    margin-left: 30px;
}

table.table.table-striped .title {
    float: left;
}

.KnowledgeBarWrapper {
    display: inline-block;

    .KnowledgeBarLegend {
        color: #999999;
        margin-top: -10px;
        font-size: 12px;
        line-height: 1.5em;
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    &:hover { //show on hover over navigation tile
        .KnowledgeBarLegend {
            opacity: 1;
        }
    }

    .set-knowledge-bar, .category-knowledge-bar {
        display: inline-block;
        height: 10px;
        width: 180px;

        .solid-knowledge, .needs-learning, .needs-consolidation, .not-learned, .not-in-wish-knowledge {
            height: inherit;
            float: left;
        }

        .needs-learning {
            background-color: @needs-learning;
        }

        .needs-consolidation {
            background-color: @needs-consolidation;
        }

        .solid-knowledge {
            background-color: @solid;
        }

        .not-learned {
            background-color: @not-learned;
        }

        .not-in-wish-knowledge {
            background-color: #dddddd;
        }
    }
}



