
@light-green: #D1EBA7;

@cooles-gruen: #AFD534;
@cooles-gruen2: #C3DF61;
@test-blau: #0e22b6;
@test-gelb: #ffb400;

@dark-blue: #2E487B;
@link-blue-current: #275ABD;
@link-blue: #0e22b6;
@light-blue: #E7ECF6;

@dark-red: #B13A48;

@temp2: #f3f5f8;

@row-border-blue: #A6BADE;
@row-hover-blue: #f3f5f8;