@import 'variables.less';
@import 'colors.less';

/*              *\
  Helper classes
\*              */

.block {
    display: block;
}

#Clearfix, .Clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

#Clear{
    content: "";
    display: block;
    clear: both;
    visibility: visible;
}


/*              *\
  General styles
\*              */

.link {
    color: @link-blue;

    &:hover {
        color: @link-color-hover;
    }
}

/*                        *\
     Media query mixins
\*                        */


.below-xs(@rules)   {@media(max-width: @screen-xxs-max){ @rules(); }}
.xs(@rules)         {@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) { @rules(); }}
.xs-sm(@rules)      {@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) { @rules(); }}
.xs-md(@rules)      {@media (min-width: @screen-xs-min) and (max-width: @screen-md-max) { @rules(); }}
.xs-up(@rules)      {@media(min-width: @screen-xs-min){ @rules(); }}
.below-sm(@rules)   {@media(max-width: @screen-xs-max){ @rules(); }}
.sm(@rules)         {@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { @rules(); }}
.sm-md(@rules)      {@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) { @rules(); }}
.sm-up(@rules)      {@media(min-width: @screen-sm-min){ @rules(); }}
.below-md(@rules)   {@media(max-width: @screen-sm-max){ @rules(); }}
.md(@rules)         {@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { @rules(); }}
.md-up(@rules)      {@media(min-width: @screen-md-min){ @rules(); }}
.below-lg(@rules)   {@media(max-width: @screen-md-max){ @rules(); }}
.lg(@rules)         {@media (min-width: @screen-lg-min) { @rules(); }}



/*                        *\
  Own responsive utilities
\*                        */

.xxs-stack {
    @media (max-width: (@screen-xs-min - 1px))  {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

.float-none-xxs {
    @media (max-width: (@screen-xs-min - 1px)) {
        float: none !important;
    }
}

.float-none-xs {
    @media (min-width: @screen-xs-min) {
        float: none !important;
    }
}

.float-none-sm {
    @media (min-width: @screen-sm-min) {
        float: none !important;
    }
}

.float-none-md {
    @media (min-width: @screen-md-min) {
        float: none !important;
    }
}

.float-none-lg {
    @media (min-width: @screen-lg-min) {
        float: none !important;
    }
}

.DesktopHide {
    @media (min-width: @screen-md-min) {
        display: none;
    }
}

.MobileHide {
    @media (max-width: @screen-sm-max) {
        display: none;
    }
}

/*                        *\
  Special styles
\*                        */

#tab-color(@outline-color: @light-blue) { 

    .box-with-tabs,
    .boxtainer-outlined-tabs {

        ul.nav-tabs {
            border-bottom-color: @outline-color;

            li {
                a:hover {
                    background-color: @outline-color;
                }

                &.active {
                    a {
                        border-color: @outline-color;
                    }
                }
            }
        }
    }
}


