@import '../bootstrap/bootstrap/variables.less';
@import '../bootstrap/variables_custom.less';


@gradient-width: 300px;


//Rows

@column-Image-below-xs-width: 76.15625px;
@column-Image-sm-width: 125px;
@column-Image-sm-width: 155px;

