@import (reference) '../../Style/includes/imports.less';

.ErrorImage {
    width: 800px;
    display: block;
    padding: 20px 10px 50px;
    margin-left: auto;
    margin-right: auto;

    .media-xs-up ({
        padding: 20px 60px 50px;
    });

    .media-sm-up ({
        padding: 20px 100px 50px;
    });
}