@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}/*DON'T COMMIT
---------------------------------------------------------*/
.profiler-results {
  display: none;
}
/*Styles for active link in header section (implement later)
---------------------------------------------------------*/
a.TextLinkWithIcon.active span {
  text-decoration: underline;
}
/*temp
---------------------------------------------------------*/
/*
    Next:
        MasterHeader: integrate mobile button
        MasterHeader: LoginHelp XXS: button like menubutton
        Mobile menu: js - refine
        Mobile menu: wider mobile widths (sm - md)
        MenuButton: hide on pages with no menu
        Refactor: Variable for menu breakpoint
        
        Mobile menu: other contents of left column
        apply class .TextLinkWithIcon in necessary cases
        
        
    ToDo:
        
        go on with question row (adjust, refactor css, make mobile first)


 */
/*.ColorScheme (@color; @text-color: false; @underline-color: false; @background-color: false; @border-color: false; @border-bottom-color: false) {

    @color: #fff;

    .mixin (@color) when (iscolor(@color)) {
        .underline(@underline-colored) when (@underline-colored = true) {
            text-decoration: underline;
            text-decoration-color: @color;
        }
    }

    //

    .mixin(@) when (default()) {
    
    }

    //.mixin;
}*/
.help-block {
  clear: left;
}
.PinIcon {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: lightgray;
}
.PinIcon:hover {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.PinIcon:hover i {
  color: #B13A48 !important;
}
.flexboxx {
  /* basic styling */
  width: 350px;
  height: 95px;
  border: 1px solid #555;
  font: 14px Arial;
  /* flexbox setup */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
}
.flexboxx > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -moz-transition: width 0.7s ease-out;
  -o-transition: width 0.7s ease-out;
  -webkit-transition: width 0.7s ease-out;
  transition: width 0.7s ease-out;
}
.flexboxx > div:nth-child(1) {
  background: #FCC;
}
.flexboxx > div:nth-child(2) {
  background: #CFC;
}
.flexboxx > div:nth-child(3) {
  background: #CCF;
}
.StatsIcon,
.StatsValue {
  width: 25px;
  float: left;
  text-align: center;
}
.StatsValue {
  margin-right: 10px;
}
@media aufraeumen {
  .box.box-menu {
    border: none;
    border: 1px solid #E7ECF6;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .box.box-menu .menu a {
    padding-left: 10px;
  }
  .box.box-menu .menu .sub a {
    padding-left: 15px;
    font-style: italic;
  }
  .menu a.active {
    text-transform: uppercase;
  }
}
@media draft overview pages with tabs with light coloured background {
  .boxtainer-content {
    background-color: #f5fae5;
  }
  li.active a {
    background-color: #f5fae5 !important;
  }
  .boxtainer-content {
    background-color: #fffdf5;
  }
  li.active a {
    background-color: #fffdf5 !important;
  }
}
@media draft menu-left with outline {
  #mainMenu .testy:first-child {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003264;
    border-left-color: #003264;
    border-top-left-radius: 4px;
    padding-bottom: 2px;
    padding-top: 0;
  }
  #mainMenu .testy:last-child {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #003264;
    border-left-color: #003264;
    border-bottom-left-radius: 4px;
    padding-bottom: 2px;
    padding-top: 0;
  }
  #mainMenu .list-group {
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: #003264;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
@media temp-disabled gradient grey {
  #MasterSection {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='@memo-grey-lighter', GradientType=0);
    /* IE6-9 */
  }
}
@media cooler Eindrueckungseffekt fuer Text {
  .insetText {
    font-family: Lucida Grande;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.3) 0px 3px 3px;
  }
}