@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#MainFilterBar .btn-group .btn:hover {
  background-color: #45aece;
  background-image: none;
}
.category-row:hover {
  background-color: #f3f5f8;
}
@media (min-width: 768px) {
  .column-MainContent {
    width: 597px;
  }
}
@media (min-width: 992px) {
  .column-MainContent {
    width: 577px;
  }
}
@media (min-width: 1200px) {
  .column-MainContent {
    width: 727px;
  }
}
.SelectAreaImageInfo {
  height: auto;
  top: 0;
}
.ImageContainer {
  max-width: 105px;
}
.column-Image {
  padding-top: 10px;
}
@media (min-width: 992px) {
  .ImageLicenseCaption {
    word-break: break-all;
    overflow: hidden;
    width: 300px;
  }
  .box-content {
    width: 102%;
  }
  .MainContentLower {
    padding-bottom: 6px;
  }
  .category-row {
    margin-right: 2%;
    margin-left: 0px;
    height: 120px;
  }
  .column-Image {
    width: 250px;
  }
}
.category-row .fa-star,
.category-row .fa-book,
.category-row .fa-graduation-cap {
  color: #b3c6e4 !important;
}