@import '../../Style/includes/colors.less';

.category-row{ border-top:1px solid @row-border-blue; }
.category-row:hover{ background-color: @row-hover-blue; }


div.column-1 { width: 98px;float: left; padding-top: 5px; padding-left: 5px;}
div.column-2 { width: 557px;padding-right: 10px; float: left; padding-top: 5px;}
div.column-3 { width: 125px;float: left; padding-top: 5px;}