@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
#MainFilterBarBackground .btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4398b1;
  background-image: -moz-linear-gradient(top, #3a8da6, #51a8c2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a8da6), to(#51a8c2));
  background-image: -webkit-linear-gradient(top, #3a8da6, #51a8c2);
  background-image: -o-linear-gradient(top, #3a8da6, #51a8c2);
  background-image: linear-gradient(to bottom, #3a8da6, #51a8c2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a8da6', endColorstr='#ff51a8c2', GradientType=0);
  border-color: #51a8c2 #51a8c2 #337d93;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#MainFilterBar .btn-group .btn {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #75c3db;
  background-image: -moz-linear-gradient(top, #96d1e3, #45aece);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#96d1e3), to(#45aece));
  background-image: -webkit-linear-gradient(top, #96d1e3, #45aece);
  background-image: -o-linear-gradient(top, #96d1e3, #45aece);
  background-image: linear-gradient(to bottom, #96d1e3, #45aece);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff96d1e3', endColorstr='#ff45aece', GradientType=0);
  border-color: #45aece #45aece #29829d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #45aece;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#MainFilterBar .btn-group .btn:hover,
#MainFilterBar .btn-group .btn:focus,
#MainFilterBar .btn-group .btn:active,
#MainFilterBar .btn-group .btn.active,
#MainFilterBar .btn-group .btn.disabled,
#MainFilterBar .btn-group .btn[disabled] {
  color: white;
  background-color: #45aece;
  *background-color: #34a4c5;
}
#MainFilterBar .btn-group .btn:active,
#MainFilterBar .btn-group .btn.active {
  background-color: #2f93b1 \9;
}
#MainFilterBar .btn-group .btn:hover {
  background-color: #45aece;
  background-image: none;
}
#MainFilterBar .btn-group.active .btn {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3ca3c3;
  background-image: -moz-linear-gradient(top, #45aece, #2f93b1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45aece), to(#2f93b1));
  background-image: -webkit-linear-gradient(top, #45aece, #2f93b1);
  background-image: -o-linear-gradient(top, #45aece, #2f93b1);
  background-image: linear-gradient(to bottom, #45aece, #2f93b1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45aece', endColorstr='#ff2f93b1', GradientType=0);
  border-color: #2f93b1 #2f93b1 #1f6175;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f93b1;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#MainFilterBar .btn-group.active .btn:hover,
#MainFilterBar .btn-group.active .btn:focus,
#MainFilterBar .btn-group.active .btn:active,
#MainFilterBar .btn-group.active .btn.active,
#MainFilterBar .btn-group.active .btn.disabled,
#MainFilterBar .btn-group.active .btn[disabled] {
  color: white;
  background-color: #2f93b1;
  *background-color: #29829d;
}
#MainFilterBar .btn-group.active .btn:active,
#MainFilterBar .btn-group.active .btn.active {
  background-color: #247189 \9;
}
.category-row:hover {
  background-color: #f3f5f8;
}
@media (min-width: 768px) {
  .column-MainContent {
    width: 597px;
  }
}
@media (min-width: 992px) {
  .column-MainContent {
    width: 577px;
  }
}
@media (min-width: 1200px) {
  .column-MainContent {
    width: 727px;
  }
}
.SelectAreaImageInfo {
  height: auto;
  top: 0;
}
.ImageContainer {
  max-width: 105px;
}
.column-Image {
  padding-top: 10px;
}
@media (min-width: 992px) {
  .ImageLicenseCaption {
    word-break: break-all;
    overflow: hidden;
    width: 300px;
  }
  .box-content {
    width: 102%;
  }
  .MainContentLower {
    padding-bottom: 6px;
  }
  .category-row {
    margin-right: 2%;
    margin-left: 0px;
    height: 120px;
  }
  .column-Image {
    width: 250px;
  }
}