@import '../../Style/includes/imports.less';

.category-row:hover{ background-color: @row-hover-blue; }


div.column-Image { 
    width: 115px;float: left; 
    padding: 5px;
    img{
        border-radius: 5px;
    }
}
div.column-MainContent { 
    width: 557px;padding-right: 10px; float: left; padding-top: 5px;
    padding-left: 15px;
}
div.column-Additional { width: 125px;float: left; padding-top: 5px;}