.control-group label.control-label{ width: 120px; }
.control-group .controls{ margin-left: 120px; }
.form-horizontal .info{ margin-left: 130px;}
.form-horizontal .form-actions { padding-left: 130px; }