obj/
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.user

*.js.map
*.orig
.vs/

appsettings.*.json
*.received.txt

/src/Backend.Api/Images/*
/src/hocuspocus/.env
/src/hocuspocus/node_modules/*
/src/Docker/Dev/.env
/src/Docker/Nuxt/.env
/src/cache/mmap/pageviews.mmap
/src/cache/mmap/questionviews.mmap
/src/Backend.Api/viewcache/*
/src/Frontend.Nuxt/.eslintcache

/src/Tests/TestData/Dumps/
/src/Backend.Api/DataProtectionKeys/
