_svn/
.svn/
obj/
_debugEmails/
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.user

src/TrueOrFalse.Frontend.Web/TrueOrFalse.Frontend.Web.Publish.xml