#Segmentation .segmentationHeader {
  font-size: 14px;
  font-weight: 600;
  color: #999999;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  border-bottom: #999999 0.03125em solid;
  padding-bottom: 12px;
  margin-bottom: 41px;
}
#Segmentation #GeneratedSegmentSection,
#Segmentation .segment,
#Segmentation .segmentCategoryCard {
  border-radius: 3px;
  border: solid transparent 1px;
  transition: 0.2s;
}
#Segmentation #GeneratedSegmentSection.hover,
#Segmentation .segment.hover,
#Segmentation .segmentCategoryCard.hover {
  border-color: #45aece;
  cursor: pointer;
}
#Segmentation #GeneratedSegmentSection.hover,
#Segmentation .segment.hover {
  margin: 0 -20px;
  padding: 0 20px;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard label,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard label {
  position: absolute;
  z-index: 3;
  transform: scale(1.4);
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton {
  position: absolute;
  right: 10px;
}
#Segmentation #CustomSegmentSection .topicNavigation .addCategoryCard,
#Segmentation #GeneratedSegmentSection .topicNavigation .addCategoryCard {
  border-radius: 3px;
  border: dashed #999999 1px;
  transition: 0.2s;
  justify-content: center;
  align-content: center;
  text-align: center;
  min-height: 150px;
}
#Segmentation #CustomSegmentSection .topicNavigation .addCategoryCard:hover,
#Segmentation #GeneratedSegmentSection .topicNavigation .addCategoryCard:hover {
  border-color: #18A0FB;
  color: #18A0FB;
}
#Segmentation #CustomSegmentSection .segment .segmentSubHeader .segmentKnowledgeBar {
  max-width: 420px;
}