@import (reference) '/Style/includes/imports.less';
@highlightblue: #18A0FB;
@basefontcolor: #203256;

#Segmentation {
    margin-top: 80px;
    margin-bottom: 40px;

    .segmentationHeader {
        font-family: 'Open Sans';
        border-bottom: @memo-grey-dark 0.03125em solid;
        display: flex;
        justify-content: space-between;

        .segmentDropdown {
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
    }

    &:hover {
        .segmentDropdown {
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
    }

    #GeneratedSegmentSection, .segment, .segmentCategoryCard {
        border-radius: 3px;
        border: solid transparent 1px;
        transition: 0.2s;

        &.hover {
            cursor: pointer;
        }
    }

    #CustomSegmentSection, #GeneratedSegmentSection {
        .topicNavigation {
            margin-top: 20px;

            .segmentCategoryCard {
                .topic-name {
                    padding: 0;
                }

                .checkBox {
                    position: absolute;
                    z-index: 3;
                    line-height: 0;
                    background: white;
                    color: @highlightblue;
                }

                .DropdownButton {
                    position: absolute;
                    right: 10px;
                    top: 0px;

                    i {
                        color: @highlightblue;
                    }
                }
            }

            .addCategoryCard {
                display: flex;
                border-radius: 3px;
                border: dashed @memo-grey-dark 2px;
                transition: 0.2s;
                justify-content: center;
                align-content: center;
                align-items: center;
                text-align: center;
                min-height: 150px;
                color: @memo-grey-dark;
                cursor: pointer;

                @media (max-width: 649px) {
                    width: 100%;
                }

                &:hover {
                    border-color: @highlightblue;
                    color: @highlightblue;
                }
            }
        }
    }

    #CustomSegmentSection {
        .segment {
            .segmentSubHeader {
                .segmentKnowledgeBar {
                    max-width: 420px;
                }
            }
        }
    }

    .segmentHeader {
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;

        .segmentTitle {
            display: inline-flex;

            a {
                color: @basefontcolor;
                transition: 0.2s;
                padding-right: 10px;

                &:hover {
                    text-decoration: none;
                    color: @highlightblue;
                }
            }

            h2 {
                margin: 0;
            }

            span.Button {
                padding-top: 10px;
                margin-left: 10px;
            }
        }
    }

    .segmentDropdown {
        font-size: 35px;
        height: 30px;

        i {
            color: @highlightblue;
        }
    }
}
