@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#Segmentation {
  margin-top: 80px;
  margin-bottom: 40px;
}
#Segmentation .segmentationHeader {
  font-family: 'Open Sans';
  display: flex;
  justify-content: space-between;
}
#Segmentation #GeneratedSegmentSection,
#Segmentation .segment,
#Segmentation .segmentCategoryCard {
  border: solid transparent 1px;
  transition: 0.2s;
}
#Segmentation #GeneratedSegmentSection.hover,
#Segmentation .segment.hover,
#Segmentation .segmentCategoryCard.hover {
  cursor: pointer;
}
#Segmentation #CustomSegmentSection .topicNavigation,
#Segmentation #GeneratedSegmentSection .topicNavigation {
  margin-top: 20px;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .topic-name,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .topic-name {
  padding: 0;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .checkBox,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .checkBox {
  position: absolute;
  z-index: 3;
  line-height: 0;
  background: white;
  color: #AFD534;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .checkBox.show,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .checkBox.show {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .checkBox.selected,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .checkBox.selected {
  color: #AFD534;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .checkBox:hover,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .checkBox:hover {
  color: #203256;
  transition: color 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton {
  position: absolute;
  right: 10px;
  top: -10px;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton i,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton i {
  color: #AFD534;
  transition: color 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton i:hover,
#Segmentation #GeneratedSegmentSection .topicNavigation .segmentCategoryCard .DropdownButton i:hover {
  color: #203256;
  transition: color 0.1s ease-in-out;
}
#Segmentation #CustomSegmentSection .topicNavigation .addCategoryCard,
#Segmentation #GeneratedSegmentSection .topicNavigation .addCategoryCard {
  display: flex;
  border: solid 1px #DDDDDD;
  transition: 0.2s;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 150px;
  color: #999999;
  cursor: pointer;
}
@media (max-width: 649px) {
  #Segmentation #CustomSegmentSection .topicNavigation .addCategoryCard,
  #Segmentation #GeneratedSegmentSection .topicNavigation .addCategoryCard {
    width: 100%;
  }
}
#Segmentation #CustomSegmentSection .topicNavigation .addCategoryCard:hover,
#Segmentation #GeneratedSegmentSection .topicNavigation .addCategoryCard:hover {
  border-color: #AFD534;
  color: #AFD534;
}
#Segmentation #CustomSegmentSection .segment .segmentSubHeader .segmentKnowledgeBar {
  max-width: 420px;
}
#Segmentation .segmentHeader {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}
#Segmentation .segmentHeader .segmentTitle {
  display: inline-flex;
}
#Segmentation .segmentHeader .segmentTitle a {
  color: #203256;
  transition: 0.2s;
  padding-right: 10px;
}
#Segmentation .segmentHeader .segmentTitle a:hover {
  text-decoration: none;
  color: #18A0FB;
}
#Segmentation .segmentHeader .segmentTitle h2 {
  margin: 0;
}
#Segmentation .segmentHeader .segmentTitle span.Button {
  padding-top: 10px;
  margin-left: 10px;
}
#Segmentation .segmentDropdown,
#Segmentation .dropdown {
  font-size: 35px;
  height: 30px;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
#Segmentation .segmentDropdown i,
#Segmentation .dropdown i {
  color: #AFD534;
  transition: color 0.1s ease-in-out;
}
#Segmentation .segmentDropdown i:hover,
#Segmentation .dropdown i:hover {
  color: #203256;
  transition: color 0.1s ease-in-out;
}
#Segmentation .segmentDropdown.hover,
#Segmentation .dropdown.hover {
  opacity: 1;
  transition: all 0.1s ease-in-out;
}
.segmentCategoryCard:hover,
addCategoryCardBtn:hover {
  /*        background: @memo-grey-lighter 10%;
*/
}