@import (reference) 'includes/imports.less';

//menu

@media disabled {
.mainMenuContainer {

    &:after{
        #Clear;
    }
    position: fixed;
    //.modal-backdrop;
    z-index: @z-Index-mainMenuContainer;
    width: 100%;
    min-height: 100%;
    left: 0;
}

}
