@import (reference) 'includes/colors.less';
@import (reference) 'bootstrap/bootstrap/variables.less';
@import (reference) 'bootstrap/bootstrap.less';
@import (reference) 'includes/shared.less';
@import (reference) 'includes/variables.less';

//menu

@media disabled {
.mainMenuContainer {

    &:after{
        #Clear;
    }
    position: fixed;
    //.modal-backdrop;
    z-index: @z-Index-mainMenuContainer;
    width: 100%;
    min-height: 100%;
    left: 0;
}

}
