@import (reference) 'includes/imports.less';


.Card {
    border: 1px solid @well-border;
    border-radius: @border-radius-card;
    margin-bottom: 20px;

    .ImageFull {
        border-top-left-radius: @border-radius-card;
        border-top-right-radius: @border-radius-card;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        //http://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image/11552460#11552460
        //object-fit: none; /* Do not scale the image */
        //object-position: center; /* Center the image within the element */
        //height: 70%;
        //width: 100%;
       
    }

    &.SingleItem.Set .ImageContainer {
        border-bottom: 5px solid @color-set;
    }

    .BottomBar {
        /*margin-left: @margin-card;
        margin-right: @margin-card;*/
        padding: 5px;
        .clearfix;

        a.btn {
            display: block;
            float: right;
        }

        .dropdown {
            float: right;
        }
    }
}

.CardContent {
    margin-left: @margin-card;
    margin-right: @margin-card;
    overflow: hidden;
    border-bottom: 1px solid #dfdfdf;

    .SingleItem & {
        height: 180px;
    }

    .ItemTitle {
         margin-top: 5px;
    }
    
    .ItemInfo {
        margin-bottom: 8px;
        color: #a3a3a3;
    }

    .ItemText {
    }
}

.Card .ImageLicenseCaption {

    height: 15px;

    a {
        margin-left: @margin-card;
        margin-right: @margin-card;
    }
}

.ButtonEllipsis {
   margin-left: 0px !important;
}

.ButtonOnHover {
    font-weight: bold;

     &:hover{
        background-color: lightgray !important;
        border-radius: 4px;
        text-decoration: none !important;
        color: @global-text-color !important;
    }
}

.CardBig {
    padding-top: 15px;

    header {
        margin-left: @margin-card;
        margin-right: @margin-card;
        //padding-bottom: 5px;
        border-bottom: 5px solid @memo-blue;
        margin-bottom: 15px;

        .Category& {
            border-bottom-color: @color-category;
        }
        
        .Set& {
            border-bottom-color: @color-set;
        }
    }

    .ItemImage {
        margin-bottom: 5px;
        /*border-bottom-left-radius: @border-radius-card;
        border-bottom-right-radius: @border-radius-card;*/
    }
}