/* LESS INCLUDES
----------------------------------------------------------*/
/* CATEGORIES
----------------------------------------------------------*/
.JS-CatInputContainer {
  width: 250px;
}
@media (max-width: 479px) {
  .JS-CatInputContainer {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
@media (max-width: 479px) {
  .JS-CatInputContainer {
    padding-right: 0;
  }
}
#JS-ReferenceSearch .JS-CatInputContainer {
  width: 50%;
  min-width: 250px;
}
ul.ui-autocomplete {
  border-radius: 4px;
}
ul.ui-autocomplete li.ui-menu-item {
  float: left;
  width: 100%;
  border: none !important;
  margin: 0 !important;
  padding: 0;
}
ul.ui-autocomplete li.ui-menu-item.ui-state-focus,
ul.ui-autocomplete li.ui-menu-item.ui-state-hover {
  background: none !important;
}
ul.ui-autocomplete .CatListItem {
  border: 1px transparent solid;
  padding: 5px !important;
  margin: 2px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}
ul.ui-autocomplete .CatListItem img {
  float: left;
  border-radius: 4px;
}
ul.ui-autocomplete .CatListItem .CatDescription {
  margin-left: 55px;
}
ul.ui-autocomplete .CatListItem span {
  display: block;
}
ul.ui-autocomplete .CatListItem span.NumberQuestions {
  font-style: italic;
  font-size: 80%;
}
ul.ui-autocomplete .CatListItem a.TextLink {
  color: #2c5fb2;
  padding: 0;
  display: inline;
}
ul.ui-autocomplete .CatListItem a.TextLink:hover {
  color: #2c5fb2;
}
ul.ui-autocomplete a.CatListItem:hover,
ul.ui-autocomplete a.CatListItem:focus {
  background-color: #efefef;
}
ul.ui-autocomplete .Reference.DailyIssue .PublicationDate {
  display: none;
}
ul.ui-autocomplete .Reference div:not(.Name):not(.Icon) {
  display: inline;
}
ul.ui-autocomplete .Reference .Icon {
  float: left;
  margin-right: 5px;
}
ul.ui-autocomplete .Reference div:not(:last-child):not(.Name):not(.Author):not(.Icon):not(.NoSeperator):not(.tooltip):not(.tooltip-arrow):not(.tooltip-inner):after {
  content: ",\0000a0";
}
ul.ui-autocomplete .Reference div.Author:after {
  content: ".\0000a0";
}
ul.ui-autocomplete .Reference .Url,
ul.ui-autocomplete .Reference .WikiUrl {
  display: inline-block !important;
  max-width: 100%;
  overflow-x: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
ul.ui-autocomplete .CatListItem .Reference span {
  display: inline;
}
ul.ui-autocomplete .Reference {
  max-width: 300px;
}
ul.ui-autocomplete .Reference div:not(.Name):not(.Icon) {
  font-size: 80%;
}
ul.ui-autocomplete .Reference .Url {
  display: inline-block !important;
}
#JS-References .Reference.DailyIssue .PublicationDate {
  display: none;
}
#JS-References .Reference div:not(.Name):not(.Icon) {
  display: inline;
}
#JS-References .Reference .Icon {
  float: left;
  margin-right: 5px;
}
#JS-References .Reference div:not(:last-child):not(.Name):not(.Author):not(.Icon):not(.NoSeperator):not(.tooltip):not(.tooltip-arrow):not(.tooltip-inner):after {
  content: ",\0000a0";
}
#JS-References .Reference div.Author:after {
  content: ".\0000a0";
}
#JS-References .Reference .Url,
#JS-References .Reference .WikiUrl {
  display: inline-block !important;
  max-width: 100%;
  overflow-x: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
#JS-References .Reference .Icon,
#JS-References .Reference .Name {
  font-size: 111.11111111%;
}
#JS-References .Reference .Name {
  font-weight: bold;
}
/* MESSAGES + COMMENTS
----------------------------------------------------------*/
.ReasonList:before,
.ReasonList:after {
  content: " ";
  display: table;
}
.ReasonList:after {
  clear: both;
}
.ReasonList:before,
.ReasonList:after {
  content: " ";
  display: table;
}
.ReasonList:after {
  clear: both;
}
/*# sourceMappingURL=components.css.map */