/* LESS INCLUDES
----------------------------------------------------------*/


@import (reference) 'includes/imports.less';

/* CATEGORIES
----------------------------------------------------------*/

//Categories input field with dropdown list

.JS-CatInputContainer {
    width: 250px;
    .xxs-stack;
    .media-below-xs({
        padding-right: 0;
    });
}

ul.ui-autocomplete {

    a.CatListItem {

        #Clearfix;
        border: 1px transparent solid;
        padding: 5px !important;

        img {
            float: left;
            border-radius: 4px;
        }

        .CatDescription {
            margin-left: 55px;
        }

        span {
            display: block;

            &.NumberQuestions {
                font-style: italic;
                font-size: 80%;
            }

        }
    }

    .ReferenceAllInlineStyle;

    a.CatListItem .Reference span {
        display: inline;
    }

    .Reference {
        max-width: 300px;
        div:not(.Name):not(.Icon) {
            font-size: 80%;
        }
        .Url {
            display: inline-block !important;
        }
    }
}

#JS-References {

    .ReferenceAllInlineStyle;

    .Reference {

        /*display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;

        div:not(.Name) {
            -webkit-flex: initial;
	        flex: initial;
        }

        .Name:after {
            content: "\000a";
        }*/


        .Icon, .Name {
            font-size: percentage(100/90);
        }
    }
}


/* MESSAGES + COMMENTS
----------------------------------------------------------*/

.ReasonList {
    .clearfix;
}


