label
{
    font-size: 13px;
    width: 90px;
    display:block;
    float:left;
    text-align:right;
    padding-right:10px;
    line-height:20px;
            
}
        
textarea
{
    width: 400px;    
    height: 80px;
}

h2.form-title 
{   
    padding-top: 10px;
    padding-bottom: 20px;
}

h3.form-sub-title 
{
    padding-left:100px;
    padding-top: 30px;
    font-size: 1.3em;
}


.added-cat { float: left; margin-right: 1em; line-height: 28px }

.added-cat a img {
    padding-left: 4px;
    margin-top: -4px;
}

.added-usr {
    display: inline-block;
    margin-right: 1em;
}   

.help-text{ padding-left: 180px; padding-bottom: 7px;}   