@import (reference) 'includes/colors.less';
@import (reference) 'includes/shared.less';
@import (reference) 'includes/variables.less';
@import (reference) 'bootstrap/bootstrap.less';

.pageHeader{h2&, & > h2{
        padding-top: 0; 
        margin-top: 0;
        margin-bottom: 30px;
        }
}

h3.form-sub-title { padding: 30px 0 0 100px;font-size: 1.3em; }
.added-cat { float: left; margin-right: 1em; line-height: 28px }
.added-cat a img { padding-left: 4px;margin-top: -4px; }
.added-usr { display: inline-block; margin-right: 1em; }   
.help-text{ padding-left: 180px; padding-bottom: 7px;}   

textarea{ width: 400px; height: 80px; }
/*label{ font-size: 13px;
    display:block;
    float:left;
    padding-right:10px;
    line-height:20px;       
}*/

div.control-group.markdown {
    label { margin-top: 5px; }
}

.control-group{

    span > i.fa-info-circle{color: lightblue; }

}

.form-group label {

    @media (min-width: @screen-xs-min){
        text-align: right;
    }
}

.wmd-panel li {

    @media (max-width: @screen-xxs-max){
        position: relative;
        display: block;
        float: left;
        left: auto !important;
    }
}
