.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
#mainMenu {
  /*$ToDo: enable with js functions*/
}
#mainMenu .tooltip > .tooltip-inner {
  min-width: 200px;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  #mainMenu {
    padding: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    left: -100%;
    background-color: #ffffff;
    width: 80%;
    opacity: 1;
    z-index: 100;
  }
  #mainMenu .list-group {
    margin-bottom: 0;
  }
}
#mainMenu .list-group-item {
  margin-top: 2px;
  background-color: #f6f8fc;
  border: solid 4px #0e22b6;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#mainMenu .list-group-item:hover {
  color: white;
}
#mainMenu .list-group-item.active,
#mainMenu .list-group-item.active:focus {
  color: #555555;
  background-color: #ebeff7;
}
#mainMenu .list-group-item.active i.fa-caret-right {
  visibility: visible;
}
#mainMenu .list-group-item i.fa-caret-right {
  visibility: hidden;
  font-size: 17px;
  position: absolute;
  left: 2px;
  top: 8px;
}
#mainMenu .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#mainMenu .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#mainMenu .list-group-item.set {
  border-left-color: #ffd700;
  border-right-color: #ffd700;
}
#mainMenu .list-group-item.set i.fa-caret-right {
  color: #ffd700;
}
#mainMenu .list-group-item.set:hover {
  background-color: #ffeb80;
  color: black;
}
#mainMenu .list-group-item.set:hover i.fa-caret-right {
  color: white;
}
#mainMenu .list-group-item.quest {
  border-left-color: #afd534;
  border-right-color: #afd534;
}
#mainMenu .list-group-item.quest i.fa-caret-right {
  color: #afd534;
}
#mainMenu .list-group-item.quest:hover {
  background-color: #d0e689;
  color: black;
}
#mainMenu .list-group-item.quest:hover i.fa-caret-right {
  color: white;
}
#mainMenu .list-group-item.cat {
  border-left-color: #99ccff;
  border-right-color: #99ccff;
}
#mainMenu .list-group-item.cat i.fa-caret-right {
  color: #99ccff;
}
#mainMenu .list-group-item.cat:hover {
  background-color: #cce5ff;
  color: black;
}
#mainMenu .list-group-item.know {
  border-left-color: #b13a48;
  border-right-color: #b13a48;
}
#mainMenu .list-group-item.know i.fa-caret-right {
  color: #b13a48;
}
#mainMenu .list-group-item.know:hover {
  background-color: #ce6975;
  color: white;
}
#mainMenu .list-group-item.know:hover i.fa-caret-right {
  color: white;
}
#mainMenu .list-group-item.messages {
  border-left-color: #ffa500;
  border-right-color: #ffa500;
}
#mainMenu .list-group-item.messages i.fa-caret-right {
  color: #ffa500;
}
#mainMenu .list-group-item.messages:hover {
  background-color: #ffdb99;
  color: black;
}
#mainMenu .list-group-item.dues {
  border-left-color: #138992;
  border-right-color: #b13a48;
}
#mainMenu .list-group-item.dues i.fa-caret-right {
  color: #138992;
}
#mainMenu .list-group-item.dues:hover {
  color: white;
  background-color: #19b3bf;
}
#mainMenu .list-group-item.dues:hover i.fa-caret-right {
  color: white;
}
#mainMenu .list-group-item.users {
  border-left-color: #0e22b6;
}
#mainMenu .list-group-item.users:hover {
  background-color: #0e22b6;
}
#mainMenu .list-group-item.users i.fa-caret-right {
  color: #0e22b6;
}
#mainMenu .list-group-item.users:hover {
  background-color: #6a7af3;
  color: white;
}
#mainMenu .list-group-item.users:hover i.fa-caret-right {
  color: #0e22b6;
}
#mainMenu .list-group-item.play {
  border-left-color: #3e7700;
}
#mainMenu .list-group-item.play:hover {
  background-color: #3e7700;
}
#mainMenu .list-group-item.play i.fa-caret-right {
  color: #3e7700;
}
#mainMenu .list-group-item.play:hover {
  background-color: #59aa00;
  color: white;
}
#mainMenu .list-group-item.play:hover i.fa-caret-right {
  color: #3e7700;
}
#mainMenu .list-group-item.sub {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 1px;
  padding-left: 26px;
  padding-bottom: 0;
  font-size: 12px;
  margin-top: 0px;
  line-height: 22px;
}
#mainMenu .list-group-item.sub.first {
  z-index: 5;
}
#mainMenu .list-group-item.sub.last {
  padding-bottom: 0px;
}
#mainMenu .list-group-item.sub i.fa-caret-right {
  font-size: 17px;
  position: absolute;
  left: 14px;
  top: 2px;
}
div.box-menu {
  background-color: transparent;
  border: 1px solid silver;
}
div.menu {
  font-size: 15px;
}
div.menu a {
  text-decoration: none;
  display: block;
  padding-left: 5px;
  padding-right: 10px;
}
div.menu a:hover,
div.menu a.active:hover {
  background-color: #2e487b;
  color: white;
}
div.menu div.main {
  font-weight: 700;
}
div.menu div.main a:hover,
div.menu div.main a.active:hover {
  background-color: #2e487b;
  color: white;
}
div.menu div.no-hover:hover {
  background-color: transparent;
}
div.menu a.active,
div.menu div.main a.active {
  color: #b13a48;
}
div.menu i.fa-caret-right {
  visibility: hidden;
}
div.menu a.active i.fa-caret-right {
  visibility: visible;
}
div.menu div.sub a {
  padding-left: 15px;
  font-size: 13px;
}
div.menu div.no-link {
  padding-left: 5px;
}
div.menu div a {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
div.menu .tooltip-inner {
  min-width: 200px;
  text-align: left;
}
.menuCategories {
  margin-bottom: 10px;
}
.menuCategories a {
  display: inline-block;
  margin-bottom: 5px;
}
/*# sourceMappingURL=menu.css.map */