div.menu {
    font-size: 16px;
    padding-top: 10px;
    width: 110px;
}

div.menu a{ text-decoration: none; width: 110px;display: block;}
div.menu div.main a{ color: firebrick; font-weight:700; }
div.menu a:hover{ background-color: rgb(244, 244, 254); }
div.menu div.main:hover{ background-color: rgb(244, 244, 254); }
div.menu div.no-hover:hover{ background-color: transparent; }
