@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.SidebarCardMixin {
  border: #979797 solid 0.5px;
}
#SidebarCards {
  width: 272px;
  font-size: 18px;
  /* SPONSOR----------------------------------------------------------*/
}
#SidebarCards a {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  padding: 2px;
}
#SidebarCards .card-title {
  font-size: 12px;
  color: #707070;
  margin-top: 1.25em;
  margin-left: 1.25em;
}
#SidebarCards .card-link {
  align-items: center;
  color: #0560AB;
  display: flex;
}
#SidebarCards #AutorCard {
  border: #979797 solid 0.5px;
  min-height: 10.75em;
  display: flex;
  flex-wrap: wrap;
}
#SidebarCards #AutorCard .column-right .card-link .fa-user-plus {
  font-size: 0.81em;
  padding-left: 0.67em;
}
#SidebarCards #AutorCard .autor-card-footer-bar {
  margin-bottom: 1.3125em;
  display: flex;
  justify-content: space-around;
  color: #707070;
  width: 100%;
  align-items: flex-end;
}
#SidebarCards #AutorCard .footer-bar-text {
  font-size: 10px;
  padding: 1px 3px 1px 3px;
}
#SidebarCards #AutorCard .top-container {
  display: flex;
}
#SidebarCards #AutorCard .author-reputation {
  font-size: 12px;
  color: #707070;
}
#SidebarCards #AutorCard .ImageContainer {
  margin: 1.25em 1.25em 0 1.25em;
}
#SidebarCards #MultipleAutorCard {
  border: #979797 solid 0.5px;
  padding: 0 0.67em 0 0.6em;
}
#SidebarCards #MultipleAutorCard #AllAutorsList {
  padding-left: 0.65em;
}
#SidebarCards #MultipleAutorCard #AllAutorsContainer {
  font-size: 14px;
  height: 54.5px;
  display: flex;
  padding-left: 0.85em;
}
#SidebarCards #MultipleAutorCard #AllAutorsContainer #ExtendAngle {
  margin-left: 45px;
  font-size: 18px;
  transition-duration: 0.4s;
  display: inline-block;
}
#SidebarCards #MultipleAutorCard .autor-container {
  border-bottom: solid 0.25px #ddd;
  padding-top: 12.64px;
  margin-top: 12.64px;
  padding-left: 0.85em;
  width: 100%;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
#SidebarCards #MultipleAutorCard .autor-container .card-link {
  padding-left: 0.67em;
}
#SidebarCards #MultipleAutorCard .single-autor-container {
  display: flex;
  height: 59px;
  align-items: center;
  margin: 0 1.25em 1.25em 0;
}
#SidebarCards #MultipleAutorCard .single-autor-container .multiple-autor-card-image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#SidebarCards #CategorySuggestionCard,
#SidebarCards #CreateQuestionCard {
  border: #979797 solid 0.5px;
  margin-top: 19px;
  padding-left: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25em 0 1.25em;
}
#SidebarCards #CategorySuggestionCard .ImageContainer,
#SidebarCards #CreateQuestionCard .ImageContainer {
  margin-top: 1.25em;
}
#SidebarCards #CategorySuggestionCard .card-link,
#SidebarCards #CreateQuestionCard .card-link {
  text-align: center;
}
#SidebarCards #EduPartnerCard {
  margin-top: 19px;
  border: #979797 solid 0.5px;
  padding: 15px;
  padding-bottom: 5px;
}
#SidebarCards #EduPartnerCard .EduPartnerLSidebarWrapper {
  font-size: 12.6px;
  text-align: center;
}
@media (max-width: 1199px) {
  #SidebarCards #EduPartnerCard .EduPartnerLSidebarWrapper {
    display: none;
  }
}
#SidebarCards #EduPartnerCard .EduPartnerLSidebarWrapper .fa {
  color: #CCCCCC;
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
  font-size: 18px;
}
#SidebarCards #EduPartnerCard .EduPartnerSidebarLogo {
  margin-bottom: 20px;
}
#SidebarCards #EduPartnerCard .EduPartnerSidebarLogo img {
  max-width: 50%;
  max-height: 100px;
}