@import (reference) 'includes/imports.less';

.pxinem(@valuepx){
    @r: @valuepx/16+0em;
}

.SidebarCardMixin {
    border: #979797 solid 0.5px;
}


#SidebarCards {
    width: .pxinem(272)[@r];
    font-size: .pxinem(18)[@r];

    a {
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        padding: .pxinem(2)[@r];
    }

    .card-title {
        font-size: .pxinem(12)[@r];
        color: @sidebar-cards-grey;
        margin-top: 1.25em;
        margin-left: 1.25em;
    }

    .card-link {
        align-items: center;
        color: #0560AB;
        display: flex;
    }

    #AutorCard {
        .SidebarCardMixin();
        min-height: 10.75em;
        display: flex;
        flex-wrap: wrap;

        .column-right {
            .card-link {
                .fa-user-plus {
                    font-size: 0.81em;
                    padding-left: 0.67em;
                }
            }
        }

        .autor-card-footer-bar {
            margin-bottom: 1.3125em;
            display: flex;
            justify-content: space-around;
            color: @sidebar-cards-grey;
            width: 100%;
            align-items: flex-end;
        }

        .footer-bar-text {
            font-size: .pxinem(10)[@r];
            padding: .pxinem(1)[@r] .pxinem(3)[@r] .pxinem(1)[@r] .pxinem(3)[@r];
        }

        .top-container {
            display: flex;
        }

        .author-reputation {
            font-size: .pxinem(12)[@r];
            color: @sidebar-cards-grey;
        }

        .ImageContainer {
            margin: 1.25em 1.25em 0 1.25em;
        }
    }

    #MultipleAutorCard {
        .SidebarCardMixin();
        padding: 0 0.67em 0 0.6em;

        #AllAutorsList {
            padding-left: 0.65em;
        }

        #AllAutorsContainer {
            font-size: .pxinem(14)[@r];
            height: .pxinem(54.5)[@r];
            display: flex;
            padding-left: 0.85em;

            #ExtendAngle {
                margin-left: .pxinem(45)[@r];
                transition-duration: 0.4s;
                display: inline-block;
            }
        }

        .autor-container {
            border-bottom: solid .pxinem(0.25)[@r] #ddd;
            padding-top: .pxinem(12.64)[@r];
            margin-top: .pxinem(12.64)[@r];
            padding-left: 0.85em;
            width: 100%;
            display: flex;
            flex-shrink: 1;
            flex-direction: column;

            .card-link {
                padding-left: 0.67em;
            }
        }

        .single-autor-container {
            display: flex;
            height: .pxinem(59)[@r];
            align-items: center;
            margin: 0 1.25em 1.25em 0;

            .multiple-autor-card-image {
                width: .pxinem(60)[@r];
                height: .pxinem(60)[@r];
                border-radius: .pxinem(50)[@r];
                overflow: hidden;
                display: flex;
                justify-content: center;
            }
        }
    }

    #CategorySuggestionCard, #CreateQuestionCard {
        .SidebarCardMixin();
        margin-top: .pxinem(19)[@r];
        padding-left: .pxinem(0.5)[@r];
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.25em 0 1.25em;

        .ImageContainer {
            margin-top: 1.25em;
        }

        .card-link {
            text-align: center;
        }
    }
    
    /* SPONSOR----------------------------------------------------------*/
    #EduPartnerCard {
        margin-top: .pxinem(19)[@r];
        .SidebarCardMixin();
        padding: .pxinem(15)[@r];
        padding-bottom: .pxinem(5)[@r];

        .EduPartnerLSidebarWrapper { //Avoid "sponsor" and the like in css classes because of ad blockers
            font-size: .pxinem(12.6)[@r];
            text-align: center;

            @media (max-width: (@show-menu-from-width - 1px)) {
                display: none;
            }

            .fa {
                color: #CCCCCC;
                display: flex;
                justify-content: flex-end;
                margin-right: .pxinem(4)[@r];;                
            }
        }

        .EduPartnerSidebarLogo {
            margin-bottom: .pxinem(20)[@r];;

            img {
                max-width: 50%;
                max-height: .pxinem(100)[@r];;
            }
        }
    }
}




