@media temp {}


/* LESS INCLUDES
----------------------------------------------------------*/


@import 'includes/colors.less';
@import 'includes/shared.less';
@import 'includes/variables.less';

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

html {
     overflow: scroll;
     height: 100%;
     background-color: @background-grey;
} /*always show scrollbar*/

a {
    color: @link-blue;

    &:hover {
        color: @link-color-hover;
    }
}

body {
    font-size: 13px;
    color: @dark-blue;
    background: url(../img/dimension.png);
}



.container.main {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;

     #gradientLeft {
        width: @gradient-width;
        position: absolute;
        left: -@gradient-width;
        top: 0;
        bottom: 0;



        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    }

    #gradientRight {
        width: @gradient-width;
        position: absolute;
        right: -@gradient-width;
        top: 0;
        bottom: 0;

        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

    }
}

#MasterHeader
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 51px;
    background-color: @dark-blue;
    position: relative;
    z-index: 100;

    h1 {
        font-weight: 800;
        margin: 0px;
        border: none;
        font-size: 2.0em;
        background: url('/images/toflogo.png') no-repeat right;
        font-family: 'Emilys Candy', cursive;
        
        color: @cooles-gruen;
        font-size: 40px;
        background: none;
        position: relative;
        padding-left: 0px;
        padding-top: 3px;
        padding-right: 72px;

        span#m {padding-right: 3px;}

        span#uch {
            color: @light-blue;
            font-size: 30px;
        }
    }

    span#logo {
        display: inline-block;
        background-image: url('/images/toflogo.png');
        background-position: center;
        background-color: @light-blue;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        border-radius: 32px;
        position: absolute;
        top: 3px;
        left: 200px;
        border: solid 2px @dark-blue;
        z-index: 101;
    }

    .colLoginAndHelp {
        float: right;
        width: auto;
        min-width: 25%;
    }

    #loginAndHelp{
        background-color: #e7ecf6; 
        border-radius: 8px; 
        padding: 6px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;

        a {
            vertical-align: middle;
        }

        img{
            height: 27px;
            padding-top: -3px;
            padding-bottom: -3px;
            margin-top: -3px;
            margin-bottom: -3px;
        }
    }
    
}

#footer {

    background-color: @background-grey;
    padding-top: 20px;

    .container {} 
            
    #footerOn {
        display: inline-block;
        padding-left: 0;

        li {
            display: inline-block;
            padding-left: 20px;
        }
    }
}

.dark-blue {color: @dark-blue;}

/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

span.smaller {
    font-size: 90%;
}

/*Helpers*/

.clearfix {
    display: inline-block;
    width: 100%;
    zoom: 1;
}

.block {display: block;}


/* VALIDATION
----------------------------------------------------------*/

textarea.input-validation-error, input.input-validation-error { border: 1px solid #f00; background-color: #ffdede }
.input-validation-valid  { /* Optional: you can set whatever style you want */ }
.field-validation-error { color: #f00; background-color: #ffdede }
.field-validation-valid { display: none }
.validation-summary-errors { font-weight: bold; color: #f00 }
.validation-summary-valid { display: none }

/* BUTTONS
----------------------------------------------------------*/

div.button {margin: 15px 0 10px 0}
a.button {padding: .3em 1em .4em 20px;text-decoration: none;position: relative; }
a.button span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}


/* VARIOUS
----------------------------------------------------------*/
.cursor-hand{ cursor: pointer; }

/* Labels
----------------------------------------------------------*/
.label-category {
    background-color: @link-blue;
}

/*FORMS
---------------------------------------------------------*/
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, textarea, select {
    color: @dark-blue;
}


/*Container
---------------------------------------------------------*/

.box {
    background-color: #E7ECF6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}
.box h1, .box h2 {
    margin: 0px;
}

.box h1 {
    font-size: 20px;
    line-height: 140%;
}

.box h2 {
    font-size: 16px;
}

div.box h2 {
    line-height: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
}

div.box-content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;
    
    background-color: white;
    }

.green {
    background-color: @light-green;
}


.box-head {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
}

.box-head h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

div.box-main h1,
div.box-main h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

div.box-main .box-content {
    padding-top: 15px;
}



.box-with-tabs,
.boxtainer-outlined-tabs {

    .boxtainer-header {position: relative;}



    ul.nav-tabs {

        background-color: white;
        border-bottom: solid 3px @light-green;
        margin-top: -5px;

        li {
    
            border-bottom: 3px solid white;
            top: 5px;

            a {
                border: 3px solid transparent;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: none;
            }

             a:hover {
                background-color: @light-green;
            }


            &.active {
                a {
                    border-style: solid;
                    border-width: 3px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-color: @light-green;
                    border-bottom: none;
                }

                a:hover{
                    background-color: white;
                }
            }
        }
    }

    .boxtainer-content {
        padding: 0;
        position: relative;
        z-index: 2;

        .search-section {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    
}


.box div.pagination {
    margin-top: 15px;
    margin-bottom: 0px;
}

.box div.pagination ul {
    background-color: white;
}

.box-with-tabs .box {
    padding-top: 20px;
}

.box div.form-actions {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
}

/*Rows
---------------------------------------------------------*/

.rowBase:after {
  clear: both;
}

.rowBase {
  *zoom: 1;
}


.rowBase:before,
.rowBase:after {
  display: table;
  content: "";
}

.rowBase, .category-row  {
    border-top:1px solid @row-border-blue;

   
    &:first-child {border-top: none;}
}





/*temp
---------------------------------------------------------*/

/*div.todo-temp {
    background-color: #FFDF22;
    position: absolute;
    top: 0px;
    right: 100px;
    width: 100px;
    height: 100px;
}*/

