/*--------------------------------------------------------
[Description]


[Contents]
    PRIMARY LAYOUT ELEMENTS
        Links
        Headings
        Images
    MASTER HEADER / #MasterHeader
    MASTER SECTION / #MasterSection
    MOBILE SUBHEADER / #MobileSubHeader
    MASTER MAIN CONTENT / #MasterMainContent
    MASTER FOOTER / #MasterFooter
    MASTER WIDGET
    SPONSOR
    VALIDATION
    BUTTONS
    MODALS
    LABELS
    LABEL-LIST
    SEARCH SECTION
    CONTAINER
    ROWS
    REFERENCES DEFAULT
    VENDOR ADAPTATIONS
        Font-awesome icons
        UI
    VARIOUS
        Tooltips
        Icons
        Dropdowns
        Google Chart Custom Layout
        Team Pictures

[Imports:]
--------------------------------------------------------*/

@import (reference) 'includes/imports.less';

/*  [Local variables:]
----------------------------------------------------------*/

@masterHeaderMainRowHeight-xs: 34px;


/*  PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

html {
   // overflow: scroll; //always show scrollbar
    height: 100%;
    background-color: @background-grey;
    //.make-footer-stick-to-bottom;//Remove if causing any problems
}

body {
    .old-font-style();
    min-width: 280px;
    position: relative;
    background-color: @color-background-global;
}

h1, h2, h3, h4, h5 {
    font-family: @font-family-headings;
}


//dropdown Standard



.standard-question-drop-down {
    padding: 0;

    li {

        span {
            font-size: 14px;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
            color: @memo-grey-darker;
        }
    }
}

/*Links*/
a {
    .link;

    @media (max-width: @screen-xs-max) {
        // line-height: @icon-size-touch;
        //height: @icon-size-touch;
    }

    &.TextLink {
        &:hover {
            text-decoration: underline;
        }
    }

    i {
        &.MobileLarge {
            @media (max-width: @screen-md-max) {
                font-size: @icon-size-touch;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    &.TextLinkWithIcon {
        text-decoration: none;
        display: inline-block;
        /*@media (max-width: @screen-xs-max) {
            line-height: @icon-size-touch;
        }*/
        &:hover {
            text-decoration: none;

            .TextSpan {
                text-decoration: underline;
            }
        }

        &:focus {
            text-decoration: none;

            .TextSpan {
                text-decoration: underline;
            }
        }

        i {
            vertical-align: middle;
        }

        .TextSpan {
            vertical-align: middle;
        }
    }

    &.PlainTextLook {

        &, &:hover, &:focus {
            text-decoration: none;
            color: @global-text-color;
        }
    }

    &.DisabledLink {
        pointer-events: none;
        cursor: default;
        color: @global-text-color-grey;
    }
}

/*Headings*/

.ColoredUnderline {
    .ColoredBottomBorder();

    span& {
        display: inline-block;
    }

    h3&, h3 *& {
        border-bottom-width: 3px;
    }

    h2&, h2 *& {
        border-bottom-width: 3px;
    }

    h1&, h1 *& {
        border-bottom-width: 3px;
    }

    &.GeneralMemucho {
        border-bottom-color: @memo-green;
    }

    &.Knowledge {
        border-bottom-color: @color-knowledge;
    }

    &.Category {
        border-bottom-color: @color-category;
    }

    &.Set {
        border-bottom-color: @color-set;
    }

    &.User {
        border-bottom-color: @color-user;
    }

    &.Message {
        border-bottom-color: @color-message;
    }

    &.Play {
        border-bottom-color: @color-play;
    }

    &.Date {
        border-bottom-color: @middle-turquoise;
    }
}

.ColoredText {
    &.Knowledge {
        color: @color-knowledge;
    }

    &.Category {
        color: @color-category;
    }
}

/*Images*/

img {
    max-width: 100%;
}

#LogoLink {
    display: block;
    height: 100%;
    float: left;
    overflow-y: visible;
}

#BetaLogo {
    display: block;
    height: 100%;
    float: left;
    color: @memo-yellow;
    font-size: 14px;
    margin-top: 12px;
    margin-left: 7.74px;
    z-index: 1;

    &:hover, &:active, &:focus {
        color: @memo-green;
        text-decoration: none;
    }

    img {
        width: auto;
        height: 100%;
    }

    @media (max-width: 767px) {
        margin-top: 0px;
    }

    @media (max-width: 365px) {
        display: none;
    }
}

#Pictogram {
    float: left;
    height: 62px;
    margin-right: 19.43px;
    overflow-y: visible;
    margin-left: -7px;
    margin-top: 9px;
    height: 57.33px;

    @media (max-width:(@screen-md-min - 0.5)) {
        display: none !important;
    }

    img {
        height: 100%;
        overflow-y: visible;
        position: relative;
        z-index: @z-Index-Logo;
        top: -2px;
    }
}

#Wordmark {
    height: 49.02px;
    float: left;
    margin-top: 14.26px;
    /*.media-below-xs ({
        display: none;
    });*/
    @media (max-width: 767px) {
        display: none;
    }

    img {
        width: auto;
        height: 100%;
    }
}

#LogoSmall {
    height: 100%;
    /*.media-xs-up ({
        display: none;
    });*/
    @media (min-width: 768px) {
        display: none;
    }

    img {
        width: auto;
        height: 100%;
    }
}

#MasterHeader .popover {
    max-width: 600px !important;
}

#activity-popover-title {
    font-size: 16px;
    padding: 23px 0 16px 20px;
    color: black;
    height: 48px;
}

#activity-popover-content-inner {
    line-height: normal;
    color: black;
    font-size: 12px;
    text-align: center;
    white-space: normal;
    padding-top:10px;

    span {
        vertical-align: baseline !important;
        height: auto !important;
        line-height: normal !important;
    }

    .ProgressBarContainer, .ProgressBarSegment {
        height: 25px;
        border: transparent;
        background-color: transparent;
    }

    .ProgressBarContainer {
        display: table;
        width: 100%;
        margin-bottom: 8px;
        margin-top: 5px;
        .clearfix;
    }

    .ProgressBarSegment {
        display: table-cell;
        overflow: hidden;
        text-align: center;
        vertical-align: top; //Fix Firefox height bug
        left: 5px;
        border-radius: 0px 16px 16px 0px;
    }

    .ProgressBarLegend {
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        min-width: 30px;
        font-weight: bold;
    }

    .ProgressBarDone {
        background-color: @memo-green;
        position: relative;
        overflow: visible;
        border-radius: 0px 16px 16px 0px;
        border-right: white 2px solid;
    }

    .ProgressBarLeft {
        background-color: @memo-grey-light;
    }

    .ProgressInfoText {
        text-align: center;
        color: @global-text-color-grey;
        font-weight: normal !important;
    }

    #NextLevelProgressSpanPercentageDone {
        font-size: 16px;
        font-weight: bold;
        color: white;
        height: 100% !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

.MenuButtonXS { //to override bootstrap styles several times
    padding: 3px 3px 3px 7px;
    margin-right: 10px;
    font-size: 18px;
}

.MenuButtonSM { //to override bootstrap styles several times
    padding: 0px;
    font-size: 25px;
}

#MenuButton, #StickyMenuButton {
    .btn;
    display: inline-block;
    float: left;
    font-size: 36px !important;
    padding-left: 0px !important;
    margin-top: -5px;

    .caret {
        margin-left: 3px;
    }

    .media-below-md( {
        margin-top: -8px;
    }

    );

    .media-below-sm( {
        margin-top: 0px !important;
    }

    );

    @media (min-width: @screen-sm-min) {
        .btn-lg;
        .MenuButtonSM;
        position: relative;


        .caret {
            margin-left: 5px;
        }
    }

    .MenuButtonXS;
    color: @dark-blue;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;

    &:hover {
        .btn;
        color: @dark-blue;

        @media (min-width: @screen-sm-min) {
            .btn-lg;
            .MenuButtonSM;
        }
        //.buttonBackground (#2C5FB2, #2E487B, #e7ecf6);
        .MenuButtonXS;
    }
}

#MenuButtonContainer {
    margin-top: auto;

    .media-below-md( {
        margin-top: 5px
    }

    );

    .media-below-sm( {
        margin-top: -6px;
    }

    );

    @media(max-width:580px) {
        margin-top: -3px;
    }
}

#StickyMenuButton {
    opacity: 0.5;
    margin-top: 5px;

    @media(max-width:580px) {
        margin-top: 3px !important;
    }
}

ul.AutocompleteHeader {
    max-width: 550px;
}

.level-display {
    margin-left: 2.42px;

    .half-circle {
        width: 31px;
        height: 31px !important;
        background-color: @memo-green;
        border-bottom-right-radius: 110px;
        border-top-right-radius: 110px;
        border-bottom: 0;
    }

    svg {
        margin-top: 4px;
        width: 25px;
        height: 25px;
    }

    circle {
        fill: @memo-green;
    }

    .level-count {
        color: white;
        font-weight: bold;
        font-size: 16px;
        text-anchor: middle;
    }
}


.card-image-large {
    background-size: cover !important;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white !important;
    background-repeat: no-repeat !important;
}

.rotate {
    transform: rotate(90deg);
}

#CategorySuggestionCard {
    .category-suggestion-footer {
        padding: 0px 19px 0px 19px;
        margin-bottom: 23px;
        position: relative;
        z-index: 2;
        width: 100%;

        .set-question-count {
            color: #979797;
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}

/* MASTER SECTION
----------------------------------------------------------*/
#MasterSection {
    position: relative; //for z-index-positioning inside
    background-color: white;
    //padding-bottom: 100px;
    /*.media-sm-up( {
        padding-bottom: 100px;
    });*/
}
/* MOBILE SUBHEADER
----------------------------------------------------------*/
#MobileSubHeader {
    background-color: @light-blue;
    position: relative;

    .container {

        @media (max-width: @screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

#mobilePageHeader {
    margin-bottom: 0;
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 10px;
    overflow: auto;

    @media (max-width: @screen-xs-max) {
        padding-left: 10px;
        padding-right: 10px;
    }

    h3, h4 {
        margin-top: 0;
        width: 50%;
        float: left;
    }
}

.MainFilterBarWrapper {
    position: relative;
}

#MainFilterBarBackground {
    position: absolute;
    width: 100%;

    .btn-group {

        &:first-child .btn {
            border-left: none;
        }

        &:last-child .btn {
            border-right: none;
        }
    }
}

#MainFilterBar {

    .btn-group {

        @media (max-width: @screen-xs-max) {

            &:first-child .btn {
                border-left: none;
            }

            &:last-child .btn {
                border-right: none;
            }
        }
    }

    .btn-group.active {

        .btn { 
            color: @global-text-color;
            font-weight: bold;
        }
    }

    @media (max-width: @screen-xxs-max) {

        > .btn-group {
            display: table-cell !important;
        }
    }
}

#MainFilterBarBackground, #MainFilterBar {

    .btn {
        border-radius: 0;
    }
}
/* MASTER MAIN CONTENT
----------------------------------------------------------*/
#MasterMainContent {
    padding-top: 25px;
    padding-bottom: 20px;

    #MasterMainColumn {
        margin-top: 55px;

        @media (max-width: 768px) {
            margin-top: 38px;
            padding-left: 0;
            padding-right: 0;
        }

    }
}
/*******************************************************************/
/*  Breadcrumbs
----------------------------------------------------------*/


#MasterSidebarColumn {
    position: static;

    @media(max-width: 1199.9px) {
        display: none;
    }

    #Sidebar {
        display: inline-flex;

        #SidebarDivider {
            border-left: solid 1px @memo-grey-light;
            position: fixed;
            height: 100vh;
            top: 0;
        }

        #SidebarContent {
            color: @memo-grey-darker;
            padding-top: 70px;

            .sidebar-card {
                padding-left: 30px;
                font-family: 'Open Sans';

                .sidebar-title {
                    font-size: 12px;
                    border-bottom: solid 1px @memo-grey-light;
                    text-transform: uppercase;
                    padding-bottom: 10px;
                    font-weight: 600;
                    letter-spacing: 0.25px;
                }

                .sidebar-body {
                    padding: 25px 0;

                    .sidebar-card-preheader {
                        font-size: 12px;
                        padding-bottom: 10px;
                    }

                    .sidebar-card-header {
                        font-size: 18px;
                        padding-bottom: 15px;
                        font-weight: 600;
                    }

                    .sidebar-card-content {
                        font-size: 12px;
                    }
                }

                .sidebar-footer {
                    padding-top: 5px;
                    font-size: 12px;
                    border-top: solid 1px @memo-grey-light;
                    text-align: right;

                    a {
                        color: @memo-grey-dark;
                    }
                }
            }
        }
    }
}


#MasterMainWrapper {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 25px;
    width: 100% !important;

    html.flexbox:not(.Explorer):not(.Safari) {
        .CardsLandscape {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            .CardColumn {
                display: flex;
            }

            .Card {
                display: flex;
                width: 100%;

                .ImageContainer {
                    flex: 0 0 100px;
                    flex-grow: 0%; //sic!
                    flex-shrink: 0%; //sic!
                    flex-basis: 100px;
                    align-self: flex-start;
                }

                .ContentContainer {
                    margin-left: 0 !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: auto;
                }

                .CardContent {
                    margin-left: 0;
                    height: auto;
                    max-height: 243px;
                    border-bottom: none !important;
                }

                .BottomBar {
                    border-top: 1px solid @ruler-grey;
                    margin-left: 0 !important;
                    margin-right: 15px !important;
                }
            }
        }
    }
}

#MobileSubHeader + #MasterMainContent {

    .media-below-md( {
        padding-top: 0;
    });
}

#GlobalLicense {
    padding: 35px 20px 10px 20px;
    font-size: 14px;
    line-height: 1.3em;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    .greyed;

    .CCLogo {
        display: block;
        float: left;
    }

    .Text {
        margin-left: 98px;
    }
}
/* MASTER FOOTER
----------------------------------------------------------*/
#MasterFooter {
    background-color: @background-grey;
    padding-top: 20px;
    padding-left: 15px; //for Bootstrap .row
    padding-right: 15px; //for Bootstrap .row
    padding-bottom: 20px;
    position: relative;

    #footerOn {
        display: inline-block;
        padding-left: 0;

        li {
            display: inline-block;
            padding-left: 20px;
        }
    }

    .partnersAndSponsors {
        text-align: center;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #aaaaaa;
        padding-bottom: 30px;

        .partnerImage {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @media (max-width: 991px) {
            .alignRightUntillMD {
                text-align: right;
            }
        }

        @media (max-width: 991px) {
            .alignLeftUntillMD {
                text-align: left;
                padding-left: 6%;
            }
        }
    }


    .FooterCol {
        padding-bottom: 20px;

        .media-below-xs ( {
            text-align: center;
        }

        );

        .media-xs-up ( {
            min-height: 170px;
        }

        );

        &:last-child > div {
            .media-md-up( {
               // float: right;
            }
            );
        }
    }
}

.Promoter {
    #efre {
        width: 170px;
        padding-top: 20px;
    }

    #infoLink {
        text-align: left;
        padding-top: 60px;
    }

    @media only screen and (max-width: 768px) {
        #infoLink {
            text-align: center;
            margin-left: -30px;
        }

        [class*="col-"] {
            width: 100%;
        }

        #efre {
            margin-left: 30px;
        }

        #exist {
            margin-left: -5px;
        }
    }
}
/* MASTER WIDGET
----------------------------------------------------------*/
#MasterWidget {

    &, & html {
        background-color: transparent !important;
    }

    #WidgetContent {
        .well;
        margin-bottom: 0;
        //padding: 30px 30px 10px 30px;
        padding-bottom: 10px;
        background-color: white;
    }
}

/* VALIDATION
----------------------------------------------------------*/
textarea.input-validation-error, input.input-validation-error {
    border: 1px solid @color-error;
    background-color: @color-error-light;
}

.input-validation-valid { /* Optional: you can set whatever style you want */
}

.field-validation-error {
    color: @color-error;
    background-color: @color-error-light;
}

.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    font-weight: bold;
    color: @color-error;
}

.validation-summary-valid {
    display: none;
}
/* BUTTONS
----------------------------------------------------------*/
div.button {
    margin: 15px 0 10px 0;
}

a.button {
    padding: .3em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

a.button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

.btn + .btn,
.btn + .tooltip + .btn,
.SecAction + .btn,
.SecAction + .tooltip + .btn {
    margin-left: 5px;
}

.btnCreateItem {
    margin-bottom: 10px;

    #mobilePageHeader & {
        float: right;
    }

    .media-md-up ( {
        float: right;
        position: absolute;
        right: 0;
        top: 5px;
    }

    );
}

#KnowledgeBtn {
    width: 100%;
    display: flex;
    border: none !important;
    border-bottom-width: 1px;
    border-radius: 0px;
}
/*  MODALS
----------------------------------------------------------*/
.modal-footer .ButtonContainer {
    float: right;
    margin-right: -5px;
    margin-bottom: -10px;

    .btn {
        margin-left: 0 !important;
        margin-right: 5px;
        margin-bottom: 10px;
    }
}

#modalLogin .modal-dialog {

    fieldset {
        border: none;
    }
    div.col-you-have-to-be-logged-in {
        padding-bottom: 5px;
        padding-right: 15px;
        margin-top: -29px;
        border-bottom: 1px solid lavender;
    }
}

.media-xs-up( {
    #modalLogin .modal-dialog {
        width: 430px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

);
/*  LABELS
----------------------------------------------------------*/
.label {
    border: 1px solid;
    border-radius: 4px;
    color: @dark-blue;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    letter-spacing: .3px;
    //padding: .2em .4em .3em;
    margin-top: 3px;
    margin-bottom: 5px;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-question {
    background-color: @color-question-extralight;
    border-color: @color-question;
}

.label-category {
    background-color: lighten(@color-category, 35);
    border-color: @middle-blue;
}

.label-set {
    background-color: @pastel-yellow;
    border-color: @middle-yellow;
}
/*  LABEL LIST
----------------------------------------------------------*/
.LabelList {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;

    .LabelItem {
        display: list-item;

        &:before {
            content: "";
            border-color: rgba(255,255,255,0) @memo-blue;
            //border-color: rgba(255,255,255,0) @color-category;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 0.9em;
            position: relative;
        }

        &.LabelItem-Category:before {
            border-color: rgba(255,255,255,0) @color-category;
        }

        &.LabelItem-Set:before {
            border-color: rgba(255,255,255,0) @color-set;
        }

        &.LabelItem-Question:before {
            border-color: rgba(255,255,255,0) @color-question;
        }
    }
}
/* SEARCH SECTION
----------------------------------------------------------*/
div.search-container,
.search-section {
    #Clearfix;

    label {
        padding-top: 6px;
    }

    input[type=text] {
        //float:left;
        //margin-right: 3px;
    }
}
/*CONTAINER
---------------------------------------------------------*/
.box {
    background-color: #E7ECF6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

.box h1, .box h2 {
    margin: 0px;
}

.box h1 {
    font-size: 20px;
    line-height: 140%;
}

.box h2 {
    font-size: 16px;
}

div.box h2 {
    line-height: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
}

div.box-content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: -1px;
    //background-color: white;
}

.green {
    background-color: @light-green;
}


.box-head {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 10px;
}

.box-head h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

div.box-main h1,
div.box-main h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

div.box-main .box-content {
    padding-top: 15px;
}


.box-with-tabs,
.boxtainer-outlined-tabs {

    .boxtainer-header {
        position: relative;
    }

    ul.nav-tabs {
        border-bottom-width: 0;

        a {
            border-width: 0;
        }

        @media (min-width: @screen-md-min) {
            //background-color: white;
            border-bottom: solid 3px @light-green;
            margin-top: -5px;

            li {
                border-bottom: 3px solid transparent;
                top: 5px;

                a {
                    border: 3px solid transparent;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom: none;
                }

                a:hover {
                    background-color: @light-green;
                }

                &.active {
                    a {
                        border: 3px solid @light-green;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .boxtainer-content {
        padding: 0;
        position: relative;
        z-index: 2;

        .search-section {
            padding-bottom: 20px;

            @media (min-width: @screen-md-min) {
                padding-top: 20px;
            }
        }
    }
}

#question-main {
    #tab-color
    (lighten(@color-question, 20));
}

#set-main {
    #tab-color
    (lighten(@color-set, 20));
}

#category-main {
    #tab-color
    (lighten(@color-category, 10));
}

#user-main {
    #tab-color
    (lighten(@color-user, 20), white);
}


.box div.pagination {
    margin-top: 15px;
    margin-bottom: 0px;
}

.box div.pagination ul {
    background-color: white;
}

.box-with-tabs .box {
    padding-top: 20px;
}

.box div.form-actions {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
}

.well, .thumbnail, .panel, .Card, .Box {
    .ShadowBox;
    background-color: white;
}
/*ROWS
---------------------------------------------------------*/
.rowBase:after {
    clear: both;
}

.rowBase {
    *zoom: 1;
}

.rowBase:before,
.rowBase:after {
    display: table;
    content: "";
}

.rowBase, .category-row {
    background-color: white;
    box-shadow: 0 0px 0px rgba(0,0,0,0.16), 0 1px 0px rgba(0,0,0,0.23);

    &:first-child {
        //border-top: none;
    }
}

.jqstooltip {
    height: 36px;
    width: 100px;
}
/*VENDOR ADAPTATIONS
---------------------------------------------------------*/
/*Font-awesome icons*/
//
i:hover {
    text-decoration: none;
}


.TextLinkWithIcon {
    display: flex !important;
    flex-direction: column;

    .fa-check-square-o, .fa-square-o {
        margin-top: 1px;
    }
}
/*UI*/
ul.ui-autocomplete {
    z-index: 105;
}
/* VARIOUS
----------------------------------------------------------*/
.cursor-hand {
    cursor: pointer;
}
/*Tooltips*/
.fa-question-circle.show-tooltip {
    //.hidden-xs;
    //.hidden-sm;
    //font-size: 20px; implement hiding/toggle
}

.tooltip-inner {
    max-width: 400px;
}

.tooltip-text-left + .tooltip > .tooltip-inner {
    text-align: left;
    background-color: ghostwhite;
    color: black;
    border: 1px solid black;
    box-shadow: white 0px 0px 0px 4px;
}

.tooltip-date + .tooltip > .tooltip-inner {
    min-width: 300px;
}

.tooltip-min-200 + .tooltip > .tooltip-inner {
    min-width: 200px;
}

ul.show-tooltip-ul {
    text-align: left;
    padding-left: 15px;
}
/*Icons*/
.LinkToTop {
    text-align: right;
    margin: 20px 0;
    color: @memo-blue-lighter; //#2C5FB2;
    opacity: 0.3;
    clear: both;

    i {
        font-size: 50px;
        margin-bottom: -10px;
    }

    p {
        font-size: 12px !important;
        margin-top: -10px !important;
        margin-right: 9px !important;
        letter-spacing: .1em !important;
        max-width: 100% !important;
        line-height: 17px !important;
    }
}
/*Dropdowns*/
ul.AlignDdRight {
    left: auto;
    right: 0;
}
/**/
.navLinks {
    margin-bottom: 20px;

    > a, > div {
        font-size: 12px;
        display: inline-block;
        margin-right: 10px;
    }

    @media screen and (min-width: (@screen-md-min)) {
        float: right;

        > a, > div {
            display: block;
            margin-right: 0;
        }
    }
}
/*Google Chart Custom Layout*/
div.google-visualization-tooltip {
    pointer-events: none;
    height: auto !important;
    width: auto !important;
    padding: 5px;
}

ul.google-visualization-tooltip-item-list {
    margin: 0;
}

li.google-visualization-tooltip-item {
    margin: 0 !important;
    padding: 0px;
}

li.google-visualization-tooltip-item span {
    font-size: 12px !important;
}
/*Team Pictures*/
.TeamPic {
    text-align: center;
    margin-bottom: 20px;

    .media-below-xs( {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    );

    img {
        border-radius: @border-radius-item-image;
        border-radius: 50%;
    }
}
/* $ToDo: Clean up
----------------------------------------------------------*/
.dark-blue {
    color: @dark-blue;
}
/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    //font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 30px;
}

h5 {
    font-size: 15px;
}

span.smaller {
    font-size: 90%;
}

a.noTextdecoration {
    text-decoration: none;
}

a.noTextdecoration:hover {
    text-decoration: none;
}

@media screen and (min-width: @screen-xs-max) {
    .text-align-right-md {
        text-align: right;
    }
}

.youtubeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .youtubeOverlay {
        z-index: 22;
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;
        opacity: 0.90;
        text-align: center;
        vertical-align: middle;
        padding-top: 16%;
    }

    iframe.video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

// Boarders

.separationBorderTop {
    border-top: 1px grey solid;
    opacity: 0.4;
}

i.fa-lock {
    font-size: 14px;
    color: @global-text-color-grey;
    padding: 0 2px;

    &.header-icon {
        font-size: 24px;
    }
}

/*******************************************************************/
/*  new Styles 
----------------------------------------------------------*/

/*******************************************************************/
/*  Typography
----------------------------------------------------------*/

h1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1.5px;
    line-height: 54px;
    color: @memo-blue;
}

h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    color: @memo-blue;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    color: @memo-blue;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: @memo-grey-dark;
}

.body-l {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @memo-blue;
}

.body-m {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: @memo-grey-darker;
}

.body-s {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: @memo-grey-darker;
}

.body-xs {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: @memo-grey-darker;
}

.body-l,.body-m,.body-s,.body-xs{
    width: 100%;
    margin-bottom: 10px;
    &.bold {
        font-weight: 700;
    }
}

.memo-button {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    height: 36px !important;
    padding: 0 12px !important;

    &.btn-link {
        color: @memo-blue-link;
    }

    &.btn-error {
        color: @white;
        background-color: @memo-salmon;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: #ef8a62;
        }
    }
}

#AnswerBody {
    .memo-button {
        &.btn-link {
            padding-left: 0 !important;
        }
    }
}


.overline-s, .overline-m {
    color: @memo-grey-dark;
    font-weight: 600;
    border-bottom: solid 1px @memo-grey-light;

    &.no-line {
        border: none;
        margin-bottom: 4px;
        padding-bottom: 0;
    }

    &.overline-title{
        color: @memo-grey-darker;
    }
}

.overline-s {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.overline-m {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.underline-s {
    border-top: solid 1px @memo-grey-light;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .25px;
    padding-top: 10px;
    margin-top: 25px;
    text-align: right;
    color: @memo-grey-light;

    a {
        color: @memo-grey-dark;
        transition: color .1s ease-in-out;

        &:hover {
            color: @memo-blue-link;
            transition: color .1s ease-in-out;
        }
    }
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.dropdown-menu {

    li, div {
        line-height: 32px;
        cursor: pointer;

        a {
            display: flex;
            line-height: 26px;
            color: @memo-grey-darker;
        }

        .dropdown-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            margin-right: 12.5px;
            cursor: pointer;

            i {
                transition: color .1s ease-in-out;
                color: @memo-grey-darker !important;
            }

            span {
                cursor: pointer;
            }
        }

        &:hover {
            a, i {
                color: @memo-blue !important;
            }
        }
    }
}

#userDropdown {
    li {
        &.divider {
            height: 1px;
        }
    }
}

.grey-darker {
    color: @memo-grey-darker;
}

b, strong {
    font-weight: 600;
}

#EditQuestionModal {

    .modal-header, .modal-footer {
        border: none;
    }

    .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    select {
        border: solid 1px @memo-grey-light;
        border-radius: 0;
        padding: 0 4px;
        outline: none !important;
    }

    .solutionType-selector {
        select {
            border: none;
            background: @memo-grey-lighter;
            padding: 0 4px;
            outline: none !important;
        }
    }

    .matchlist-container {
        select {
            height: 34px;
            width: 190px;

            option {
                &:disabled {
                    font-style: italic;
                }
            }

            &:focus, &:focus-visible {
                border: solid 1px @memo-green;
            }
        }

        .form-group {
            display: flex;
            align-items: center;
        }

        .matchlist-options, .matchlist-pairs {
            display: flex;
            justify-content: space-between;

            input, select, .input-group {
                width: 100%;
            }
        }

        .matchlist-left, .matchlist-right {
            width: 50%;
        }
    }

    .edit-question-modal-header {
        display: flex;
        justify-content: space-between;

        .main-label {
            padding-right: 20px;
        }

        .solutionType-selector {
        }

        .heart-container {
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
            width: 100px;
            margin-right: -22px;
            cursor: pointer;
            color: @memo-wuwi-red;
            font-size: 22px;
        }
    }

    .form-group {
        margin-bottom: 26px;
    }

    .ProseMirror, input, textarea, select {
        border: solid 1px @memo-grey-light;
        border-radius: 0;

        &.is-empty {
            border: solid 1px @memo-salmon;
        }
    }

    .is-empty {

        .ProseMirror {
            border: solid 1px @memo-salmon;
        }
    }

    .btn {
        &.is-empty {
            border: solid 1px @memo-salmon;
        }
    }

    .input-group-addon {
        border: none;
        border-radius: 0;
    }

    input, .input-group-addon {
        box-shadow: none;
        background: none;

        &.toggle-correctness {
            min-width: 38px;

            &.active {
                color: white;

                &.is-correct {
                    background-color: @memo-green;
                }

                &.is-wrong {
                    background-color: @memo-salmon;
                }
            }
        }
    }

    input, .ProseMirror-focused, textarea {
        &:focus, &:focus-visible {
            outline: none !important;
            border: solid 1px @memo-green;
        }
    }

    .ProseMirror {
        padding: 11px 15px 0;
    }

    .related-categories-container {
        display: flex;
        flex-wrap: wrap;

        .category-chip-component {
            display: flex;
            align-items: center;
            margin-right: 15px;
            overflow: hidden;

            .category-chip-container {
                padding: 4px 0;
            }

            .category-chip-deleteBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.2s ease-in-out;
                width: 16px;
                height: 100%;
                cursor: pointer;
                color: @memo-salmon;
            }
        }
    }

    .input-group-addon {
        background-color: @memo-grey-lighter;
    }

    textarea {
        width: 100%;
        padding: 11px 15px 0;
    }

    .description-container {
        .ProseMirror {
            height: 62px;
        }
    }
}

.d-flex {
    display: flex;
    width: 100%;
}

.inline-text-editor, .inline-question-editor, #flashCardContent {
    position: relative;

    a {
        cursor: pointer;
    }

    .editor__floating-menu {
        position: absolute;
        z-index: 1;
        margin-top: -0.25rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0.2s;

        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }

    .menubar {
        top: 60px;
        position: sticky;
        background: white;
        margin-top: -36px;
        z-index: 10;
        box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        font-size: 0;
        height: 36px;

        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }

        &.is-focused {
            visibility: visible;
            opacity: 1;
            transition: visibility .2s,opacity .2s;
            pointer-events: auto !important;
        }
    }

    .ProseMirror, .flashCardContentSite {
        padding-top: 2px;
    }
}

/*CodeHighlight*/
.ProseMirror, #AnswerBody, .singleQuestionRow {

    &:focus {
        outline: none !important;
    }

    b, strong {
        font-weight: 600;
    }

    p {
        code {
            color: @memo-grey-darker;
            bckground-color: @memo-grey-lighter
        }
    }

    pre {
        background-color: black;
        border: none;

        &::before {
            content: attr(data-language);
            text-transform: uppercase;
            display: block;
            text-align: right;
            font-weight: bold;
            font-size: 0.6rem;
        }

        code {
            color: white;
        }
    }

    code {
        .hljs-comment,
        .hljs-quote {
            color: @memo-grey-dark;
        }

        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-name,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
            color: #f2777a;
        }

        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
            color: #f99157;
        }

        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
            color: #99cc99;
        }

        .hljs-title,
        .hljs-section {
            color: #ffcc66;
        }

        .hljs-keyword,
        .hljs-selector-tag {
            color: #6699cc;
        }

        .hljs-emphasis {
            font-style: italic;
        }

        .hljs-strong {
            font-weight: 700;
        }
    }
}

.singleQuestionRow {
    pre {
        margin: 0;
    }

    .answer {
        pre {
            width: 80%;
        }
    }
}

.menubar__button {
    background: white;
    border: hidden;
    font-size: 18px;
    width: 36px;
    height: 36px;
    margin: 0px;
    color: @memo-grey-darker;
    text-align: center;
    padding: 1px 6px;

    &:hover {
        background: @memo-grey-lighter;
    }

    &.is-active {
        background: @memo-grey-light;
    }
}

.link-modal {
    .link-form {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        .link-input {
            width: 100%;
            margin-right: 15px;
        }

        .link-btn {
            font-size: 16px;
            padding-top: 3px;
        }
    }
}

p.is-editor-empty:first-child::before {
    content: attr(data-empty-text);
    float: left;
    color: #aaa;
    pointer-events: none;
    height: 0;
    font-style: italic;
}

.input-container {
    margin-bottom: 26px;
}

.license-confirmation-box {
    background-color: @memo-grey-lighter;
}

.checkbox-container {
    padding: 10px;

    .checkbox {
        margin: 0;
    }
}

.privacy-selector {
    border: solid 1px rgba(255,255,255,.0);
    margin-bottom: 20px;

    &.not-selected {
        border: solid 1px @memo-salmon;
    }
}


textarea, input {
    &::placeholder {
        color: @memo-grey-dark;
        font-style: italic;
    }
}

#AddCategoryApp {
    input {
        border: solid 1px @memo-grey-light;
        border-radius: 0;
    }
}
#ErrorModal {
    .modal-body, .modal-footer, .modal-header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .modal-body {
        flex-direction: column;
    }

    h3 {
        color: @memo-salmon;
    }
}
/*Generic Bootstrap*/
.btn {
    border-radius: 0;

    &.grey-bg {
        background-color: @memo-grey-lighter;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: @memo-grey-light;
        }
    }

    &.form-control {
        box-shadow: none;
    }
}

.modal-content {
    border-radius: 0;

    .modal-body, .modal-footer, .modal-header {
        padding: 25px;
        border: none;
    }
}

.alert {
    border: none;
    border-radius: 0;
}
.field-error {
    color: @memo-salmon;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
}
.field-error-container {
    position: relative;

    .field-error {
        position: absolute;
        top: 17px;
    }
}


.cardModal {
    .modal-s {
        width: 430px;
    }

    .dismissModal {
        position: absolute;
        right: 15px;
        z-index: 10;
        top: 10px;
    }

    .modal-content {
        padding: 34px 50px;

        .cardModalContent {

            h4 {
                font-size: 25px;
                text-align: center;
                padding-bottom: 24px;
            }


            .modalBody {
                font-size: 14px;
                padding: 10px 0 20px;
                margin-bottom: 10px;

                .form-control {
                    width: 100%;
                    max-width: 100%;
                }

                .alert {
                    line-height: 18px;
                }

                a {
                    color: @memo-blue;
                    transition: 0.2s;

                    &:hover {
                        text-decoration: none;
                        color: @memo-blue-link;
                    }
                }

                .checkBox {
                    user-select: none;
                    color: @memo-grey-dark;

                    i {
                        color: @memo-grey-dark;
                    }
                }
            }

            .modalFooter {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .memo-button {
                    margin: 0;
                }
            }
        }
    }
}
