/*--------------------------------------------------------
[Description]


[Contents]
    PRIMARY LAYOUT ELEMENTS
        Links
        Headings
        Images
    MASTER HEADER / #MasterHeader
    MASTER SECTION / #MasterSection
    MOBILE SUBHEADER / #MobileSubHeader
    MASTER MAIN CONTENT / #MasterMainContent
    MASTER FOOTER / #MasterFooter
    MASTER WIDGET
    SPONSOR
    VALIDATION
    BUTTONS
    MODALS
    LABELS
    LABEL-LIST
    SEARCH SECTION
    CONTAINER
    ROWS
    REFERENCES DEFAULT
    VENDOR ADAPTATIONS
        Font-awesome icons
        UI
    VARIOUS
        Tooltips
        Icons
        Dropdowns
        Google Chart Custom Layout
        Team Pictures

[Imports:]
--------------------------------------------------------*/
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*  [Local variables:]
----------------------------------------------------------*/
/*  PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
html {
  overflow: scroll;
  height: 100%;
  background-color: #EFEFEF;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: #203256;
  min-width: 280px;
  position: relative;
  background-color: #F6F8FA;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', Arial, sans-serif;
}
/*Links*/
a {
  color: #2C5FB2;
}
a:hover {
  color: #2C5FB2;
}
@media (max-width: 767px) {
}
a.TextLink:hover {
  text-decoration: underline;
}
@media (max-width: 1199px) {
  a i.MobileLarge {
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
a.TextLinkWithIcon {
  text-decoration: none;
  display: inline-block;
  /*@media (max-width: @screen-xs-max) {
            line-height: @icon-size-touch;
        }*/
}
a.TextLinkWithIcon:hover {
  text-decoration: none;
}
a.TextLinkWithIcon:hover .TextSpan {
  text-decoration: underline;
}
a.TextLinkWithIcon:focus {
  text-decoration: none;
}
a.TextLinkWithIcon:focus .TextSpan {
  text-decoration: underline;
}
a.TextLinkWithIcon i {
  vertical-align: middle;
}
a.TextLinkWithIcon .TextSpan {
  vertical-align: middle;
}
a.PlainTextLook,
a.PlainTextLook:hover,
a.PlainTextLook:focus {
  text-decoration: none;
  color: #203256;
}
a.DisabledLink {
  pointer-events: none;
  cursor: default;
  color: #999999;
}
/*Headings*/
.ColoredUnderline {
  border-bottom: solid 2px #AFD534;
  line-height: 130%;
}
span.ColoredUnderline {
  display: inline-block;
}
h3.ColoredUnderline,
h3 *.ColoredUnderline {
  border-bottom-width: 3px;
}
h2.ColoredUnderline,
h2 *.ColoredUnderline {
  border-bottom-width: 3px;
}
h1.ColoredUnderline,
h1 *.ColoredUnderline {
  border-bottom-width: 3px;
}
.ColoredUnderline.GeneralMemucho {
  border-bottom-color: #AFD534;
}
.ColoredUnderline.Knowledge {
  border-bottom-color: #B13A48;
}
.ColoredUnderline.Category {
  border-bottom-color: #45aece;
}
.ColoredUnderline.Set {
  border-bottom-color: #FFD700;
}
.ColoredUnderline.User {
  border-bottom-color: #2C5FB2;
}
.ColoredUnderline.Message {
  border-bottom-color: #FFA500;
}
.ColoredUnderline.Play {
  border-bottom-color: #3e7700;
}
.ColoredUnderline.Date {
  border-bottom-color: #138992;
}
.ColoredText.Knowledge {
  color: #B13A48;
}
.ColoredText.Category {
  color: #45aece;
}
/*Images*/
img {
  max-width: 100%;
}
/* MASTER HEADER  
----------------------------------------------------------*/
#MasterHeader {
  position: relative;
  margin: 0;
  width: 100%;
  max-height: 50px;
  background-color: #003264;
}
#MasterHeader .HeaderMainRow {
  height: 34px;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  #MasterHeader .HeaderMainRow {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@media (min-width: 768px) {
  #MasterHeader .HeaderMainRow {
    height: 37px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
#MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
  margin-left: 4px;
  margin-top: 2px;
  width: 320px;
  padding-left: 10px;
}
@media (max-width: 1199px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    width: 200px;
  }
}
@media (max-width: 767px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    margin-top: 0px;
  }
}
@media (max-width: 690px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    width: 180px;
  }
}
@media (max-width: 390px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    width: 160px;
  }
}
@media (max-width: 370px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    width: 120px;
  }
}
@media (max-width: 320px) {
  #MasterHeader .HeaderMainRow #HeaderSearchBoxDiv {
    width: 120px;
  }
}
#MasterHeader .col-Logo {
  height: 100%;
  width: auto;
  float: left;
}
@media (max-width: 479px) {
  #MasterHeader .col-Logo {
    padding-right: 0;
  }
}
#MasterHeader .col-LoginAndHelp {
  width: auto;
  float: right;
  height: 34px;
}
@media (max-width: 479px) {
  #MasterHeader .col-LoginAndHelp {
    padding-left: 0;
    float: right;
  }
}
#LogoLink {
  display: block;
  height: 100%;
  float: left;
  overflow-y: visible;
}
#BetaLogo {
  display: block;
  height: 100%;
  float: left;
  color: #FFD700;
  font-size: 18px;
  margin-top: -5px;
  margin-left: 7px;
  z-index: 1;
}
#BetaLogo:hover,
#BetaLogo:active,
#BetaLogo:focus {
  color: #AFD534;
  text-decoration: none;
}
#BetaLogo img {
  width: auto;
  height: 100%;
}
@media (max-width: 630px) {
  #BetaLogo {
    display: none;
  }
}
#Pictogram {
  float: left;
  height: 62px;
  margin-right: 10px;
  overflow-y: visible;
  margin-left: -7px;
}
@media (max-width: 991px) {
  #Pictogram {
    display: none;
  }
}
#Pictogram img {
  height: 100%;
  overflow-y: visible;
  position: relative;
  z-index: 1000;
  top: -2px;
}
#Wordmark {
  height: 100%;
  float: left;
  /*.media-below-xs ({
        display: none;
    });*/
}
@media (max-width: 580px) {
  #Wordmark {
    display: none;
  }
}
#Wordmark img {
  width: auto;
  height: 100%;
}
#LogoSmall {
  height: 100%;
  /*.media-xs-up ({
        display: none;
    });*/
}
@media (min-width: 580px) {
  #LogoSmall {
    display: none;
  }
}
#LogoSmall img {
  width: auto;
  height: 100%;
}
#loginAndHelp {
  color: #E7ECF6;
  float: right;
  height: 100%;
  margin-top: -1px;
}
@media (min-width: 768px) {
  #loginAndHelp {
    margin-top: 1px;
  }
}
#loginAndHelp .dropdown {
  height: 100%;
  line-height: 34px;
}
#loginAndHelp .dropdown .userName {
  max-width: 145px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#loginAndHelp a,
#loginAndHelp span {
  height: 34px;
  line-height: 34px;
}
#loginAndHelp span {
  vertical-align: middle;
}
#loginAndHelp a.TextLinkWithIcon {
  color: #E7ECF6;
}
#loginAndHelp a.TextLinkWithIcon:hover,
#loginAndHelp a.TextLinkWithIcon:active,
#loginAndHelp a.TextLinkWithIcon:focus {
  color: #AFD534;
}
#loginAndHelp a.TextLinkWithIcon:hover *,
#loginAndHelp a.TextLinkWithIcon:active *,
#loginAndHelp a.TextLinkWithIcon:focus * {
  text-decoration: none;
}
#loginAndHelp #SupportUs {
  color: #FFD700;
}
@media (max-width: 420px) {
  #loginAndHelp #SupportUs {
    display: none;
  }
}
#loginAndHelp #SupportUs:hover,
#loginAndHelp #SupportUs:active,
#loginAndHelp #SupportUs:focus {
  color: #AFD534;
}
@media (max-width: 1200px) {
  #loginAndHelp #SupportUs .TextSpan {
    display: none;
  }
}
@media (min-width: 480px) {
  #loginAndHelp a.helpLink {
    margin-right: 5px;
  }
}
@media (min-width: 768px) {
  #loginAndHelp a.helpLink {
    margin-right: 10px;
  }
}
@media (max-width: 370px) {
  #loginAndHelp a.helpLink {
    display: none;
  }
}
@media (max-width: 700px) {
  #loginAndHelp a.helpLink.helpLinkFaq {
    display: none;
  }
}
#loginAndHelp .userImage {
  height: 30px;
  width: 30px;
  margin-left: 1px;
  border: 1px solid #003264;
  border-radius: 4px;
}
#loginAndHelp a:hover .userImage,
#loginAndHelp a:active .userImage,
#loginAndHelp a:focus .userImage {
  height: 31px;
  width: 31px;
  margin-left: 0;
}
#loginAndHelp .TextSpan,
#loginAndHelp span:not(.level-display) {
  display: inline-block;
}
@media (max-width: 991px) {
  #loginAndHelp .TextSpan,
  #loginAndHelp span:not(.level-display) {
    display: none;
  }
}
#loginAndHelp .dropdown-menu {
  text-align: left;
}
#loginAndHelp i#tabInfoMyKnowledge {
  margin-right: 1px;
}
#MasterHeader .popover {
  max-width: 600px !important;
}
#activity-popover-title {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  color: #203256;
}
#activity-popover-content-inner {
  padding-top: 10px;
  line-height: normal;
  color: #333333;
  font-size: 18px;
  text-align: center;
}
#activity-popover-content-inner span {
  vertical-align: baseline !important;
  height: auto !important;
  line-height: normal !important;
}
#activity-popover-content-inner .ProgressBarContainer,
#activity-popover-content-inner .ProgressBarSegment {
  height: 25px;
}
#activity-popover-content-inner .ProgressBarContainer {
  display: table;
  width: 100%;
  border: solid 2px #AFD534;
  background-color: #AFD534;
  margin-bottom: 5px;
  margin-top: 15px;
}
#activity-popover-content-inner .ProgressBarContainer:before,
#activity-popover-content-inner .ProgressBarContainer:after {
  content: " ";
  display: table;
}
#activity-popover-content-inner .ProgressBarContainer:after {
  clear: both;
}
#activity-popover-content-inner .ProgressBarContainer:before,
#activity-popover-content-inner .ProgressBarContainer:after {
  content: " ";
  display: table;
}
#activity-popover-content-inner .ProgressBarContainer:after {
  clear: both;
}
#activity-popover-content-inner .ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
#activity-popover-content-inner .ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  min-width: 30px;
  font-weight: bold;
}
#activity-popover-content-inner .ProgressBarDone {
  background-color: #AFD534;
  position: relative;
  overflow: visible;
}
#activity-popover-content-inner .ProgressBarLeft {
  background-color: #e1efb3;
}
#activity-popover-content-inner .ProgressInfoText {
  text-align: center;
  color: #999999;
}
.MenuButtonXS {
  padding: 3px 3px 3px 7px;
  margin-right: 10px;
  font-size: 18px;
}
.MenuButtonSM {
  padding: 5px 7px 5px 9px;
  font-size: 25px;
}
#MenuButton,
#MobileMenuButton,
#SidebarMenuButton {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  float: left;
  font-size: 22px !important;
  margin-top: 6px;
  margin-left: -7px;
  padding: 3px 3px 3px 7px;
  margin-right: 10px;
  font-size: 18px;
  color: #003264;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}
#MenuButton:focus,
#MobileMenuButton:focus,
#SidebarMenuButton:focus,
#MenuButton:active:focus,
#MobileMenuButton:active:focus,
#SidebarMenuButton:active:focus,
#MenuButton.active:focus,
#MobileMenuButton.active:focus,
#SidebarMenuButton.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#MenuButton:hover,
#MobileMenuButton:hover,
#SidebarMenuButton:hover,
#MenuButton:focus,
#MobileMenuButton:focus,
#SidebarMenuButton:focus {
  color: #333;
  text-decoration: none;
}
#MenuButton:active,
#MobileMenuButton:active,
#SidebarMenuButton:active,
#MenuButton.active,
#MobileMenuButton.active,
#SidebarMenuButton.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#MenuButton.disabled,
#MobileMenuButton.disabled,
#SidebarMenuButton.disabled,
#MenuButton[disabled],
#MobileMenuButton[disabled],
#SidebarMenuButton[disabled],
fieldset[disabled] #MenuButton,
fieldset[disabled] #MobileMenuButton,
fieldset[disabled] #SidebarMenuButton {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
#MenuButton .caret,
#MobileMenuButton .caret,
#SidebarMenuButton .caret {
  margin-left: 3px;
}
@media (min-width: 768px) {
  #MenuButton,
  #MobileMenuButton,
  #SidebarMenuButton {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    padding: 5px 7px 5px 9px;
    font-size: 25px;
    position: relative;
  }
  #MenuButton .caret,
  #MobileMenuButton .caret,
  #SidebarMenuButton .caret {
    margin-left: 5px;
  }
}
#MenuButton:hover,
#MobileMenuButton:hover,
#SidebarMenuButton:hover {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #003264;
  padding: 3px 3px 3px 7px;
  margin-right: 10px;
  font-size: 18px;
}
#MenuButton:hover:focus,
#MobileMenuButton:hover:focus,
#SidebarMenuButton:hover:focus,
#MenuButton:hover:active:focus,
#MobileMenuButton:hover:active:focus,
#SidebarMenuButton:hover:active:focus,
#MenuButton:hover.active:focus,
#MobileMenuButton:hover.active:focus,
#SidebarMenuButton:hover.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#MenuButton:hover:hover,
#MobileMenuButton:hover:hover,
#SidebarMenuButton:hover:hover,
#MenuButton:hover:focus,
#MobileMenuButton:hover:focus,
#SidebarMenuButton:hover:focus {
  color: #333;
  text-decoration: none;
}
#MenuButton:hover:active,
#MobileMenuButton:hover:active,
#SidebarMenuButton:hover:active,
#MenuButton:hover.active,
#MobileMenuButton:hover.active,
#SidebarMenuButton:hover.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#MenuButton:hover.disabled,
#MobileMenuButton:hover.disabled,
#SidebarMenuButton:hover.disabled,
#MenuButton:hover[disabled],
#MobileMenuButton:hover[disabled],
#SidebarMenuButton:hover[disabled],
fieldset[disabled] #MenuButton:hover,
fieldset[disabled] #MobileMenuButton:hover,
fieldset[disabled] #SidebarMenuButton:hover {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  #MenuButton:hover,
  #MobileMenuButton:hover,
  #SidebarMenuButton:hover {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    padding: 5px 7px 5px 9px;
    font-size: 25px;
  }
}
#MenuButton {
  margin-top: 2px !important;
}
#MobileMenuButton {
  font-size: 18px;
  display: none;
  color: #e7ecf6;
  font-size: 18px !important;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin-top: 4px;
  margin-left: -7px;
  padding: 3px 3px 3px 7px;
  margin-right: 10px;
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}
@media (max-width: 767px) {
  #MobileMenuButton {
    display: block;
  }
}
ul.AutocompleteHeader {
  max-width: 550px;
}
.level-display {
  margin-left: 3px;
}
.level-display svg {
  width: 32px;
  height: 32px;
}
.level-display svg.large {
  width: 90px;
  height: 90px;
}
.level-display svg.large text {
  font-size: 60px;
}
@media (max-width: 767px) {
  .level-display svg {
    margin-top: 4px;
    width: 25px;
    height: 25px;
  }
}
.level-display circle {
  fill: #AFD534;
}
.level-display .level-count {
  fill: #003264;
  font-weight: bolder;
  font-size: 1.3em;
  text-anchor: middle;
}
.Autor-Box {
  width: 100%;
  font-size: 18px;
  margin-top: 70px;
  text-align: center;
}
@media (max-width: 1199px) {
  .Autor-Box {
    display: none;
  }
}
.Autor-Box-Name {
  margin-top: 15px;
}
/* MASTER SECTION
----------------------------------------------------------*/
#MasterSection {
  position: relative;
  /*.media-sm-up( {
        padding-bottom: 100px;
    });*/
}
/* MOBILE SUBHEADER
----------------------------------------------------------*/
#MobileSubHeader {
  background-color: #E7ECF6;
  position: relative;
}
@media (max-width: 767px) {
  #MobileSubHeader .container {
    padding-left: 0;
    padding-right: 0;
  }
}
#mobilePageHeader {
  margin-bottom: 0;
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 10px;
  overflow: auto;
}
@media (max-width: 767px) {
  #mobilePageHeader {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#mobilePageHeader h3,
#mobilePageHeader h4 {
  margin-top: 0;
  width: 50%;
  float: left;
}
.MainFilterBarWrapper {
  position: relative;
}
#MainFilterBarBackground {
  position: absolute;
  width: 100%;
}
#MainFilterBarBackground .btn-group:first-child .btn {
  border-left: none;
}
#MainFilterBarBackground .btn-group:last-child .btn {
  border-right: none;
}
@media (max-width: 767px) {
  #MainFilterBar .btn-group:first-child .btn {
    border-left: none;
  }
  #MainFilterBar .btn-group:last-child .btn {
    border-right: none;
  }
}
#MainFilterBar .btn-group.active .btn {
  color: #203256;
  font-weight: bold;
}
@media (max-width: 479px) {
  #MainFilterBar > .btn-group {
    display: table-cell !important;
  }
}
#MainFilterBarBackground .btn,
#MainFilterBar .btn {
  border-radius: 0;
}
/* MASTER MAIN CONTENT
----------------------------------------------------------*/
#MasterMainContent {
  padding-top: 25px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  #MasterMainContent {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
#MasterMainContent #MasterMainColumn {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1200px) {
  #MasterMainContent #MasterMainColumn {
    float: left;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  #MasterMainContent #MasterMainColumn {
    width: 80%;
  }
}
#MasterSidebarColumn {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: static;
}
@media (min-width: 1200px) {
  #MasterSidebarColumn {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  #MasterSidebarColumn {
    width: 232px;
    float: right;
    margin-top: 6px;
  }
}
@media (max-width: 1199.9px) {
  #MasterSidebarColumn {
    display: none;
  }
}
#MasterMainWrapper {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 25px;
  width: 100% !important;
  /*******************************************************************/
  /*  Breadcrumbs
----------------------------------------------------------*/
  /** Default button **/
}
#MasterMainWrapper .btn-breadcrumb {
  /** Breadcrumb **/
  /** The Spacing **/
}
#MasterMainWrapper .btn-breadcrumb a {
  text-decoration: underline;
}
#MasterMainWrapper .btn-breadcrumb a.current {
  text-decoration: none;
}
#MasterMainWrapper .btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
#MasterMainWrapper .btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
#MasterMainWrapper .btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
}
#MasterMainWrapper .btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
#MasterMainWrapper .btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}
#MasterMainWrapper .btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
#MasterMainWrapper .btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
#MasterMainWrapper .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
#MasterMainWrapper .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
#MasterMainWrapper .BreadcrumbsMobile {
  font-size: 14px;
  background-color: white;
  line-height: 1.5em;
  margin-bottom: 10px;
  width: 100%;
  font-family: sans;
  color: #1B3651 !important;
  font: bold;
  color: #999999;
}
#MasterMainWrapper .BreadcrumbsMobile div {
  font-family: 'Open Sans';
  font-weight: bold;
}
#MasterMainWrapper .BreadcrumbsMobile img {
  min-width: 21px;
  min-height: 21px;
  width: 21px !important;
  height: 21px !important;
  border-radius: 50%;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-chevron-right {
  font-size: 80%;
  color: #1B3651;
  margin-right: 10px;
  background-color: white;
  border-radius: 0px;
  padding: 0px;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-question-circle {
  padding-top: 2px !important;
}
#MasterMainWrapper .BreadcrumbsMobile .category-icon:hover,
#MasterMainWrapper .BreadcrumbsMobile .category-icon:focus {
  text-decoration: none;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa {
  font-size: 120%;
  width: 0.9em;
  text-align: center;
  width: 21px !important;
  height: 21px;
  border-radius: 50px;
  background-color: #0B335E;
  color: white;
  padding-top: 1px;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-graduation-cap {
  width: 1.25em;
  padding-top: 4px;
  font-size: 100%;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-home {
  width: auto;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-file-text {
  padding-top: 3.5px;
  font-size: 100%;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-search {
  padding: 2px;
  padding-top: 2.5px;
  font-size: 103%;
}
#MasterMainWrapper .BreadcrumbsMobile i.thumbs-up-gold {
  color: #FFD603;
}
#MasterMainWrapper .BreadcrumbsMobile i.fa-chevron-right {
  width: auto;
  margin-left: 13px;
  font-size: 80%;
  color: #1B3651;
  margin-right: 10px;
  background-color: white;
  border-radius: 0px;
  padding: 0px;
}
#MasterMainWrapper .BreadcrumbsMobile a {
  color: #1B3651;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
}
#MasterMainWrapper .BreadcrumbsMobile a:not(.current):hover,
#MasterMainWrapper .BreadcrumbsMobile a:not(.current):focus,
#MasterMainWrapper .BreadcrumbsMobile a:not(.current):active {
  color: #1B3651;
  text-decoration: underline;
  text-underline-position: alphabetic;
}
#MasterMainWrapper .BreadcrumbsMobile a.current {
  cursor: default;
}
@media (max-width: 1199px) {
  #MasterMainWrapper .BreadcrumbsMobile {
    padding-bottom: 20px;
  }
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .CardColumn {
  display: flex;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .Card {
  display: flex;
  width: 100%;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .Card .ImageContainer {
  flex: 0 0 100px;
  flex-grow: 0%;
  flex-shrink: 0%;
  flex-basis: 100px;
  align-self: flex-start;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .Card .ContentContainer {
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .Card .CardContent {
  margin-left: 0;
  height: auto;
  max-height: 243px;
  border-bottom: none !important;
}
#MasterMainWrapper html.flexbox:not(.Explorer):not(.Safari) .CardsLandscape .Card .BottomBar {
  border-top: 1px solid #dfdfdf;
  margin-left: 0 !important;
  margin-right: 15px !important;
}
@media (max-width: 991px) {
  #MobileSubHeader + #MasterMainContent {
    padding-top: 0;
  }
}
#GlobalLicense {
  padding: 35px 20px 10px 20px;
  font-size: 14px;
  line-height: 1.3em;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  color: #999999;
}
#GlobalLicense .CCLogo {
  display: block;
  float: left;
}
#GlobalLicense .Text {
  margin-left: 98px;
}
/* MASTER FOOTER
----------------------------------------------------------*/
#MasterFooter {
  background-color: #EFEFEF;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  position: relative;
}
#MasterFooter #footerOn {
  display: inline-block;
  padding-left: 0;
}
#MasterFooter #footerOn li {
  display: inline-block;
  padding-left: 20px;
}
#MasterFooter .partnersAndSponsors {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 30px;
}
#MasterFooter .partnersAndSponsors .partnerImage {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  #MasterFooter .partnersAndSponsors .alignRightUntillMD {
    text-align: right;
  }
}
@media (max-width: 991px) {
  #MasterFooter .partnersAndSponsors .alignLeftUntillMD {
    text-align: left;
    padding-left: 6%;
  }
}
#MasterFooter .FooterCol {
  padding-bottom: 20px;
}
@media (max-width: 479px) {
  #MasterFooter .FooterCol {
    text-align: center;
  }
}
@media (min-width: 480px) {
  #MasterFooter .FooterCol {
    min-height: 170px;
  }
}
@media (min-width: 992px) {
  #MasterFooter .FooterCol:last-child > div {
    float: right;
  }
}
/* MASTER WIDGET
----------------------------------------------------------*/
#MasterWidget,
#MasterWidget html {
  background-color: transparent !important;
}
#MasterWidget #WidgetContent {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
  margin-bottom: 0;
  padding-bottom: 10px;
  background-color: white;
}
#MasterWidget #WidgetContent blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
/* SPONSOR
----------------------------------------------------------*/
.EduPartnerLeftWrapper {
  font-size: 90%;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 1199px) {
  .EduPartnerLeftWrapper {
    display: none;
  }
}
.EduPartnerLeftWrapper .EduPartnerAdLabel {
  font-size: 80%;
  color: #999999;
  margin-bottom: 20px;
  text-align: left;
}
.EduPartnerLeftLogo {
  margin-bottom: 20px;
}
.EduPartnerLeftLogo img {
  max-width: 50%;
  max-height: 100px;
}
/* VALIDATION
----------------------------------------------------------*/
textarea.input-validation-error,
input.input-validation-error {
  border: 1px solid #B13A48;
  background-color: #e3a0ac;
}
.input-validation-valid {
  /* Optional: you can set whatever style you want */
}
.field-validation-error {
  color: #B13A48;
  background-color: #e3a0ac;
}
.field-validation-valid {
  display: none;
}
.validation-summary-errors {
  font-weight: bold;
  color: #B13A48;
}
.validation-summary-valid {
  display: none;
}
/* BUTTONS
----------------------------------------------------------*/
div.button {
  margin: 15px 0 10px 0;
}
a.button {
  padding: .3em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}
a.button span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}
.btn + .btn,
.btn + .tooltip + .btn,
.SecAction + .btn,
.SecAction + .tooltip + .btn {
  margin-left: 5px;
}
.btnCreateItem {
  margin-bottom: 10px;
}
#mobilePageHeader .btnCreateItem {
  float: right;
}
@media (min-width: 992px) {
  .btnCreateItem {
    float: right;
    position: absolute;
    right: 0;
    top: 5px;
  }
}
/*  MODALS
----------------------------------------------------------*/
.modal-footer .ButtonContainer {
  float: right;
  margin-right: -5px;
  margin-bottom: -10px;
}
.modal-footer .ButtonContainer .btn {
  margin-left: 0 !important;
  margin-right: 5px;
  margin-bottom: 10px;
}
#modalLogin .modal-dialog div.col-you-have-to-be-logged-in {
  padding-bottom: 5px;
  padding-right: 15px;
  margin-top: -29px;
  border-bottom: 1px solid lavender;
}
@media (min-width: 480px) {
  #modalLogin .modal-dialog {
    width: 430px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*  LABELS
----------------------------------------------------------*/
.label {
  border: 1px solid;
  border-radius: 4px;
  color: #003264;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  letter-spacing: .3px;
  margin-top: 3px;
  margin-bottom: 5px;
  max-width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-question {
  background-color: #f2f8dd;
  border-color: #AFD534;
}
.label-category {
  background-color: #d2ecf3;
  border-color: #45aece;
}
.label-set {
  background-color: #FDF8DC;
  border-color: #FFD700;
}
/*  LABEL LIST
----------------------------------------------------------*/
.LabelList {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}
.LabelList .LabelItem {
  display: list-item;
}
.LabelList .LabelItem:before {
  content: "";
  border-color: rgba(255, 255, 255, 0) #003264;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}
.LabelList .LabelItem.LabelItem-Category:before {
  border-color: rgba(255, 255, 255, 0) #45aece;
}
.LabelList .LabelItem.LabelItem-Set:before {
  border-color: rgba(255, 255, 255, 0) #FFD700;
}
.LabelList .LabelItem.LabelItem-Question:before {
  border-color: rgba(255, 255, 255, 0) #AFD534;
}
/* SEARCH SECTION
----------------------------------------------------------*/
div.search-container:before,
.search-section:before,
div.search-container:after,
.search-section:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
div.search-container:after,
.search-section:after {
  clear: both;
}
div.search-container label,
.search-section label {
  padding-top: 6px;
}
/*CONTAINER
---------------------------------------------------------*/
.box {
  background-color: #E7ECF6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
}
.box h1,
.box h2 {
  margin: 0px;
}
.box h1 {
  font-size: 20px;
  line-height: 140%;
}
.box h2 {
  font-size: 16px;
}
div.box h2 {
  line-height: 100%;
  padding-bottom: 10px;
  padding-left: 5px;
}
div.box-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: -1px;
}
.green {
  background-color: #D1EBA7;
}
.box-head {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
.box-head h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}
div.box-main h1,
div.box-main h2 {
  padding-top: 10px;
  padding-bottom: 20px;
}
div.box-main .box-content {
  padding-top: 15px;
}
.box-with-tabs .boxtainer-header,
.boxtainer-outlined-tabs .boxtainer-header {
  position: relative;
}
.box-with-tabs ul.nav-tabs,
.boxtainer-outlined-tabs ul.nav-tabs {
  border-bottom-width: 0;
}
.box-with-tabs ul.nav-tabs a,
.boxtainer-outlined-tabs ul.nav-tabs a {
  border-width: 0;
}
@media (min-width: 992px) {
  .box-with-tabs ul.nav-tabs,
  .boxtainer-outlined-tabs ul.nav-tabs {
    border-bottom: solid 3px #D1EBA7;
    margin-top: -5px;
  }
  .box-with-tabs ul.nav-tabs li,
  .boxtainer-outlined-tabs ul.nav-tabs li {
    border-bottom: 3px solid transparent;
    top: 5px;
  }
  .box-with-tabs ul.nav-tabs li a,
  .boxtainer-outlined-tabs ul.nav-tabs li a {
    border: 3px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
  }
  .box-with-tabs ul.nav-tabs li a:hover,
  .boxtainer-outlined-tabs ul.nav-tabs li a:hover {
    background-color: #D1EBA7;
  }
  .box-with-tabs ul.nav-tabs li.active a,
  .boxtainer-outlined-tabs ul.nav-tabs li.active a {
    border: 3px solid #D1EBA7;
    border-bottom: none;
  }
}
.box-with-tabs .boxtainer-content,
.boxtainer-outlined-tabs .boxtainer-content {
  padding: 0;
  position: relative;
  z-index: 2;
}
.box-with-tabs .boxtainer-content .search-section,
.boxtainer-outlined-tabs .boxtainer-content .search-section {
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .box-with-tabs .boxtainer-content .search-section,
  .boxtainer-outlined-tabs .boxtainer-content .search-section {
    padding-top: 20px;
  }
}
#question-main .box-with-tabs ul.nav-tabs,
#question-main .boxtainer-outlined-tabs ul.nav-tabs {
  border-bottom-color: #d0e689;
}
#question-main .box-with-tabs ul.nav-tabs li a:hover,
#question-main .boxtainer-outlined-tabs ul.nav-tabs li a:hover,
#question-main .box-with-tabs ul.nav-tabs li a:focus,
#question-main .boxtainer-outlined-tabs ul.nav-tabs li a:focus {
  background-color: #d0e689;
  color: #203256;
}
#question-main .box-with-tabs ul.nav-tabs li.active a,
#question-main .boxtainer-outlined-tabs ul.nav-tabs li.active a {
  border-color: #d0e689;
}
#set-main .box-with-tabs ul.nav-tabs,
#set-main .boxtainer-outlined-tabs ul.nav-tabs {
  border-bottom-color: #ffe766;
}
#set-main .box-with-tabs ul.nav-tabs li a:hover,
#set-main .boxtainer-outlined-tabs ul.nav-tabs li a:hover,
#set-main .box-with-tabs ul.nav-tabs li a:focus,
#set-main .boxtainer-outlined-tabs ul.nav-tabs li a:focus {
  background-color: #ffe766;
  color: #203256;
}
#set-main .box-with-tabs ul.nav-tabs li.active a,
#set-main .boxtainer-outlined-tabs ul.nav-tabs li.active a {
  border-color: #ffe766;
}
#category-main .box-with-tabs ul.nav-tabs,
#category-main .boxtainer-outlined-tabs ul.nav-tabs {
  border-bottom-color: #6dc0d9;
}
#category-main .box-with-tabs ul.nav-tabs li a:hover,
#category-main .boxtainer-outlined-tabs ul.nav-tabs li a:hover,
#category-main .box-with-tabs ul.nav-tabs li a:focus,
#category-main .boxtainer-outlined-tabs ul.nav-tabs li a:focus {
  background-color: #6dc0d9;
  color: #203256;
}
#category-main .box-with-tabs ul.nav-tabs li.active a,
#category-main .boxtainer-outlined-tabs ul.nav-tabs li.active a {
  border-color: #6dc0d9;
}
#user-main .box-with-tabs ul.nav-tabs,
#user-main .boxtainer-outlined-tabs ul.nav-tabs {
  border-bottom-color: #6a95da;
}
#user-main .box-with-tabs ul.nav-tabs li a:hover,
#user-main .boxtainer-outlined-tabs ul.nav-tabs li a:hover,
#user-main .box-with-tabs ul.nav-tabs li a:focus,
#user-main .boxtainer-outlined-tabs ul.nav-tabs li a:focus {
  background-color: #6a95da;
  color: white;
}
#user-main .box-with-tabs ul.nav-tabs li.active a,
#user-main .boxtainer-outlined-tabs ul.nav-tabs li.active a {
  border-color: #6a95da;
}
.box div.pagination {
  margin-top: 15px;
  margin-bottom: 0px;
}
.box div.pagination ul {
  background-color: white;
}
.box-with-tabs .box {
  padding-top: 20px;
}
.box div.form-actions {
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
}
.well,
.thumbnail,
.panel,
.Card,
.Box {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
  background-color: white;
}
/*ROWS
---------------------------------------------------------*/
.rowBase:after {
  clear: both;
}
.rowBase {
  *zoom: 1;
}
.rowBase:before,
.rowBase:after {
  display: table;
  content: "";
}
.rowBase,
.category-row {
  background-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
}
.jqstooltip {
  height: 36px;
  width: 100px;
}
/*VENDOR ADAPTATIONS
---------------------------------------------------------*/
/*Font-awesome icons*/
i:hover {
  text-decoration: none;
}
.TextLinkWithIcon .fa-check-square-o,
.TextLinkWithIcon .fa-square-o {
  margin-top: 1px;
}
/*UI*/
ul.ui-autocomplete {
  z-index: 3;
}
/* VARIOUS
----------------------------------------------------------*/
.cursor-hand {
  cursor: pointer;
}
/*Tooltips*/
.tooltip-inner {
  max-width: 400px;
}
.tooltip-text-left + .tooltip > .tooltip-inner {
  text-align: left;
  background-color: ghostwhite;
  color: black;
  border: 1px solid black;
  box-shadow: white 0px 0px 0px 4px;
}
.tooltip-date + .tooltip > .tooltip-inner {
  min-width: 300px;
}
.tooltip-min-200 + .tooltip > .tooltip-inner {
  min-width: 200px;
}
ul.show-tooltip-ul {
  text-align: left;
  padding-left: 15px;
}
/*Icons*/
.LinkToTop {
  text-align: right;
  margin: 20px 0;
  color: #1964c8;
  opacity: 0.3;
  clear: both;
}
.LinkToTop i {
  font-size: 50px;
  margin-bottom: -10px;
}
.LinkToTop p {
  font-size: 12px !important;
  margin-top: -10px !important;
  margin-right: 9px !important;
  letter-spacing: .1em !important;
  max-width: 100% !important;
  line-height: 17px !important;
}
/*Dropdowns*/
ul.AlignDdRight {
  left: auto;
  right: 0;
}
/**/
.navLinks {
  margin-bottom: 20px;
}
.navLinks > a,
.navLinks > div {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .navLinks {
    float: right;
  }
  .navLinks > a,
  .navLinks > div {
    display: block;
    margin-right: 0;
  }
}
/*Google Chart Custom Layout*/
div.google-visualization-tooltip {
  pointer-events: none;
  height: auto !important;
  width: auto !important;
  padding: 5px;
}
ul.google-visualization-tooltip-item-list {
  margin: 0;
}
li.google-visualization-tooltip-item {
  margin: 0 !important;
  padding: 0px;
}
li.google-visualization-tooltip-item span {
  font-size: 12px !important;
}
/*Team Pictures*/
.TeamPic {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 479px) {
  .TeamPic {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.TeamPic img {
  border-radius: 5px;
  border-radius: 50%;
}
/* $ToDo: Clean up
----------------------------------------------------------*/
.dark-blue {
  color: #003264;
}
/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 30px;
}
h5 {
  font-size: 15px;
}
span.smaller {
  font-size: 90%;
}
a.noTextdecoration {
  text-decoration: none;
}
a.noTextdecoration:hover {
  text-decoration: none;
}
@media screen and (min-width: 767px) {
  .text-align-right-md {
    text-align: right;
  }
}
.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtubeContainer .youtubeOverlay {
  z-index: 22;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.90;
  text-align: center;
  vertical-align: middle;
  padding-top: 16%;
}
.youtubeContainer iframe.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}