@import (reference) '/includes/imports.less';

#CategoryHeader {
    font-size: 18px;

    #TabsBar {
        height: 45px;
        border-top: solid 1px @border-grey;
        border-bottom: solid 1px @border-grey;
        display: flex;

        .Border {
            width: 1px;
            background-color: @border-grey;
            margin-top: 7px;
            margin-bottom: 7px;
        }
    }

    .Tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .Tab {
            position: relative;
            top: 3px;
            border-bottom: solid 6px transparent;
            text-align: center;
            flex-grow: 1;

            a {
                display: block;
                height: 100%;
                line-height: 38px;
                padding-left: 20px;
                padding-right: 20px;

                .media-sm( {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                );

                .media-below-xs( {
                    padding-left: 0;
                    padding-right: 0;
                }

                );
                .greyed;

                &:hover, &:focus {
                    text-decoration: none;
                    color: @memo-blue;
                }
            }

            &.active {

                a {
                    color: @memo-blue;
                    font-weight: bold;
                    cursor: default;

                    &:active, &:focus {
                        outline: none;
                    }
                }

                border-bottom-color: @memo-blue;
            }
        }
    }

    #LearningTabWithOptions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;

        #SessionConfigReminderHeader {
            top: -63px;
            left: 149px;
            position: absolute;
            display: flex;

            @media(max-width: 1200px) {
                left: 168px;
            }

            .session-config-reminder-header {
                border-radius: 0%;
                webkit-border-radius: 0;
                width: 122px;
                max-width: 122px;
            }

            .fa-times-circle {
                margin-top: 8px;
                margin-left: -8px;
                cursor: pointer;
            }

            @media only screen and (max-width: 992px) {
                margin-left: -8px;
            }

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

        #LearnOptionsHeader {
            padding-right: 10px;

            @media only screen and (max-width: 768px) {
                padding-right: 0px;
            }
        }


        .disable::before {
            color: #999999;
        }

        #LearningTab {
            width: auto;

            a {
                padding-right: 5px;
            }
        }
    }

    #ManagementMobile {
        display: none;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .media-below-sm( {

        #ManagementMobile {
            display: flex;
        }

        #Management {
            display: none;
        }

        .Tabs {
            width: 100%;
            padding-right: 0;
            justify-content: space-between;
        }

        .Tab {
            width: 30%;
            text-align: center;
        }
    }

    );

    .media-below-sm( {
        margin-bottom: 30px;

        .BreadcrumbsMobile {
            padding-bottom: 0;
        }

        #ManagementMobile {
            margin-bottom: 10px;
        }

        #HeadingSection {
            margin-bottom: 30px;
        }
    }

    );
}

#CategoryTabsApp{
    width: 42%;
}
#Management {
    width: 58%;

    .PinContainer {
        display:flex;
        justify-content: center;
    }

    .DropdownButton {
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

#MyWorldToggleApp {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;

    .toggle-label {
        font-size: 12px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .toggle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-right: 8px;

        .toggle {
            position: relative;
            display: block;
            width: 40px;
            height: 20px;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transform: translate3d(0, 0, 0);
            margin: 5px 0 0 0;

            &:before {
                content: "";
                position: relative;
                top: 1px;
                left: 1px;
                width: 34px;
                height: 14px;
                display: block;
                background: #c8ccd4;
                border-radius: 12px;
                transition: background 0.5s ease;
            }

            span {
                position: absolute;
                top: -2px;
                left: 0;
                width: 20px;
                height: 20px;
                display: block;
                background: #fff;
                border-radius: 50%;
                box-shadow: 0 2px 6px rgba(154,153,153,0.75);
                transition: all 0.5s ease;
            }
        }

        #mwcbx:checked + .toggle:before {
            background: #fdc1c8fa;
        }

        #mwcbx:checked + .toggle span {
            transform: translateX(18px);
            background: #FF001F;
        }
    }
}



