@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#CategoryHeader {
  font-size: 18px;
}
#CategoryHeader #TabsBar {
  height: 45px;
  border-top: solid 1px #d6d6d6;
  border-bottom: solid 1px #d6d6d6;
  display: flex;
}
#CategoryHeader #TabsBar .Border {
  width: 1px;
  background-color: #d6d6d6;
  margin-top: 7px;
  margin-bottom: 7px;
  min-width: 1px;
}
#CategoryHeader .Tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#CategoryHeader .Tabs .Tab {
  position: relative;
  top: 3px;
  border-bottom: solid 6px transparent;
  text-align: center;
  flex-grow: 1;
}
#CategoryHeader .Tabs .Tab a {
  display: block;
  height: 100%;
  line-height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  color: #999999;
}
@media (min-width: 768px) and (max-width: 991px) {
  #CategoryHeader .Tabs .Tab a {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 479px) {
  #CategoryHeader .Tabs .Tab a {
    padding-left: 0;
    padding-right: 0;
  }
}
#CategoryHeader .Tabs .Tab a:hover,
#CategoryHeader .Tabs .Tab a:focus {
  text-decoration: none;
  color: #003264;
}
#CategoryHeader .Tabs .Tab.active {
  border-bottom-color: #003264;
  top: 0px;
  padding-top: 6px;
}
#CategoryHeader .Tabs .Tab.active a {
  color: #003264;
  font-weight: bold;
  cursor: default;
}
#CategoryHeader .Tabs .Tab.active a:active,
#CategoryHeader .Tabs .Tab.active a:focus {
  outline: none;
}
#CategoryHeader #LearningTabWithOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
#CategoryHeader #LearningTabWithOptions #SessionConfigReminderHeader {
  top: -63px;
  position: absolute;
  display: flex;
  margin-left: -2px;
}
#CategoryHeader #LearningTabWithOptions #SessionConfigReminderHeader .session-config-reminder-header {
  border-radius: 0%;
  webkit-border-radius: 0;
  width: 122px;
  max-width: 122px;
}
#CategoryHeader #LearningTabWithOptions #SessionConfigReminderHeader .fa-times-circle {
  margin-top: 8px;
  margin-left: -8px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  #CategoryHeader #LearningTabWithOptions #SessionConfigReminderHeader {
    margin-left: -8px;
  }
}
@media only screen and (max-width: 768px) {
  #CategoryHeader #LearningTabWithOptions #SessionConfigReminderHeader {
    display: none;
  }
}
#CategoryHeader #LearningTabWithOptions .disable::before {
  color: #999999;
}
#CategoryHeader #LearningTabWithOptions #LearningTab {
  width: auto;
  display: inline-flex;
  justify-content: center;
}
#CategoryHeader #LearningTabWithOptions #LearningTab a {
  padding-right: 5px;
}
#CategoryHeader #ManagementMobile {
  display: none;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #CategoryHeader #ManagementMobile {
    display: flex;
  }
  #CategoryHeader #Management {
    display: none;
  }
  #CategoryHeader .Tabs {
    width: 100%;
    padding-right: 0;
    justify-content: space-between;
  }
  #CategoryHeader .Tab {
    width: 30%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #CategoryHeader {
    margin-bottom: 30px;
  }
  #CategoryHeader .BreadcrumbsMobile {
    padding-bottom: 0;
  }
  #CategoryHeader #ManagementMobile {
    margin-bottom: 10px;
  }
  #CategoryHeader #HeadingSection {
    margin-bottom: 30px;
  }
}
#CategoryTabsApp {
  flex-grow: 1;
}
#Management .KnowledgeBarWrapper {
  min-width: 160px;
  padding: 0 15px;
}
#Management .PinContainer {
  display: flex;
  justify-content: center;
  width: 90px;
}
#Management .PinContainer .Pin {
  padding: 0 15px;
}
#Management .DropdownButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#MyWorldToggleApp {
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  transition: background 0.3s ease-in;
  padding: 0 13px 0 15px;
  min-width: 170px !important;
  width: 100%;
  max-width: 170px;
}
#MyWorldToggleApp.active {
  background-color: rgba(255, 160, 122, 0.2);
}
#MyWorldToggleApp .toggle-label {
  font-size: 12px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 8px 0 0;
  min-width: 100px !important;
  color: #555555;
}
#MyWorldToggleApp .toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#MyWorldToggleApp .toggle-container .toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  margin: 5px 0 0 0;
}
#MyWorldToggleApp .toggle-container .toggle:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 34px;
  height: 14px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  transition: background 0.5s ease;
}
#MyWorldToggleApp .toggle-container .toggle span {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  transition: all 0.5s ease;
}
#MyWorldToggleApp .toggle-container #mwcbx:checked + .toggle:before {
  background: #fdc1c8fa;
}
#MyWorldToggleApp .toggle-container #mwcbx:checked + .toggle span {
  transform: translateX(18px);
  background: #FF001F;
}
#LearnOptionsHeaderContainer {
  line-height: 38px;
}
.active #LearnOptionsHeaderContainer {
  line-height: 38px;
  cursor: pointer;
}
#TopicTab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
#TopicTab .center-tab {
  width: auto;
  display: inline-flex;
  justify-content: center;
}