@import (reference) '/includes/imports.less';

#CategoryHeader {
    font-size: 18px;

    #TabsBar {
        height: 45px;
        border-top: solid 1px @border-grey;
        border-bottom: solid 1px @border-grey;
        display: flex;

        .Border {
            width: 1px;
            background-color: @border-grey;
            margin-top: 7px;
            margin-bottom: 7px;
            min-width: 1px;
        }
    }

    .Tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .Tab {
            position: relative;
            top: 3px;
            border-bottom: solid 5px transparent;
            text-align: center;
            flex-grow: 1;
            color: @memo-grey-darker;
            line-height: 18px !important;


            a {
                display: block;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;


                @media (min-width: 389px) {
                    margin: auto 0;
                }

                @media (max-width: 991px) {
                    font-size: 14px;
                }

                .media-sm( {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                );

                .media-below-xs( {
                    padding-left: 0;
                    padding-right: 0;
                }

                );
                .greyed;

                &:hover, &:focus {
                    text-decoration: none;
                    color: @memo-blue;
                }
            }

            b {
                font-weight: 700;
            }

            &.active {

                a {
                    color: @memo-blue;
                    font-weight: bold;
                    cursor: default;

                    &:active, &:focus {
                        outline: none;
                    }
                }

                border-bottom-color: @memo-blue;
                top: 3px;
                padding-top: 2px;
                margin-bottom: 2px;

                #LearnOptionsHeader {
                    color: @memo-grey-dark;
                    transition: all .1s ease-in-out;

                    &:hover {
                        color: @memo-blue;
                        transition: all .1s ease-in-out;
                    }
                }
            }
        }
    }

    #LearningTabWithOptions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;

        .disable::before {
            color: @memo-grey-light;
        }

        #LearningTab {
            width: auto;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            a {
                padding-right: 5px;
            }
        }
    }

    #ManagementMobile {
        display: none;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .media-below-sm( {

        #ManagementMobile {
            display: flex;
        }

        #Management {
            display: none;
        }

        .Tabs {
            width: 100%;
            padding-right: 0;
            justify-content: space-between;
        }

        .Tab {
            width: 30%;
            text-align: center;
        }
    }

    );

    .media-below-sm( {
        margin-bottom: 30px;

        .BreadcrumbsMobile {
            padding-bottom: 0;
        }

        #ManagementMobile {
            margin-bottom: 10px;
        }

        #HeadingSection {
            margin-bottom: 30px;
        }
    }

    );
}

#CategoryTabsApp {
    flex-grow: 1;
}

#Management {
    .KnowledgeBarWrapper {
        min-width: 160px;
        padding: 0 15px;
    }

    .PinContainer {
        display: flex;
        justify-content: center;
        width: 90px;

        .Pin {
            padding: 0 15px;
        }

        @media (max-width: 767px) {
            width: 57px;
        }
    }

    .DropdownButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#TopicTab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

    .center-tab {
        width: auto;
        display: inline-flex;
        justify-content: center;
    }
}
