//#MasterHeader h1 {display: none;}




@apollo-gruen: #9C3; 

.test {color: lighten(@apollo-gruen,10)}

.test {color: lighten(#eee, 5)}

/*
.labelLeft {
    .make-xs-column(2; @gutter: @grid-gutter-width);
}

.test {.make-sm-column(2; @gutter: @grid-gutter-width);
}
*/


.test-col1 {
    .make-sm-column(5);
    .make-lg-column(3);
}

.test-col2 {
    .make-sm-column(1);
    .make-lg-column(4);
}

.test-col3 {
    .make-sm-column(1);
    .make-lg-column(5);
}



@import (reference) 'includes/colors.less';
@import (reference) 'includes/shared.less';
@import (reference) 'includes/variables.less';
@import (reference) 'bootstrap/bootstrap.less';
@import (reference) 'z_mixins_2.3.2.less';
@import (reference) 'z_buttons_2.3.2.less';
/*
    Next:
        MasterHeader: integrate mobile button
        MasterHeader: LoginHelp XXS: button like menubutton
        Mobile menu: js - refine
        Mobile menu: wider mobile widths (sm - md)
        MenuButton: hide on pages with no menu
        Refactor: Variable for menu breakpoint
        
        Mobile menu: other contents of left column
        apply class .SimpleTextLinks in necessary cases
        
        
    ToDo:
        
        go on with question row (adjust, refactor css, make mobile first)
        

    */




//Gradient bunt

@color1: @memo-blue;
@color2: @color-question;
@color3: @color-set;
@color4: @color-knowledge;
@color5: @color-category;
@color6: @color-play;
@color7: @memo-blue;
@color8: @color-question;
@color9: @color-set;
@color10: @color-knowledge;





.GradientBunt {

//horizontal

background: @color1; /* Old browsers */
background: -moz-linear-gradient(left,  @color1 1%, @color1 10%, @color2 10%, @color2 20%, @color3 20%, @color3 30%, @color4 30%, @color4 40%, @color5 40%, @color5 50%, @color6 50%, @color6 60%, #000007 60%, #000007 70%, @color8 70%, @color8 80%, @color9 80%, @color9 90%, @color10 90%, @color10 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,@color1), color-stop(10%,@color1), color-stop(10%,@color2), color-stop(20%,@color2), color-stop(20%,@color3), color-stop(30%,@color3), color-stop(30%,@color4), color-stop(40%,@color4), color-stop(40%,@color5), color-stop(50%,@color5), color-stop(50%,@color6), color-stop(60%,@color6), color-stop(60%,#000007), color-stop(70%,#000007), color-stop(70%,@color8), color-stop(80%,@color8), color-stop(80%,@color9), color-stop(90%,@color9), color-stop(90%,@color10), color-stop(100%,@color10)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  @color1 1%,@color1 10%,@color2 10%,@color2 20%,@color3 20%,@color3 30%,@color4 30%,@color4 40%,@color5 40%,@color5 50%,@color6 50%,@color6 60%,#000007 60%,#000007 70%,@color8 70%,@color8 80%,@color9 80%,@color9 90%,@color10 90%,@color10 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  @color1 1%,@color1 10%,@color2 10%,@color2 20%,@color3 20%,@color3 30%,@color4 30%,@color4 40%,@color5 40%,@color5 50%,@color6 50%,@color6 60%,#000007 60%,#000007 70%,@color8 70%,@color8 80%,@color9 80%,@color9 90%,@color10 90%,@color10 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  @color1 1%,@color1 10%,@color2 10%,@color2 20%,@color3 20%,@color3 30%,@color4 30%,@color4 40%,@color5 40%,@color5 50%,@color6 50%,@color6 60%,#000007 60%,#000007 70%,@color8 70%,@color8 80%,@color9 80%,@color9 90%,@color10 90%,@color10 100%); /* IE10+ */
background: linear-gradient(to right,  @color1 1%,@color1 10%,@color2 10%,@color2 20%,@color3 20%,@color3 30%,@color4 30%,@color4 40%,@color5 40%,@color5 50%,@color6 50%,@color6 60%,#000007 60%,#000007 70%,@color8 70%,@color8 80%,@color9 80%,@color9 90%,@color10 90%,@color10 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color10',GradientType=1 ); /* IE6-9 */

//vertical

background: #2e487b; /* Old browsers */
background: -moz-linear-gradient(top,  #2e487b 1%, #2e487b 10%, #afd534 10%, #afd534 20%, #ffd700 20%, #ffd700 30%, #b13a48 30%, #b13a48 40%, #99ccff 40%, #99ccff 50%, #3e7700 50%, #3e7700 60%, #000007 60%, #000007 70%, #afd534 70%, #afd534 80%, #ffd700 80%, #ffd700 90%, #b13a48 90%, #b13a48 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2e487b), color-stop(10%,#2e487b), color-stop(10%,#afd534), color-stop(20%,#afd534), color-stop(20%,#ffd700), color-stop(30%,#ffd700), color-stop(30%,#b13a48), color-stop(40%,#b13a48), color-stop(40%,#99ccff), color-stop(50%,#99ccff), color-stop(50%,#3e7700), color-stop(60%,#3e7700), color-stop(60%,#000007), color-stop(70%,#000007), color-stop(70%,#afd534), color-stop(80%,#afd534), color-stop(80%,#ffd700), color-stop(90%,#ffd700), color-stop(90%,#b13a48), color-stop(100%,#b13a48)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2e487b 1%,#2e487b 10%,#afd534 10%,#afd534 20%,#ffd700 20%,#ffd700 30%,#b13a48 30%,#b13a48 40%,#99ccff 40%,#99ccff 50%,#3e7700 50%,#3e7700 60%,#000007 60%,#000007 70%,#afd534 70%,#afd534 80%,#ffd700 80%,#ffd700 90%,#b13a48 90%,#b13a48 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2e487b 1%,#2e487b 10%,#afd534 10%,#afd534 20%,#ffd700 20%,#ffd700 30%,#b13a48 30%,#b13a48 40%,#99ccff 40%,#99ccff 50%,#3e7700 50%,#3e7700 60%,#000007 60%,#000007 70%,#afd534 70%,#afd534 80%,#ffd700 80%,#ffd700 90%,#b13a48 90%,#b13a48 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2e487b 1%,#2e487b 10%,#afd534 10%,#afd534 20%,#ffd700 20%,#ffd700 30%,#b13a48 30%,#b13a48 40%,#99ccff 40%,#99ccff 50%,#3e7700 50%,#3e7700 60%,#000007 60%,#000007 70%,#afd534 70%,#afd534 80%,#ffd700 80%,#ffd700 90%,#b13a48 90%,#b13a48 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2e487b 1%,#2e487b 10%,#afd534 10%,#afd534 20%,#ffd700 20%,#ffd700 30%,#b13a48 30%,#b13a48 40%,#99ccff 40%,#99ccff 50%,#3e7700 50%,#3e7700 60%,#000007 60%,#000007 70%,#afd534 70%,#afd534 80%,#ffd700 80%,#ffd700 90%,#b13a48 90%,#b13a48 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e487b', endColorstr='#b13a48',GradientType=0 ); /* IE6-9 */


@media disabled {
background: @color1; /* Old browsers */
background: -moz-linear-gradient(left,  @color1 1%, @color1 10%, @color2 10%, @color2 20%, #7db9e8 20%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,@color1), color-stop(10%,@color1), color-stop(10%, @color2), color-stop(20%, @color2), color-stop(20%,#7db9e8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  @color1 1%,@color1 10%, @color2 10%, @color2 20%,#7db9e8 20%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  @color1 1%,@color1 10%, @color2 10%, @color2 20%,#7db9e8 20%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  @color1 1%,@color1 10%, @color2 10%, @color2 20%,#7db9e8 20%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to right,  @color1 1%,@color1 10%, @color2 10%, @color2 20%,#7db9e8 20%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

    
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, @memo-blue 0%, @memo-blue 20%, @memo-green 20%, @memo-green, #207cca 40%, #207cca 40%, #7db9e8 40%, #7db9e8 40%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@memo-blue), color-stop(20%,@memo-blue), color-stop(20%,@memo-green), color-stop(20%,@memo-green), color-stop(40%,#207cca), color-stop(40%,#207cca), color-stop(40%,#7db9e8), color-stop(40%,#7db9e8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @memo-blue 0%,@memo-blue 20%,@memo-green 20%,@memo-green 20%,#207cca 40%,#207cca 40%,#7db9e8 40%,#7db9e8 40%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#1e5799 20%,#207cca 20%,#207cca 20%,#207cca 40%,#207cca 40%,#7db9e8 40%,#7db9e8 40%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#1e5799 20%,#207cca 20%,#207cca 20%,#207cca 40%,#207cca 40%,#7db9e8 40%,#7db9e8 40%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, @memo-blue 0%,@memo-blue 20%,@memo-green 20%,@memo-green 20%,@memo-green 40%,#207cca 40%,#7db9e8 40%,#7db9e8 40%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
}

//Gradient bunt end




@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .tempclass {
        float: left;
    }
}
@media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {

.row .row .column-Additional {
        padding-left: 16.66666667%;
        //padding-right: 20px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: (@screen-xs-min - 1px)) {
    .column-Image {position: absolute;}
    .row .row .column-MainContent {
        width: 100%;
        padding-left: 76.15625px;
    }

    .row .row .column-Additional {
        padding-left: 76.15625px;
        
    }
    

    .QuestionText {clear: left;}

    div.ShortStats {
        float: left;
    }

    .column-Additional {
    }
    
}

@media only screen and (max-width: @screen-sm-min) {
        .column-Additional{
    width: 100%;
    }
}

.column-Image {min-width: @column-Image-below-xs-width;}




@media current working session {
    
}



@media aufraeumen {

.box.box-menu {
    border: none;
    border: 1px solid @light-blue;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;

    .menu {
       a {
         padding-left: 10px;
       }
           
       .sub {
            a {
                padding-left: 15px;
                font-style: italic;
            }
       }
    }
}

.tempfragen a {color: @memo-green;}  
.tempkategorien a {color: @dark-blue;}
.tempfragesaetze a {color: @color-set;}

.menu a.active {
    text-transform: uppercase;
}

}


i:hover {text-decoration: none;}


//label

.label {
    border: 2px solid;
    border-radius: 4px;
    color: @dark-blue;
    display: inline-block;
}

.label-set {
    background-color: @pastel-yellow;
    border-color: @middle-yellow;
}

.label-category {
    background-color: @light-blue;
    border-color: @middle-blue;
}


//Snippets

@media draft overview pages with tabs with light coloured background  {

//For questions
.boxtainer-content {background-color: lighten(@color-question,42);}

li.active a {background-color: lighten(@color-question,42) !important;}


//For sets
.boxtainer-content {background-color: lighten(@color-set,48);}

li.active a {background-color: lighten(@color-set,48) !important;}

}

@media draft menu-left with outline {
    
    //To test: insert in menu at top and bottom:
    //<div class="list-group-item know testy"></div>

    @testcolor: darken(#EBEFF7, 10);
    @testcolor: @memo-blue;

    #mainMenu .testy {
        &:first-child {
            border-top-width: 4px;
            border-top-style: solid;
            border-top-color: @testcolor;
            border-left-color: @testcolor;
            border-top-left-radius: 4px;
            padding-bottom: 2px;
            padding-top: 0;
            //border-right-width: 4px;
            //border-right-style: solid;
            //border-right-color: @color-knowledge;
        }

        &:last-child {
            border-bottom-width: 4px;
            border-bottom-style: solid;
            border-bottom-color: @testcolor;
            border-left-color: @testcolor;
            border-bottom-left-radius: 4px;
            padding-bottom: 2px;
            padding-top: 0;
        }
    }

    #mainMenu .list-group {
        border-right-width: 4px;
        border-right-style: solid;
        border-right-color: @testcolor;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

    }
}

@media temp-disabled gradient grey {

#MasterSection {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    //created with www.colorzilla.com/gradient-editor/
}

}

@media cooler Eindrueckungseffekt fuer Text { 
    .insetText {
        font-family: Lucida Grande;
        background-color: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.3) 0px 3px 3px;
    }
}


