#clearfix {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
@media temp-disabled gradient #808080 {
  .mainSection {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #efefef 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#efefef', GradientType=0);
    /* IE6-9 */
  
  }
}
