@import 'includes/colors.less';
@import 'includes/shared.less';


@media temp-disabled gradient grey {

.mainSection {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(@background-grey-r, @background-grey-g, @background-grey-b,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    //created with www.colorzilla.com/gradient-editor/
}

}

@media temp-disabled {

.box.box-menu {
    border: none;
    border: 1px solid @light-blue;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;

    .menu {

       a {
         padding-left: 10px;

       }

       .sub {



            a {
                padding-left: 15px;
                font-style: italic;
            }

       }
    }
}



.tempfragen a {color: @memo-green;}  
.tempkategorien a {color: @dark-blue;}
.tempfragesaetze a {color: @set-color;}

.menu a.active {
    text-transform: uppercase;
}

}


//Header section

//Gradient Header

#MasterHeader {

    background: rgb(46,72,123); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,72,123,1) 0%, rgba(45,85,153,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,72,123,1)), color-stop(100%,rgba(45,85,153,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(45,85,153,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(45,85,153,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(45,85,153,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(46,72,123,1) 0%,rgba(45,85,153,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e487b', endColorstr='#2d5599',GradientType=0 ); /* IE6-9 */

    background: rgb(46,72,123); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,72,123,1) 0%, rgba(44,95,178,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,72,123,1)), color-stop(100%,rgba(44,95,178,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(44,95,178,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(44,95,178,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,72,123,1) 0%,rgba(44,95,178,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(46,72,123,1) 0%,rgba(44,95,178,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e487b', endColorstr='#2c5fb2',GradientType=0 ); /* IE6-9 */
 
    h1 {
        -webkit-text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
        text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
    }

    #loginAndHelp {
        box-shadow: @dark-blue 1px 1px 1px 0px inset;
    }

    #logo {
        box-shadow: rgba(100, 129, 175, 0.5) 1px 1px 2px;
        
    }
}


//cooler Eindrückungseffekt für Text

.insetText {
font-family: Lucida Grande;
background-color: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
text-shadow: rgba(255,255,255,0.3) 0px 3px 3px;
}


//



//label

.label {
    border: 2px solid;
    border-radius: 4px;
    color: @dark-blue;
    display: inline-block;
}

.label-set {
    background-color: @pastel-yellow;
    border-color: @middle-yellow;
}

.label-category {
    background-color: @light-blue;
    border-color: @middle-blue;
}

//

