@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
.hide2 {
  display: none;
}
.list-group-item .hide2 {
  display: none;
}
@media (max-width: 479px) {
  .xxs-stack {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}