.user-row:hover {
    background-color: #f3f5f8;
}

.user-row.loggedInUser {
    background-color: #ecffc5;
}

.user-row.loggedInUser:hover {
    background-color: #daff8e;
}

div.column-1 {
    width: 135px;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

div.column-1 img {
    border-radius: 5px;
}

div.column-2 {
    width: 557px;
    padding-right: 10px;
    float: left;
    padding-top: 5px;
}

div.column-3 {
    width: 125px;
    float: left;
    padding-top: 5px;
}
