@import (reference) '../../Style/includes/imports.less';

.no-white-background;

.media-below-sm( {

    #MasterMainWrapper {
        padding-top: 20px;
    }
});


.user-row:hover{ background-color: #f3f5f8; }

.user-row.loggedInUser { background-color: rgb(236, 255, 197);}
.user-row.loggedInUser:hover { background-color: rgb(218, 255, 142);}

#MainFilterBarBackground {

    .btn {
        //.gradientBar232 (desaturate(@color-user, 10), desaturate(@color-user-medium, 10));
    }
}

#MainFilterBar { 

    .btn-group  {

        .btn {
            //.buttonBackground (@color-user-medium; lighten(@color-user-medium, 10); white);
        }
    }

    .btn-group.active { 
        
        .btn {//, .btn:hover
            //.buttonBackground (@color-user; @color-user-medium; white);
        }
    }

    .btn-group .btn:hover{
        background-color: @color-user !important;
        background-image: none !important;
    } 
}

@media (min-width: @screen-lg-min) {

    .box-content{
        width: 102%;
    }

    .user-row{
        margin-right: 2%;
        margin-left: 0px;
        width: 48%;
    }
}