@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*#MasterMainWrapper {
        background-color: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        .media-sm-up( {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }

        );
    }

    .MainFilterBarWrapper {
        .media-below-sm({
            margin-bottom: 10px;
        });
    }*/
@media (max-width: 767px) {
  #MasterMainWrapper {
    padding-top: 20px;
  }
}
.user-row:hover {
  background-color: #f3f5f8;
}
.user-row.loggedInUser {
  background-color: #ecffc5;
}
.user-row.loggedInUser:hover {
  background-color: #daff8e;
}
#MainFilterBar .btn-group .btn:hover {
  background-color: #2C5FB2 !important;
  background-image: none !important;
}
@media (min-width: 1200px) {
  .box-content {
    width: 102%;
  }
  .user-row {
    margin-right: 2%;
    margin-left: 0px;
    width: 48%;
  }
}