@import (reference) '../../Style/includes/imports.less';

.no-white-background;

.game-row {
    padding: 10px;
}

.game-row:hover{ 
    background-color: #f3f5f8; 
}

.game-row:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 15px;
}

@media screen and (max-width: @screen-md){
    .margin-bottom-sm{ margin-bottom: 10px;}
    span.margin-bottom-sm{ float:left !important; }
    .progress{margin-bottom: 10px;}
}

@media screen and (max-width: @screen-sm){
    a.margin-bottom-sm{
        width: 100%;
    }    
}

div.players{
    a{ margin-right: 9px; }
}