@import (reference) '../../../Style/includes/imports.less';

.column{ width: 33%;float: left; padding-right: 4px;}

#MainFilterBarBackground {

    .btn {
        //.gradientBar232 (desaturate(@color-user, 10), desaturate(@color-user-medium, 10));
    }
}

#MainFilterBar { 

    .btn-group  {

        .btn {
            //.buttonBackground (@color-user-medium; lighten(@color-user-medium, 10); white);
        }
    }

    .btn-group.active { 
        
        .btn {//, .btn:hover
            //.buttonBackground (@color-user; @color-user-medium; white);
        }
    }

    .btn-group .btn:hover{
        background-color: @color-user !important;
        background-image: none !important;
    } 
}
