
@background-colour: #efefef;

.category-chip-container {
    padding: 4px 8px 4px 0;
    font-size: 13px;

    .category-chip {
        max-width: 100%;
        height: 32px;
        display: inline-block;
        border-radius: 16px;
        background: @background-colour;
        padding: 0 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        color: #555555;
        transition: background 0.8s;


        img {
            margin: -3px 0 0 -9px;
            border-radius: 50%;
            height: 26px
        }

        &:hover {
            background: darken(@background-colour, 5%);
        }
    }
}

.category-main-chip {
    .category-chip-container {
        font-size: 20px;

        .category-chip {
            max-width: 100%;
            height: 42px;
            display: inline-block;
            border-radius: 21px;
            background: @background-colour;
            padding: 0 21px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 42px;

            img {
                margin: -3px 0 0 -18px;
                border-radius: 50%;
                height: 36px
            }

            &:hover {
                background: darken(@background-colour, 5%);
            }
        }
    }
}

.related-categories {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.SessionTitle{
    .category-chip {
        max-width:300px;
    }
}