@import (reference) '../../Style/includes/imports.less';

@background-colour: @memo-grey-lighter;

.category-chip-container {
    padding: 4px 8px 4px 0;
    font-size: 13px;
    max-width: 100%;

    .category-chip {
        max-width: 100%;
        height: 32px;
        display: inline-flex;
        border-radius: 16px;
        background: @background-colour;
        padding: 0 12px;
        white-space: nowrap;
        line-height: 32px;
        color: @memo-grey-darker;
        transition: background 0.8s;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        img {
            margin-left: -8px;
            margin-right: 4px;
            border-radius: 50%;
            height: 26px
        }

        &:hover {
            background: darken(@background-colour, 5%);
        }

        .category-chip-label {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        i.fa-lock {
            margin-left: 4px;
        }
    }
}

.category-main-chip {
    max-width: 100%;

    .category-chip-container {
        font-size: 20px;
        max-width: 100%;

        .category-chip {
            max-width: 100%;
            height: 42px;
            display: inline-flex;
            border-radius: 21px;
            background: @background-colour;
            padding: 0 21px;
            white-space: nowrap;
            overflow: hidden;
            line-height: 42px;

            img {
                margin-left: -18px;
                margin-right: 4px;
                border-radius: 50%;
                height: 36px
            }

            &:hover {
                background: darken(@background-colour, 5%);
            }
        }
    }
}

.related-categories {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.SessionTitle{
    .category-chip {
        max-width:300px;
    }
}