@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.category-chip-container {
  padding: 4px 8px 4px 0;
  font-size: 13px;
  max-width: 100%;
}
.category-chip-container .category-chip {
  max-width: 100%;
  height: 32px;
  display: inline-flex;
  border-radius: 16px;
  background: #EFEFEF;
  padding: 0 12px;
  white-space: nowrap;
  line-height: 32px;
  color: #555555;
  transition: background 0.8s;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.category-chip-container .category-chip img {
  margin-left: -8px;
  margin-right: 4px;
  border-radius: 50%;
  height: 26px;
}
.category-chip-container .category-chip:hover {
  background: #e2e2e2;
}
.category-chip-container .category-chip .category-chip-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-chip-container .category-chip i.fa-lock {
  margin-left: 4px;
}
.category-main-chip {
  max-width: 100%;
}
.category-main-chip .category-chip-container {
  font-size: 20px;
  max-width: 100%;
}
.category-main-chip .category-chip-container .category-chip {
  max-width: 100%;
  height: 42px;
  display: inline-flex;
  border-radius: 21px;
  background: #EFEFEF;
  padding: 0 21px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 42px;
}
.category-main-chip .category-chip-container .category-chip img {
  margin-left: -18px;
  margin-right: 4px;
  border-radius: 50%;
  height: 36px;
}
.category-main-chip .category-chip-container .category-chip:hover {
  background: #e2e2e2;
}
.related-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.SessionTitle .category-chip {
  max-width: 300px;
}