@deleteRed: #990000;

#outerBoarder {
    border: 20px solid @deleteRed;
    transform: rotate(45deg);
    margin-bottom: 130px;

    #InnerBoarder {
        margin: 10px;
        border: 7px solid @deleteRed;
        h1 {
            font-size: 200px;
            color: @deleteRed;
        }
    }
}
