// Imports
@import (reference) '../../../Style/includes/imports.less';

//Variables

@font-size12: 12px;

// Mixins

.font-size12 {
    font-size: @font-size12;
}

.SetAndCategory {
    margin-right: 10px;
}


//Code

.question-details {
    color: #555555;
    font-size: 12px;
    .category-set {
        display: flex;

        .label-category {
            .SetAndCategory();
        }

        .label-set {
            .SetAndCategory();
        }

        #Category {
            .font-size12();
        }

        .fa-chevron-right {
            margin-top: 4px;
        }
    }
    .second-row{
        padding-left: 0px;
        display: flex;


        .media-below-lg({
            padding-left: 10px;
            padding-top: 10px;});
    }
    .seen{
    padding-right: 15px;
    margin-left: auto;
    }

    .learning-status {
        padding-right: 24px;
        margin-right: auto;
    }
}

.text-sponsor {
    text-align: center;
}

.model-categories {
    padding-top: 0.375em;
}
