@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  #AnswerQuestionPager {
    margin-bottom: 10px;
  }
}
#EditQuestion,
#DeleteQuestion {
  float: right;
}
@media (max-width: 479px) {
  #EditQuestion,
  #DeleteQuestion {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  #DeleteQuestion {
    float: left;
  }
}
#answerQuestionDetails .label {
  max-width: 100%;
}
#divAnsweredCorrect {
  margin-bottom: 15px;
}
#AnswerInputSection {
  margin-bottom: 15px;
}
#LicenseQuestion {
  margin-top: -18px;
  padding: 1px 20px 10px;
  font-size: small;
  text-align: right;
}