//Variables

@font-size12: 12px;

// Mixins

.font-size12 {
    font-size: @font-size12;
}

//Code

.flex-box {
    display: flex;
   

    .category-set {
        display: flex;
        
        #Category {
            .font-size12();
        }
    }

    .right {
        margin-left: auto;
        display: flex;

        .margin-left {
            margin-left: 0.7em;
        }
    }
}

.text-sponsor {
    text-align: center;
}

.model-categories {
    padding-top: 0.375em;
}
