
.float-right {
    float: right;


    .margin-left {
        margin-left: 0.7em;
    }
    .margin-right-50 {
        margin-right: 3.125em;
    }

    .margin-left-20 {
        margin-left: 2.25em;
    }

    .width-100 {
        width: 6.25em;
    }
}


.float-left {
    float: left;
}
    .margin-left-first {
        margin-left: 1.3em;
    }

    .margin-left {
        margin-left: 0.7em;
    }
