.float-right {
  float: right;
}
.float-right .margin-left {
  margin-left: 0.7em;
}
.float-right .margin-right-50 {
  margin-right: 3.125em;
}
.float-right .margin-left-20 {
  margin-left: 2.25em;
}
.float-right .width-100 {
  width: 6.25em;
}
.float-left {
  float: left;
}
.margin-left-first {
  margin-left: 1.3em;
}
.margin-left {
  margin-left: 0.625em;
}
#Category .font-size12 {
  font-size: 0.75em;
}