@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#ButtonsAndSolution {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#ButtonsAndSolution .Detail {
  margin-bottom: 10px;
}
#ButtonsAndSolution .Detail:before,
#ButtonsAndSolution .Detail:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#ButtonsAndSolution .Detail:after {
  clear: both;
}
#ButtonsAndSolution .Label {
  font-weight: bold;
  clear: left;
  padding-right: 5px;
}
#ButtonsAndSolution #Solution .Label {
  float: left;
}
#ButtonsAndSolution .ReferenceDetails + .ReferenceDetails {
  margin-top: 15px;
}
#ButtonsAndSolution #References .Label {
  margin-bottom: 5px;
}
#ButtonsAndSolution #References .Content {
  font-size: 90%;
}
#ButtonsAndSolution .Reference.DailyIssue .PublicationDate {
  display: none;
}
#ButtonsAndSolution .Reference div:not(.Name):not(.Icon) {
  display: inline;
}
#ButtonsAndSolution .Reference .Icon {
  float: left;
  margin-right: 5px;
}
#ButtonsAndSolution .Reference div:not(:last-child):not(.Name):not(.Author):not(.Icon):not(.NoSeperator):not(.tooltip):not(.tooltip-arrow):not(.tooltip-inner):after {
  content: ",\0000a0";
}
#ButtonsAndSolution .Reference div.Author:after {
  content: ".\0000a0";
}
#ButtonsAndSolution .Reference .Url,
#ButtonsAndSolution .Reference .WikiUrl {
  display: inline-block !important;
  max-width: 100%;
  overflow-x: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: bottom;
}