@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.font-size12 {
  font-size: 12px;
}
.SetAndCategory {
  margin-right: 10px;
}
.correctness-prohability {
  margin-left: 10px;
}
.question-details {
  color: #555555;
  font-size: 12px;
}
.question-details .show-tooltip {
  margin-right: 5px;
}
.question-details .category-set {
  display: flex;
}
.question-details .category-set .label-category {
  margin-right: 10px;
}
.question-details .category-set .label-set {
  margin-right: 10px;
}
.question-details .category-set #Category {
  font-size: 12px;
}
.question-details .category-set .fa-chevron-right {
  margin-top: 4px;
}
.question-details .second-row {
  padding-left: 0px;
  display: flex;
}
.question-details .second-row .fa-eye {
  padding-right: 3px;
}
.question-details .second-row .media-below-lg {
  padding-left: 10px;
  padding-top: 10px;
}
.question-details .second-row .questionDetailsStatistic {
  padding-left: 10px;
  padding-right: 10px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row {
  min-height: 24px;
  display: flex;
  line-height: 18px;
  padding: 4px 0;
}
.question-details .second-row .questionDetailsStatistic .question-details-row span,
.question-details .second-row .questionDetailsStatistic .question-details-row .question-details-label-double {
  padding-top: 2px;
  max-width: 300px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .question-details-label-double {
  padding-top: 4px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .question-details-label-double span {
  padding-top: 0;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container {
  min-width: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container .show-tooltip {
  margin: unset;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div {
  margin: auto;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span {
  top: 2px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAdded,
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAddedNot,
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAddSpinner {
  font-size: 18px;
  padding: 0;
  line-height: 18px;
  height: unset;
  border: 0;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAdded i,
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAddedNot i,
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container div span.Pin .iAddSpinner i {
  font-size: 18px;
  height: unset;
  line-height: unset;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container.pie-chart {
  font-size: 13px;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container i {
  padding: unset;
}
.question-details .second-row .questionDetailsStatistic .question-details-row .detail-icon-container i.fa-heart {
  color: #B13A48;
}
.question-details .seen {
  padding-right: 10px;
  margin-left: 25px;
}
.question-details .learning-status {
  margin-right: 25px;
}
.text-sponsor {
  text-align: center;
}
.model-categories {
  padding-top: 0.375em;
}
#ChipHeader,
#StatsHeader {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
@media (min-width: 1200px) {
  #StatsHeader {
    display: none;
  }
}
#QuestionDetailsApp .separationBorderTop {
  min-height: 20px;
}
#QuestionDetailsApp #questionDetailsContainer .sectionLabel {
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 767px) {
  #QuestionDetailsApp #questionDetailsContainer #questionStatistics #probabilityContainer #semiPieSection {
    display: flex;
  }
}
#QuestionDetailsApp #questionDetailsContainer #questionStatistics #probabilityContainer #semiPieSection #semiPieChart .semiPieSvgContainer {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  #QuestionDetailsApp #questionDetailsContainer #questionStatistics #probabilityContainer #semiPieSection #semiPieChart .semiPieSvgContainer {
    justify-content: normal;
  }
}
#QuestionDetailsApp #questionDetailsContainer #questionStatistics #probabilityContainer #semiPieSection #probabilityText {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  max-width: 300px;
}