@import (reference) '../../../Style/includes/imports.less';

#AnswerQuestionPager {
    .media-below-xs ({
        margin-bottom: 10px;
    });
}

#EditQuestion, #DeleteQuestion {

    float: right;

    .media-below-xs ({
        margin-bottom: 10px;
    });
}

#DeleteQuestion {
    .media-below-xs ({
        float:left;
    });
}

#answerQuestionDetails .label {
    max-width: 100%;
}

#divAnsweredCorrect {
    margin-bottom: 15px;
}

#AnswerInputSection {
    margin-bottom: 15px;
}