@import (reference) '../../../Style/includes/imports.less';

#ButtonsAndSolution {
    -ms-word-wrap: break-word;
    word-wrap: break-word;

    .Detail {
        #Clearfix;

        margin-bottom: 10px;
    }

    .Label {
        font-weight: bold;
        clear: left;
        padding-right: 5px;
    }

    #Solution .Label {
        float: left;
    }

    .ReferenceDetails + .ReferenceDetails {
        margin-top: 15px;
    }

    #References {

        .Label {
            margin-bottom: 5px;
        }

        .Content {
            font-size: 90%;
        }
    }

    .ReferenceAllInlineStyle;
}
