@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
@media (max-width: 991px) {
  #MasterMainContent {
    padding-top: 10px;
  }
}
.navLinks {
  float: right;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .navLinks {
    width: 100%;
    float: none;
  }
}
.navLinks > div {
  display: inline-block !important;
}
.AnswerQuestionHeader {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .AnswerQuestionHeader {
    display: flex;
    align-items: center;
  }
  .AnswerQuestionHeader .EduPartnerWrapper {
    float: right;
  }
}
.EduPartnerWrapper {
  font-size: 80%;
  font-weight: normal;
  order: 2;
}
.EduPartnerWrapper:before,
.EduPartnerWrapper:after {
  content: " ";
  display: table;
}
.EduPartnerWrapper:after {
  clear: both;
}
.EduPartnerWrapper:before,
.EduPartnerWrapper:after {
  content: " ";
  display: table;
}
.EduPartnerWrapper:after {
  clear: both;
}
@media (max-width: 767px) {
  .EduPartnerWrapper {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .EduPartnerWrapper {
    width: 30%;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .EduPartnerWrapper {
    width: 20%;
  }
}
.EduPartnerWrapper .EduPartnerLink {
  white-space: nowrap;
}
#AnswerQuestionPager,
.SessionTitle {
  flex-grow: 1;
}
.EduPartnerWrapper + #AnswerQuestionPager,
.EduPartnerWrapper + .SessionTitle {
  flex-grow: inherit;
  order: 1;
}
@media (min-width: 768px) {
  .EduPartnerWrapper + #AnswerQuestionPager,
  .EduPartnerWrapper + .SessionTitle {
    width: 70%;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .EduPartnerWrapper + #AnswerQuestionPager,
  .EduPartnerWrapper + .SessionTitle {
    width: 80%;
  }
}
#AnswerQuestionPager {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#AnswerQuestionPager .Current {
  order: 2;
}
#AnswerQuestionPager .Previous {
  order: 1;
}
#AnswerQuestionPager .Next {
  order: 3;
}
@media (max-width: 991px) {
  #AnswerQuestionPager .NavButtonText {
    display: none;
  }
}
.QuestionText {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .QuestionText {
    padding-bottom: 30px;
  }
}
#MarkdownCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
@media (min-width: 768px) {
  #MarkdownCol {
    float: left;
    width: 33.33333333%;
  }
}
#AnswerAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol {
    float: left;
    width: 100%;
  }
}
#MarkdownCol + #AnswerAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #MarkdownCol + #AnswerAndSolutionCol {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  #MarkdownCol + #AnswerAndSolutionCol > div {
    margin-left: 20px;
  }
}
#AnswerAndSolutionCol #AnswerInputSection {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #AnswerInputSection {
    float: left;
    width: 50%;
  }
}
@media (max-width: 767px) {
  #AnswerAndSolutionCol #AnswerInputSection {
    max-width: 550px;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #AnswerInputSection {
  margin-bottom: 10px;
  width: 100%;
}
#AnswerAndSolutionCol #ButtonsAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #ButtonsAndSolutionCol {
    float: left;
    width: 50%;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #ButtonsAndSolutionCol {
  width: 100%;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #ButtonsAndSolution {
    margin-left: 20px;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #ButtonsAndSolution {
  margin-left: 0;
}
#AnswerInputSection {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: 100%;
}
#AnswerInputSection .right-answer {
  color: green;
  font-weight: bold;
}
#AnswerInputSection .wrong-answer {
  color: #B13A48;
}
#AnswerInputSection textarea,
#AnswerInputSection input {
  margin-bottom: 10px;
}
#AnswerInputSection label {
  position: relative;
}
#AnswerInputSection .radio {
  margin-bottom: 0;
  margin-top: -2px;
}
#AnswerInputSection .radio + .radio {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #AnswerInputSection .radio + .radio {
    margin-top: 15px;
  }
}
#AnswerInputSection .checkbox {
  margin-bottom: 0;
  margin-top: -2px;
}
#AnswerInputSection .checkbox + .checkbox {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #AnswerInputSection .checkbox + .checkbox {
    margin-top: 15px;
  }
}
#txtAnswer {
  max-width: 450px;
}
#Buttons {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 10px;
  width: 100%;
}
#Buttons .btn-link {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
}
#Buttons .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  #Buttons .btn {
    display: table;
  }
}
#Buttons .HeartToAddButton {
  float: right;
  margin-bottom: 10px;
}
#answerQuestionDetails .label {
  max-width: 100%;
}
#AnswerFeedbackAndSolutionDetails {
  margin-top: 20px;
}
.answerFeedback {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
  height: 40px;
  min-width: 150px;
  padding: 10px;
  text-align: center;
  opacity: 0.7;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.answerFeedbackCorrect,
.answerFeedbackWrong {
  z-index: 999;
}
.answerFeedbackCorrect {
  background-color: #AFD534;
}
.answerFeedbackWrong {
  background-color: #B13A48;
}
#divAnsweredCorrect {
  margin-bottom: 15px;
}
#LicenseQuestion {
  margin-top: -10px;
  margin-left: 0px;
  padding: 1px 20px 10px;
  font-size: small;
  text-align: left;
}
.commentSettledInfo {
  color: darkgray;
}
.MarkdownImage img {
  max-height: 500px;
}
@media (max-width: 767px) {
  .MarkdownImage img {
    max-height: 250px;
  }
}
#MasterWidget #AnswerBody {
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}
#MasterWidget #LicenseQuestion {
  margin-top: 10px;
  padding: 0;
}
#MasterWidget #video-pager {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.matchlist-leftelementwrapper {
  text-align: center;
}
.matchlist-pairrow {
  margin-bottom: 10px;
  margin-top: 2px;
  display: flex;
  align-content: center;
  align-items: center;
}
.matchlist-droppable {
  border: 1px dashed;
  border-radius: 5px;
  height: 33px;
}
.matchlist-divider {
  border-bottom: 1px solid;
  margin: 20px 25% 0 25%;
}
.matchlist-hovered {
  background-color: gainsboro;
}
#matchlist-rightelements {
  margin-top: 20px;
  padding: 0 13px 0 10px;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  flex-flow: row wrap;
  justify-content: space-between;
}
.matchlist-rightelement {
  display: inline-block;
  word-wrap: break-word;
  border: 1px solid;
  padding: 2px 0 3px 0;
  border-radius: 3px;
  margin: 10px 0 0 0;
  cursor: move;
  background-color: white;
  text-align: center;
  white-space: pre-wrap;
}
.matchlist-droppable-dropped {
  height: initial;
  padding: 2px;
  display: inline-block;
  width: 100%;
}
.matchlist-rightelement-dropped {
  position: static !important;
  margin: unset;
  width: 100%;
}
.matchlist-mobilepairrow {
  margin-bottom: 20px;
}
.matchlist-elementlabel {
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
}
#flashCardContent {
  min-height: 250px;
}
@media (max-width: 768px) {
  #flashCardContent {
    margin-bottom: 25px;
  }
}
#flashCardContent > div,
#flashCardContent #flashCard-frontContent > p {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#flashCardContent > div {
  background-color: white;
  border: 1px solid #c9c9c9;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
}
#flashCardContent img {
  padding-bottom: 20px;
}
#flashCard-frontContent {
  padding: 15px;
}
#flashCard-frontContent img {
  max-width: 60%;
}
.flashCardAnswerButtons > .btn {
  margin-left: unset;
}
/*#AnswerInputSection .radio { //styles for radio html like in bootestrap style (input inside label)
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }
}*/
/*#AnswerInputSection .radio { //styles for html with input before label
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }

    input {
        margin-left: -10px;
        margin-top: 19px;
    }
}*/