@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
#MasterMainWrapper {
  background-color: transparent;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #MasterMainWrapper {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  #MasterMainContent {
    padding-top: 10px;
  }
}
.navLinks {
  float: right;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .navLinks {
    width: 100%;
    float: none;
  }
}
.navLinks > div {
  display: inline-block !important;
}
.AnswerQuestionHeader {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .AnswerQuestionHeader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .AnswerQuestionHeader .EduPartnerWrapper {
    float: right;
  }
}
.EduPartnerWrapper {
  font-size: 11px;
  line-height: 1.42857143;
  font-weight: normal;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.EduPartnerWrapper:before,
.EduPartnerWrapper:after {
  content: " ";
  display: table;
}
.EduPartnerWrapper:after {
  clear: both;
}
.EduPartnerWrapper:before,
.EduPartnerWrapper:after {
  content: " ";
  display: table;
}
.EduPartnerWrapper:after {
  clear: both;
}
@media (max-width: 767px) {
  .EduPartnerWrapper {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .EduPartnerWrapper {
    width: 30%;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .EduPartnerWrapper {
    width: 20%;
  }
}
.EduPartnerWrapper .EduPartnerLink {
  white-space: nowrap;
}
#AnswerQuestionPager,
.SessionTitle {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.EduPartnerWrapper + #AnswerQuestionPager,
.EduPartnerWrapper + .SessionTitle {
  -webkit-box-flex: inherit;
  -webkit-flex-grow: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 768px) {
  .EduPartnerWrapper + #AnswerQuestionPager,
  .EduPartnerWrapper + .SessionTitle {
    width: 70%;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .EduPartnerWrapper + #AnswerQuestionPager,
  .EduPartnerWrapper + .SessionTitle {
    width: 80%;
  }
}
#AnswerQuestionPager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#AnswerQuestionPager .Current {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
#AnswerQuestionPager .Previous {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
#AnswerQuestionPager .Next {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
@media (max-width: 991px) {
  #AnswerQuestionPager .NavButtonText {
    display: none;
  }
}
/* Session heading
------------------------------------------------------*/
.SessionHeading {
  font-weight: bold;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.SessionHeading:before,
.SessionHeading:after {
  content: " ";
  display: table;
}
.SessionHeading:after {
  clear: both;
}
.SessionHeading:before,
.SessionHeading:after {
  content: " ";
  display: table;
}
.SessionHeading:after {
  clear: both;
}
@media (max-width: 479px) {
  .SessionHeading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 480px) {
  .SessionHeading {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.LabelLink {
  display: inline-block;
  overflow: hidden;
}
@media (min-width: 480px) {
  .QuestionCount,
  .EduPartnerWrapper {
    width: 30%;
  }
  .SessionTitle {
    width: 100%;
  }
  .EduPartnerWrapper + .SessionTitle {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .QuestionCount,
  .EduPartnerWrapper {
    width: 20%;
  }
  .SessionTitle {
    width: 100%;
  }
  .EduPartnerWrapper + .SessionTitle {
    width: 80%;
  }
}
@media (min-width: 480px) {
  .SessionTitle {
    padding-right: 10px;
  }
}
.EduPartnerWrapper {
  clear: left;
}
@media (min-width: 480px) {
  .EduPartnerWrapper {
    text-align: center;
  }
}
.EduPartnerLogoWrapper {
  width: 100px;
}
@media (max-width: 479px) {
  .EduPartnerLogoWrapper {
    float: right;
  }
}
/* Session bar/Progress bar
------------------------------------------------------*/
.SessionBar {
  font-size: 14px;
  line-height: 1.42857143;
  border: solid 2px #AFD534;
  background-color: #AFD534;
  margin-bottom: 20px;
}
.SessionBar:before,
.SessionBar:after {
  content: " ";
  display: table;
}
.SessionBar:after {
  clear: both;
}
.SessionBar:before,
.SessionBar:after {
  content: " ";
  display: table;
}
.SessionBar:after {
  clear: both;
}
@media (max-width: 767px) {
  .SessionBar {
    margin-bottom: 0;
  }
  .SessionBar + .row #AnswerBody {
    border-top: none;
    -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
  }
}
.ProgressBarContainer,
.SessionType,
.QuestionCount,
.ProgressBarSegment {
  height: 30px;
}
.SessionType,
.QuestionCount {
  background-color: #AFD534;
  padding-top: 5px;
}
@media (max-width: 479px) {
  .SessionType,
  .QuestionCount {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 480px) {
  .SessionType,
  .QuestionCount,
  .SessionType span,
  .QuestionCount span {
    text-align: center;
  }
}
.SessionType > span,
.QuestionCount > span {
  width: 100%;
}
.SessionType {
  float: left;
}
.SessionType span {
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 480px) {
  .SessionType {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .SessionType {
    width: 15%;
  }
}
@media (min-width: 992px) {
  .SessionType {
    width: 10%;
  }
}
.ProgressBarContainer {
  display: table;
}
@media (max-width: 479px) {
  .ProgressBarContainer {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .ProgressBarContainer {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .ProgressBarContainer {
    width: 55%;
  }
}
@media (min-width: 992px) {
  .ProgressBarContainer {
    width: 70%;
  }
}
.ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  min-width: 30px;
}
.ProgressBarDone {
  background-color: #c8e273;
  position: relative;
  overflow: visible;
}
.ProgressBarLeft {
  background-color: #e1efb3;
}
.CollectionType {
  float: left;
  padding-right: 10px;
}
.LabelWrapper {
  max-width: 70%;
  float: left;
}
.LabelWrapper:before,
.LabelWrapper:after {
  content: " ";
  display: table;
}
.LabelWrapper:after {
  clear: both;
}
.LabelWrapper:before,
.LabelWrapper:after {
  content: " ";
  display: table;
}
.LabelWrapper:after {
  clear: both;
}
.LabelWrapper a,
.LabelWrapper .label {
  max-width: 100%;
  font-size: 100%;
  margin: 0;
}
/* Answer Section
------------------------------------------------------*/
#AnswerBody {
  font-size: 14px;
  line-height: 1.42857143;
}
.QuestionText {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .QuestionText {
    padding-bottom: 30px;
  }
}
#activityPointsDispaly {
  font-size: 22px;
  font-family: sans-serif;
  line-height: normal;
  color: #b9db4f;
}
#activityPointsDispaly small {
  font-size: 10px;
  display: block;
}
#levelPopupModal,
#levelPopupModal .modal-title,
#levelPopupModal .title-text {
  font-family: 'Open Sans' !important;
}
@media (max-width: 767px) {
  #levelPopupModal .modal-title {
    text-align: center;
  }
}
#levelPopupModal .title-text {
  font-size: 22px;
}
#levelPopupModal .happy-memo-svg {
  margin: 30px 45px 30px 30px;
  float: right;
}
@media (max-width: 767px) {
  #levelPopupModal .happy-memo-svg {
    float: unset;
    display: block;
    margin: 20px auto 20px auto;
  }
}
#levelPopupModal .level-display {
  position: relative;
  top: 7px;
}
#levelPopupModal .level-display .level-count {
  fill: white;
}
#levelPopupModal .modal-header {
  border-bottom: none;
}
@media (max-width: 767px) {
  #levelPopupModal .modal-body {
    text-align: center;
  }
}
#levelPopupModal .modal-footer {
  border-top: none;
  margin-top: unset;
}
@media (min-width: 767px) {
  #levelPopupModal .modal-footer {
    margin-bottom: 20px;
  }
}
#MarkdownCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
@media (min-width: 768px) {
  #MarkdownCol {
    float: left;
    width: 33.33333333%;
  }
}
#AnswerAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol {
    float: left;
    width: 100%;
  }
}
#MarkdownCol + #AnswerAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #MarkdownCol + #AnswerAndSolutionCol {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  #MarkdownCol + #AnswerAndSolutionCol > div {
    margin-left: 20px;
  }
}
#AnswerAndSolutionCol #AnswerInputSection {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #AnswerInputSection {
    float: left;
    width: 50%;
  }
}
@media (max-width: 767px) {
  #AnswerAndSolutionCol #AnswerInputSection {
    max-width: 550px;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #AnswerInputSection {
  margin-bottom: 10px;
  width: 100%;
}
#AnswerAndSolutionCol #ButtonsAndSolutionCol {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #ButtonsAndSolutionCol {
    float: left;
    width: 50%;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #ButtonsAndSolutionCol {
  width: 100%;
}
@media (min-width: 768px) {
  #AnswerAndSolutionCol #ButtonsAndSolution {
    margin-left: 20px;
  }
}
#MarkdownCol + #AnswerAndSolutionCol #ButtonsAndSolution {
  margin-left: 0;
}
#AnswerInputSection {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  width: 100%;
}
#AnswerInputSection .right-answer {
  color: green;
  font-weight: bold;
}
#AnswerInputSection .wrong-answer {
  color: #B13A48;
}
#AnswerInputSection textarea,
#AnswerInputSection input {
  margin-bottom: 10px;
}
#AnswerInputSection label {
  position: relative;
}
#AnswerInputSection .radio {
  margin-bottom: 0;
  margin-top: -2px;
}
#AnswerInputSection .radio + .radio {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #AnswerInputSection .radio + .radio {
    margin-top: 15px;
  }
}
#AnswerInputSection .checkbox {
  margin-bottom: 0;
  margin-top: -2px;
}
#AnswerInputSection .checkbox + .checkbox {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #AnswerInputSection .checkbox + .checkbox {
    margin-top: 15px;
  }
}
#txtAnswer {
  max-width: 450px;
}
#Buttons {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
  width: 100%;
}
#Buttons .btn-link {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
}
#Buttons .btn {
  margin-right: 10px;
  margin-bottom: 15px;
}
#Buttons .HeartToAddButton {
  float: right;
  margin-bottom: 10px;
}
#answerQuestionDetails .label {
  max-width: 100%;
}
/*#AnswerFeedbackAndSolutionDetails {
    margin-top: 20px;
}*/
@media (max-width: 767px) {
  #SolutionDetails {
    padding-bottom: 20px;
  }
}
.answerFeedback {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
  height: 40px;
  min-width: 150px;
  padding: 10px;
  text-align: center;
  opacity: 0.7;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: white;
  font-weight: bold;
}
.answerFeedbackCorrect,
.answerFeedbackWrong {
  z-index: 999;
}
.answerFeedbackCorrect {
  background-color: #AFD534;
}
.answerFeedbackWrong {
  background-color: #B13A48;
}
#divAnsweredCorrect {
  margin-bottom: 15px;
}
#LicenseQuestion {
  margin-top: -10px;
  margin-left: 0px;
  padding: 1px 20px 10px;
  font-size: small;
  text-align: left;
}
.commentSettledInfo {
  color: darkgray;
}
.MarkdownImage img {
  max-height: 500px;
}
@media (max-width: 767px) {
  .MarkdownImage img {
    max-height: 250px;
  }
}
#MasterWidget #AnswerBody {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}
#MasterWidget .SessionBar {
  margin-bottom: 15px;
}
#MasterWidget #LicenseQuestion {
  margin-top: 10px;
  padding: 0;
}
#MasterWidget #video-pager {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.matchlist-leftelementwrapper {
  text-align: center;
}
.matchlist-pairrow {
  margin-bottom: 10px;
  margin-top: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.matchlist-droppable {
  border: 1px dashed;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 33px;
}
.matchlist-divider {
  border-bottom: 1px solid;
  margin: 20px 25% 0 25%;
}
.matchlist-hovered {
  background-color: gainsboro;
}
#matchlist-rightelements {
  margin-top: 20px;
  padding: 0 13px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.matchlist-rightelement {
  display: inline-block;
  word-wrap: break-word;
  border: 1px solid;
  padding: 2px 0 3px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin: 10px 0 0 0;
  cursor: move;
  background-color: white;
  text-align: center;
  white-space: pre-wrap;
}
.matchlist-droppable-dropped {
  height: initial;
  padding: 2px;
  display: inline-block;
  width: 100%;
}
.matchlist-rightelement-dropped {
  position: static !important;
  margin: unset;
  width: 100%;
}
.matchlist-mobilepairrow {
  margin-bottom: 20px;
}
.matchlist-elementlabel {
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
}
#flashCardContent {
  min-height: 250px;
  cursor: pointer;
}
@media (max-width: 768px) {
  #flashCardContent {
    margin-bottom: 25px;
  }
}
#flashCardContent > div,
#flashCardContent #flashCard-frontContent > p {
  min-height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#flashCardContent #flashCard-back > p {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#flashCardContent #flashCard-back > p img {
  max-width: 60%;
}
#flashCardContent > div {
  background-color: white;
  border: 1px solid #c9c9c9;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.2);
}
#flashCardContent img {
  padding-bottom: 20px;
}
#flashCardContent .flipClickHint {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
#flashCardContent .flipClickHint span {
  color: silver;
}
#flashCardContent #flashCard-frontContent,
#flashCardContent #flashCard-back {
  padding: 15px 15px 40px 15px;
}
#flashCardContent #flashCard-frontContent img {
  max-width: 60%;
}
.flashCardAnswerButtons > .btn {
  margin-left: unset;
}
/*#AnswerInputSection .radio { //styles for radio html like in bootestrap style (input inside label)
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }
}*/
/*#AnswerInputSection .radio { //styles for html with input before label
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }

    input {
        margin-left: -10px;
        margin-top: 19px;
    }
}*/
/* Primary Category Card */
.singleSetFullWidth,
.singleCatFullWidth {
  background-color: #D3E0F2;
  margin: 10px 0 30px;
  padding: 30px 30px;
  border-top: 8px solid #F6F8FA;
  border-bottom: 8px solid #F6F8FA;
}
.singleSetFullWidth + .singleSetFullWidth,
.singleSetFullWidth + .singleCatFullWidth,
.singleCatFullWidth + .singleSetFullWidth,
.singleCatFullWidth + .singleCatFullWidth {
  margin-top: -30px;
  border-top: 0;
}
.singleSetFullWidth .highlightSet,
.singleCatFullWidth .highlightSet {
  background-color: #ffda7f;
}
.singleSetFullWidth .ImageContainer,
.singleCatFullWidth .ImageContainer {
  text-align: center;
}
.singleSetFullWidth .ImageContainer img,
.singleCatFullWidth .ImageContainer img {
  border-radius: 50%;
  box-shadow: 5px 5px 10px #eeeeee;
}
.singleSetFullWidth .ImageContainer .LicenseInfo,
.singleCatFullWidth .ImageContainer .LicenseInfo {
  text-align: center;
  color: #999999;
}
.singleSetFullWidth .ImageContainer .LicenseInfo:after,
.singleCatFullWidth .ImageContainer .LicenseInfo:after {
  content: "Lizenz";
}
.singleSetFullWidth .setTitle,
.singleCatFullWidth .setTitle,
.singleSetFullWidth .categoryTitle,
.singleCatFullWidth .categoryTitle {
  margin-bottom: 20px;
}
.singleSetFullWidth .setTitle h3,
.singleCatFullWidth .setTitle h3,
.singleSetFullWidth .categoryTitle h3,
.singleCatFullWidth .categoryTitle h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.singleSetFullWidth .setTitle,
.singleCatFullWidth .setTitle {
  border-bottom: 5px solid #FFD700;
}
.singleSetFullWidth .categoryTitle,
.singleCatFullWidth .categoryTitle {
  border-bottom: 5px solid #45aece;
}
.singleSetFullWidth .setQuestionCount,
.singleCatFullWidth .setQuestionCount,
.singleSetFullWidth .categoryQuestionCount,
.singleCatFullWidth .categoryQuestionCount {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  color: #999999;
  font-size: 14px;
}
.singleSetFullWidth .KnowledgeBarWrapper,
.singleCatFullWidth .KnowledgeBarWrapper {
  display: inline-block;
}
.singleSetFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend,
.singleCatFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend {
  color: #999999;
  margin-top: -10px;
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0;
  transition: opacity 0.2s linear;
}
@media (max-width: 767px) {
  .singleSetFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend,
  .singleCatFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend {
    opacity: 1;
  }
}
.singleSetFullWidth .KnowledgeBarWrapper:hover .KnowledgeBarLegend,
.singleCatFullWidth .KnowledgeBarWrapper:hover .KnowledgeBarLegend {
  opacity: 1;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar {
  display: inline-block;
  height: 10px;
  width: 180px;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  height: inherit;
  float: left;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning {
  background-color: lightsalmon;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation {
  background-color: #fdd648;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge {
  background-color: #afd534;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned {
  background-color: silver;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  background-color: #dddddd;
}
.singleSetFullWidth .buttons,
.singleCatFullWidth .buttons {
  margin-top: 20px;
}
.singleSetFullWidth .buttons .btn,
.singleCatFullWidth .buttons .btn {
  margin-top: 10px;
}
.singleSetFullWidth .buttons .btn-primary,
.singleCatFullWidth .buttons .btn-primary {
  font-size: 18px;
  min-width: 220px;
}
.singleSetFullWidth .buttons .dropdown,
.singleCatFullWidth .buttons .dropdown {
  display: inline-block;
}
