.font-size12 {
  font-size: 12px;
}
.flex-box {
  display: flex;
}
.flex-box .category-set {
  display: flex;
}
.flex-box .category-set #Category {
  font-size: 12px;
}
.flex-box .right {
  margin-left: auto;
  display: flex;
}
.flex-box .right .margin-left {
  margin-left: 0.7em;
}
.text-sponsor {
  text-align: center;
}
.model-categories {
  padding-top: 0.375em;
}