@import (reference) '../../../Style/includes/imports.less';

.navLinks {

    float: right;
    margin-bottom: 10px;

    .media-below-md({
        width: 100%;
        float: none;
    });

    & > div {
       display: inline-block !important;
    }
}

#AnswerQuestionPager {
    .media-below-xs ({
        margin-bottom: 10px;
    });
}



#MarkdownCol {
    .make-sm-column(4);

      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      word-break: break-word;
}

#AnswerAndSolutionCol {

    .make-sm-column(12);


    #MarkdownCol + & {

        .make-sm-column(8);

        > div {

            .media-sm-up({
                margin-left: 20px;
            });
        }
    }

    #AnswerInputSection {


        .make-sm-column(6);

        .media-below-sm({
            max-width: 550px;
        });

        #MarkdownCol + & {
            width: 100%;
        }
    }

    #ButtonsAndSolutionCol {
        .make-sm-column(6);

        #MarkdownCol + & {
            width: 100%;
        }
    }

    #ButtonsAndSolution {

        .media-sm-up({
            margin-left: 20px;
        });
        
        #MarkdownCol + & {
            margin-left: 0;
        }
    }
}

#AnswerInputSection {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 100%;

    .media-below-sm ({
        margin-top: 15px;
        width: 100%;
    });

    textarea, input {
        margin-bottom: 10px;
    }

    label {
        position: relative;
    }
    

    .radio {
        
        margin-bottom: 0;
        
        #MarkdownCol + #AnswerAndSolutionCol & {
            margin-top: 0;//If image present, align first radio line with it
        }

        & +.radio {
            margin-top: 10px;

            .media-below-sm({
                margin-top: 15px;
            });
        }
        
    }
}

#txtAnswer {
    max-width: 450px;
}

#Buttons {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
    width: 100%;

    .btn-link {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
    }

    .btn {
        margin-right: 10px;
        .MarginForButtons;

        .media-below-xs({
            display: table; //Keeps width of element to text length but still inserts break
        });
    }
    .HeartToAddButton {
        float: right;
        .MarginForButtons;
    }

}

.MarginForButtons() {
    margin-top: 10px;
    margin-bottom: 10px;
}




#answerQuestionDetails .label {
    max-width: 100%;
}

#AnswerFeedbackAndSolutionDetails {
    margin-top: 20px;
}

.answerFeedback {
    position: absolute;
    bottom: 10px;
    left: 30%;
    right: 30%;
    height: 40px;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    border-radius: 4px;
    color: white;
    font-weight: bold;
 }
.answerFeedbackCorrect {
    background-color: @memo-green;
}
.answerFeedbackWrong {
    background-color: @dark-red; //#efc7ce
}

#divAnsweredCorrect {
    margin-bottom: 15px;
}

#LicenseQuestion {
    margin-top: -10px;
    margin-left: 0px;
    padding: 1px 20px 10px;
    font-size: small;
    text-align: left;   
}

.commentSettledInfo {
    color: darkgray;
}

.MarkdownImage {
    img {

        max-height: 500px;

        .media-below-sm({
            max-height: 250px;
        });

    }
}

.MarkdownImage {
    img {

        max-height: 500px;

        .media-below-sm({
            max-height: 250px;
        });

    }
}

#AnswerInputSection{
    .right-answer{
        color: green;
        font-weight: bold;  
    }

    .wrong-answer{
        color: @dark-red;
    }
}
    .matchlist-pairrow{
        margin-bottom: 6px;
        margin-top: 6px;
    }
    .matchlist-droppable{
    border:2px solid;
    border-radius: 5px;
    height: 20px;
    }
    .matchlist-hovered{
        background-color: gainsboro;
    }
    #matchlist-rightelements{
        padding:18px;
        white-space: nowrap;
    }
    .matchlist-rightelement{
        padding-left: 4px;
        padding-right: 4px;
        border: 1px solid;
        border-radius: 3px;
        margin-left: 8px;
        cursor: move;
        background-color: white;
    }

    //matchlist-mobile
    .matchlist-mobilepairrow{
        margin-bottom: 20px;
    }
    .matchlist-elementlabel{
        text-align: left !important;    
        margin-bottom: 5px;
        font-size: 16px;
    }

//http://jsfiddle.net/YB8UW/8/

/*#AnswerInputSection .radio { //styles for radio html like in bootestrap style (input inside label)
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }
}*/

/*#AnswerInputSection .radio { //styles for html with input before label
    background-color: lightgray;
    margin-bottom: 10px;

    label {
        padding: 15px;
        display: block;
        width: 100%;
    }

    input {
        margin-left: -10px;
        margin-top: 19px;
    }
}*/