@radioSize: 17px;
@borderColor: #949494;
@activeSelection: #428BCA;

#SessionConfigApp {

    .modal-header {
        border-bottom: none;

        h4 {
            padding-left: 20px;
            padding-top: 20px;
            font-size: 24px;
        }
    }

    .modal-body {
        .modal-section-label {
            padding-left: 20px;
            font-size:20px;
        }

        .modal-divider {
            border-bottom: 1px grey solid;
            opacity: 0.4;
            margin: 35px 20px;
        }
    }

    .sliderLabel, .radioLabel {
        font-size: 18px;
        color: #434343;
    }

    .modal-footer {
        border-top: none;
    }

    label.sliderLabel {
        padding-top: 20px;
    }

    .radio {
        margin: 16px 0;
        display: block;
        cursor: pointer;

        span.labelInfo {
            width: 80%;
            float: right;
            font-size: 14px;
            color: #C0C0C0;
            font-style: italic;
            padding-right: 35px;
        }

        input {
            display: none;

            & + span {
                line-height: @radioSize;
                height: @radioSize;
                padding-left: @radioSize;
                display: block;
                position: relative;

                &:not(:empty) {
                    padding-left: @radioSize + 8;
                }

                &:before,
                &:after {
                    content: '';
                    width: @radioSize;
                    height: @radioSize;
                    display: block;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                }

                &:before {
                    border: solid 0.5px @borderColor;
                    transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                }

                &:after {
                    background: #fff;
                    transform: scale(.78);
                    transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                }
            }

            &:checked + span {
                &:before {
                    transform: scale(1.04);
                    background: white;
                    border: solid 0.5px @borderColor;
                }

                &:after {
                    transform: scale(.61);
                    transition: transform .3s ease;
                    background: @activeSelection;
                }
            }
        }

        &:hover {
            input {
                & + span {
                    &:before {
                        transform: scale(.92);
                    }

                    &:after {
                        transform: scale(.74);
                    }
                }

                &:checked + span {
                    &:after {
                        transform: scale(.61);
                    }
                }
            }
        }
    }

    .sliders {
        padding: 0 45px;

        .sliderContainer {
            display: flex;
            font-size: 10px;

            .vueSlider, .leftLabel, .rightLabel {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .vueSlider {
                width: 300px;
            }

            .leftLabel, .rightLabel {
                color: @borderColor;
                min-width: 42px;
            }

            .leftLabel {
                padding-right: 16px;
                text-align: right;
            }

            .rightLabel {
                padding-left: 16px;
            }
        }
    }

    .alert {
        margin-top: 20px;
    }

    #sessionSelectionContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 50px;

        .sessionSelectionButton, #CustomSessionConfigBtn {
            margin-top: 10px;
            width: 183px;
            height: 132px;
            border: #d6d6d6 solid 0.03125em;
            cursor: pointer;

            :hover {
                .sessionSelectionButtonIcon {

                    &.highProbability {
                        color: #AFD534;
                    }

                    &.lowProbability {
                        color: #FFA07A;
                    }

                    &.randomQuestions {
                        color: #D6D6D6;
                    }

                    &.customQuestions {
                        color: #428BCA;
                    }

                    transition: color 0.5s ease-in;
                }
            }

            .sessionSelectionContent {
                height: 119px;
                width: 100%;
                text-align: center;
                padding: 15px 10px 0 10px;

                .sessionSelectionButtonIcon {
                    transition: color 0.2s;
                    font-size: 40px;
                }

                .sessionSelectionText {
                    padding-top: 2px;
                    font-size: 13px;
                }
            }

            .sessionSelectionBottomBorder {
                height: 13px;
                width: 100%;

                &.highProbability {
                    background-color: #AFD534;
                }

                &.lowProbability {
                    background-color: #FFA07A;
                }

                &.randomQuestions {
                    background-color: #D6D6D6;
                }

                &.customQuestions {
                    background-color: #428BCA;
                }
            }
        }

        #CustomSessionConfigBtnContainer {
            height: 132px;

            .sessionConfigReminder {
                position: relative;
                top: -100px;
                left: 185px;

                @media (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}


.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
    box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
}

.vue-slider-dot {
    position: absolute;
    will-change: transform;
    -webkit-transition: all 0s;
    transition: all 0s;
    z-index: 5
}

.vue-slider-dot-tooltip {
    position: absolute;
    visibility: hidden
}

.vue-slider-dot-tooltip-show {
    visibility: visible
}

.vue-slider-dot-tooltip-top {
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%)
}

.vue-slider-dot-tooltip-bottom {
    bottom: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%)
}

.vue-slider-dot-tooltip-left {
    left: -10px;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%)
}

.vue-slider-dot-tooltip-right {
    right: -10px;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%)
}

.vue-slider-marks {
    position: relative;
    width: 100%;
    height: 100%
}

.vue-slider-mark {
    position: absolute;
    z-index: 1
}

.vue-slider-ltr .vue-slider-mark,
.vue-slider-rtl .vue-slider-mark {
    width: 0;
    height: 100%;
    top: 50%
}

.vue-slider-ltr .vue-slider-mark-step,
.vue-slider-rtl .vue-slider-mark-step {
    top: 0
}

.vue-slider-ltr .vue-slider-mark-label,
.vue-slider-rtl .vue-slider-mark-label {
    top: 100%;
    margin-top: 10px
}

.vue-slider-ltr .vue-slider-mark {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.vue-slider-ltr .vue-slider-mark-step {
    left: 0
}

.vue-slider-ltr .vue-slider-mark-label {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.vue-slider-rtl .vue-slider-mark {
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%)
}

.vue-slider-rtl .vue-slider-mark-step {
    right: 0
}

.vue-slider-rtl .vue-slider-mark-label {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}

.vue-slider-btt .vue-slider-mark,
.vue-slider-ttb .vue-slider-mark {
    width: 100%;
    height: 0;
    left: 50%
}

.vue-slider-btt .vue-slider-mark-step,
.vue-slider-ttb .vue-slider-mark-step {
    left: 0
}

.vue-slider-btt .vue-slider-mark-label,
.vue-slider-ttb .vue-slider-mark-label {
    left: 100%;
    margin-left: 10px
}

.vue-slider-btt .vue-slider-mark {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%)
}

.vue-slider-btt .vue-slider-mark-step {
    top: 0
}

.vue-slider-btt .vue-slider-mark-label {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.vue-slider-ttb .vue-slider-mark {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.vue-slider-ttb .vue-slider-mark-step {
    bottom: 0
}

.vue-slider-ttb .vue-slider-mark-label {
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.vue-slider-mark-label,
.vue-slider-mark-step {
    position: absolute
}

.vue-slider {
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.vue-slider-rail {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition-property: width, height, left, right, top, bottom;
    transition-property: width, height, left, right, top, bottom;
    background-color: silver;
    border-radius: 15px;
}

.vue-slider-process {
    position: absolute;
    z-index: 1;
    background: @activeSelection;
    border-radius: 15px;
}

/* component style */
.vue-slider-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* mark style */
.vue-slider-mark {
    z-index: 4;
}

.vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
    display: none;
}

.vue-slider-mark-step {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.16);
}

.vue-slider-mark-label {
    font-size: 14px;
    white-space: nowrap;
}
/* dot style */
.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}

.vue-slider-dot-handle-focus {
    box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
}

.vue-slider-dot-handle-disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

.vue-slider-dot-tooltip-inner {
    font-size: 14px;
    white-space: nowrap;
    padding: 2px 5px;
    min-width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border-color: @activeSelection;
    background-color: @activeSelection;
    box-sizing: content-box;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-top-color: inherit;
        left: 50%;
        transform: translate(-50%);
        height: 0;
        width: 0;
    }
}

.vue-slider-dot-tooltip-inner-top::after {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-top-color: inherit;
}

.vue-slider-dot-tooltip-inner-bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-bottom-color: inherit;
}

.vue-slider-dot-tooltip-inner-left::after {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-left-color: inherit;
}

.vue-slider-dot-tooltip-inner-right::after {
    right: 100%;
    top: 50%;
    transform: translate(0, -50%);
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-right-color: inherit;
}

.vue-slider-dot-tooltip-wrapper {
    opacity: 0;
    transition: all 0.3s;
}

.vue-slider-dot-tooltip-wrapper-show {
    opacity: 1;
}
