@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.labelFont {
  font-size: 10px;
  color: #555555;
}
.paddingLeft20 {
  padding-left: 20px;
}
.opacity {
  opacity: 0.5;
}
.forbidden {
  cursor: not-allowed !important;
}
#QuestionSortSessionConfig div {
  padding-bottom: 10px;
}
#QuestionSortSessionConfig div:last-child {
  padding-bottom: 0;
}
#QuestionSortSessionConfig .randomQuestions,
#QuestionSortSessionConfig .answerHelp,
#QuestionSortSessionConfig .repititions {
  display: flex;
  font-size: 14px;
}
#QuestionSortSessionConfig .randomQuestions span,
#QuestionSortSessionConfig .answerHelp span,
#QuestionSortSessionConfig .repititions span {
  padding-left: 10px;
}
#QuestionSortSessionConfig .randomQuestions i,
#QuestionSortSessionConfig .answerHelp i,
#QuestionSortSessionConfig .repititions i {
  font-size: 12px;
  font-family: 'Open Sans';
  padding-left: 10px;
}
.inactive:before {
  opacity: 0.5;
}
.inactive {
  opacity: 0.5;
}
.rootElement .notLoggedInModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBCCCC;
}
.rootElement .notLoggedInModal .notLoggedInHeader {
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 30px 66px;
}
.rootElement .notLoggedInModal .notLoggedInButton {
  padding-bottom: 10px;
}
.rootElement .notLoggedInModal .notLoggedInButton a {
  color: #FFFFFF;
}
.rootElement .notLoggedInModal .login {
  font-size: 12px;
  padding-bottom: 20px;
}
#SessionConfigModal #SessionConfigHeader {
  padding-bottom: 20px;
}
#SessionConfigModal .modal-header {
  background-color: #AFD534;
  border-bottom: none;
}
#SessionConfigModal .modal-header h4 {
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #003264;
}
#SessionConfigModal .modal-header h5 {
  padding-left: 20px;
  padding-top: 18px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #003264;
}
#SessionConfigModal .modal-body {
  padding-bottom: 0px;
}
#SessionConfigModal .modal-body .test-mode {
  margin-top: 16px;
}
#SessionConfigModal .modal-body .must-logged-in {
  padding-left: 20px;
}
#SessionConfigModal .modal-body .test-mode-info {
  color: #999999;
  font-size: 12px;
  margin-top: 16px;
  max-width: 485px;
}
#SessionConfigModal .modal-body .fade-enter {
  opacity: 0;
}
#SessionConfigModal .modal-body .fade-enter-active {
  transition: opacity 0.3s ease-in;
}
#SessionConfigModal .modal-body .fade-leave {
  opacity: 0.5;
}
#SessionConfigModal .modal-body .fade-leave-active {
  transition: opacity 1s;
}
#SessionConfigModal .modal-body .fade-leave-to {
  opacity: 0;
}
#SessionConfigModal .modal-body .restricted-options {
  position: absolute;
  top: 45px;
  padding: 30px;
  width: 568px;
  left: calc(50% - 284px);
  z-index: 2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#SessionConfigModal .modal-body .restricted-options .info-content {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  max-width: 360px;
  width: 100%;
  cursor: default;
}
#SessionConfigModal .modal-body .restricted-options .restricted-options-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
}
#SessionConfigModal .modal-body .modal-section-label {
  font-size: 14px;
  color: #003264;
  padding-top: 40px;
  font-weight: bold;
}
#SessionConfigModal .modal-body .modal-divider {
  border-bottom: 1px grey solid;
  opacity: 0.4;
  margin: 37px -14px 30px -34px;
}
#SessionConfigModal .modal-body #QuestionsHeader {
  font-size: 14px;
  color: #003264;
  margin-bottom: 20px;
}
#SessionConfigModal .modal-body .modal-more-options {
  padding-left: 20px;
}
#SessionConfigModal .modal-body .more-options {
  color: #AFD534;
  font-size: 14px;
  margin-top: 50px;
  padding-bottom: 20px;
  cursor: pointer;
}
#SessionConfigModal .modal-body .more-options .angle {
  margin-top: 1px;
}
#SessionConfigModal .modal-body .themes-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(197, 240, 58, 0.41);
  height: 30px;
  margin-top: 50px;
  margin-right: -15px;
  margin-left: -15px;
}
@media (max-width: 500px) {
  #SessionConfigModal .modal-body .themes-info {
    height: 60px;
  }
}
#SessionConfigModal .modal-body .themes-info p {
  font-size: 14px;
  color: #003264;
  margin: 0;
}
@media (max-width: 500px) {
  #SessionConfigModal .modal-body .themes-info p {
    margin-left: 35px;
    margin-right: 35px;
  }
}
#SessionConfigModal .modal-body #SafeLearnOptions {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
@media (max-width: 420px) {
  #SessionConfigModal .modal-body #SafeLearnOptions {
    padding-left: 20px;
  }
}
#SessionConfigModal .modal-body #SafeLearnOptions .safe-settings {
  max-width: 344px;
}
#SessionConfigModal .modal-body #SafeLearnOptions label {
  font-size: 12px;
  color: #555555;
}
#SessionConfigModal .modal-body #SafeLearnOptions .info-options {
  color: #999999;
  margin-top: 13px;
  max-width: 344px;
  font-size: 12px;
}
#SessionConfigModal .modal-body .displayNone {
  display: none;
}
#SessionConfigModal .sliderLabel,
#SessionConfigModal .checkbox-label {
  font-size: 14px;
  color: #555555;
  word-wrap: break-word;
}
#SessionConfigModal input[type="checkbox"] {
  margin-right: 7px;
}
#SessionConfigModal #AllQuestionMinus {
  margin-right: 6px;
  color: #0075ff;
  font-size: 14.5px;
  padding-left: 1px;
}
#SessionConfigModal .modal-footer {
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
#SessionConfigModal label.sliderLabel {
  padding-top: 20px;
  width: 100%;
}
#SessionConfigModal .disabled-radios .radio input + span:before {
  border: solid 0.5px #c0c0c0;
  transform: none;
}
#SessionConfigModal .disabled-radios .radio input + span:after {
  background: none;
}
#SessionConfigModal .disabled-radios .radio input:checked + span:before {
  border: solid 0.5px #c0c0c0;
  transform: none;
}
#SessionConfigModal .disabled-radios .radio input:checked + span:after {
  background: #c0c0c0;
}
#SessionConfigModal .disabled-radios .radio:hover {
  cursor: default;
}
#SessionConfigModal .disabled-radios .radio:hover input + span:before {
  transform: none;
}
#SessionConfigModal .disabled-radios .radio:hover input + span:after {
  transform: none;
}
#SessionConfigModal .disabled-radios .radio:hover input:checked + span:after {
  transform: scale(0.61);
}
#SessionConfigModal .radio {
  margin: 16px 0;
  display: flex;
  cursor: pointer;
}
#SessionConfigModal .radio .radioLabelContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#SessionConfigModal .radio .radioLabelContainer .radioLabel {
  line-height: 17px;
  width: 20%;
  padding-left: 8px;
  min-width: 100px;
}
#SessionConfigModal .radio .radioLabelContainer .radioLabel.fullSize {
  width: 100%;
}
#SessionConfigModal .radio .radioLabelContainer .labelInfo {
  width: 80%;
  float: right;
  font-size: 14px;
  color: #C0C0C0;
  font-style: italic;
  padding-right: 35px;
  min-width: 200px;
}
#SessionConfigModal .radio input {
  display: none;
}
#SessionConfigModal .radio input + span {
  line-height: 17px;
  height: 17px;
  padding-left: 17px;
  display: block;
  position: relative;
}
#SessionConfigModal .radio input + span:not(:empty) {
  padding-left: 25px;
}
#SessionConfigModal .radio input + span:before,
#SessionConfigModal .radio input + span:after {
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}
#SessionConfigModal .radio input + span:before {
  border: solid 0.5px #949494;
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
#SessionConfigModal .radio input + span:after {
  background: #fff;
  transform: scale(0.78);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
#SessionConfigModal .radio input:checked + span:before {
  transform: scale(1.04);
  background: white;
  border: solid 0.5px #949494;
}
#SessionConfigModal .radio input:checked + span:after {
  transform: scale(0.61);
  transition: transform 0.3s ease;
  background: #428BCA;
}
#SessionConfigModal .radio:hover input + span:before {
  transform: scale(0.92);
}
#SessionConfigModal .radio:hover input + span:after {
  transform: scale(0.74);
}
#SessionConfigModal .radio:hover input:checked + span:after {
  transform: scale(0.61);
}
#SessionConfigModal .sliders {
  margin-top: 50px;
  padding-left: 20px;
}
#SessionConfigModal .sliders .vue-slider-dot-tooltip-show {
  margin-bottom: -5px;
}
#SessionConfigModal .sliders .vue-slider-dot-tooltip-inner-top {
  background-color: transparent;
  color: black;
  margin-bottom: -9px;
}
#SessionConfigModal .sliders .vue-slider-dot-tooltip-inner-top::after {
  border: 0;
}
#SessionConfigModal .sliders .vue-slider-dot-tooltip-text {
  font-size: 10px;
  color: black;
}
#SessionConfigModal .sliders .noQuestions {
  margin-top: 74px;
}
@media (min-width: 768px) {
  #SessionConfigModal .sliders .noQuestions {
    margin-left: -109%;
    width: 203%;
  }
}
#SessionConfigModal .sliders .sliderContainer {
  display: flex;
  font-size: 10px;
}
#SessionConfigModal .sliders .sliderContainer .vueSlider,
#SessionConfigModal .sliders .sliderContainer .leftLabel,
#SessionConfigModal .sliders .sliderContainer .rightLabel {
  padding-top: 10px;
  padding-bottom: 10px;
}
#SessionConfigModal .sliders .sliderContainer .vueSlider {
  width: 255px;
}
#SessionConfigModal .sliders .sliderContainer .leftLabel,
#SessionConfigModal .sliders .sliderContainer .rightLabel {
  color: #949494;
  font-size: 10px;
  color: #555555;
}
#SessionConfigModal .sliders .sliderContainer .leftLabel {
  padding-right: 16px;
  text-align: right;
}
#SessionConfigModal .sliders .sliderContainer .rightLabel {
  padding-left: 16px;
}
#SessionConfigModal .alert {
  margin-top: 20px;
}
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}
.vue-slider-dot {
  position: absolute;
  will-change: transform;
  -webkit-transition: all 0s;
  transition: all 0s;
  z-index: 5;
}
.vue-slider-dot-tooltip {
  position: absolute;
  visibility: hidden;
}
.vue-slider-dot-tooltip-show {
  visibility: visible;
}
.vue-slider-dot-tooltip-top {
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
.vue-slider-dot-tooltip-bottom {
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
.vue-slider-dot-tooltip-left {
  left: -10px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.vue-slider-dot-tooltip-right {
  right: -10px;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.vue-slider-marks {
  position: relative;
  width: 100%;
  height: 100%;
}
.vue-slider-mark {
  position: absolute;
  z-index: 1;
}
.vue-slider-ltr .vue-slider-mark,
.vue-slider-rtl .vue-slider-mark {
  width: 0;
  height: 100%;
  top: 50%;
}
.vue-slider-ltr .vue-slider-mark-step,
.vue-slider-rtl .vue-slider-mark-step {
  top: 0;
}
.vue-slider-ltr .vue-slider-mark-label,
.vue-slider-rtl .vue-slider-mark-label {
  top: 100%;
  margin-top: 10px;
}
.vue-slider-ltr .vue-slider-mark {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vue-slider-ltr .vue-slider-mark-step {
  left: 0;
}
.vue-slider-ltr .vue-slider-mark-label {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vue-slider-rtl .vue-slider-mark {
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.vue-slider-rtl .vue-slider-mark-step {
  right: 0;
}
.vue-slider-rtl .vue-slider-mark-label {
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.vue-slider-btt .vue-slider-mark,
.vue-slider-ttb .vue-slider-mark {
  width: 100%;
  height: 0;
  left: 50%;
}
.vue-slider-btt .vue-slider-mark-step,
.vue-slider-ttb .vue-slider-mark-step {
  left: 0;
}
.vue-slider-btt .vue-slider-mark-label,
.vue-slider-ttb .vue-slider-mark-label {
  left: 100%;
  margin-left: 10px;
}
.vue-slider-btt .vue-slider-mark {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.vue-slider-btt .vue-slider-mark-step {
  top: 0;
}
.vue-slider-btt .vue-slider-mark-label {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vue-slider-ttb .vue-slider-mark {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vue-slider-ttb .vue-slider-mark-step {
  bottom: 0;
}
.vue-slider-ttb .vue-slider-mark-label {
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.vue-slider-mark-label,
.vue-slider-mark-step {
  position: absolute;
}
.vue-slider {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vue-slider-rail {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition-property: width, height, left, right, top, bottom;
  transition-property: width, height, left, right, top, bottom;
  background-color: silver;
  border-radius: 15px;
}
.vue-slider-process {
  position: absolute;
  z-index: 1;
  background: #428BCA;
  border-radius: 15px;
}
/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* mark style */
.vue-slider-mark {
  z-index: 4;
}
.vue-slider-mark:first-child .vue-slider-mark-step,
.vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}
.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}
.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}
/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}
.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
}
.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: #428BCA;
  background-color: #428BCA;
  box-sizing: content-box;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
  top: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
  left: 50%;
  transform: translate(-50%);
  height: 0;
  width: 0;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}
.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 0.3s;
}
.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}