@import (reference) '../../../Style/includes/imports.less';

@radioSize: 17px;
@borderColor: #949494;
@activeSelection: #428BCA;
@fontColor: @memo-blue;

.labelFont {
    font-size: 10px;
    color: @memo-grey-darker;
}

.paddingLeft20 {
    padding-left: 20px;
}

.opacity{
    opacity: 0.5;
}


.forbidden {
    cursor: not-allowed !important;
}

#QuestionSortSessionConfig {

    div{
        padding-bottom: 10px;
    }

    div:last-child{
        padding-bottom: 0;
    }

    .randomQuestions, .answerHelp, .repititions {
        display: flex;
        font-size: 14px;

        span {
            padding-left: 10px;
        }

        i {
            font-size: 12px;
            font-family: 'Open Sans';
            padding-left: 10px;
        }
    }
}

.inactive:before {
    opacity: 0.5;
}

.inactive{
    opacity: 0.5;
}



.rootElement {
    .notLoggedInModal {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EBCCCC;

        .notLoggedInHeader {
            font-family: 'Open Sans';
            font-size: 16px;
            padding: 30px 66px;
        }

        .notLoggedInButton {
            padding-bottom: 10px;

            a {
                color: #FFFFFF;
            }
        }

        .login {
            font-size: 12px;
            padding-bottom: 20px;
        }
    }
}
#SessionConfigModal {
    #SessionConfigHeader {
        padding-bottom: 20px;
    }


    .modal-header {
        background-color: @memo-green;
        border-bottom: none;

        h4 {
            padding-left: 20px;
            font-size: 24px;
            font-weight: bold;
            color: @fontColor;
        }

        h5 {
            padding-left: 20px;
            padding-top: 18px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
            color: @fontColor;
        }
    }

    .modal-body {
        padding-bottom: 0px;

        .test-mode {
            margin-top: 16px;
        }

        .must-logged-in {
            .paddingLeft20;
        }

        .test-mode-info {
            color: @memo-grey-dark;
            font-size: 12px;
            margin-top: 16px;
            max-width: 485px;
        }

        .fade-enter {
            opacity: 0;
        }

        .fade-enter-active {
            transition: opacity .3s ease-in;
        }

        .fade-leave {
            opacity: 0.5;
        }

        .fade-leave-active {
            transition: opacity 1s;
        }

        .fade-leave-to {
            opacity: 0;
        }

        .restricted-options {
            position: absolute;
            top: 45px;
            padding: 30px;
            width: 568px;
            left: calc(50% - 284px);
            z-index: 2;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .info-content {
                font-size: 20px;
                padding: 20px;
                text-align: center;
                max-width: 360px;
                width: 100%;
                cursor: default;
            }

            .restricted-options-buttons {
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }

        .modal-section-label {
            font-size: 14px;
            color: @fontColor;
            padding-top: 40px;
            font-weight: bold;
        }

        .modal-divider {
            border-bottom: 1px grey solid;
            opacity: 0.4;
            margin: 37px -14px 30px -34px;
        }

        #QuestionsHeader {
            font-size: 14px;
            color: @memo-blue;
            margin-bottom: 20px;
        }

        .modal-more-options {
            .paddingLeft20;
        }

        .more-options {
            color: @memo-green;
            font-size: 14px;
            margin-top: 50px;
            padding-bottom: 20px;
            cursor: pointer;


            .angle {
                margin-top: 1px;
            }
        }

        .themes-info {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(197, 240, 58, .41);
            height: 30px;
            margin-top: 50px;
            margin-right: -15px;
            margin-left: -15px;

            @media (max-width: 500px) {
                height: 60px;
            }

            p {
                font-size: 14px;
                color: @memo-blue;
                margin: 0;

                @media (max-width: 500px) {
                    margin-left: 35px;
                    margin-right: 35px;
                }
            }
        }

        #SafeLearnOptions {
            margin-top: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;

            @media (max-width: 420px) {
                padding-left: 20px;
            }

            .safe-settings {
                max-width: 344px;
            }

            label {
                font-size: 12px;
                color: rgba(85, 85, 85, 1);

                @media (min-width: 576px) {
                }
            }

            .info-options {
                color: @memo-grey-dark;
                margin-top: 13px;
                max-width: 344px;
                font-size: 12px;
            }
        }

        .displayNone {
            display: none;
        }
    }

    .sliderLabel, .checkbox-label {
        font-size: 14px;
        color: @memo-grey-darker;
        word-wrap: break-word;
    }

    input[type="checkbox"] {
        margin-right: 7px;
    }

    #AllQuestionMinus {
        margin-right: 6px;
        color: #0075ff;
        font-size: 14.5px;
        padding-left: 1px;
    }

    .modal-footer {
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
    }



    label.sliderLabel {
        padding-top: 20px;
        width: 100%;
    }

    .disabled-radios {

        .radio {

            input {
                + span {
                    &:before {
                        border: solid 0.5px #c0c0c0;
                        transform: none;
                    }

                    &:after {
                        background: none;
                    }
                }

                &:checked + span {
                    &:before {
                        border: solid 0.5px #c0c0c0;
                        transform: none;
                    }

                    &:after {
                        background: #c0c0c0;
                    }
                }
            }


            &:hover {
                cursor: default;

                input {
                    & + span {
                        &:before {
                            transform: none
                        }

                        &:after {
                            transform: none
                        }
                    }

                    &:checked + span {

                        &:after {
                            transform: scale(.61);
                        }
                    }
                }
            }
        }
    }


    .radio {
        margin: 16px 0;
        display: flex;
        cursor: pointer;

        .radioLabelContainer {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            .radioLabel {
                line-height: 17px;
                width: 20%;
                padding-left: 8px;
                min-width: 100px;

                &.fullSize {
                    width: 100%;
                }
            }

            .labelInfo {
                width: 80%;
                float: right;
                font-size: 14px;
                color: #C0C0C0;
                font-style: italic;
                padding-right: 35px;
                min-width: 200px;
            }
        }



        input {
            display: none;

            & + span {
                line-height: @radioSize;
                height: @radioSize;
                padding-left: @radioSize;
                display: block;
                position: relative;

                &:not(:empty) {
                    padding-left: @radioSize + 8;
                }

                &:before,
                &:after {
                    content: '';
                    width: @radioSize;
                    height: @radioSize;
                    display: block;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    position: absolute;
                }

                &:before {
                    border: solid 0.5px @borderColor;
                    transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
                }

                &:after {
                    background: #fff;
                    transform: scale(.78);
                    transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
                }
            }

            &:checked + span {
                &:before {
                    transform: scale(1.04);
                    background: white;
                    border: solid 0.5px @borderColor;
                }

                &:after {
                    transform: scale(.61);
                    transition: transform .3s ease;
                    background: @activeSelection;
                }
            }
        }

        &:hover {
            input {
                & + span {
                    &:before {
                        transform: scale(.92);
                    }

                    &:after {
                        transform: scale(.74);
                    }
                }

                &:checked + span {
                    &:after {
                        transform: scale(.61);
                    }
                }
            }
        }
    }



    .sliders {
        .vue-slider-dot-tooltip-show{
            margin-bottom: -5px;
        }
        
        .vue-slider-dot-tooltip-inner-top {
            background-color: transparent;
            color: black;
            margin-bottom: -9px;
        }

        .vue-slider-dot-tooltip-inner-top::after {
            border: 0;
        }

        .vue-slider-dot-tooltip-text{
            font-size : 10px;
            color: black;
        }
        margin-top: 50px;
        padding-left: 20px;

        .noQuestions {
            margin-top: 74px;

            @media(min-width: 768px) {
                margin-left: -109%;
                width: 203%;
            }
        }

        .sliderContainer {
            display: flex;
            font-size: 10px;

            .vueSlider, .leftLabel, .rightLabel {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .vueSlider {
                width: 255px;
            }

            .leftLabel, .rightLabel {
                color: @borderColor;
                .labelFont;
            }

            .leftLabel {
                padding-right: 16px;
                text-align: right;
            }

            .rightLabel {
                padding-left: 16px;
            }
        }
    }

    .alert {
        margin-top: 20px;
    }
}


    .vue-slider-dot-handle {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
        box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
    }

    .vue-slider-dot {
        position: absolute;
        will-change: transform;
        -webkit-transition: all 0s;
        transition: all 0s;
        z-index: 5
    }

    .vue-slider-dot-tooltip {
        position: absolute;
        visibility: hidden
    }

    .vue-slider-dot-tooltip-show {
        visibility: visible
    }

    .vue-slider-dot-tooltip-top {
        top: -10px;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%)
    }

    .vue-slider-dot-tooltip-bottom {
        bottom: -10px;
        left: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%)
    }

    .vue-slider-dot-tooltip-left {
        left: -10px;
        top: 50%;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%)
    }

    .vue-slider-dot-tooltip-right {
        right: -10px;
        top: 50%;
        -webkit-transform: translate(100%, -50%);
        transform: translate(100%, -50%)
    }

    .vue-slider-marks {
        position: relative;
        width: 100%;
        height: 100%
    }

    .vue-slider-mark {
        position: absolute;
        z-index: 1
    }

    .vue-slider-ltr .vue-slider-mark,
    .vue-slider-rtl .vue-slider-mark {
        width: 0;
        height: 100%;
        top: 50%
    }

    .vue-slider-ltr .vue-slider-mark-step,
    .vue-slider-rtl .vue-slider-mark-step {
        top: 0
    }

    .vue-slider-ltr .vue-slider-mark-label,
    .vue-slider-rtl .vue-slider-mark-label {
        top: 100%;
        margin-top: 10px
    }

    .vue-slider-ltr .vue-slider-mark {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .vue-slider-ltr .vue-slider-mark-step {
        left: 0
    }

    .vue-slider-ltr .vue-slider-mark-label {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .vue-slider-rtl .vue-slider-mark {
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%)
    }

    .vue-slider-rtl .vue-slider-mark-step {
        right: 0
    }

    .vue-slider-rtl .vue-slider-mark-label {
        right: 50%;
        -webkit-transform: translateX(50%);
        transform: translateX(50%)
    }

    .vue-slider-btt .vue-slider-mark,
    .vue-slider-ttb .vue-slider-mark {
        width: 100%;
        height: 0;
        left: 50%
    }

    .vue-slider-btt .vue-slider-mark-step,
    .vue-slider-ttb .vue-slider-mark-step {
        left: 0
    }

    .vue-slider-btt .vue-slider-mark-label,
    .vue-slider-ttb .vue-slider-mark-label {
        left: 100%;
        margin-left: 10px
    }

    .vue-slider-btt .vue-slider-mark {
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%)
    }

    .vue-slider-btt .vue-slider-mark-step {
        top: 0
    }

    .vue-slider-btt .vue-slider-mark-label {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .vue-slider-ttb .vue-slider-mark {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

    .vue-slider-ttb .vue-slider-mark-step {
        bottom: 0
    }

    .vue-slider-ttb .vue-slider-mark-label {
        bottom: 50%;
        -webkit-transform: translateY(50%);
        transform: translateY(50%)
    }

    .vue-slider-mark-label,
    .vue-slider-mark-step {
        position: absolute
    }

    .vue-slider {
        position: relative;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .vue-slider-rail {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transition-property: width, height, left, right, top, bottom;
        transition-property: width, height, left, right, top, bottom;
        background-color: silver;
        border-radius: 15px;
    }

    .vue-slider-process {
        position: absolute;
        z-index: 1;
        background: @activeSelection;
        border-radius: 15px;
    }
    /* component style */
    .vue-slider-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    /* mark style */
    .vue-slider-mark {
        z-index: 4;
    }

    .vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
        display: none;
    }

    .vue-slider-mark-step {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.16);
    }

    .vue-slider-mark-label {
        font-size: 14px;
        white-space: nowrap;
    }
    /* dot style */
    .vue-slider-dot-handle {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
    }

    .vue-slider-dot-handle-focus {
        box-shadow: 0px 0px 1px 2px rgba(52, 152, 219, 0.36);
    }

    .vue-slider-dot-handle-disabled {
        cursor: not-allowed;
        background-color: #ccc;
    }

    .vue-slider-dot-tooltip-inner {
        font-size: 14px;
        white-space: nowrap;
        padding: 2px 5px;
        min-width: 20px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        border-color: @activeSelection;
        background-color: @activeSelection;
        box-sizing: content-box;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            border-color: transparent;
            border-style: solid;
            border-width: 5px;
            border-top-color: inherit;
            left: 50%;
            transform: translate(-50%);
            height: 0;
            width: 0;
        }
    }

    .vue-slider-dot-tooltip-inner-top::after {
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-top-color: inherit;
    }

    .vue-slider-dot-tooltip-inner-bottom::after {
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-bottom-color: inherit;
    }

    .vue-slider-dot-tooltip-inner-left::after {
        left: 100%;
        top: 50%;
        transform: translate(0, -50%);
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-left-color: inherit;
    }

    .vue-slider-dot-tooltip-inner-right::after {
        right: 100%;
        top: 50%;
        transform: translate(0, -50%);
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-right-color: inherit;
    }

    .vue-slider-dot-tooltip-wrapper {
        opacity: 0;
        transition: all 0.3s;
    }

    .vue-slider-dot-tooltip-wrapper-show {
        opacity: 1;
    }
