<ion-view view-title="Dev" cache-view="false">
    <ion-content>

        <div class="list">

            <div class="card">
                <div class="item item-text-wrap">
                    <h3>Entwickler Infos,</h3>

                    <p>Username: {{userName}}</p>
                    <p>Login-Code: {{accessToken}}</p>
                    <p>Device-Token: {{deviceToken}}</p>
                    <p>Messages: {{messageCount}}</p>
                    <p>SenderId: {{senderId}}</p>
                </div>
            </div>

            <a class="item item-icon-left" ng-click="deleteMsgs()">
                <i class="icon ion-settings"></i>
                Lösche alle Nachrichten
            </a>

            <a class="item item-icon-left" ng-click="createMsg()">
                <i class="icon ion-settings"></i>
                Erzeuge Nachricht
            </a>

            <a class="item item-icon-left" ng-click="pushInfo()">
                <i class="icon ion-settings"></i>
                Teste CordovaPush
            </a>

        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="back()">zurück</button>
        </div>

    </ion-content>
</ion-view>