<ion-view view-title="Login" cache-view="false">
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                Die APP hilft dir, dich optimal auf Lerntermine vorzubereiten.
            </div>
        </div>

        <div class="card" ng-show="hasError" id="errorLogin">
            <div class="item item-text-wrap" style="background-color: red; color: white;">
                Ungültige Zugangsdaten
            </div>
        </div>

        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Deine Email</span>
                <input type="text" placeholder="foo@test.de" ng-model="user.email">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Passwort</span>
                <input type="password" placeholder="Dein Passwort" ng-model="user.password">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">Login</button>
        </div>

    </ion-content>
</ion-view>