@import (reference) '../../../Style/includes/imports.less';

.FormColumnGrid (@labels-stacked: true; 3);//conditional styles, @labels-stacked: TRUE for having labels stacked

.input-group {

    min-width: 140px;
    max-width: 400px;
    width: 140px;
}