@import (reference) '../../../Style/includes/imports.less';

#MainWrapper {
    background-color: white;
    padding: 20px;
    font-size: 18px;

    h1 {
        font-size: 45px;
        font-weight: normal;
    }

    h2 {
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 28px;
    }

    p, ul, ol {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}


//#BecomeMemberForm 
.FormSection {
    background-color: transparent;
    padding-top: 10px;
}


#PriceSelection {

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    .radio {
        margin-bottom: 20px;
        clear: left;
    }

    label .Title {
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .PriceLevelInfo {
        margin-top: 10px;

        .Description {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }

    .LabelInline {
        cursor: default;
    }
}

#invoiceForm {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.NotInFocus {
    color: GrayText !important;
}

label.ValidationError {
    padding-left: 0 !important;
}