@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#MasterMainWrapper {
  background-color: white;
  padding: 20px;
  font-size: 18px;
}
#MasterMainWrapper h1 {
  font-size: 45px;
  font-weight: normal;
}
#MasterMainWrapper h2 {
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 20px;
}
#MasterMainWrapper h3 {
  font-size: 28px;
}
#MasterMainWrapper p,
#MasterMainWrapper ul,
#MasterMainWrapper ol {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.FormSection {
  background-color: transparent;
  padding-top: 10px;
}
#PriceSelection {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
#PriceSelection .radio {
  margin-bottom: 20px;
  clear: left;
}
#PriceSelection label .Title {
  font-weight: bold;
}
#PriceSelection .bold {
  font-weight: bold;
}
#PriceSelection .PriceLevelInfo {
  margin-top: 10px;
}
#PriceSelection .PriceLevelInfo .Description {
  font-size: 14px;
  margin-bottom: 5px;
}
#PriceSelection .LabelInline {
  cursor: default;
}
#invoiceForm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.NotInFocus {
  color: GrayText !important;
}
label.ValidationError {
  padding-left: 0 !important;
}