@import (reference) '../../../Style/includes/imports.less';

//#BecomeMemberForm 
.FormSection {
    background-color: transparent;
    padding-top: 10px;
}

#PriceSelection {

    .radio {
        margin-bottom: 20px;
        clear: left;
    }

    label .Title {
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .PriceLevelInfo {
        margin-top: 10px;

        .Description {
            font-size: 90%;
            margin-bottom: 5px;
        }
    }

    .LabelInline {
        cursor: default;
    }
}

.NotInFocus {
    color: GrayText !important;
}