@import (reference) '../../../Style/includes/imports.less';

#MainWrapper {
    background-color: white;
    padding: 20px;
    font-size: 18px;

    h1 {
        font-size: 45px;
        font-weight: normal;
    }

    h2 {
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 28px;
    }

    p, ul, ol {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
