@{
    ViewBag.Title = "Home Page";
}

<h2>TrueOrFalse Administration</h2>

<h3>@ViewBag.Message</h3>

<p>        
    <form method="post">
        <input type="submit" value="Beispieldaten anlegen." name="createSampleData"  />
    </form>
</p>
