<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(/dashboard)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://localhost:8080" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
