body {


    #address {
        margin-top: 50px;
        margin-bottom: 20px;

        h5 {
            color: #203256;
        }

        #description {
            margin-top: 40px;
        }
    }



    .title {
        display: inline-block;
        color: #203256;
        border-width: 2px;
        border-bottom: solid;
        border-bottom-color: #afd534;
    }

    #drivingDirection {
        margin-top: 50px;
    }

    p {
        color: #203256;
    }
}
