.promoter-overview {

    p {
        color: #4975BC;
    }

    .col-xs-5 {
        margin-bottom: 10px;
        margin-top: 70px;
    }

    #efri {
        width: 140px;
    }

    #exist {
        width: 125px;
    }

    #profund {
        width: 160;
        height: 68;
    }

    .footer {
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 768px) {
        #efri, #exist {
            margin-left: -50px;
        }

        #profund{
            margin-left: -75px;
        }
    }
}

.FooterCol, .Promoter, #GlobalLicense{
    display: none;
}

#PromoterH2 {
    max-width: 120px;
    border-bottom: 3px solid #AFD534;
}
