p {
  color: #4975BC;
}
.col-md-2 {
  margin-bottom: 50px;
  margin-top: 70px;
}
#efri {
  width: 140px;
}
#exist {
  width: 125px;
}
#profund {
  width: 160;
  height: 68;
}
.footer {
  margin-bottom: 100px;
}