.promoter-overview {
  /*@media only screen and (max-width: 768px) {
        #efri, #exist {
            margin-left: -50px;
        }

        #profund {
            margin-left: -75px;
        }
    }*/
}
.promoter-overview .imgLogoDiv {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
}
.promoter-overview p {
  /*color: @memo-blue;*/
  font-size: 18px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.promoter-overview .col-xs-5 {
  margin-bottom: 10px;
  margin-top: 70px;
}
.promoter-overview .lastParagraph {
  margin-bottom: 100px;
}
.Promoter,
#GlobalLicense {
  display: none;
}