.infoItemRow {
    .infoItemColumn {
        
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

        .infoIcon {
            font-size: 45px;
            color: blue;
        }

        .infoCatchWord {
            font-weight: bold;
            padding: 10px 5px;
        }

        .infoExplanationSnippet {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.TeamText {
    margin-top: 40px;
}

.ShortParagraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#link-share{
    margin-top: 40px;
    margin-bottom: 40px;

}
