body {
}

.teaser {
    padding: 15px;
    background-color: #E7ECF6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.teaser h1, .teaser h2 {
    margin: 0px;
}

.teaser h1 {
    font-size: 25px;
}

.teaser h2 {
    font-size: 20px;
}

div.question-short-row {
    background-color: white;
    padding: 5px;
    border-top-color: #A6BADE;
    border-top-style: solid;
    border-top-width: 1px;
   }

a.question-short {
    font-size: 18px;
}