@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
#memuchoInfo {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #F6F8FC;
  background-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
}
#memuchoInfo blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
#memuchoInfo > h1:first-child,
#memuchoInfo > h2:first-child,
#memuchoInfo > h3:first-child,
#memuchoInfo > h4:first-child {
  margin-top: 0;
}
#memuchoInfo img {
  border-radius: 4px;
}
#memuchoInfo.Team .ImageColumn {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#memuchoInfo.Team .ImageColumn img {
  width: auto;
  max-width: 100%;
}
@media (max-width: 479px) {
  #memuchoInfo {
    text-align: center;
  }
}
#memuchoInfoHeader,
.WelcomeBoxHeader {
  font-weight: bold;
}
#memuchoInfoMain {
  padding: 20px;
  padding-bottom: 10px;
  background-color: white;
}
#memuchoInfoMain .numberCircleWrapper {
  font-size: 24px;
}
@media (min-width: 480px) and (max-width: 767px) {
  #memuchoInfoMain .numberCircleWrapper {
    padding-top: 7px;
  }
}
#memuchoInfoMain .numberCircle {
  margin-top: -0.1em;
}
#memuchoInfoMain .numberCircleOne {
  color: #188bff;
}
#memuchoInfoMain .numberCircleTwo {
  color: #0065ca;
}
#memuchoInfoMain .numberCircleThree {
  color: #004b97;
}
#memuchoInfoMain .numberCircleText {
  color: white;
  margin-top: -0.2em;
  font-size: 1.2em;
}
#memuchoInfoMain .memuchoInfoBenefit {
  font-size: 22px;
  margin-left: 8px;
  font-weight: 600;
}
@media (max-width: 479px) {
  #memuchoInfoMain .memuchoInfoBenefit {
    display: block;
    margin-top: -5px;
  }
}
#memuchoInfoMain .memuchoInfoBenefitSub {
  font-size: 16px;
  color: #999999;
  padding-bottom: 13px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  #memuchoInfoMain .memuchoInfoBenefitSub {
    margin-left: 60px;
    margin-top: -10px;
    display: block;
  }
}
@media (max-width: 479px) {
  #memuchoInfoMain .memuchoInfoBenefitSub {
    margin-left: 0;
    margin-top: 0px;
  }
}
#memuchoInfoFooter {
  text-align: center;
  padding-top: 20px;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #d6d6d6;
}
#memuchoInfoFooter a {
  margin: 2px;
}
#WelcomeDashboard {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #F6F8FC;
  background-color: white;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
}
#WelcomeDashboard blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
#WelcomeDashboard > h1:first-child,
#WelcomeDashboard > h2:first-child,
#WelcomeDashboard > h3:first-child,
#WelcomeDashboard > h4:first-child {
  margin-top: 0;
}
#WelcomeDashboard img {
  border-radius: 4px;
}
#WelcomeDashboard.Team .ImageColumn {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
#WelcomeDashboard.Team .ImageColumn img {
  width: auto;
  max-width: 100%;
}
/* Progress bar Next Level 
------------------------------------------------------*/
.ProgressBarContainer,
.ProgressBarSegment {
  height: 30px;
}
.ProgressBarContainer {
  display: table;
  width: 100%;
  border: solid 2px #AFD534;
  background-color: #AFD534;
  margin-bottom: 5px;
}
.ProgressBarContainer:before,
.ProgressBarContainer:after {
  content: " ";
  display: table;
}
.ProgressBarContainer:after {
  clear: both;
}
.ProgressBarContainer:before,
.ProgressBarContainer:after {
  content: " ";
  display: table;
}
.ProgressBarContainer:after {
  clear: both;
}
.ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  min-width: 30px;
  font-weight: bold;
}
.ProgressBarDone {
  background-color: #AFD534;
  position: relative;
  overflow: visible;
}
.ProgressBarLeft {
  background-color: #e1efb3;
}
/*------------------------------------------------------*/
.EduCategoryRow {
  margin-top: 20px;
  margin-bottom: 40px;
}
.EduCategory {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
  border: 1px solid #e3e3e3;
  padding: 15px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: block;
  white-space: normal;
  height: 100px;
  position: relative;
  margin-bottom: 20px;
  color: #003264;
  height: auto;
  padding: 25px 0;
}
.EduCategory:focus,
.EduCategory:active:focus,
.EduCategory.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.EduCategory:hover,
.EduCategory:focus {
  color: #333;
  text-decoration: none;
}
.EduCategory:active,
.EduCategory.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.EduCategory.disabled,
.EduCategory[disabled],
fieldset[disabled] .EduCategory {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.EduCategory:hover,
.EduCategory:focus,
.EduCategory:active,
.EduCategory.active,
.open .dropdown-toggle.EduCategory {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.EduCategory:active,
.EduCategory.active,
.open .dropdown-toggle.EduCategory {
  background-image: none;
}
.EduCategory.disabled,
.EduCategory[disabled],
fieldset[disabled] .EduCategory,
.EduCategory.disabled:hover,
.EduCategory[disabled]:hover,
fieldset[disabled] .EduCategory:hover,
.EduCategory.disabled:focus,
.EduCategory[disabled]:focus,
fieldset[disabled] .EduCategory:focus,
.EduCategory.disabled:active,
.EduCategory[disabled]:active,
fieldset[disabled] .EduCategory:active,
.EduCategory.disabled.active,
.EduCategory[disabled].active,
fieldset[disabled] .EduCategory.active {
  background-color: #fff;
  border-color: #ccc;
}
.EduCategory .badge {
  color: #fff;
  background-color: #333;
}
.EduCategory.LookDisabled {
  color: darkgray;
  box-shadow: none;
}
.EduCategory.LookDisabled:hover {
  background-color: white;
}
.EduCategory.LookNotClickable {
  color: darkgray;
  box-shadow: none;
  cursor: default;
}
.EduCategory.LookNotClickable:hover {
  background-color: white;
}
.EduCategory a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.EduCategory:hover,
.EduCategory:active,
.EduCategory:focus {
  text-decoration: none;
  color: #AFD534;
  background-color: #f3f2f2;
}
.EduCategory:hover .IconForeground,
.EduCategory:active .IconForeground,
.EduCategory:focus .IconForeground {
  color: #003264;
}
.EduCategoryIcon,
.EduCategoryText {
  display: block;
}
.EduCategoryIcon {
  font-size: 25px;
  margin-bottom: 5px;
}
.EduCategoryText {
  font-size: 16px;
  font-weight: bold;
}
.welcomeContentSectionHeader {
  margin-top: 50px;
  margin-bottom: 2px;
}
.CardsPortrait + .welcomeContentSectionHeader,
.CardsLandscape + .welcomeContentSectionHeader {
  margin-top: 30px;
}
.welcomeContentSectionTarget {
  color: #999999;
  margin-bottom: 5px;
}
.welcomeContentSectionTeaser {
  margin-bottom: 20px;
}
div.question-short-row {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #A6BADE;
}
div.question-short-row:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
div.question-short-row:first-child {
  padding-top: 0px;
}
a.question-short {
  font-size: 15px;
}
.well {
  background-color: #F6F8FC;
  background-color: white;
}
.well > h1:first-child,
.well > h2:first-child,
.well > h3:first-child,
.well > h4:first-child {
  margin-top: 0;
}
.well img {
  border-radius: 4px;
}
.well.Team .ImageColumn {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.well.Team .ImageColumn img {
  width: auto;
  max-width: 100%;
}
.panel img {
  border-radius: 4px;
}
@media (max-width: 479px) {
  .panel .pull-left {
    width: 30%;
  }
}
.panel-body {
  padding: 10px;
}
.thumbnail {
  width: 100%;
  padding: 10px;
}
.thumbnail img {
  border-radius: 4px;
}
.thumbnail .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.thumbnail .caption {
  padding: 0;
}
@media (max-width: 479px) {
  .thumbnail {
    padding: 10px;
  }
  .thumbnail:before,
  .thumbnail:after {
    content: " ";
    display: table;
  }
  .thumbnail:after {
    clear: both;
  }
  .thumbnail:before,
  .thumbnail:after {
    content: " ";
    display: table;
  }
  .thumbnail:after {
    clear: both;
  }
  .thumbnail img {
    float: left;
    width: 30%;
  }
  .thumbnail .caption {
    margin-left: 30%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 10px;
  }
  .thumbnail h4 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .CardsPortrait .CardColumn .Card {
    margin-left: auto;
    margin-right: auto;
  }
  .CardsPortrait .CardColumn .Card.SingleItem {
    max-width: 300px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer {
    float: none;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    /*line-height: 18px;*/
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom-left-radius: 5px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    line-height: 18px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo:after {
    content: "Bild- & Lizenzinfos";
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    border-bottom-left-radius: 0;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .CardContent {
    height: 180px;
  }
}
#nominationInnopreis img {
  border-radius: 0;
}