@import (reference) '../../Style/includes/imports.less';

/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.welcomeContentSectionHeader {
    margin-top: 50px;
    margin-bottom: 2px;

    .CardsPortrait + &, .CardsLandscape + & {
        margin-top: 30px;
    }
}

.welcomeContentSectionTarget {
    .greyed;
    margin-bottom: 5px;
}

.welcomeContentSectionTeaser {
    margin-bottom: 20px;
}

div.question-short-row {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #A6BADE;
   }

div.question-short-row:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    }

div.question-short-row:first-child {
    padding-top: 0px;
    }

a.question-short {
    font-size: 15px;
}

.well {
    background-color: @color-background-lightblue;
    background-color: white;

    > h1, > h2, > h3, > h4 {
        &:first-child {margin-top: 0;}
    }

    img {
        border-radius: 4px;
    }

    &.Team .ImageColumn {
        .make-xs-column(4);
        margin-bottom: 20px;
                                   
        img {
            width: auto;
            max-width: 100%;
        }
    }
}

    
.panel {
    img {
        border-radius: 4px;
    }

    .pull-left { 
        .media-below-xs ({
            width: 30%;
        })
    }
}

.panel-body {
    padding: 10px;
}

//Bootstrap Thumbnails    



.thumbnail {

    width: 100%;
    padding: 10px;

    img {
        border-radius: 4px;
    }

    .btn {
        .btn-sm;
    }

    .caption {
        padding: 0;
    }

    .media-below-xs ({

        .clearfix;
        padding: 10px;
        //display: flex;

        img {
            float: left;
            width: 30%;
        }

        .caption {
           // display: flex;
           margin-left: 30%;
           padding-top: 0;
           padding-bottom: 0;
           padding-right: 0;
           padding-left: 10px;
        }

        h4 {margin-top: 0;}

      //  .btn {float: right;}
    })
}

.CardsPortrait {

    .media-sm-up({
        .CardColumn{
            .MakeSingleItemCardPortrait
        }
    });
    
}