@import (reference) '../../Style/includes/imports.less';


//--- CardDesigns, needs to be cleaned up and/or moved to shared.less when card-design is done


.CardsMiniPortrait { // Apply to row
    .CardMiniColumn {

        .media-below-xs( {
            width: 50%;
        }

        );
        display: flex;

        h4 {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
        }

        .Card {
            width: 100%
        }

        .Card.SingleItem .ImageContainer img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .CardContent {
            margin-left: 8px;
            margin-right: 8px;

            .ItemTitle {
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }

        .LicenseInfo {
            margin-left: 8px;
            margin-right: 8px;
            .greyed;
        }

        .FullLicenseLinkText;
    }
}


html.flexbox:not(.Explorer) {
    .CardsMiniPortrait {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.SingleItem .CardContent {
    height: auto;
}



/* GENERAL PAGE STYLING
--------------------------------------------------------- */

.float-right-sm-up {
    .media-sm-up( {
        float: right;
    }

    );
}

.float-right-lg-up {
    .media-lg( {
        float: right;
    }

    );
}

.align-left-md-up {
    .media-md-up( {
        text-align: left;
    }

    )
}

.align-right-md-up {
    .media-md-up( {
        text-align: right;
    }

    )
}


.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid lightgrey;
}

.btn-primary.btn-lg {
    //text-transform: uppercase;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: @global-text-color-grey;
    text-align: center;
}

h4 {
    font-size: 22px;
}

.ShortParagraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#MasterSection {
    padding-bottom: 0;
}

#MasterMainContent {
    padding-top: 0;

    #MasterMainColumn {
        width: 100%;
    }
}


#welcomeContainer {
    background-color: white;
    padding: 0 20px 100px 20px;
    font-size: 18px;
    overflow: auto; //Prevent overflowing of margin-top of h1
    overflow-x: hidden;

    .media-md-up( {
        padding-left: 20px;
        padding-right: 20px;
    }

    );

    .media-lg( {
        padding-left: 50px;
        padding-right: 50px;
    }

    );

    p {
        max-width: @paragraph-max-width;
    }
}

.makeFullWidth {
    margin-left: -10px;
    margin-right: -10px;

    .media-md-up( {
        margin-left: -30px;
        margin-right: -30px;
    }

    );

    .media-lg( {
        margin-left: -60px;
        margin-right: -60px;
    }

    );
}


/* FIND YOUR CONTENT BUTTONS 
-------------------------------------------------------------- */

#titleFindYourContent {
    font-size: 45px;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 8px;
    color: #003264;
}

#titleFindYourContentSub {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: @global-text-color-grey;
    font-size: 22px;
}


.EduCategoryRow {
    margin-top: 20px;
    margin-bottom: 50px;

    .media-md-up( {
        margin-bottom: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }

    );

    .media-lg( {
        padding-left: 150px;
        padding-right: 150px;
    }

    );
}

.EduCategory {
    display: block;
    text-align: center;
    color: @memo-blue;
    .BoxButton;
    height: auto;
    padding: 25px 0;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: @memo-green;
        background-color: #f3f2f2;

        .IconForeground {
            color: @memo-blue;
        }
    }
}

.EduCategoryIcon, .EduCategoryText {
    display: block;
}

.EduCategoryIcon {
    font-size: 25px;
    margin-bottom: 5px;
}

.EduCategoryText {
    font-size: @font-size-bigger;
    font-weight: bold;
}


/* DASHBOARD ELEMENTS
----------------------------------------------- */

#WelcomeDashboard {
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    #dashboardPoints, #dashboardKnowledgeWheel {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        .media-below-sm( {
            padding-left: 40px;
            padding-right: 40px;
        }

        );

        .media-md-up( {
            padding-left: 20px;
            padding-right: 20px;
        }

        );

        .media-lg( {
            padding-left: 40px;
            padding-right: 40px;
        }

        );
    }

    #dashboardPoints {

        .media-below-sm( {
            margin-bottom: 50px;
        }

        );
    }

    #chartWishKnowledge {
        height: 200px;
        text-align: left;
    }

    #dashboardFooter {
        text-align: left;
        margin-top: 20px;

        .media-below-sm ( {
            text-align: center;
        }

        );

        a.btn {
            margin-top: 10px;
        }
    }
}

/* Progress bar Next Level 
------------------------------------------------------*/
.ProgressBarContainer, .ProgressBarSegment {
    height: 30px;
}

.ProgressBarContainer {
    display: table;
    width: 100%;
    border: solid 2px @memo-green;
    background-color: @memo-green;
    margin-bottom: 5px;
    .clearfix;
}

.ProgressBarSegment {
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: top; //Fix Firefox height bug
}

.ProgressBarLegend {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 100%;
    min-width: 30px;
    font-weight: bold;
}

.ProgressBarDone {
    background-color: @memo-green;
    position: relative;
    overflow: visible;
}

.ProgressBarLeft {
    background-color: lighten(@memo-green, 30);
}

/* WHAT IS MEMUCHO 
------------------------------------------------------ */

#memuchoInfo {
    margin-top: 144px;

    .media-below-xs( {
        text-align: center;
    }

    );
}

#memuchoInfoFooter { // is mixed-in in other footers (see below)
    text-align: right;
    padding-top: 0;
    background-color: white;
    margin-bottom: 30px;
    /*.media-below-sm( {
        text-align: center;
    });*/
    div a.btn {
        margin-top: 10px;
    }
    /*span .btn {
        margin-top: 10px;
        display: inline-block;
    }*/
}

/* INFO BOX */



.infoBox {
    background-color: lighten(@memo-green,20);

    .row {
        .col-md-3 {
            text-align: center;
        } 
    }

    .vertical-center {
        vertical-align: middle;
    }

    h3 {
        text-align: center;
        color: #003564;
        padding-bottom: 15px;
    }
}
    /*margin-top: 144px;
    margin-bottom: 40px;
    .makeFullWidth;
    padding: 20px;

   .imageTop {
       
        text-align: center;
    }


    .contentFullWidth {

        li {
            margin-left: 220px;
        }

       

        p {
            .media-sm-up( {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            )
        }
    }*/
    //}
    /* TOPIC OF THE WEEK
------------------------------------------------------*/
    .topicOfWeekContainer {
        margin-top: 144px;
        margin-bottom: 40px;

        .separatorCategory {
            margin-top: 10px;
            margin-bottom: 10px;
            border-top: 5px solid @color-category;
        }


        .topicOfWeekContainerInner {
            max-width: @paragraph-max-width;
            text-align: left;
            margin: 0 auto;
        }


        .topicOfWeekMainImage {
            display: inline-block;
            float: left;
            max-width: 200px;
            margin-right: 30px;
        }

        .topicOfWeekFooter {
            text-align: center;
            padding-top: 40px; //using margin would lead to unexpected behaviour if description text is shorter than the image high.
            margin-bottom: 40px;
            clear: both;

            .media-sm-up ( {
                text-align: left;
            }

            );
            /*a.btn {
            margin-top: 20px;
        }*/
        }

        .topicOfWeekQuiz {
            margin-top: 50px;
        }

        .topicOfWeekAdditionalRecom {
            margin-top: 40px;

            h3 {
                margin-bottom: 20px;
            }
        }
    }
    /* CONTENT PRESENTATION
------------------------------------------------------*/
    #ContentAvailable {
        margin-top: 144px;
        margin-bottom: 38px;

        .row.CardsMiniPortrait {
            margin-top: 40px;
        }

        .EduCategoryLinkCard {

            .ContentContainer {
                height: 100%;

                .CardContent {
                    height: 100%;
                }
            }

            .CardContent {
                margin-left: 0;
                margin-right: 0;
            }

            .EduCategory {
                box-shadow: none;
                border: none;
                border-color: #fff;
                margin-bottom: 0;
                height: 100%;
            }

            .EduCategoryText {
                font-size: 18px;
            }

            .EduCategoryTextSub {
                display: inline-block;
                margin-top: 20px;
                color: @global-text-color-grey;
                font-weight: 500;
            }
        }
    }
    /* BLOGPOST CAROUSEL
------------------------------------------------------*/
    #blogposts {
        //.makeFullWidth;
        margin: 85px -20px 55px;
        //margin-bottom: 55px;
        padding: 30px 20px 10px;
        background-color: #eeeeee;

        h3 {
            margin-bottom: 75px;
            margin-top: 10px;
            text-align: center;
        }

        #carouselBlogPosts {
        }

        .carousel {
            margin-left: -20px;
            margin-right: -20px;
            padding-bottom: 80px;

            .carousel-inner {

                .item {
                    padding: 0 60px;
                    min-height: 300px;
                }

                .carousel-img {
                    text-align: center;
                    padding-bottom: 30px;

                    img {
                        max-height: 200px;
                    }

                    .img-caption {
                        color: @global-text-color-grey;
                        font-size: smaller;
                    }
                }

                p.authorInfo {
                    margin-bottom: 0px;
                    color: @global-text-color-grey;
                    font-size: smaller;
                }

                h4 {
                    margin-top: 5px;
                    margin-bottom: 15px;
                }

                .blogpostButtons {
                    margin-top: 30px;

                    .btn {
                        margin-top: 20px;
                    }
                }
            }

            .carousel-indicators {
                li {
                    margin: 0 5px;
                    width: 19px;
                    height: 19px;
                    border: 2px solid @memo-green;
                }

                li.active {
                    background-color: @memo-green;
                }
            }

            .carousel-control {
                width: 50px;
                color: @memo-green;
                margin-bottom: 80px;

                .glyphicon {
                    font: normal normal normal 22px/1 FontAwesome;
                    font-size: 50px;
                    top: 110px;

                    .media-below-sm( {
                        top: 150px;
                    }

                    );
                }

                .glyphicon-chevron-left {

                    &::before {
                        content: "\f053";
                    }
                }

                .glyphicon-chevron-right::before {
                    content: "\f054";
                }
            }
        }
    }
    /* AWARDS & PARTNER
------------------------------------------------------*/
    #awards, #partner {
        margin-top: 144px;

        div.logo-box {
            text-align: center;
        }

        .img-logo {
            margin-top: 38px;

            .media-sm-up ( {
                min-height: 160px;
            }

            );

            img {
                margin: 10px;
                margin-bottom: 10px;
            }
        }

        .logo-box-link {
            margin-top: 15px;
        }
    }

    #awards div.logo-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    #partner div.logo-box {
        padding-left: 30px;
        padding-right: 30px;
    }
    /* WHAT IS MEMUCHO - EXTENDED VERSION
------------------------------------------------------*/
    .infoItemRow {
        .infoItemColumn {
            .xxs-stack;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;

            .infoIcon {
                font-size: 45px;
                color: @memo-blue;
            }

            .infoCatchWord {
                font-weight: bold;
                padding: 10px 5px;
            }

            .infoExplanationSnippet {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #memuchoInfoExtended {
        margin-top: 144px;

        #memuchoInfoExtendedFooter {
            text-align: right;
        }
    }

    #principles {
        margin-top: 144px;

        #memuchoPrinciplesFooter {
            #memuchoInfoFooter;
            padding-top: 0;
        }
    }

    #team {
        margin-top: 144px;

        .TeamPic {
            margin-bottom: 0;
        }

        .infoCatchWord {
            padding-bottom: 2px;
        }
    }

    .TeamText {
        margin-top: 40px;
    }
