@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
.welcomeContentSectionHeader {
  margin-top: 30px;
  margin-bottom: 2px;
}
.welcomeContentSectionTarget {
  color: #999999;
  margin-bottom: 5px;
}
.welcomeContentSectionTeaser {
  margin-bottom: 20px;
}
div.question-short-row {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #A6BADE;
}
div.question-short-row:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
div.question-short-row:first-child {
  padding-top: 0px;
}
a.question-short {
  font-size: 15px;
}
.well {
  background-color: #F6F8FC;
  background-color: white;
}
.well > h1:first-child,
.well > h2:first-child,
.well > h3:first-child,
.well > h4:first-child {
  margin-top: 0;
}
.well img {
  border-radius: 4px;
}
@media (max-width: 479px) {
  .well img:not(.ItemImage) {
    width: 100%;
  }
}
.well.Founder .ImageColumn {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.well.Founder .ImageColumn img {
  width: auto;
  max-width: 100%;
}
.panel img {
  border-radius: 4px;
}
@media (max-width: 479px) {
  .panel .pull-left {
    width: 30%;
  }
}
.panel-body {
  padding: 10px;
}
.thumbnail {
  width: 100%;
  padding: 10px;
}
.thumbnail img {
  border-radius: 4px;
}
.thumbnail .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.thumbnail .caption {
  padding: 0;
}
@media (max-width: 479px) {
  .thumbnail {
    padding: 10px;
  }
  .thumbnail:before,
  .thumbnail:after {
    content: " ";
    display: table;
  }
  .thumbnail:after {
    clear: both;
  }
  .thumbnail:before,
  .thumbnail:after {
    content: " ";
    display: table;
  }
  .thumbnail:after {
    clear: both;
  }
  .thumbnail img {
    float: left;
    width: 30%;
  }
  .thumbnail .caption {
    margin-left: 30%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 10px;
  }
  .thumbnail h4 {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .CardsPortrait .CardColumn .Card {
    margin-left: auto;
    margin-right: auto;
  }
  .CardsPortrait .CardColumn .Card.SingleItem {
    max-width: 300px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer {
    float: none;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    /*line-height: 18px;*/
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom-left-radius: 5px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    line-height: 18px;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo:after {
    content: "Bild- & Lizenzinfos";
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer .LicenseInfo {
    border-bottom-left-radius: 0;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .ImageContainer img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .CardsPortrait .CardColumn .Card.SingleItem .CardContent {
    height: 180px;
  }
}