@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
.right {
  float: right;
  padding-top: 10px;
}
.CardsMiniPortrait .CardMiniColumn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 479px) {
  .CardsMiniPortrait .CardMiniColumn {
    width: 50%;
  }
}
.CardsMiniPortrait .CardMiniColumn h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.CardsMiniPortrait .CardMiniColumn .Card {
  width: 100%;
}
.CardsMiniPortrait .CardMiniColumn .Card.SingleItem .ImageContainer img {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}
.CardsMiniPortrait .CardMiniColumn .CardContent {
  margin-left: 8px;
  margin-right: 8px;
}
.CardsMiniPortrait .CardMiniColumn .CardContent .ItemTitle {
  margin-top: 10px;
  margin-bottom: 15px;
}
.CardsMiniPortrait .CardMiniColumn .LicenseInfo {
  margin-left: 8px;
  margin-right: 8px;
  color: #999999;
}
.CardsMiniPortrait .CardMiniColumn .LicenseInfo {
  line-height: 18px;
}
.CardsMiniPortrait .CardMiniColumn .LicenseInfo:after {
  content: "Bild- & Lizenzinfos";
}
html.flexbox:not(.Explorer) .CardsMiniPortrait {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.SingleItem .CardContent {
  height: auto;
}
/* GENERAL PAGE STYLING
--------------------------------------------------------- */
@media (min-width: 768px) {
  .float-right-sm-up {
    float: right;
  }
}
@media (min-width: 1200px) {
  .float-right-lg-up {
    float: right;
  }
}
@media (min-width: 992px) {
  .align-left-md-up {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .align-right-md-up {
    text-align: right;
  }
}
.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid lightgrey;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: normal;
}
h2 {
  font-size: 35px;
  text-align: center;
}
h3 {
  font-size: 26px;
  font-weight: 600;
  color: #999999;
  text-align: center;
}
h4 {
  font-size: 22px;
}
.ShortParagraph {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#MasterSection {
  padding-bottom: 0;
}
#MasterMainContent {
  padding-top: 0;
}
#MasterMainContent #MasterMainColumn {
  width: 100%;
}
#welcomeContainer {
  background-color: white;
  padding: 0 20px 50px 20px;
  font-size: 18px;
  overflow: auto;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  #welcomeContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  #welcomeContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
#welcomeContainer p {
  max-width: 720px;
}
.makeFullWidth {
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 992px) {
  .makeFullWidth {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media (min-width: 1200px) {
  .makeFullWidth {
    margin-left: -60px;
    margin-right: -60px;
  }
}
/* FIND YOUR CONTENT BUTTONS 
-------------------------------------------------------------- */
#titleFindYourContent {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 8px;
  color: #003264;
}
#titleFindYourContentSub {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: #999999;
  font-size: 22px;
}
.EduCategoryRow {
  margin-top: 20px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .EduCategoryRow {
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .EduCategoryRow {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.EduCategory {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.23);
  border: 1px solid #e3e3e3;
  padding: 15px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: block;
  white-space: normal;
  height: 100px;
  position: relative;
  margin-bottom: 20px;
  color: #003264;
  height: auto;
  padding: 25px 0;
}
.EduCategory:focus,
.EduCategory:active:focus,
.EduCategory.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.EduCategory:hover,
.EduCategory:focus {
  color: #333;
  text-decoration: none;
}
.EduCategory:active,
.EduCategory.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.EduCategory.disabled,
.EduCategory[disabled],
fieldset[disabled] .EduCategory {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.EduCategory:hover,
.EduCategory:focus,
.EduCategory:active,
.EduCategory.active,
.open .dropdown-toggle.EduCategory {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.EduCategory:active,
.EduCategory.active,
.open .dropdown-toggle.EduCategory {
  background-image: none;
}
.EduCategory.disabled,
.EduCategory[disabled],
fieldset[disabled] .EduCategory,
.EduCategory.disabled:hover,
.EduCategory[disabled]:hover,
fieldset[disabled] .EduCategory:hover,
.EduCategory.disabled:focus,
.EduCategory[disabled]:focus,
fieldset[disabled] .EduCategory:focus,
.EduCategory.disabled:active,
.EduCategory[disabled]:active,
fieldset[disabled] .EduCategory:active,
.EduCategory.disabled.active,
.EduCategory[disabled].active,
fieldset[disabled] .EduCategory.active {
  background-color: #fff;
  border-color: #ccc;
}
.EduCategory .badge {
  color: #fff;
  background-color: #333;
}
.EduCategory.LookDisabled {
  color: darkgray;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.EduCategory.LookDisabled:hover {
  background-color: white;
}
.EduCategory.LookNotClickable {
  color: darkgray;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default;
}
.EduCategory.LookNotClickable:hover {
  background-color: white;
}
.EduCategory a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.EduCategory:hover,
.EduCategory:active,
.EduCategory:focus {
  text-decoration: none;
  color: #AFD534;
  background-color: #f3f2f2;
}
.EduCategory:hover .IconForeground,
.EduCategory:active .IconForeground,
.EduCategory:focus .IconForeground {
  color: #003264;
}
.EduCategoryIcon,
.EduCategoryText {
  display: block;
}
.EduCategoryIcon {
  font-size: 25px;
  margin-bottom: 5px;
}
.EduCategoryText {
  font-size: 16px;
  font-weight: bold;
}
/* DASHBOARD ELEMENTS
----------------------------------------------- */
#WelcomeDashboard {
  margin-top: 50px;
  margin-bottom: 50px;
}
#WelcomeDashboard h2 {
  text-align: center;
  margin-bottom: 40px;
}
#WelcomeDashboard #dashboardPoints,
#WelcomeDashboard #dashboardKnowledgeWheel {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 767px) {
  #WelcomeDashboard #dashboardPoints,
  #WelcomeDashboard #dashboardKnowledgeWheel {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  #WelcomeDashboard #dashboardPoints,
  #WelcomeDashboard #dashboardKnowledgeWheel {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  #WelcomeDashboard #dashboardPoints,
  #WelcomeDashboard #dashboardKnowledgeWheel {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  #WelcomeDashboard #dashboardPoints {
    margin-bottom: 50px;
  }
}
#WelcomeDashboard #chartWishKnowledge {
  height: 200px;
  text-align: left;
}
#WelcomeDashboard #dashboardFooter {
  text-align: left;
  margin-top: 20px;
}
@media (max-width: 767px) {
  #WelcomeDashboard #dashboardFooter {
    text-align: center;
  }
}
#WelcomeDashboard #dashboardFooter a.btn {
  margin-top: 10px;
}
/* Progress bar Next Level 
------------------------------------------------------*/
.ProgressBarContainer,
.ProgressBarSegment {
  height: 30px;
}
.ProgressBarContainer {
  display: table;
  width: 100%;
  border: solid 2px #AFD534;
  background-color: #AFD534;
  margin-bottom: 5px;
}
.ProgressBarContainer:before,
.ProgressBarContainer:after {
  content: " ";
  display: table;
}
.ProgressBarContainer:after {
  clear: both;
}
.ProgressBarContainer:before,
.ProgressBarContainer:after {
  content: " ";
  display: table;
}
.ProgressBarContainer:after {
  clear: both;
}
.ProgressBarSegment {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: top;
}
.ProgressBarLegend {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100%;
  min-width: 30px;
  font-weight: bold;
}
.ProgressBarDone {
  background-color: #AFD534;
  position: relative;
  overflow: visible;
}
.ProgressBarLeft {
  background-color: #e1efb3;
}
/* WHAT IS MEMUCHO 
------------------------------------------------------ */
#memuchoInfo {
  margin-top: 144px;
}
@media (max-width: 479px) {
  #memuchoInfo {
    text-align: center;
  }
}
#memuchoInfoFooter {
  text-align: right;
  padding-top: 0;
  background-color: white;
  margin-bottom: 30px;
  /*.media-below-sm( {
        text-align: center;
    });*/
  /*span .btn {
        margin-top: 10px;
        display: inline-block;
    }*/
}
#memuchoInfoFooter div a.btn {
  margin-top: 10px;
}
/* INFO BOX */
.infoBox {
  background-color: #d0e689;
}
.infoBox .row .col-md-3 {
  text-align: center;
}
.infoBox .vertical-center {
  vertical-align: middle;
}
.infoBox h3 {
  text-align: center;
  color: #003564;
  padding-bottom: 15px;
}
/*margin-top: 144px;
    margin-bottom: 40px;
    .makeFullWidth;
    padding: 20px;

   .imageTop {
       
        text-align: center;
    }


    .contentFullWidth {

        li {
            margin-left: 220px;
        }

       

        p {
            .media-sm-up( {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }

            )
        }
    }*/
/* TOPIC OF THE WEEK
------------------------------------------------------*/
.topicOfWeekContainer {
  margin-top: 144px;
  margin-bottom: 40px;
}
.topicOfWeekContainer .separatorCategory {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 5px solid #45aece;
}
.topicOfWeekContainer .topicOfWeekContainerInner {
  max-width: 720px;
  text-align: left;
  margin: 0 auto;
}
.topicOfWeekContainer .topicOfWeekMainImage {
  display: inline-block;
  float: left;
  max-width: 200px;
  margin-right: 30px;
}
.topicOfWeekContainer .topicOfWeekFooter {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  clear: both;
  /*a.btn {
            margin-top: 20px;
        }*/
}
@media (min-width: 768px) {
  .topicOfWeekContainer .topicOfWeekFooter {
    text-align: left;
  }
}
.topicOfWeekContainer .topicOfWeekQuiz {
  margin-top: 50px;
}
.topicOfWeekContainer .topicOfWeekAdditionalRecom {
  margin-top: 40px;
}
.topicOfWeekContainer .topicOfWeekAdditionalRecom h3 {
  margin-bottom: 20px;
}
/* CONTENT PRESENTATION
------------------------------------------------------*/
#ContentAvailable {
  margin-top: 144px;
  margin-bottom: 38px;
}
#ContentAvailable .row.CardsMiniPortrait {
  margin-top: 40px;
}
#ContentAvailable .EduCategoryLinkCard .ContentContainer {
  height: 100%;
}
#ContentAvailable .EduCategoryLinkCard .ContentContainer .CardContent {
  height: 100%;
}
#ContentAvailable .EduCategoryLinkCard .CardContent {
  margin-left: 0;
  margin-right: 0;
}
#ContentAvailable .EduCategoryLinkCard .EduCategory {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-color: #fff;
  margin-bottom: 0;
  height: 100%;
}
#ContentAvailable .EduCategoryLinkCard .EduCategoryText {
  font-size: 18px;
}
#ContentAvailable .EduCategoryLinkCard .EduCategoryTextSub {
  display: inline-block;
  margin-top: 20px;
  color: #999999;
  font-weight: 500;
}
/* BLOGPOST CAROUSEL
------------------------------------------------------*/
#blogposts {
  margin: 85px -20px 55px;
  padding: 30px 20px 10px;
  background-color: #eeeeee;
}
#blogposts h3 {
  margin-bottom: 75px;
  margin-top: 10px;
  text-align: center;
}
#blogposts .carousel {
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 80px;
}
#blogposts .carousel .carousel-inner .item {
  padding: 0 60px;
  min-height: 300px;
}
#blogposts .carousel .carousel-inner .carousel-img {
  text-align: center;
  padding-bottom: 30px;
}
#blogposts .carousel .carousel-inner .carousel-img img {
  max-height: 200px;
}
#blogposts .carousel .carousel-inner .carousel-img .img-caption {
  color: #999999;
  font-size: smaller;
}
#blogposts .carousel .carousel-inner p.authorInfo {
  margin-bottom: 0px;
  color: #999999;
  font-size: smaller;
}
#blogposts .carousel .carousel-inner h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}
#blogposts .carousel .carousel-inner .blogpostButtons {
  margin-top: 30px;
}
#blogposts .carousel .carousel-inner .blogpostButtons .btn {
  margin-top: 20px;
}
#blogposts .carousel .carousel-indicators li {
  margin: 0 5px;
  width: 19px;
  height: 19px;
  border: 2px solid #AFD534;
}
#blogposts .carousel .carousel-indicators li.active {
  background-color: #AFD534;
}
#blogposts .carousel .carousel-control {
  width: 50px;
  color: #AFD534;
  margin-bottom: 80px;
}
#blogposts .carousel .carousel-control .glyphicon {
  font: normal normal normal 22px/1 FontAwesome;
  font-size: 50px;
  top: 110px;
}
@media (max-width: 767px) {
  #blogposts .carousel .carousel-control .glyphicon {
    top: 150px;
  }
}
#blogposts .carousel .carousel-control .glyphicon-chevron-left::before {
  content: "\f053";
}
#blogposts .carousel .carousel-control .glyphicon-chevron-right::before {
  content: "\f054";
}
/* AWARDS & PARTNER
------------------------------------------------------*/
#awards,
#partner {
  margin-top: 144px;
}
#awards div.logo-box,
#partner div.logo-box {
  text-align: center;
}
#awards .img-logo,
#partner .img-logo {
  margin-top: 38px;
}
@media (min-width: 768px) {
  #awards .img-logo,
  #partner .img-logo {
    min-height: 160px;
  }
}
#awards .img-logo img,
#partner .img-logo img {
  margin: 10px;
  margin-bottom: 10px;
}
#awards .logo-box-link,
#partner .logo-box-link {
  margin-top: 15px;
}
#awards div.logo-box {
  padding-left: 10px;
  padding-right: 10px;
}
#partner div.logo-box {
  padding-left: 30px;
  padding-right: 30px;
}
/* WHAT IS MEMUCHO - EXTENDED VERSION
------------------------------------------------------*/
.infoItemRow .infoItemColumn {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  .infoItemRow .infoItemColumn {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.infoItemRow .infoItemColumn .infoIcon {
  font-size: 45px;
  color: #003264;
}
.infoItemRow .infoItemColumn .infoCatchWord {
  font-weight: bold;
  padding: 10px 5px;
}
.infoItemRow .infoItemColumn .infoExplanationSnippet {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#memuchoInfoExtended {
  margin-top: 144px;
}
#memuchoInfoExtended #memuchoInfoExtendedFooter {
  text-align: right;
}
#principles {
  margin-top: 144px;
}
#principles #memuchoPrinciplesFooter {
  text-align: right;
  background-color: white;
  margin-bottom: 30px;
  /*.media-below-sm( {
        text-align: center;
    });*/
  /*span .btn {
        margin-top: 10px;
        display: inline-block;
    }*/
  padding-top: 0;
}
#principles #memuchoPrinciplesFooter div a.btn {
  margin-top: 10px;
}
#team {
  margin-top: 144px;
}
#team .TeamPic {
  margin-bottom: 0;
}
#team .infoCatchWord {
  padding-bottom: 2px;
}
.TeamText {
  margin-top: 40px;
}