@import (reference) '../../Style/includes/imports.less';


//--- temporary stuff, needs to be cleaned up when card-design is done

.SingleItem .CardContent {
    height: 80px;

}



//---------------
#MasterMainContent {
    padding-top: 0;

    #MasterMainColumn {
        width: 100%;
    }
}


#welcomeContainer {
    background-color: white;
}

/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

#titleFindYourContent {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 35px;
}


#memuchoInfo {
    .well;
    .ShadowBox;

    .media-below-xs( {
        text-align: center;
    }

    );
}

#memuchoInfoHeader, .WelcomeBoxHeader {
    font-weight: bold;
}

#memuchoInfoMain {
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;

    .numberCircleWrapper {
        font-size: 24px;
        .media-xs({
            padding-top: 7px;
        });
    }

    .numberCircle {
        margin-top: -.1em;
    }

    .numberCircleOne {
        color: lighten(@memo-blue, 35);
    }
    .numberCircleTwo {
        color: lighten(@memo-blue, 20);
    }
    .numberCircleThree {
        color: lighten(@memo-blue, 10);
    }

    .numberCircleText {
        color: white;
        margin-top: -.2em;
        font-size: 1.2em;
    }

    .memuchoInfoBenefit {
        font-size: 22px;
        margin-left: 8px;
        font-weight: 600;

        .media-below-xs({
            display: block;
            margin-top: -5px;
        });
    }

    .memuchoInfoBenefitSub {
        font-size: 16px;
        color: @global-text-color-grey;
        padding-bottom: 13px;
        margin-left: 10px;

        .media-below-sm({
            margin-left: 60px;
            margin-top: -10px;
            display: block;
        });

        .media-below-xs({
            margin-left: 0;
            margin-top: 0px;
        });
    }
    
}

#memuchoInfoFooter {
    text-align: center;
    padding-top: 20px;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid @border-grey;
    a {
        margin: 2px;
    }
}

#WelcomeDashboard {
    /*.well;
    .ShadowBox;*/
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.categoryOfWeekContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}


/* Progress bar Next Level 
------------------------------------------------------*/
.ProgressBarContainer, .ProgressBarSegment {
    height: 30px;
}

.ProgressBarContainer {
    display: table;
    width: 100%;

    border: solid 2px @memo-green;
    background-color: @memo-green;
    margin-bottom: 5px;
    .clearfix;
}

.ProgressBarSegment {
    display: table-cell;
    overflow: hidden;
    text-align: center;
    vertical-align: top; //Fix Firefox height bug
}

.ProgressBarLegend {
    position: absolute;
    left: 0px;
    top: 4px;
    width: 100%;
    min-width: 30px;
    font-weight: bold;
}

.ProgressBarDone {
    background-color: @memo-green;
    position: relative;
    overflow: visible;
}

.ProgressBarLeft {
    background-color: lighten(@memo-green, 30);
}



/*------------------------------------------------------*/










.EduCategoryRow {
    margin-top: 20px;
    margin-bottom: 40px;

    .media-md-up( {
        margin-left: 30px;
        margin-right: 30px;
    }

    );
}

.EduCategory {
    display: block;
    text-align: center;
    color: @memo-blue;
    .BoxButton;
    height: auto;
    padding: 25px 0;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: @memo-green;
        background-color: #f3f2f2;
        
        .IconForeground {
            color: @memo-blue;
        }
    }
}

.EduCategoryIcon, .EduCategoryText {
    display: block;
}

.EduCategoryIcon {
    font-size: 25px;
    margin-bottom: 5px;
}

.EduCategoryText {
    font-size: @font-size-bigger;
    font-weight: bold;
}

.welcomeContentSectionHeader {
    margin-top: 50px;
    margin-bottom: 2px;

    .CardsPortrait + &, .CardsLandscape + & {
        margin-top: 30px;
    }
}

.welcomeContentSectionTarget {
    .greyed;
    margin-bottom: 5px;
}

.welcomeContentSectionTeaser {
    margin-bottom: 20px;
}

div.question-short-row {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #A6BADE;
   }

div.question-short-row:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    }

div.question-short-row:first-child {
    padding-top: 0px;
    }

a.question-short {
    font-size: 15px;
}

.well {
    background-color: @color-background-lightblue;
    background-color: white;

    > h1, > h2, > h3, > h4 {
        &:first-child {margin-top: 0;}
    }

    img {
        border-radius: 4px;
    }

    &.Team .ImageColumn {
        .make-xs-column(4);
        margin-bottom: 20px;
                                   
        img {
            width: auto;
            max-width: 100%;
        }
    }
}

    
.panel {
    img {
        border-radius: 4px;
    }

    .pull-left { 
        .media-below-xs ({
            width: 30%;
        })
    }
}

.panel-body {
    padding: 10px;
}

//Bootstrap Thumbnails    



.thumbnail {

    width: 100%;
    padding: 10px;

    img {
        border-radius: 4px;
    }

    .btn {
        .btn-sm;
    }

    .caption {
        padding: 0;
    }

    .media-below-xs ({

        .clearfix;
        padding: 10px;
        //display: flex;

        img {
            float: left;
            width: 30%;
        }

        .caption {
           // display: flex;
           margin-left: 30%;
           padding-top: 0;
           padding-bottom: 0;
           padding-right: 0;
           padding-left: 10px;
        }

        h4 {margin-top: 0;}

      //  .btn {float: right;}
    })
}

.CardsPortrait {

    .media-sm-up({
        .CardColumn{
            .MakeSingleItemCardPortrait
        }
    });
    
}


#nominationInnopreis {

    img {
        border-radius: 0;
    }
}