.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


.usercard-enter-active,
.usercard-leave-active {
  transition: all 0.5s ease;
}
.usercard-enter-from,
.usercard-leave-to {
  opacity: 0;
  transform: translateX(30px);
}