body {
}



.teaser {
    padding: 10px;
    background-color: #E7ECF6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.teaser h1, .teaser h2 {
    margin: 0px;
}

.teaser h1 {
    font-size: 20px;
    line-height: 25px;
}

.teaser h2 {
    font-size: 14px;
}

div.box1 {
    padding: 7px;
    border-color: #A6BADE;
    border-style: solid;
    border-width: 1px;
}

div.box1 h2 {
    line-height: normal;
    padding-bottom: 5px;
}

div.box2 {
    padding: 7px;
   }

div.box2 h2 {
    line-height: normal;
    padding-bottom: 5px;
}


div.box-content1 {
    background-color: white;
    padding: 5px;
    border-color: #A6BADE;
    border-style: solid;
    border-width: 1px;
   }

div.box3 {
    border-left: none;
    border-right: none;
}

div.box4 {
    border: none;
}

div.box5 {
    border-left: none;
    border-right: none;
    border-bottom: none;
    }