body {
}



.teaser {
    padding: 10px;
    background-color: #E7ECF6;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 15px;
}
.teaser h1, .teaser h2 {
    margin: 0px;
}

.teaser h1 {
    font-size: 20px;
    line-height: 25px;
}

.teaser h2 {
    font-size: 14px;
}

div.box1 {
    padding: 7px;
    border-color: #A6BADE;
    border-style: solid;
    border-width: 1px;
}

div.box1 h2 {
    line-height: normal;
    padding-bottom: 5px;
}

div.box2 {
    padding: 7px;
   }

div.box2 h2 {
    line-height: normal;
    padding-bottom: 5px;
}


div.box-content1 {
    background-color: white;
    padding: 5px;
    border-color: #A6BADE;
    border-style: solid;
    border-width: 1px;
   }

div.box3 {
    border-left: none;
    border-right: none;
}

div.box4 {
    border: none;
}

div.box5 {
    border-left: none;
    border-right: none;
    border-bottom: none;
    }

div.form-actions {
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
}

div.content-unit {
    border-top: 6px #2E487B solid;
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}

div.content-unit3 {
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit3 h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}

div.content-unit4 {
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit4 h3 {
    margin-top: 0px;
    border-bottom: 6px #2E487B solid;
}

div.content-unit5 {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit5 h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}











.thumbnail-video {
    width: 282px;
    height: 159px;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}
        
           .thumbnail-video img {
                width: 101%;
                position: absolute;
                left: 0;
                display: block;
                top: -27.4375px;
            }

           .playbutton-container {
            position: absolute;
            display: block;
	        width: 282px;
	        height: 159px;
           }

           .playbutton {
            position: absolute;
            display: block;
            background: url('/Images/Drafts/layout-sprite.png') no-repeat 0 -301px;
	        width: 56px;
	        height: 38px;
           	right: 113px;
            margin-top: 60.5px;
           }

           

           .red {
                background: url('/Images/Drafts/layout-sprite.png') no-repeat -58px -301px;
               width: 57px;
               visibility: hidden;

           }

           .playbutton-container:hover .basic {
               visibility: hidden;
           }
           
           .playbutton-container:hover .red {
               visibility: visible;
           }
         

span.default {
    background: url('../../images/layout-sprite.png') no-repeat -18px -151px;
	width: 7px;
	height: 7px;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-bottom: 3px;
}

a:hover span.default {
    background: url('../../images/layout-sprite.png') no-repeat -78px -151px;
    
}

span.hover {
    background: url('../../images/layout-sprite.png') no-repeat -78px -151px;
	width: 7px;
	height: 7px;
    display: inline-block;
}

