body {
}




div.content-unit {
    border-top: 6px #2E487B solid;
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}

div.content-unit3 {
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit3 h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}

div.content-unit4 {
    border-bottom: 4px #2E487B solid;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit4 h3 {
    margin-top: 0px;
    border-bottom: 6px #2E487B solid;
}

div.content-unit5 {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

div.content-unit5 h3 {
    margin-top: 0px;
    border-bottom: 4px #2E487B solid;
}