<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    
    <style type="text/css">
        iframe{ max-width: 600px;}
        h1, h2, h3{
            border-bottom: 1px solid silver;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    
    <h1>Widget</h1>
    
    <ul>
        <li><a href="#question">Question</a></li>
        <li><a href="#setTest">Set (Test)</a></li>
        <li><a href="#setVideo">Set (Video)</a></li>
    </ul>
    
    <h3><a id="question">Question</a></h3>
    <script src="https://memucho.de/views/widgets/w.js" t="question" id="374" width="100%" height="115"></script>

    <h3><a id="setTest">Set (Test)</a></h3>
    <script src="https://memucho.de/views/widgets/w.js" t="set" id="22" width="100%" height="115"></script>
    
    <h3><a id="setVideo">Set (Video)</a></h3>
    <script src="https://memucho.de/views/widgets/w.js" t="setVideo" id="95" width="100%" height="115"></script>

</body>
</html>