@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
.columnControlsFull {
  font-size: 90%;
}
.columnControlsFull .radio,
.columnControlsFull .form-control-static,
.columnControlsFull .added-cat {
  font-size: 111.11111111%;
}
.columnLabel {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left !important;
}
.columnControlsFull,
.noControls {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.columnControlsFull .radio,
.noControls .radio,
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  margin-left: 20px;
}
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  padding-top: 0;
}
.noLabel .form-control-static {
  margin-left: 0;
}
.aside .columnControlsFull .radio,
.aside .columnControlsFull .form-control-static {
  margin-left: 0;
}
/*.columnControlsFull {

            .radio, .form-control-static {
                margin-left: 20px;
                aside {
                    margin-left: 0;
                }
            }
        }*/
.columnControlsSmall {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 479px) {
  .columnControlsSmall {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.noLabel {
  margin-left: 0;
}
.radio {
  margin-left: 20px;
}
.added-cat.SingleSelect {
  margin-left: 20px;
}
input.form-control,
textarea.form-control,
select.form-control {
  max-width: 400px;
}
.input-group input.form-control,
.input-group textarea.form-control,
.input-group select.form-control {
  max-width: none;
}
.separationBorderTop {
  border-top: 1px solid #d6d6d6;
  padding-top: 15px;
  margin-top: 10px;
}
#ulQuestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#ulQuestions li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.0em;
  line-height: 1.2em;
  background: none;
  background-color: white;
}
#ulQuestions li .QuestionTools {
  position: relative;
  right: 0;
  float: right;
  margin-left: 5px;
}
#ulQuestions li .DeleteButton {
  cursor: pointer;
  padding-top: 9px;
}
#ulQuestions li .QuestionText {
  max-height: 32px;
  max-width: 450px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 34px;
  display: inline-block;
}
@media screen and (max-width: 730px) {
  #ulQuestions li .QuestionText {
    max-width: 60%;
  }
}
@media screen and (max-width: 445px) {
  #ulQuestions li .QuestionText {
    max-width: 40%;
  }
}
#ulQuestions li .QuestionText .fa-chevron-right {
  padding-left: 5px;
  padding-right: 3px;
}
.ui-state-highlight {
  height: 40px;
  line-height: 1.2em;
  border: none;
}
#ulQuestions li.ui-state-highlight {
  background-color: gainsboro;
}
.draggable-panel {
  height: 30px;
  width: 30px;
  cursor: move;
  margin-right: 5px;
  font-size: 20px;
}
.draggable-panel i {
  margin-top: 7px;
  margin-right: 7px;
}
textarea.form-control {
  width: 100%;
  max-width: none;
  height: 120px;
}
#editSet {
  margin-top: 6.0em;
}
/*#question {
    border: solid;
   
}*/
.questionsSearch {
  margin: 5px 5px 5px 13px;
  padding: 5px 5px 5px 5px;
  font-size: 1.3em;
  line-height: 1.5em;
  background: none;
  background-color: white;
  border: 1px solid gainsboro;
}
.questionsSearch .previewImage {
  height: 50px;
  width: 70px;
}
.questionsSearch .linkQuestion {
  font-size: 7px;
  margin: auto;
}
.FormSection {
  box-shadow: none;
}
#btnSave {
  margin-top: 20px;
  margin-bottom: 50px;
}
#questionSearch {
  padding-left: 13px;
}
#createNewQuestionInLearnSet {
  padding-left: 13px;
}
#btnCreateNewQuestionInLearnSet {
  margin-top: 25px;
}
#learnSetSave {
  margin: 20px 0px 0px 4px;
}