@import (reference) '../../../Style/includes/imports.less';

.omb_login .omb_socialButtons a {
    color: @memo-grey-darker;
    border: 1px solid @memo-grey-light;
    font-weight: 600;
}

.omb_login .omb_socialButtons a:hover {
    color: black;
    border: 1px solid black;
}

.socialMediaLogo {
    height: 20px;
}

.socialMediaBtnContainer {
    padding: 7px 0 0 0;
    display: flex;
    align-items: center;

    @media (min-width: @screen-sm-min) {
        padding: 0 2.5px;
    }

    .socialMediaBtn {
        display: flex;

        .socialMediaLogo {
            padding: 0 0px 0 16px;
        }

        .socialMediaLabel {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0 16px 0 8px;
        }
    }
}

.omb_socialButtons {
    &:first-child {
        padding-left: 7px;
    }

    &:last-child {
        padding-right: 7px;
    }
}

.loginInputs {
    resize: none;
    height: 44px;
    overflow: hidden;
    width: 100%;
    padding: 0 15px 0;
    border: solid @memo-grey-light 1px;
    box-shadow: none;
    color: @memo-grey-dark !important;
}

.eyeIcon {
    position: absolute;
    top: 16px;
    font-size: 16px;
    right: 30px;
    cursor: pointer;
}

.checkboxText {
    vertical-align: top !important;
    padding-left: 4px;
}
.infoContainer{
    margin: -10px 0 15px 0;
}

.consentInfoText {
    margin-top:30px;
    font-size: 12px;
}

.errorMessage{
    color: @memo-salmon;
    padding: 5px 0 0 0;
}

.register-divider-container {
    height: 53px;
    margin-bottom:10px;

    .register-divider-label-container, .register-divider {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        margin: 0 -10px;
        height: 100%;

        .register-divider-label {
            background: white;
            height: 53px;
            width: 53px;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .register-divider-line {
            height: 1px;
            background: @memo-grey-light;
            width: 100%;
        }
    }
}

.login-register {
    color: @memo-grey-dark;
}

.register-title {
    padding-left: 7px;
}