
.omb_login .omb_socialButtons a {
    color: #555555;
    border: 1px solid #DDDDDD;
    font-weight: 600;
}

.omb_login .omb_socialButtons a:hover {
    color: black;
    border: 1px solid black;
}

.socialMediaLogo {
    height: 20px;
    position: absolute;
    left: 2em;
}

.socialMediaBtnContainer {
    padding-top: 7px;
    display: flex;
    align-items: center;
}
