version: "3.9"
services:
  mem-backend:
    image: ghcr.io/memowikis/mem-backend:${BUILD_NUMBER:-error}
    ports:
      - "${BACKEND_PORT:-7000}:5069"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ${HOST_IMAGE_PATH:-error}:${ABSOLUTE_IMAGE_PATH:-error}
      - ${HOST_MMAP_CACHE_PATH:-error}:${ABSOLUTE_MMAP_CACHE_PATH:-error}
    networks:
      - environment-specific-network
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT:-stage}
      #Override appsettings:
      - Paths__AbsoluteImagePath=${ABSOLUTE_IMAGE_PATH:-/app/Images}
      - Paths__AbsoluteMmapCachePath=${ABSOLUTE_MMAP_CACHE_PATH:-/app/MmapCache}
      - Paths__PageContentImages=${PAGE_CONTENT_IMAGE_FOLDER:-PageContent}
      - Paths__PageImages=${PAGE_IMAGE_FOLDER:-Page}
      - Paths__QuestionContentImages=${QUESTION_CONTENT_IMAGE_FOLDER:-QuestionContentImages}
      - Paths__QuestionImages=${QUESTION_IMAGE_FOLDER:-Questions}
      - Paths__UserImages=${USER_IMAGE_FOLDER:-Users}
      - General__SeqUrl=${SEQ_URL:-http://host.docker.internal:5341}
      - General__SeqApiKey=${SEQ_API_KEY:-error}
      - General__CanonicalHost=${CANONICAL_HOST:-error}
      - General__ConnectionString=${CONNECTION_STRING:-error}
      - General__Environment=${ENVIRONMENT:-error}
      - General__MemoWikisUserId=${MEMOWIKIS_USER_ID:-error}
      - General__SaltCookie=${SALT_COOKIE:-error}
      - General__UpdateUserSettingsKey=${UPDATE_USER_SETTINGS_KEY:-error}
      - General__TrackersToIgnore=${TRACKERS_TO_IGNORE:-error}
      - General__BaseUrl=${BASE_URL:-error}
      - LoginProvider__FacebookAppId=${FACEBOOK_APP_ID:-error}
      - LoginProvider__FacebookAppSecret=${FACEBOOK_APP_SECRET:-error}
      - Stripe__WebhookKeyStripe=${WEBHOOK_KEY_STRIPE:-error}
      - Stripe__StripeSecurityKey=${STRIPE_SECURITY_KEY:-error}
      - Stripe__StripeBaseUrl=${STRIPE_BASE_URL:-error}
      - Meilisearch__MeiliSearchUrl=${MEILISEARCH_URL:-error}
      - Meilisearch__MeiliSearchMasterKey=${MEILISEARCH_MASTER_KEY:-error}
      - Email__EmailFrom=${EMAIL_FROM:-error}
      - Email__EmailToMemoWikis=${EMAIL_TO_MEMOWIKIS:-error}
      - Redis__Url=${REDIS_URL:-error}
      - Google__ClientId=${GOOGLE_CLIENT_ID:-error}
      - Collaboration__TokenSecretKey=${COLLABORATION_TOKEN_SECRET_KEY:-error}
      - Collaboration__HocuspocusSecretKey=${COLLABORATION_HOCUSPOCUS_SECRET_KEY:-error}
      - OpenAI__ApiKey=${OPENAI_API_KEY:-error}
      - OpenAI__Model=${OPENAI_MODEL:-error}
      - Anthropic__ApiKey=${ANTHROPIC_API_KEY:-error}
      - Anthropic__Model=${ANTHROPIC_MODEL:-error}
      - Anthropic__Version=${ANTHROPIC_VERSION:-error}
      - FeaturedPage__RootId=${FEATUREDPAGE_ROOT_ID:-error}
      - FeaturedPage__IntroId=${FEATUREDPAGE_INTRO_ID:-error}
      - FeaturedPage__MemoWikisWikiId=${FEATUREDPAGE_MEMOWIKIS_WIKI_ID:-error}
      - FeaturedPage__MainPageIds=${FEATUREDPAGE_MAINPAGE_IDS:-error}
      - FeaturedPage__PopularPageIds=${FEATUREDPAGE_POPULARPAGE_IDS:-error}
      - FeaturedPage__MemoWikisPageIds=${FEATUREDPAGE_MEMOWIKIS_PAGE_IDS:-error}
      - FeaturedPage__MemoWikisHelpIds=${FEATUREDPAGE_MEMOWIKIS_HELP_IDS:-error}
    restart: always
    
networks:
  environment-specific-network:
    name: mem-${MEM_ENVIRONMENT:-stage}
    # Was already set up with nginx: 
    external: true

# Run in bash like this:
# $ export BUILD_NUMBER=5408
# $ docker-compose -p mem-stage up -d
# will recreate a running container

# To override variables locally create .env file next to this and specify values (or comment out lines under environment that should not override appsettings):
# LOM_EXPORT_PATH=<value>
# HOST_IMAGE_PATH=C:/Projects/memucho/src/Backend.Api/Images
# ABSOLUTE_IMAGE_PATH=/app/Images
# HOST_MMAP_CACHE_PATH=C:/Projects/memucho/cache/mmap
# ABSOLUTE_MMAP_CACHE_PATH=/app/MmapCache
# SEQ_URL=http://host.docker.internal:5341
# CANONICAL_HOST=<value>
# CONNECTION_STRING=Server=host.docker.internal;Port=3306;Database=memucho;uid=root;pwd=XXXXXXXXXXXXXXXXXX
# ENVIRONMENT=<value>
# MEMUCHO_USER_ID=26
# SALT_COOKIE=<value>
# UPDATE_USER_SETTINGS_KEY=<value>
# WITH_NHIBERNATE_STATISTICS=<value>
# DISABLE_ALL_JOBS=<value>
# FACEBOOK_APP_ID=<value>
# FACEBOOK_APP_SECRET=<value>
# WEBHOOK_KEY_STRIPE=<value>
# STRIPE_BASE_URL=<value>
# MEILISEARCH_URL=<value>
# MEILISEARCH_MASTER_KEY=<value>
# EMAIL_FROM=<value>
# EMAIL_TO_MEMUCHO=<value>