@import (reference) '../../../Style/includes/imports.less';

@radioSize: 17px;
@borderColor: #949494;
@activeSelection: #428BCA;
@fontColor: @memo-blue;

.opacity{
    opacity: 0.5;
}

.session-configurator {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: @memo-grey-darker;

    .filter-button, .knowledge-summary-button, .mode-change-button, .question-counter, .question-filter-options-button {
        position: relative;
        border: solid 1px @memo-grey-light;
        background: white;
        display: flex;
    }

    .knowledge-summary-button, .mode-change-button, .question-counter, .question-filter-options-button {
        z-index: 2;
        height: 40px;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
    }

    .knowledge-summary-button, .mode-change-button, .question-filter-options-button {
    }

    .question-counter {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 5px;


        input {
            width: 100%;
            border: none !important;
            color: @memo-grey-dark;
        }

        input:focus, textarea:focus, select:focus {
            outline: none;
            color: @memo-blue;
        }

        .question-counter-selector-container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            .question-counter-selector {
                padding: 0 5px;
            }
        }
    }

    .filter-button {
        padding-top: 5px;
        height: 30px;
        min-width: 105px;
        justify-content: center;
        text-transform: uppercase;
        z-index: 5;

        i {
            padding-left:5px;
        }

        &:hover {
            color: @memo-blue;
        }
    }

    .dropdown-container, .question-counter-container {
        margin-bottom: 10px;

        .sub-header {
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            padding: 10px 0 5px 0;
        }

        .dropdown-item {
            min-height: 40px;
            font-family: Open Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            display: flex;
            align-items: center;
        }

        .button-placeholder {
            float: left;
            color: #aaa;
            font-style: italic;
        }
    }

    .session-config-dropdown {
        position: relative;
        padding: 10px;
        padding-top: 11px;
        border: 1px solid @memo-grey-light;
        margin-top: -1px;
        z-index: 3;
        margin-left: 0px;
        margin-right: 0px;
        background: white;

        .question-filter-options-dropdown, .knowledge-summary-dropdown, .mode-change-dropdown {
            border: solid 1px @memo-grey-light;
            border-top: none;
            position: absolute;
            right: 0;
            margin-right: 10px;
            left: 0;
            margin-left: 10px;
            background: white;
            z-index: 3;

            .dropdown-item {
                display: flex;
                flex-direction: row;
                cursor: pointer;
                user-select: none;
                padding: 0 6px;
                flex-wrap: wrap;

                .dropdown-item-label {
                    padding-left: 4px;
                }
            }

            .dropdown-divider {
                border-bottom: solid 1px @memo-grey-light;
                width: 100%;
            }

            .dropdown-spacer {
                height: 14px;
                width: 100%;
            }
        }

        .session-select {
            font-size: 18px;
            margin-right: 15px;
            margin-left: 10px;

            &.active {
                color: @memo-blue-link;
            }
        }

        .item-disabled {
            .session-select {
                &.active {
                    color: @memo-grey-dark;
                }
            }
        }

        .session-mini-select {
            &.active {
                color: @memo-blue-link;
            }
        }
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        border: none;
    }
}
.knowledge-summary-chip-container {
    display: flex;
    flex-wrap: nowrap;
}

.knowledge-summary-chip {
    height: 20px;
    min-width: 20px;
    border-radius: 10px;
    margin-right: 4px;
    font-size: 10px;
    line-height: 20px;
    padding: 0 6px;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
   
}
.session-configurator {
    .not-learned {
        background-color: @not-learned-color;
    }

    .needs-learning {
        background-color: @needs-learning-color;
    }

    .needs-consolidation {
        background-color: @needs-consolidation-color;
    }

    .solid {
        background-color: @solid-knowledge-color;
    }

    .input-is-active, .is-open {
        border: solid 1px @memo-blue;
    }

    .input-error {
        border: solid 1px @memo-salmon;
    }

    .input-error-label {
        position: absolute;
        font-size: 12px;
        color: @memo-salmon;
    }
}


.filter-button {
    &.open {
        border-bottom: none !important;
    }

    &.closed {
        border-bottom: 1px solid @memo-grey-light;
    }
}

#QuestionListApp {
    .session-configurator {
        margin-bottom: 10px;

        .session-config-dropdown {
            margin-right: 20px;
        }
    }
}

.session-config-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .session-progress-bar {
        font-size: @font-size-base;
        line-height: @line-height-base;
        display: flex;
        width: 100%;
        margin-left: 10px;
        height: 30px;
        background: @memo-grey-lighter;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;

        .step-count {
            display: flex;
            padding-left: 10px;
            padding-right: 15px;
            flex-wrap: nowrap;
            align-items: center;
            z-index: 2;
        }

        .progress-percentage {
            display: flex;
            align-items: center;
            padding-right: 10px;
            padding-left: 15px;
            z-index: 2;
        }

        .progress-bar {
            position: absolute;
            background: @memo-green;
            height: 100%;
            left: 0;
            right: 0;
        }
    }
}

.selectable-item {
    cursor: pointer;
    user-select: none;
    color: @memo-grey-dark;
    transition: background ease-in-out 0.1s;

    i {
        color: @memo-grey-dark;
    }

    &:hover {
        color: @memo-blue;
        background: @memo-grey-lighter;

        i {
            color: @memo-blue;
        }
    }

    &.item-disabled {
        cursor: not-allowed !important;
        color: @memo-grey-dark;

        i {
            color: @memo-grey-dark;
        }
    }
}

.session-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.25px;
    text-align: center;
}

.reset-session-button-container {
    display: flex;
    justify-content: flex-end;

    .reset-session-button {
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        color: @memo-blue;

        i {
            padding-right: 4px;
        }

        &:hover {
            color: @memo-blue-link;
            cursor: pointer;
        }

        &.disabled {
            cursor: not-allowed;
            color: @memo-grey-dark;
        }
    }
}

.question-filter-options-icon-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    i {
        padding-right: 4px;
    }

    .icon-counter {
        border-radius: 50px;
        border: solid 1px @memo-grey-dark;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 12px;
        line-height: 25px;
        font-weight: 600;
    }
}
.dropdown-filter-icon {
    width: 18px;
}

.mode-change-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap !important;
    padding-right: 10px !important;
}

.mode-group-container {
    padding-bottom: 10px;

    .mode-item-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 54px;

        &:hover {
            color: @memo-blue;
        }

        .mode-sub-label {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0px;
            text-align: left;
        }

        input[type=number] {
            text-align: right;
            width: 100px;
        }
    }
}

.item-disabled {
    color: @memo-grey-dark !important;

    &:hover {
        color: @memo-grey-dark !important;
    }
}

.no-pointer {
    cursor: auto !important;
}

.session-config-error {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff7cc;
    padding: 20px;

    .selectable-item {
        &:hover {
            background: none;
        }
    }

    .close-selection-error-button {
        padding-left: 12px;
        text-align: right;
    }
}