@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.opacity {
  opacity: 0.5;
}
.session-configurator {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #555555;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.session-configurator .filter-button,
.session-configurator .knowledge-summary-button,
.session-configurator .mode-change-button,
.session-configurator .question-counter,
.session-configurator .question-filter-options-button {
  position: relative;
  border: solid 1px #DDDDDD;
  background: white;
  display: flex;
}
.session-configurator .knowledge-summary-button,
.session-configurator .mode-change-button,
.session-configurator .question-counter,
.session-configurator .question-filter-options-button {
  z-index: 2;
  height: 40px;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}
.session-configurator .question-counter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 5px;
}
.session-configurator .question-counter input {
  width: 100%;
  border: none !important;
  color: #767676;
}
.session-configurator .question-counter input:focus,
.session-configurator .question-counter textarea:focus,
.session-configurator .question-counter select:focus {
  outline: none;
  color: #003264;
}
.session-configurator .question-counter .question-counter-selector-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.session-configurator .question-counter .question-counter-selector-container .question-counter-selector {
  padding: 0 5px;
}
.session-configurator .filter-button {
  padding-top: 5px;
  height: 30px;
  min-width: 105px;
  justify-content: center;
  text-transform: uppercase;
  z-index: 5;
}
.session-configurator .filter-button i {
  padding-left: 5px;
}
.session-configurator .filter-button:hover {
  color: #003264;
}
.session-configurator .dropdown-container,
.session-configurator .question-counter-container {
  margin-bottom: 10px;
}
.session-configurator .dropdown-container .sub-header,
.session-configurator .question-counter-container .sub-header {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}
.session-configurator .dropdown-container .dropdown-item,
.session-configurator .question-counter-container .dropdown-item {
  min-height: 40px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
}
.session-configurator .dropdown-container .button-placeholder,
.session-configurator .question-counter-container .button-placeholder {
  float: left;
  color: #aaa;
  font-style: italic;
}
.session-configurator .session-config-dropdown {
  position: relative;
  padding: 10px;
  padding-top: 11px;
  border: 1px solid #DDDDDD;
  margin-top: -1px;
  z-index: 3;
  margin-left: 0px;
  margin-right: 0px;
  background: white;
}
.session-configurator .session-config-dropdown .question-filter-options-dropdown,
.session-configurator .session-config-dropdown .knowledge-summary-dropdown,
.session-configurator .session-config-dropdown .mode-change-dropdown {
  border: solid 1px #DDDDDD;
  border-top: none;
  position: absolute;
  right: 0;
  margin-right: 10px;
  left: 0;
  margin-left: 10px;
  background: white;
  z-index: 3;
}
.session-configurator .session-config-dropdown .question-filter-options-dropdown .dropdown-item,
.session-configurator .session-config-dropdown .knowledge-summary-dropdown .dropdown-item,
.session-configurator .session-config-dropdown .mode-change-dropdown .dropdown-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
  padding: 0 6px;
  flex-wrap: wrap;
}
.session-configurator .session-config-dropdown .question-filter-options-dropdown .dropdown-item .dropdown-item-label,
.session-configurator .session-config-dropdown .knowledge-summary-dropdown .dropdown-item .dropdown-item-label,
.session-configurator .session-config-dropdown .mode-change-dropdown .dropdown-item .dropdown-item-label {
  padding-left: 4px;
}
.session-configurator .session-config-dropdown .question-filter-options-dropdown .dropdown-divider,
.session-configurator .session-config-dropdown .knowledge-summary-dropdown .dropdown-divider,
.session-configurator .session-config-dropdown .mode-change-dropdown .dropdown-divider {
  border-bottom: solid 1px #DDDDDD;
  width: 100%;
}
.session-configurator .session-config-dropdown .question-filter-options-dropdown .dropdown-spacer,
.session-configurator .session-config-dropdown .knowledge-summary-dropdown .dropdown-spacer,
.session-configurator .session-config-dropdown .mode-change-dropdown .dropdown-spacer {
  height: 14px;
  width: 100%;
}
.session-configurator .session-config-dropdown .session-select {
  font-size: 18px;
  margin-right: 15px;
  margin-left: 10px;
}
.session-configurator .session-config-dropdown .session-select.active {
  color: #0065CA;
}
.session-configurator .session-config-dropdown .item-disabled .session-select.active {
  color: #767676;
}
.session-configurator .session-config-dropdown .session-mini-select.active {
  color: #0065CA;
}
.session-configurator input::-webkit-outer-spin-button,
.session-configurator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.session-configurator input[type=number] {
  -moz-appearance: textfield;
  border: none;
}
.knowledge-summary-chip-container {
  display: flex;
  flex-wrap: nowrap;
}
.knowledge-summary-chip {
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  margin-right: 4px;
  line-height: 20px;
  padding: 0 6px;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}
.session-configurator .not-learned {
  background-color: #DDDDDD;
}
.session-configurator .needs-learning {
  background-color: lightsalmon;
}
.session-configurator .needs-consolidation {
  background-color: #fdd648;
}
.session-configurator .solid {
  background-color: #AFD534;
}
.session-configurator .input-is-active,
.session-configurator .is-open {
  border: solid 1px #003264;
}
.session-configurator .input-error {
  border: solid 1px #FFA07A;
}
.session-configurator .input-error-label {
  position: absolute;
  font-size: 12px;
  color: #FFA07A;
}
.filter-button.open {
  border-bottom: none !important;
}
.filter-button.closed {
  border-bottom: 1px solid #DDDDDD;
}
#QuestionListApp .session-configurator {
  margin-bottom: 10px;
}
#QuestionListApp .session-configurator .session-config-dropdown {
  margin-right: 20px;
}
.session-config-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.session-config-header .session-progress-bar {
  font-size: 14px;
  line-height: 1.42857143;
  display: flex;
  width: 100%;
  margin-left: 10px;
  height: 30px;
  background: #EFEFEF;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.session-config-header .session-progress-bar .step-count {
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
}
.session-config-header .session-progress-bar .progress-percentage {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 15px;
  z-index: 2;
}
.session-config-header .session-progress-bar .progress-bar {
  position: absolute;
  background: #AFD534;
  height: 100%;
  left: 0;
  right: 0;
}
.selectable-item {
  cursor: pointer;
  user-select: none;
  color: #767676;
  transition: background ease-in-out 0.1s;
}
.selectable-item i {
  color: #767676;
}
.selectable-item:hover {
  color: #003264;
  background: #EFEFEF;
}
.selectable-item:hover i {
  color: #003264;
}
.selectable-item.item-disabled {
  cursor: not-allowed !important;
  color: #767676;
}
.selectable-item.item-disabled i {
  color: #767676;
}
.session-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-align: center;
}
.reset-session-button-container {
  display: flex;
  justify-content: flex-end;
}
.reset-session-button-container .reset-session-button {
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  color: #003264;
}
.reset-session-button-container .reset-session-button i {
  padding-right: 4px;
}
.reset-session-button-container .reset-session-button:hover {
  color: #0065CA;
  cursor: pointer;
}
.reset-session-button-container .reset-session-button.disabled {
  cursor: not-allowed;
  color: #767676;
}
.question-filter-options-icon-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.question-filter-options-icon-container i {
  padding-right: 4px;
}
.question-filter-options-icon-container .icon-counter {
  border-radius: 50px;
  border: solid 1px #767676;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
}
.dropdown-filter-icon {
  width: 18px;
}
.mode-change-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap !important;
  padding-right: 10px !important;
}
.mode-group-container {
  padding-bottom: 10px;
}
.mode-group-container .mode-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 54px;
}
.mode-group-container .mode-item-container:hover {
  color: #003264;
}
.mode-group-container .mode-item-container .mode-sub-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
}
.mode-group-container .mode-item-container input[type=number] {
  text-align: right;
  width: 100px;
}
.item-disabled {
  color: #767676 !important;
}
.item-disabled:hover {
  color: #767676 !important;
}
.no-pointer {
  cursor: auto !important;
}
.session-config-error {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff7cc;
  padding: 20px;
}
.session-config-error .selectable-item:hover {
  background: none;
}
.session-config-error .close-selection-error-button {
  padding-left: 12px;
  text-align: right;
}