@import (reference) "../../Style/Images";

/*Image maintenance
---------------------------------------------------------*/

//Table
.ImageTable {
    table-layout: fixed;

    tr{   
    }

    td {
        border-bottom: 2px solid white;
        overflow-y: hidden;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    th, td {
        &.ColumnImage {
            width: 66px;
        }

        &.ColumnInfo {
            width: 100px;
        }

        &.ColumnAuthor {

        }
    }

    td {
        &.ColumnAuthor,
        &.ColumnLicense,
        &.ColumnDescription {
            font-size: 12px;
        }
    }
}

    @color-excluded: #fee6eb;
    @color-open: #fff3b1;
    @color-success: #dbffd3;

    #modalImageMaintenance {
        .FormColumnGrid (@labels-stacked: true; @label-width-variable: false; 3);

        .ImageInfo {
            img {
                padding-right: 10px;
                padding-bottom: 5px;

                .media-xs-up({
                    float: left;
                    max-width: 33%;
                });
            }

            .FluidColumn {
                 overflow: hidden;//http://stackoverflow.com/a/20531911
            }
        }

        .ModalLicenseInfo, .ImageTable {
            padding: 10px;
            margin-top: 10px;
            clear: left;

            &.success, td.success {
                background-color: @color-success;
            }

            &.warning {
                background-color: @color-open;
            }

            &.danger {
                background-color: @color-excluded !important;
            }

            h4 {
                margin-top: 0;
            }
        }
    }

    table.ImageTable{
        tr.danger td{
            background-color: @color-excluded !important;
        }

        tr.warning td{
            background-color: @color-open !important;
        }

        tr.success td{
            background-color: @color-success !important;
        }
    }

    #ulLicenseStatus
    {
        margin-left: -7px;

        li{
            padding-left: 7px;
            padding-right: 7px;
            line-height: 12px;
        }

        li.excluded{
            background-color: @color-excluded;
        }
        
        li.open{
            background-color: @color-open;
        }
        li.approved{
            background-color: @color-success;
        }
    }
