.question-row{
    margin-bottom: 15px;

    .col-1{
        img{
            border-radius:5px;
        }
    }

    .col-2{
        overflow:hidden; 
        padding-left: 3px; 
        padding-right: 3px;
    }

    .col-3{
        padding-top: 0px; 
        height: 100%;
    }
}