@import (reference) '../../../Style/includes/imports.less';

.question-row{
    margin-bottom: 15px;

    .col-0{
        img{
            border-radius:5px;
        }
    }

    .col-1{
        padding-right: 0px;

        overflow:hidden; 
        padding-left: -33px;
    }

    .col-2{
        height: 100%;
        @media (max-width: @screen-xs-max) { 
            padding-top: 15px;
            font-size: 16px;
        }
    }

}