@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
@media (max-width: 991px) {
  .navLinks {
    float: none;
    margin-bottom: 10px;
  }
  .navLinks > a {
    display: inline-block;
    margin-right: 10px;
  }
}
#ItemMainInfo {
  padding-bottom: 5px;
}
#ItemMainInfo header {
  border-bottom: 5px solid #FFD700;
  margin-bottom: 10px;
}
#ItemMainInfo .ImageContainer {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #ItemMainInfo .ImageContainer img {
    max-height: 150px;
    width: auto;
  }
}
#ItemMainInfo .BottomBar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.question-row {
  /*.col-0{
        img{
            border-radius:5px;
        }
    }

    .col-1{
        padding-right: 0px;

        overflow:hidden; 
        padding-left: -33px;
    }

    .col-2{
        height: 100%;
        @media (max-width: @screen-xs-max) { 
            padding-top: 15px;
            font-size: 16px;
        }
    }*/
}
.sparklineTotals,
.sparklineTotalsUser {
  font-size: 11px;
}
/*.Stats {
    .media-below-md({
        margin-left: 16.66666667%;
        margin-left: 20%;
        float: left;
    });
}*/
.StatsRow {
  margin-left: 0;
  margin-right: 0;
}