@import (reference) '../../../Style/includes/imports.less';

#MasterMainContent {

    .media-below-sm({
        padding-top: 0;
    });

     .media-sm-up({
        padding-top: 25px;
    });
}

#MasterMainColumn {
    line-height: 1.5;
    .new-font-style();
    color: @global-text-color;

    h1, h2, h3, h4, h5 {
        font-family: Open Sans !important;
        line-height: 1.2;
    }

    h1 {
        font-size: @font-size-h1-mem;
        font-style: normal;
        font-weight: 400;

        .media-below-xs( {
            font-size: @font-size-h2-mem;
        }

        );
    }

    h2 {
        font-size: @font-size-h2-mem;

        .media-below-xs( {
            font-size: @font-size-h3-mem;
        }

        );
    }

    h3 {
        font-size: @font-size-h3-mem;

        .media-below-xs( {
            font-size: @font-size-h4-mem;
        }

        );
    }

    h4 {
        font-size: @font-size-h3-mem;

        .media-below-xs( {
            font-size: @font-size-h4-mem;
        }

        );
    }
}


#MasterMainWrapper {
    background-color: white;
    padding: 20px;

    /*h1 {
        font-size: 45px;
        margin-top: 10px;
        font-weight: normal;
    }

    h2 {
        font-size: 55px;
    }

    h3 {
        font-size: 35px;
    }*/

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .new-font-style();
}


#AboveMainHeading {
    margin-top: -5px;

    /*@media (min-width: 991px) {
        margin-top: -21px;
    }*/
}


.editLinks {
    .embedSetLink {
        font-size: 18px;
        margin-left: 10px;
        //display: inline-block;
    }

    display: inline-block;
    font-size: 14px;

    > a {
        margin: 0 5px;
    }
}

.BoxButtonBar {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}


/* QUESTION-SET-ROW
--------------------------------*/

.question-row {
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 1.4em;

    .sparklineTotals, .sparklineTotalsUser {
        font-size: 11px;
    }

    .correctAnswer {
        margin-top: 6px;
        font-size: smaller;
        color: @global-text-color-grey;
        line-height: 1.4em;
    }

    .StatsRow {
        margin-left: 0;
        margin-right: 0;
    }
}


/* WIDGETS
-----------------------------*/

.setTestSessionNoStartScreen {
    margin-top: 20px;
    margin-bottom: 20px;
}


.SetVideo {
    #AnswerBody {
        padding-top: 10px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

#video-pager {
    margin: 0px;
    padding: 20px 20px 10px 20px;
    border-top: none;
    border-bottom: none;
    border-radius: 0;

    td{
        vertical-align:top;
    }

    div.pager-block{

        #tablePager{
            max-width: 90%;

            @media screen and (max-width: 900px) {
                max-width: 87%;
            }

            @media screen and (max-width: 800px) {
                max-width: 85%;
            }

            @media screen and (max-width: 500px) {
                max-width: 80%;
            }

            @media screen and (max-width: 400px) {
                max-width: 70%;
            }

            a{
                &:hover{
                    color: #3f88ff;
                }
            }
        }

        display: inline-block;

        i.fa-arrow-circle-left, i.fa-arrow-circle-right{
            font-size: 25px;
        }

        i.fa-arrow-circle-left{
            padding-left: 5px;
            padding-right: 7px;
        }

        i.fa-arrow-circle-right{
            padding-left: 7px;
        }

        div.pages{
            display: inline-block
        }

        a.disabled{
            color:silver;
            box-shadow: inset; 
            opacity: 0.4;
            pointer-events: none;
            cursor: default;
        }


        a.page {
            margin-bottom: 10px;
            margin-left: 2px;
            margin-right: 2px;
            text-decoration: none;
            color: #2C5FB2;

            &:hover{
                color: #3f88ff;
            }

            font-size: 18px;

            &.correctAnswer {
                i { color: @memo-green; }
            }

            &.wrongAnswer {
                i { color: @dark-red; }
            }
        }
    }


    .pause-buttons {
        padding-left: 10px;
        padding-top: 0px;

        vertical-align: top;
        line-height: 25px;

        font-size: 25px;

        a{ color: #c7c7c7; }

        a:hover, a:active, a:visited, a:link {
            text-decoration: none;
        }

        a:hover{ color: #9b9b9b; }

        #syncVideo{
            font-size: 24px;
            margin-right: 2px;
            position: relative; top: -1px; 
        }
    }
}

div.video-header {
    h4 {
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

/*      MODALS
----------------------------- */

.question-row {
    .Pin {
        .fa-heart-o {
            padding-right: 10px;
        }
    }
}
