@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
.question-row {
  margin-bottom: 15px;
}
.question-row .col-0 img {
  border-radius: 5px;
}
.question-row .col-1 {
  padding-right: 0px;
  overflow: hidden;
  padding-left: -33px;
}
.question-row .col-2 {
  height: 100%;
}
@media (max-width: 767px) {
  .question-row .col-2 {
    padding-top: 15px;
    font-size: 16px;
  }
}
.sparklineTotals,
.sparklineTotalsUser {
  font-size: 11px;
}