<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>Server=WIN-CBLM93MS62S\SQLEXPRESS;Database=TrueOrFalse;uid=TrueOrFalse;pwd=jklaem34jkl3</connectionString>
  <sorlUrl>http://localhost:8080/solr/</sorlUrl>
  <pathToSolr>C:/BitNami/apache-solr/solr</pathToSolr>
  <developOffline>false</developOffline>
  <environment>develop</environment>  
  <betaCode>betaCode</betaCode>

  <debugUserNHProfiler>false</debugUserNHProfiler>
  <debugMiniProfiler>false</debugMiniProfiler>

  <disableAllJobs>false</disableAllJobs>

</configuration>