
.date-row{
    -webkit-box-shadow: 9px 10px 24px 0px rgba(168,165,168,1);
    -moz-box-shadow: 9px 10px 24px 0px rgba(168,165,168,1);
    box-shadow: 9px 10px 24px 0px rgba(168,165,168,1);
}

