@import (reference) '../../Style/includes/imports.less';

.explanationRow {
    /*display: table;*/
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    .media-below-md({
        padding-left: 0;
        padding-right: 0;
    });
}

.explanationDiv {
    text-align: center;
    i {
        color: @memo-green;
    }
}

.arrowDiv {
    margin-top: 13px;
    text-align: center;
    i {
        color: @memo-green;
    }
}

p.registrationParagraph{
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 25px;
}