@import '../../Style/includes/imports.less';

//Table
.ImageTable {
    table-layout: fixed;

    td {
        overflow-y: hidden;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    th, td {
        &.ColumnImage {
            width: 66px;
        }

        &.ColumnInfo {
            width: 100px;
        }

        &.ColumnAuthor {

        }
    }

    td {
        &.ColumnAuthor,
        &.ColumnLicense,
        &.ColumnDescription {
            font-size: 12px;
        }
    }
}

//Modal
.ImageInfo {
    .Clearfix;
}

.LicenseInfo {

    padding: 10px;
    margin-top: 10px;
    clear: left;

    &.success {
        background-color: @light-green;
    }

    &.warning {
        background-color: #ffef99;
    }

    &.danger {
        background-color: #f4dbe0;
    }

    h4 {
        margin-top: 0;
    }
}
