@import '../../../Style/includes/imports.less';

.change-detail-model {
    border: 1px solid silver;
    margin: -1px;
    margin-left: 0px;
    padding: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;
    color: @memo-grey-dark;
    flex-wrap: wrap;

    .col-xs-3 {
        height: 100%;
        display: flex;
        align-items: center;

        a {
            margin-right: 4px;
        }
    }

    .allThemesHistory {
        margin-top: 10px;
    }

    .editing-history {
        margin-top: 10px;
    }

    @media screen and (max-width: 1199px) {
        .c-changes-overview {
            margin-top: 10px;
        }
    }


    @media screen and (max-width: 650px) {
        .col-xs-4 {
            width: 100%;
            margin-bottom: 10px;
        }

        .c-changes-overview, .editing-history {
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 603px) {
        .editing-history {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 733px) {
        .display-changes {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 550px) {
        .col-xs-3, .col-xs-6 {
            width: 100%;
            margin-bottom: 10px;
        }

        .display-changes {
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 406px) {
        .c-changes-overview {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 401px) {
        .display-changes {
            margin-top: 10px;
        }
    }

    .is-deleted {
        background-color: #ccc;
    }

    .btn {
        margin-left: auto;
        margin-right: 10px;
    }

    #Typ {
        color: #2C5FB2;
        font-weight: 900;
        padding-top: 10px;
    }

    .change-detail {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .change-detail-label {
            background: @memo-grey-lighter;
            font-size: 12px;
            text-align: center;
            font-weight: 600;
            padding: 4px 12px;
            justify-self: flex-start;
            white-space: nowrap;
            margin-right: 8px;
        }

        .change-detail-spacer {
            width: 22px;
        }

        &.relation-detail {
            flex-wrap: wrap-reverse;

            .related-category-name {
                display: flex;
                align-items: center;
                padding: 4px 0;

                .history-link {
                    margin-right: 4px;
                }
            }

            .history-link {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
            }
        }
    }

    &.panel-group {
        padding: 0px;

        .panel {
            border: none;
            border-bottom: none;
            border-radius: 0;
            box-shadow: none;
            width: 100%;
            overflow: visible;

            .panel-heading {
                border: none;
                background: none;
                border-radius: 0;
                cursor: pointer;
                min-height: 60px;
                display: flex;
                align-items: center;
                color: @memo-grey-dark;
                transition: background-color ease-in-out 0.2s;
                flex-wrap: wrap;

                &:hover {
                    background-color: fade(@memo-grey-lighter, 20%);
                }

                &.collapsed {
                    .fa-chevron-up {
                        display: none;
                    }

                    .fa-chevron-down {
                        display: block;
                    }
                }

                .fa-chevron-up {
                    display: block;
                }

                .fa-chevron-down {
                    display: none;
                }

                .chevron-container {
                    width: 27px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
            }

            img.history-author, img.history-category {
                margin-left: 5px;
                width: 20px;
                min-width: 20px;
            }

            .list-group {
                overflow: hidden;

                .list-group-item {
                    min-height: 60px;
                    border-radius: 0 !important;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        border-bottom: none;
                        border-radius: 0;
                    }

                    .change-detail-spacer {
                        width: 26px;
                    }
                }
            }
        }
    }

    .history-date {
        flex-wrap: wrap;
    }

    .history-link {
        .history-author, .history-category {
            border-radius: 10px;
            width: 20px;
        }
    }
}

#HeaderCategoryHistory{
    margin-top: -30px;
    padding: 0 10px;
}