@import '../../../Style/includes/imports.less';

.change-detail-model {
    border: 1px solid silver;
    margin: -1px;
    margin-left: 0px;
    padding: 10px;
    min-height: 60px;
    display: flex;
    align-items: center;

    .allThemesHistory {
        margin-top: 10px;
    }

    .editing-history {
        margin-top: 10px;
    }

    @media screen and (max-width: 1199px) {
        .c-changes-overview {
            margin-top: 10px;
        }
    }


    @media screen and (max-width: 650px) {
        .col-xs-4 {
            width: 100%;
            margin-bottom: 10px;
        }

        .c-changes-overview, .editing-history {
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 603px) {
        .editing-history {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 733px) {
        .display-changes {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 550px) {
        .col-xs-3, .col-xs-6 {
            width: 100%;
            margin-bottom: 10px;
        }

        .display-changes {
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 406px) {
        .c-changes-overview {
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 401px) {
        .display-changes {
            margin-top: 10px;
        }
    }

    .is-deleted {
        background-color: #ccc;
    }

    .btn {
        margin-left: 5px;
    }

    #Typ {
        color: #2C5FB2;
        font-weight: 900;
        padding-top: 10px;
    }

    &.panel-group {
        padding: 0px;

        .panel {
            border: none;
            border-bottom: none;
            border-radius: 0;
            box-shadow: none;
            width: 100%;

            .panel-heading {
                color: @memo-grey-dark;
                border: none;
                background: none;
                border-radius: 0;
                cursor: pointer;
                min-height: 60px;
                display: flex;
                align-items: center;

                .fa-chevron-up {
                    display: block;
                }

                .fa-chevron-down {
                    display: none;
                }

                .collapsed {
                    .fa-chevron-up {
                        display: none;
                    }

                    .fa-chevron-down {
                        display: block;
                    }
                }
            }

            .list-group {
                .list-group-item {
                    min-height: 60px;

                    &:last-child {
                        border-bottom: none;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .change-detail {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .change-detail-label {
            background: @memo-grey-lighter;
            font-size: 12px;
            text-align: center;
            font-weight:600;
            padding: 4px 12px;  
        }
    }
}

#HeaderCategoryHistory{
    margin-top: -30px;
}