@import '../../Style/includes/colors.less';

.msgRow{
    border: 1px solid #e8e8e8;
    border-left: 4px solid @middle-orange;
    margin-bottom: 14px;

    &:hover{
        background-color: #f6f8fc;
    }

    .header{
        /*background-color: #f5f5f5;*/
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: 1px solid #f5f5f5;

        h4{
            margin:0;
        }
    }

    .body{
        min-height: 60px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .footer{
        border-top: 1px solid #f5f5f5;
        padding-top: 9px;
        padding-bottom: 9px;
        /*background-color: #fbfbfb;*/
    }
}