@import (reference) '../../Style/includes/colors.less';
@import (reference) '../../Style/includes/shared.less';


.msgRow{
    background-color: lighten(#ebeff7, 2);
    border-right: 1px solid @grey-15;
    border-top: none;
    border-left: 4px solid @color-message;
    margin-bottom: 14px;

    &.rowBase {
        margin-left: 0;
        margin-right: 0;
    }

    &.isRead{
        border-left-color: lighten(@color-message, 30%);
        border-right-color: @grey-10;
        background-color:  #fcfcfc;
        color: lighten(@global-text-color, 30);

        .header, .body, .footer  {
            border-color: @grey-10;
        }
    }

    &:hover{
        background-color: #ebeff7;
    }

    .msg {
        border-top: 1px solid @grey-15;
        border-bottom: 1px solid @grey-15;
        
        &:after {#Clear;}
    }

    .header{
        padding-top: 9px;
        padding-bottom: 9px;
        border-bottom: 1px solid @grey-10;

        h4{
            margin:0;
        }
    }

    .body{
        min-height: 60px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .footer{
        border-top: 1px solid @grey-10;
        padding-top: 9px;
        padding-bottom: 9px;
    }
}

