@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}#QuestionListApp {
  margin-top: 103px;
  background-color: #EFEFEF;
  padding: 30px 0px 33px 20px;
  margin-right: 0;
  margin-left: 0;
}
#QuestionListApp #QuestionListHeaderDropDown .btn {
  font-size: 18px;
  color: #999999;
  transition: all 0.1s ease-in-out;
}
#QuestionListApp #QuestionListHeaderDropDown .btn:hover {
  color: #003264;
  transition: all 0.1s ease-in-out;
}
#QuestionListApp .rootElement #LearningSessionReminderQuestionList span {
  position: absolute;
  margin-top: -64px;
  margin-left: -101px;
  cursor: pointer;
}
@media (max-width: 768px) {
  #QuestionListApp .rootElement #LearningSessionReminderQuestionList span {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  #QuestionListApp .rootElement #LearningSessionReminderQuestionList span {
    display: none;
  }
}
#QuestionListApp .rootElement #LearningSessionReminderQuestionList #SessionConfigReminderLeft {
  margin-top: -67px;
  position: absolute;
  margin-left: -85px;
  z-index: 100;
  display: block;
}
#QuestionListApp .rootElement #LearningSessionReminderQuestionList #SessionConfigReminderRight {
  margin-top: -67px;
  position: absolute;
  margin-left: 10px;
  z-index: 100;
  display: none;
}
#QuestionListApp .rootElement #CustomSessionConfigBtn.btn {
  font-size: 18px;
  color: #999999;
  transition: all 0.1s ease-in-out;
}
#QuestionListApp .rootElement #CustomSessionConfigBtn.btn:hover {
  color: #003264;
  transition: all 0.1s ease-in-out;
}
@media (max-width: 479px) {
  #QuestionListApp {
    padding-left: 0;
    padding-right: 0;
  }
}
#QuestionListApp #QuestionFooterIcons .btn-link {
  color: #999999 !important;
}
#QuestionListApp .drop-down-question-sort {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font-size: 18px;
  justify-content: space-between;
  padding-right: 0;
}
#QuestionListApp .drop-down-question-sort #ButtonAndDropdown {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  #QuestionListApp .drop-down-question-sort #ButtonAndDropdown {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  #QuestionListApp .drop-down-question-sort {
    font-size: 3vw;
  }
}
@media (max-width: 479px) {
  #QuestionListApp .drop-down-question-sort {
    font-size: 4vw;
  }
}
#QuestionListApp .notShow {
  display: none !important;
}
#QuestionListApp .questionListHeader .questionListTitle {
  font-size: 24px;
  padding: 8px;
}
#QuestionListApp .questionListHeader .questionListFilter {
  font-size: 18px;
  padding: 8px 24px;
  text-align: right;
}
#QuestionListApp .activeQ::before {
  color: #555555;
}
#QuestionListApp .singleQuestionRow {
  background: linear-gradient(to right, #D6D6D6 0px, #D6D6D6 8px, #ffffffff 9px, #ffffffff 100%);
  font-family: "Open Sans";
  font-size: 14px;
  border: 0.05px solid #DDDDDD;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.2s ease-out;
  margin-right: 20px;
}
#QuestionListApp .singleQuestionRow.open {
  height: unset;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  box-shadow: 0px 1px 6px 0px #C4C4C4;
}
#QuestionListApp .singleQuestionRow.solid {
  background: linear-gradient(to right, #AFD534 0px, #AFD534 8px, #ffffffff 8px, #ffffffff 100%);
}
#QuestionListApp .singleQuestionRow.shouldConsolidate {
  background: linear-gradient(to right, #FDD648 0px, #FDD648 8px, #ffffffff 8px, #ffffffff 100%);
}
#QuestionListApp .singleQuestionRow.shouldLearn {
  background: linear-gradient(to right, #FFA07A 0px, #FFA07A 8px, #ffffffff 8px, #ffffffff 100%);
}
#QuestionListApp .singleQuestionRow.inWishknowledge {
  background: linear-gradient(to right, #949494 0px, #949494 8px, #ffffffff 8px, #ffffffff 100%);
}
#QuestionListApp .singleQuestionRow .knowledgeState {
  width: 8px;
  min-width: 8px;
  z-index: 10;
  position: relative;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex {
  width: 100%;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionSection {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionImg {
  min-width: 75px;
  height: 100%;
  padding: 8px 0 8px 32px;
}
@media (max-width: 479px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionImg {
    display: none;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer {
  width: 100%;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop {
  display: flex;
  max-width: 100%;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection {
  flex: 1 1 100%;
  min-width: 0;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 0;
  min-height: 57px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader:hover {
  cursor: pointer;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .questionTitle {
  padding: 8px;
  min-width: 0;
  color: #555555;
  font-weight: 600;
  align-self: center;
  display: inline-flex;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .questionTitle .privateQuestionIcon {
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 640px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .col-xs-3 {
    width: 33%;
  }
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .col-xs-9 {
    width: 66%;
  }
}
@media (max-width: 768px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .col-xs-3 {
    width: 50%;
  }
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeader .col-xs-9 {
    width: 50%;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons {
  flex: 0 0 auto;
  font-size: 18px;
  min-width: 77px;
  display: flex;
  flex-wrap: nowrap;
  color: #DDDDDD;
  flex-direction: row-reverse;
  padding: 0;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iAdded,
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iAddedNot {
  padding: 0;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .fa-heart,
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .fa-spinner,
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .fa-heart-o {
  font-size: 18px;
  padding-top: 18px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .fa-spinner,
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .fa-play {
  padding-right: 10px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iconContainer {
  padding: 8px 8px 0px 8px;
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  text-align: center;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iconContainer .fa-play {
  margin-top: 10px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iconContainer .rotateIcon {
  transition: all 0.2s ease-out;
  line-height: 41px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iconContainer .rotateIcon.open {
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection .questionHeaderIcons .iconContainer {
    padding-right: 2px;
    padding-left: 2px;
  }
}
@media (max-width: 479px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .questionContainerTopSection {
    padding-left: 20px;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer {
  padding: 0 0 8px 0;
}
@media (max-width: 550px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer {
    padding: 8px 8px 8px 4px;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer .extendedAnswer {
  padding-top: 16px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer .notes {
  padding-top: 16px;
  padding-bottom: 8px;
  font-size: 12px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer .notes a {
  cursor: pointer;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer .notes .relatedCategories {
  padding-bottom: 16px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyTop .extendedQuestionContainer .notes .sources {
  overflow-wrap: break-word;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 72px;
  align-items: center;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionDetails {
  font-size: 12px;
  padding-left: 24px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionDetails #StatsHeader {
  display: none;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats {
  display: flex;
  font-size: 11px;
  padding-left: 12px;
  padding-right: 12px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .answerCountFooter {
  width: 260px;
  padding-bottom: 16px;
}
@media (max-width: 479px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .answerCountFooter {
    padding-right: 0px;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.percentageLabel {
  font-weight: bold;
  color: #D6D6D6;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.percentageLabel.solid {
  color: #AFD534;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.percentageLabel.shouldConsolidate {
  color: #FDD648;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.percentageLabel.shouldLearn {
  color: #FFA07A;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.percentageLabel.inWishknowledge {
  color: #949494;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.chip {
  padding: 1px 10px;
  border-radius: 20px;
  background: #D6D6D6;
  color: #555555;
  white-space: nowrap;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.chip.solid {
  background: #AFD534;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.chip.shouldConsolidate {
  background: #FDD648;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.chip.shouldLearn {
  background: #FFA07A;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection span.chip.inWishknowledge {
  background: #949494;
  color: white;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats .probabilitySection.open {
  height: unset;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
  box-shadow: 0px 1px 6px 0px #C4C4C4;
}
@media (max-width: 768px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionStats {
    flex-wrap: wrap;
  }
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionFooterIcons {
  color: #999999;
  font-size: 11px;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: -21px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionFooterIcons a.commentIcon {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionFooterIcons .dropdown-menu {
  text-align: left;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionFooterIcons span {
  line-height: 36px;
  font-family: Open Sans;
}
#QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom .questionFooterIcons .ellipsis {
  padding-left: 16px;
}
@media (max-width: 479px) {
  #QuestionListApp .singleQuestionRow .questionSectionFlex .questionContainer .questionBodyBottom {
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: flex-end;
  }
}
#QuestionListApp .singleQuestionRow .questionFooter {
  height: 52px;
  border-top: 0.5px solid #DDDDDD;
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
}
#QuestionListApp .singleQuestionRow .questionFooter .questionFooterLabel {
  padding: 16px;
  line-height: 20px;
}
#QuestionListApp #QuestionListPagination {
  padding-top: 32px;
  cursor: pointer;
  font-size: 12px;
  color: #949494;
}
#QuestionListApp #QuestionListPagination .pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#QuestionListApp #QuestionListPagination .pagination .page-item {
  width: 34px;
}
#QuestionListApp #QuestionListPagination .pagination .page-item.page-btn {
  width: unset;
}
#QuestionListApp #QuestionListPagination .pagination .page-item.disabled .page-link {
  color: #D6D6D6;
}
#QuestionListApp #QuestionListPagination .pagination .page-item .page-link {
  width: 100%;
  text-align: center;
  padding: 6px 4px !important;
  background-color: #EFEFEF;
}
#QuestionListApp #QuestionListPagination .pagination .selected {
  border-bottom: 3px solid #003264;
}
#QuestionListApp #QuestionListPagination .pagination .selected .page-link {
  color: #003264 !important;
}
#QuestionListApp #QuestionListPagination .pagination .page-link {
  color: #949494;
}
#QuestionListApp #QuestionListPagination span {
  border: none;
}
@media (max-width: 479px) {
  #QuestionListApp {
    margin-right: -20px;
    margin-left: -20px;
  }
}
#QuestionListApp #AddInlineQuestionContainer {
  background: white;
  margin-top: 20px;
  padding: 22px 21px 30px;
  font-size: 16px;
  margin-right: 20px;
}
#QuestionListApp #AddInlineQuestionContainer .add-inline-question-label {
  font-weight: 700;
}
#QuestionListApp #AddInlineQuestionContainer .add-inline-question-label.s-label {
  font-size: 14px;
  margin-bottom: 5px;
}
#QuestionListApp #AddInlineQuestionContainer .add-inline-question-label span,
#QuestionListApp #AddInlineQuestionContainer .add-inline-question-label a {
  font-weight: 400;
}
#QuestionListApp #AddInlineQuestionContainer .add-inline-question-label a {
  cursor: pointer;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionHeader {
  display: flex;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionHeader .main-label {
  padding-bottom: 6px;
  flex: 1;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionHeader .heart-container {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  margin-right: -22px;
  cursor: pointer;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionHeader .heart-container .Text {
  padding: 0 3px !important;
  font-size: 8px !important;
  line-height: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em;
  color: #FF001F !important;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody {
  display: flex;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionFormContainer {
  padding-right: 24px;
  flex: 1;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionFormContainer .ProseMirror {
  padding: 11px 15px 0;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionFormContainer .overline-s {
  margin-top: 26px;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionPrivacyContainer {
  padding: 20px;
  border: solid 1px #DDDDDD;
  border-radius: 4px;
  min-width: 216px;
  max-height: 143px;
  margin-top: 24px;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionPrivacyContainer .form-check-label,
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionPrivacyContainer form-check-radio {
  cursor: pointer;
}
#QuestionListApp #AddInlineQuestionContainer #AddQuestionBody #AddQuestionPrivacyContainer .form-check-label i.fa-lock {
  font-size: 14px;
}
#QuestionListApp #AddInlineQuestionContainer .wuwi-red {
  color: #ff001f;
}
#QuestionListApp #AddInlineQuestionContainer .wuwi-grey {
  color: #999999;
}
#QuestionListApp.no-questions {
  background: none;
}
#QuestionListApp.no-questions #QuestionListComponent {
  border: #d6d6d6 solid 0.03125em;
}
#QuestionListApp .ProseMirror,
#QuestionListApp input,
#QuestionListApp textarea,
#QuestionListApp select {
  border: solid 1px #DDDDDD;
  border-radius: 0;
}
#QuestionListApp .ProseMirror.is-empty,
#QuestionListApp input.is-empty,
#QuestionListApp textarea.is-empty,
#QuestionListApp select.is-empty {
  border: solid 1px #FFA07A;
}
#QuestionListApp .is-empty .ProseMirror {
  border: solid 1px #FFA07A;
}
#QuestionListApp input:focus,
#QuestionListApp .ProseMirror-focused:focus,
#QuestionListApp textarea:focus,
#QuestionListApp input:focus-visible,
#QuestionListApp .ProseMirror-focused:focus-visible,
#QuestionListApp textarea:focus-visible {
  outline: none !important;
  border: solid 1px #AFD534;
}