@import (reference) '../../../Style/includes/imports.less';

//Variables
@colorPagination: @memo-grey-lighter ;

//Less
#QuestionListApp {
    margin-top: 103px;
    background-color: @memo-grey-lighter;
    padding: 30px 0px 33px 20px;
    margin-right: 0;
    margin-left: 0;

    #QuestionListHeaderDropDown {
        .btn {
            font-size: 18px;
            color: @memo-grey-dark;
            transition: all .1s ease-in-out;

            &:hover {
                color: @memo-blue;
                transition: all .1s ease-in-out;
            }
        }
    }

    .rootElement {
        #LearningSessionReminderQuestionList {
            span {
                position: absolute;
                margin-top: -64px;
                margin-left: -101px;
                cursor: pointer;

                @media(max-width: @screen-sm-min) {
                    font-size: 14px;
                }

                @media(max-width: @screen-xxs-max) {
                    display: none;
                }
            }

            #SessionConfigReminderLeft {
                margin-top: -67px;
                position: absolute;
                margin-left: -85px;
                z-index: 100;
                display: block;
            }

            #SessionConfigReminderRight {
                margin-top: -67px;
                position: absolute;
                margin-left: 10px;
                display: none;
                z-index: 100;
                display: none;

                @media(min-width: @screen-sm-min) {
                }
            }
        }

        #CustomSessionConfigBtn {
            &.btn {
                font-size: 18px;
                color: @memo-grey-dark;
                transition: all .1s ease-in-out;

                &:hover {
                    color: @memo-blue;
                    transition: all .1s ease-in-out;
                }
            }
        }
    }

    @media(max-width: @screen-xxs-max) {
        padding-left: 0;
        padding-right: 0;
    }

    #QuestionFooterIcons {
        .btn-link {
            color: @memo-grey-dark !important;
        }
    }

    .drop-down-question-sort {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        font-size: 18px;
        justify-content: space-between;
        padding-right: 0;

        #ButtonAndDropdown {
            display: flex;
            align-items: center;

            @media(max-width: 768px) {
                padding-left: 10px;
            }
        }

        @media(max-width: 768px) {
            font-size: 3vw;
        }

        @media(max-width: 479px) {
            font-size: 4vw;
        }
    }

    .notShow {
        display: none !important;
    }

    .questionListHeader {
        .questionListTitle {
            font-size: 24px;
            padding: 8px;
        }

        .questionListFilter {
            font-size: 18px;
            padding: 8px 24px;
            text-align: right;
        }
    }

    .activeQ {
        &::before {
            color: @memo-grey-darker;
        }
    }

    .singleQuestionRow {
        background: linear-gradient(to right, #D6D6D6 0px, #D6D6D6 8px, #ffffffff 9px, #ffffffff 100%);
        font-family: "Open Sans";
        font-size: 14px;
        border: 0.05px solid @memo-grey-light;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: all .2s ease-out;
        margin-right: 20px;

        &.open {
            height: unset;
            margin-top: 20px;
            margin-bottom: 20px;
            transition: all .2s ease-out;
            box-shadow: 0px 1px 6px 0px #C4C4C4;
        }

        &.solid {
            background: linear-gradient(to right, @memo-green 0px, @memo-green 8px, #ffffffff 8px, #ffffffff 100%);
        }

        &.shouldConsolidate {
            background: linear-gradient(to right, #FDD648 0px, #FDD648 8px, #ffffffff 8px, #ffffffff 100%);
        }

        &.shouldLearn {
            background: linear-gradient(to right, @memo-salmon 0px, @memo-salmon 8px, #ffffffff 8px, #ffffffff 100%);
        }

        &.inWishknowledge {
            background: linear-gradient(to right, #949494 0px, #949494 8px, #ffffffff 8px, #ffffffff 100%);
        }

        .knowledgeState {
            width: 8px;
            min-width: 8px;
            z-index: 10;
            position: relative;
        }

        .questionSectionFlex {
            width: 100%;

            .questionSection {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
            }

            .questionImg {
                min-width: 75px;
                height: 100%;
                padding: 8px 0 8px 32px;

                @media(max-width: @screen-xxs-max) {
                    display: none;
                }
            }

            .questionContainer {
                width: 100%;

                .questionBodyTop {
                    display: flex;
                    max-width: 100%;

                    .questionContainerTopSection {
                        flex: 1 1 100%;
                        min-width: 0;

                        .questionHeader {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            min-width: 0;
                            min-height: 57px;

                            &:hover {
                                cursor: pointer;
                            }

                            .questionTitle {
                                padding: 8px;
                                min-width: 0;
                                color: @memo-grey-darker;
                                font-weight: 600;
                                align-self: center;
                                display: inline-flex;

                                .privateQuestionIcon {
                                    padding-left: 8px;
                                    padding-right: 8px;
                                }
                            }

                            @media (max-width: 640px) {
                                .col-xs-3 {
                                    width: 33%;
                                }

                                .col-xs-9 {
                                    width: 66%;
                                }
                            }

                            @media (max-width: @screen-sm-min) {
                                .col-xs-3 {
                                    width: 50%;
                                }

                                .col-xs-9 {
                                    width: 50%;
                                }
                            }
                        }

                        .questionHeaderIcons {
                            flex: 0 0 auto;
                            font-size: 18px;
                            min-width: 77px;
                            display: flex;
                            flex-wrap: nowrap;
                            color: @memo-grey-light;
                            flex-direction: row-reverse;
                            padding: 0;

                            .iAdded, .iAddedNot {
                                padding: 0;
                            }

                            .fa-heart, .fa-spinner, .fa-heart-o {
                                font-size: 18px;
                                padding-top: 18px;
                            }

                            .fa-spinner, .fa-play {
                                padding-right: 10px;
                            }

                            .iconContainer {
                                padding: 8px 8px 0px 8px;
                                min-width: 40px;
                                // height: 57px;
                                width: 40px;
                                max-width: 40px;
                                text-align: center;

                                .fa-play {
                                    margin-top: 10px;
                                }

                                .rotateIcon {
                                    transition: all .2s ease-out;
                                    line-height: 41px;

                                    &.open {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            @media (max-width: 767px) {
                                .iconContainer {
                                    padding-right: 2px;
                                    padding-left: 2px;
                                }
                            }
                        }

                        @media(max-width: @screen-xxs-max) {
                            padding-left: 20px;
                        }
                    }

                    .extendedQuestionContainer {
                        padding: 0 0 8px 0;

                        @media (max-width: 550px) {
                            padding: 8px 8px 8px 4px;
                        }

                        .extendedAnswer {
                            padding-top: 16px;
                        }

                        .notes {
                            padding-top: 16px;
                            padding-bottom: 8px;
                            font-size: 12px;

                            a {
                                cursor: pointer;
                            }

                            .relatedCategories {
                                padding-bottom: 16px;
                            }

                            .author {
                            }

                            .sources {
                                overflow-wrap: break-word;
                            }
                        }
                    }
                }

                .questionBodyBottom {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 10px;
                    padding-left: 72px;
                    align-items: center;

                    .questionDetails {
                        font-size: 12px;
                        padding-left: 24px;

                        #StatsHeader {
                            display: none;
                        }
                    }

                    .questionStats {
                        display: flex;
                        font-size: 11px;
                        padding-left: 12px;
                        padding-right: 12px;


                        .answerCountFooter {
                            width: 260px;
                            padding-bottom: 16px;


                            @media(max-width: @screen-xxs-max) {
                                padding-right: 0px;
                            }
                        }

                        .probabilitySection {
                            padding-right: 10px;
                            display: flex;
                            justify-content: center;
                            padding-bottom: 16px;

                            span {
                                &.percentageLabel {
                                    font-weight: bold;
                                    color: #D6D6D6;

                                    &.solid {
                                        color: @memo-green;
                                    }

                                    &.shouldConsolidate {
                                        color: #FDD648;
                                    }

                                    &.shouldLearn {
                                        color: @memo-salmon;
                                    }

                                    &.inWishknowledge {
                                        color: #949494;
                                    }
                                }

                                &.chip {
                                    padding: 1px 10px;
                                    border-radius: 20px;
                                    background: #D6D6D6;
                                    color: @memo-grey-darker;
                                    white-space: nowrap;

                                    &.solid {
                                        background: @memo-green;
                                    }

                                    &.shouldConsolidate {
                                        background: #FDD648;
                                    }

                                    &.shouldLearn {
                                        background: @memo-salmon;
                                    }

                                    &.inWishknowledge {
                                        background: #949494;
                                        color: white;
                                    }
                                }
                            }

                            &.open {
                                height: unset;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                transition: all .2s ease-out;
                                box-shadow: 0px 1px 6px 0px #C4C4C4;
                            }
                        }

                        @media(max-width: @screen-sm-min) {
                            flex-wrap: wrap;
                        }
                    }

                    .questionFooterIcons {
                        color: @memo-grey-dark;
                        font-size: 11px;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        margin-top: -21px;


                        a.commentIcon {
                            text-decoration: none;
                            color: @memo-grey-dark;
                            font-size: 14px;
                        }

                        .dropdown-menu {
                            text-align: left;
                        }

                        span {
                            line-height: 36px;
                            font-family: Open Sans;
                        }

                        .ellipsis {
                            padding-left: 16px;
                        }
                    }

                    @media (max-width: @screen-xxs-max) {
                        flex-wrap: wrap;
                        padding-left: 10px;
                        justify-content: flex-end;
                    }
                }
            }
        }

        .questionFooter {
            height: 52px;
            border-top: 0.5px solid @memo-grey-light;
            display: flex;
            flex-direction: row-reverse;
            font-size: 20px;

            .questionFooterLabel {
                padding: 16px;
                line-height: 20px;
            }
        }
    }

    #QuestionListPagination {
        padding-top: 32px;
        cursor: pointer;
        font-size: 12px;
        color: #949494;

        .pagination {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .page-item {
                width: 34px;


                &.page-btn {
                    width: unset;
                }

                &.disabled {
                    .page-link {
                        color: #D6D6D6;
                    }
                }

                .page-link {
                    width: 100%;
                    text-align: center;
                    padding: 6px 4px !important;
                    background-color: @colorPagination;
                }
            }

            .selected {
                border-bottom: 3px solid @memo-blue;

                .page-link {
                    color: @memo-blue !important;
                }
            }

            .page-link {
                color: #949494;
            }
        }

        span {
            border: none;
        }
    }

    @media(max-width: @screen-xxs-max) {
        margin-right: -20px;
        margin-left: -20px;
    }


    #AddInlineQuestionContainer {
        background: white;
        margin-top: 20px;
        padding: 22px 21px 30px;
        font-size: 16px;
        margin-right: 20px;

        .add-inline-question-label {
            font-weight: 700;

            &.s-label {
                font-size: 14px;
                margin-bottom: 5px;
            }

            span, a {
                font-weight: 400;
            }

            a {
                cursor: pointer;
            }
        }

        #AddQuestionHeader {
            display: flex;

            .main-label {
                padding-bottom: 6px;
                flex: 1;
            }

            .heart-container {
                display: flex;
                align-content: center;
                align-items: center;
                flex-direction: column;
                width: 100px;
                margin-right: -22px;
                cursor: pointer;

                .Text {
                    padding: 0 3px !important;
                    font-size: 8px !important;
                    line-height: 14px !important;
                    font-weight: 600 !important;
                    text-transform: uppercase !important;
                    letter-spacing: 0.1em;
                    color: #FF001F !important;
                }
            }
        }

        #AddQuestionBody {
            display: flex;

            #AddQuestionFormContainer {
                padding-right: 24px;
                flex: 1;

                .ProseMirror {
                    padding: 11px 15px 0;
                }

                .overline-s {
                    margin-top: 26px;
                }
            }

            #AddQuestionPrivacyContainer {
                padding: 20px;
                border: solid 1px @memo-grey-light;
                border-radius: 4px;
                min-width: 216px;
                max-height: 143px;
                margin-top: 24px;

                .form-check-label, form-check-radio {
                    cursor: pointer;
                }

                .form-check-label {
                    i.fa-lock {
                        font-size: 14px;
                    }
                }
            }
        }

        .wuwi-red {
            color: rgb(255, 0, 31);
        }

        .wuwi-grey {
            color: @memo-grey-dark;
        }
    }

    &.no-questions {
        background: none;

        #QuestionListComponent {
            border: @border-grey solid 0.03125em;
        }
    }

    .ProseMirror, input, textarea, select {
        border: solid 1px @memo-grey-light;
        border-radius: 0;

        &.is-empty {
            border: solid 1px @memo-salmon;
        }
    }

    .is-empty {

        .ProseMirror {
            border: solid 1px @memo-salmon;
        }
    }

    input, .ProseMirror-focused, textarea {
        &:focus, &:focus-visible {
            outline: none !important;
            border: solid 1px @memo-green;
        }
    }
}
