@import (reference) '../../../Style/includes/imports.less';

body {
    background-color: lightyellow;
}

.text-right{
    text-align: right; 
}

@media screen and (max-width: @screen-sm){
    /*.pull-left-sm{ float:left !important; }*/
    .text-left-sm{ text-align: left !important; }
}
