@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.text-right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  /*.pull-left-sm{ float:left !important; }*/
  .text-left-sm {
    text-align: left !important;
  }
}