@import (reference) '~~/assets/includes/imports.less';

#StickySearch, #HeaderSearch {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;

    .SearchContainer {
        width: 100%;
        
        input {
            min-width: 0px;
            width: 0px;
            border: none;
            padding: 0;
            transition: all 0.3s;
            background: transparent;
        }

        &.showSearch {
            input {
                border: 1px solid #ccc;
                width: 100%;
                padding: 6px 40px 6px 12px;
                background: white;
            }
        }
    }
}

#HeaderSearch {
    @media (max-width: 767px) {
        padding-right: 0;
    }
}