@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
p {
  font-size: 16px;
}
h2 {
  margin-top: 45px;
}
h4 {
  margin-top: 30px;
}
.teaserText {
  margin-top: 30px;
  font-size: 1.3em;
  line-height: 1.4em;
}
p.subheader {
  color: #999999;
  font-size: 1.3em;
  margin-bottom: 20px;
}
p.screenshot {
  text-align: left;
}
p.screenshot img {
  margin-bottom: 40px;
  margin-left: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 4px;
  height: 70%;
  width: 70%;
}
@media (max-width: 991px) {
  p.screenshot img {
    height: 100%;
    width: 100%;
  }
}
p.screenshotExplanation {
  text-align: left;
  margin-bottom: 5px;
  padding: 0 25px 5px;
}
ul.screenshotExplanation {
  padding-left: 50px;
}
code {
  display: inline-block;
  padding: 2px 3px;
  white-space: normal;
}