@import '../../Style/includes/imports.less';

.explanationBox {
    margin-top: 40px;
    margin-bottom: 20px;
    .media-below-md({
        margin-top: 20px;
    });

}

p {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}

h2 {
    margin-top: 45px;
    font-size: 25px;
}

h3 {
    margin-top: 45px;
}

h4 {
    font-size: 20px;
    margin-top: 30px;
}

.teaserText {
    margin-top: 30px;
    font-size: 1.3em; 
    line-height: 1.4em;
}

p.subheader {
    color: @global-text-color-grey;
    font-size: 1.3em;
    margin-bottom: 20px;
}


p.screenshot {
    text-align: left;
}
p.screenshot img {
    margin-bottom: 30px;
    margin-left: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 4px;
    height: 70%;
    width: 70%;
    .media-below-md ({
        height: 100%;
        width: 100%;
    });
}
p.screenshotExplanation {
    text-align: left;
    margin-bottom: 5px;
    padding: 0 25px 5px;
}
ul.screenshotExplanation {
    padding-left: 50px;
}

code {
    display: inline-block;
    padding: 2px 3px;
    white-space: normal;
}