@import (reference) '../../../Style/includes/imports.less';

.searchAutocomplete {
    z-index: 105;
    margin: 0;

    .dropdown-menu {
        min-width: 280px;
        width: 100%;
        padding: 0;

        .dropdownFooter {
            line-height: 20px;
            padding: 8px;
            text-align: end;

            .dropdownLink {
                color: @memo-blue-link;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .searchBanner {
        background: @memo-blue;
        color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        cursor: unset;
        border: 1px solid rgba(255, 255, 255, 30%);

        div {
            padding: 0 12px;
            cursor: unset;

            &.link {
                cursor: pointer;
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .searchInputContainer {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;

        .hasSearchIcon {
            padding-right: 54px;
        }

        .searchIconContainer {
            height: 34px;
            font-size: 25px;
            position: relative;
            left: -40px;
        }
    }

    .searchResultItem {
        padding: 4px 8px;
        display: flex;
        width: 100%;
        height: 70px;
        transition: .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background: @memo-grey-lighter;
            color: @memo-blue;
        }

        .searchResultLabelContainer {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .searchResultLabel {
            height: 40px;
            line-height: normal;
            color: @memo-grey-darker;
            text-overflow: ellipsis;
            margin: 0;
            overflow: hidden;
            max-width: 408px;
            white-space: normal;
        }

        .searchResultSubLabel {
            color: @memo-grey-light;
            font-style: italic;
            height: 20px;
            line-height: normal;
        }


        img {
            max-height: 62px;
            max-width: 62px;
            height: auto;
            margin-right: 10px;
            width: 100%;
            margin-top: 0px !important;

            &.authorImg {
                border-radius: 50%;
            }
        }
    }
}


#StickySearch, #HeaderSearch {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;

    .StickySearchContainer, .SearchContainer {
        width: 100%;

        input {
            min-width: 0px;
            width: 0px;
            border: none;
            padding: 0;
            transition: all 0.3s;
            background: transparent;
        }

        &.showSearch {
            input {
                border: 1px solid #ccc;
                width: 100%;
                padding: 6px 40px 6px 12px;
                background: white;
            }
        }
    }

    .searchButton {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        font-size: 20px;
        position: absolute;
        z-index: 1050;
        width: 34px;
        transform: translateZ(0);

        .fa-search, .fa-times {
            transition: all 0.3s;
        }

        &:hover {
            cursor: pointer;

            .fa-search, .fa-times {
                color: @memo-green;
            }
        }
    }

    .fa-times {
        padding-right: 6px;
    }
}

#StickySearch {
    .searchButton {         

        .fa-search, .fa-times {
            color: @memo-grey-dark;
        }

        &:hover {

            .fa-search, .fa-times {
                color: @memo-blue;
            }
        }
    }
}

#HeaderSearch {
    @media (max-width: 767px) {
        padding-right: 0;
    }
}