@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.searchAutocomplete {
  z-index: 105;
  margin: 0;
}
.searchAutocomplete .dropdown-menu {
  min-width: 280px;
  width: 100%;
  padding: 0;
}
.searchAutocomplete .dropdown-menu .dropdownFooter {
  line-height: 20px;
  padding: 8px;
  text-align: end;
}
.searchAutocomplete .dropdown-menu .dropdownFooter .dropdownLink {
  color: #0065CA;
  cursor: pointer;
}
.searchAutocomplete .dropdown-menu .dropdownFooter .dropdownLink:hover {
  text-decoration: underline;
}
.searchAutocomplete .searchBanner {
  background: #003264;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  cursor: unset;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.searchAutocomplete .searchBanner div {
  padding: 0 12px;
  cursor: unset;
}
.searchAutocomplete .searchBanner div.link {
  cursor: pointer;
  color: white;
}
.searchAutocomplete .searchBanner div.link:hover {
  text-decoration: underline;
}
.searchAutocomplete .searchInputContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.searchAutocomplete .searchInputContainer .hasSearchIcon {
  padding-right: 54px;
}
.searchAutocomplete .searchInputContainer .searchIconContainer {
  height: 34px;
  font-size: 25px;
  position: relative;
  left: -40px;
}
.searchAutocomplete .searchResultItem {
  padding: 4px 8px;
  display: flex;
  width: 100%;
  height: 70px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.searchAutocomplete .searchResultItem:hover {
  background: #EFEFEF;
  color: #003264;
}
.searchAutocomplete .searchResultItem .searchResultLabelContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.searchAutocomplete .searchResultItem .searchResultLabel {
  height: 40px;
  line-height: normal;
  color: #555555;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  max-width: 408px;
  white-space: normal;
}
.searchAutocomplete .searchResultItem .searchResultSubLabel {
  color: #DDDDDD;
  font-style: italic;
  height: 20px;
  line-height: normal;
}
.searchAutocomplete .searchResultItem img {
  max-height: 62px;
  max-width: 62px;
  height: auto;
  margin-right: 10px;
  width: 100%;
  margin-top: 0px !important;
}
.searchAutocomplete .searchResultItem img.authorImg {
  border-radius: 50%;
}
#StickySearch,
#HeaderSearch {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
}
#StickySearch .StickySearchContainer,
#HeaderSearch .StickySearchContainer,
#StickySearch .SearchContainer,
#HeaderSearch .SearchContainer {
  width: 100%;
}
#StickySearch .StickySearchContainer input,
#HeaderSearch .StickySearchContainer input,
#StickySearch .SearchContainer input,
#HeaderSearch .SearchContainer input {
  min-width: 0px;
  width: 0px;
  border: none;
  padding: 0;
  transition: all 0.3s;
  background: transparent;
}
#StickySearch .StickySearchContainer.showSearch input,
#HeaderSearch .StickySearchContainer.showSearch input,
#StickySearch .SearchContainer.showSearch input,
#HeaderSearch .SearchContainer.showSearch input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 6px 40px 6px 12px;
  background: white;
}
#StickySearch .searchButton,
#HeaderSearch .searchButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  font-size: 20px;
  position: absolute;
  z-index: 1050;
  width: 34px;
  transform: translateZ(0);
}
#StickySearch .searchButton .fa-search,
#HeaderSearch .searchButton .fa-search,
#StickySearch .searchButton .fa-times,
#HeaderSearch .searchButton .fa-times {
  transition: all 0.3s;
}
#StickySearch .searchButton:hover,
#HeaderSearch .searchButton:hover {
  cursor: pointer;
}
#StickySearch .searchButton:hover .fa-search,
#HeaderSearch .searchButton:hover .fa-search,
#StickySearch .searchButton:hover .fa-times,
#HeaderSearch .searchButton:hover .fa-times {
  color: #AFD534;
}
#StickySearch .fa-times,
#HeaderSearch .fa-times {
  padding-right: 6px;
}
#StickySearch .searchButton .fa-search,
#StickySearch .searchButton .fa-times {
  color: #767676;
}
#StickySearch .searchButton:hover .fa-search,
#StickySearch .searchButton:hover .fa-times {
  color: #003264;
}
@media (max-width: 767px) {
  #HeaderSearch {
    padding-right: 0;
  }
}