.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container,
.container-fluid,
.row,
.form-horizontal .form-group,
.btn-toolbar,
.btn-group-vertical > .btn-group,
.nav,
.navbar,
.navbar-header,
.navbar-collapse,
.pager,
.panel-body,
.modal-footer {
  *zoom: 1;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.container,
.container-fluid,
.row,
.form-horizontal .form-group,
.btn-toolbar,
.btn-group-vertical > .btn-group,
.nav,
.navbar,
.navbar-header,
.navbar-collapse,
.pager,
.panel-body,
.modal-footer {
  *zoom: 1;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.btn-group-lg > .btn {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.columnLabel {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.columnControlsFull {
  position: relative;
  float: left;
  width: 75%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.columnControlsSmall {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 37.5%;
}
@media (max-width: 479px) {
  .columnLabel,
  .columnControlsFull,
  .columnControlsSmall {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 480px) {
  .noLabel {
    margin-left: 25%;
  }
}
.ControlsInline {
  width: 250px;
  padding-right: 10px;
  float: left;
}
.ControlsInline:before,
.ControlsInline:after {
  content: " ";
  display: table;
}
.ControlsInline:after {
  clear: both;
}
@media (max-width: 479px) {
  .ControlsInline {
    width: 100%;
    padding-right: 0;
  }
}
.CategoryTypeHeader {
  color: #5bc0de;
  margin-top: 0;
  margin-bottom: 20px;
}
/*# sourceMappingURL=EditCategory.css.map */