@import (reference) '../../../Style/bootstrap/bootstrap.less';
@import (reference) '../../../Style/bootstrap/variables_custom.less';
@import (reference) '../../../Style/includes/colors.less';
@import (reference) '../../../Style/includes/shared.less';

//Form column style

.FormColumnGrid (@labels-stacked: false; 3);//conditional styles, @labels-stacked: TRUE for having labels stacked

.ControlInline {
    //width: 250px;//overwrite with custom width
    padding-right: @grid-gutter-width/2;
    float: left;
    #Clearfix;
    &.xxs-stack {
        padding-right: 0;
    }
}

.LabelInline {
    float: left;
    padding-right: @grid-gutter-width/2;
}

.CategoryTypeHeader {
    color: @color-category;
    margin-top: 0;
    margin-bottom: 20px;
}