@import (reference) '../../../Style/includes/imports.less';

//Form column style

.FormColumnGrid (@labels-stacked: true; @label-width-variable: false; 3);//conditional styles, @labels-stacked: TRUE for having labels stacked


#CategoryImageColumn {

    @media (min-width: 992px) {
        padding-left: 30px;
        padding-top: 93px;
    }

    #categoryImg {
        width: 100%;
        max-width: 250px;
    }
}

#CategoryTypeSelect {
    padding-bottom: 20px;
}

.CategoryTypeHeader {
    color: @color-category;
    margin-top: 0;
    margin-bottom: 20px;
}

#EditAggregationModal {
    .link {
        stroke: #ccc;
        stroke-width: 2px;
    }

    .node text {
        background-color: red;
        pointer-events: none;
        font: 15px sans-serif;
    }
}