#chartKnowledge text {
    font-size: 13px; 
    cursor: pointer;
    
    :hover{
        font-weight: bold;
        color: green;
    } 
}

.number-box-questions2{

    a{color: white}
    a:hover, a:active{color: white; text-decoration:none}

    :hover{
        background-color: #c5f03a;
    }

    background-color: #afd534; 
    color: white; 
} 

.number-box-sets2{

    a{color: white}
    a:hover, a:active{color: white; text-decoration:none}

    :hover{
        background-color: #ffe243;
    }

    background-color: #ffd700; color: white; 
}

.number-box-questions{

    a{color: white}
    a:hover, a:active{color: white; text-decoration:none}

    :hover{
        border-radius: 15px;
        background-color: #c5f03a;
    }
    background-color: #afd534; 
    color: white; 
    border-radius: 15px;
    border: 1px solid #e2f899;
    margin-top: 3px;
}

.number-box-sets{

    a{color: white}
    a:hover, a:active{color: white; text-decoration:none}

    :hover{
        border-radius: 15px;
        background-color: #ffe243;
    }
    background-color: #ffd700; 
    color: white; 
    border-radius: 15px;
    border: 1px solid #fff09d;
    margin-top: 3px;
}

.number-box-reputation{

    a{color: white}
    a:hover, a:active{color: white; text-decoration:none}

    :hover{
        border-radius: 15px;
        background-color: #a4bde7;
    }
    font-size: 17px;
    background-color: #7ca2e1; 
    border-radius: 15px; 
    color: white; 
    margin-top: 3px;
}

#FutureDatesOverview .label {
    max-width: 100%;
}