@import (reference) '../../Style/includes/imports.less';

#CategoryHeader {
    margin-bottom: 36px;

    .Tabs {
        width: 70%;
    }

    #Management {
        width: 30%;
        text-align: center;

        .Buttons {
            flex-grow: 0;

            .Button {
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                font-weight: bold;
            }
        }
    }

    #ManagementMobile {
        height: 30px;
        .Buttons {
            .Button {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 767px) {
    #CategoryHeader {
        font-size: 14px;
        line-height: 21px;
        font-weight: normal;
    }
}

@media (max-width: 767px) {
    #CategoryHeader .Tabs {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    #CategoryHeader #TabsBar .Border {
        display: none;
    }
}

.link-set {
    padding-bottom: 9px;
    padding-top: 11px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 29px;


    @media only screen and (max-width: 750px) {
        [class*="col-"] {
            width: 100%;
            text-align: center;
        }
    }
}

#MasterMainContent #MasterMainColumn {
    width: 100%;
    background-color: white;
}

h1 {
    font-size: 45px;
    padding-bottom: 29px;
}

