@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
#CategoryHeader {
  margin-bottom: 36px;
}
#CategoryHeader .Tabs {
  width: 70%;
}
#CategoryHeader #Management {
  width: 30%;
  text-align: center;
}
#CategoryHeader #Management .Buttons {
  flex-grow: 0;
}
#CategoryHeader #Management .Buttons .Button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  font-weight: bold;
}
#CategoryHeader #ManagementMobile {
  height: 30px;
}
#CategoryHeader #ManagementMobile .Buttons .Button {
  font-weight: bold;
}
@media (max-width: 767px) {
  #CategoryHeader {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  #CategoryHeader .Tabs {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #CategoryHeader #TabsBar .Border {
    display: none;
  }
}
.link-set {
  padding-bottom: 9px;
  padding-top: 11px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 29px;
}
@media only screen and (max-width: 750px) {
  .link-set [class*="col-"] {
    width: 100%;
    text-align: center;
  }
}
#MasterMainContent #MasterMainColumn {
  width: 100%;
  background-color: white;
}
h1 {
  font-size: 45px;
  padding-bottom: 29px;
}