#CategoryHeader {
  margin-bottom: 36px;
}
#CategoryHeader .Tabs {
  width: 70%;
}
#CategoryHeader #Management {
  width: calc(30% - 1px);
  text-align: center;
  margin-top: 10px;
}
#CategoryHeader .Border {
  margin-left: 24px;
}
@media (max-width: 767px) {
  #CategoryHeader {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
  #CategoryHeader #TabsBar .Border {
    display: none;
  }
}
@media (max-width: 767px) {
  #CategoryHeader .Tabs {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 335px) {
  #CategoryHeader .Tabs {
    font-size: 13px;
  }
}
#MasterMainContent #MasterMainColumn {
  width: 100%;
  background-color: white;
}
h1 {
  font-size: 45px;
  padding-bottom: 29px;
}
.chartKnowledgePContainer {
  height: 250px;
}