@import (reference) '../../../Style/includes/imports.less';


.contextMenu {
    margin-top: -1px; padding: 10px; border-color: #ccc; margin-bottom: 0;
    border-top-left-radius: 0; 
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}

.contextMenuOuter {
    display: none;
    z-index: 10;
    position: absolute;
    top: 28px;  
    border-left: 5px solid white; border-top: none; border-radius: 6px;
    border-bottom: 5px solid white; 
    border-right: 5px solid white;
}

.labelVisibility {
    @media only screen and (min-width: @screen-md-min) {
        float: none;
        width: 100% !important;
        text-align: left !important;
        padding-top: 0 !important;
    }
}

.menuCategories {
    .ColoredUnderline {border-bottom-color: @color-category;}
}

//Grid

.PageHeader {
    //.make-md-column(8);
    .Clearfix;
}

.headerControls {
    margin-left: 10px;
}

//Form column style

.FormColumnGrid (@labels-stacked: true; 3);//conditional styles, @labels-stacked: TRUE for having labels stacked

//

#formGroupQuestionText textarea {
    max-width: none;
}

#txtNewRelatedCategory {
    float: left;
    margin-right: 12px;
}

#addRelatedCategory {
    padding-left: 0;
    .noInput
    
}

.noInput {
    border: none;
    box-shadow: none;
    width: auto;
}

.subForm label {
    text-align: left;
}

//Multiple Choice

#choices {

    .input-group-addon {
        min-width: 155px;
        text-align: left;
    }

    .input-group input {
        max-width: none;
    }

    @media (max-width: @screen-xxs-max) {

        .input-group {
            display: block;


            input {
                border-bottom-left-radius: @input-border-radius !important;
                border-bottom-right-radius: @input-border-radius !important;
                border-top-right-radius: 0 !important;
            }
        }

        .input-group-addon {
            line-height: 20px;
            display: block;
            width: auto;
            border: 1px solid @input-group-addon-border-color !important;
            border-bottom: none !important;
            border-top-right-radius: @input-border-radius !important;
            border-bottom-left-radius: 0 !important;
            padding-right: 20px;

            & + .CloseButton {
                border-bottom-right-radius: @input-border-radius;
            }

        }

        .CloseButton {

            position: static;


            a.btn {
                position: absolute;
                right: 0;
                top: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}


//Description

#formGroupDescription textarea {
    max-width: none;
}


//References

//.ReferenceAllInlineStyle;

#JS-References, #AddReferenceControls {
    .LabelInline {
        font-size: percentage(100/90);
    }

    .JS-ReferenceContainer {
        #Clearfix;
        background-color: @color-background-lightblue-darker;
        position: relative;

        .close {
            position: absolute;
            right: 5px;
            top: 3px;
        }

        .form-group + .form-group {
            margin-top: 15px;
        }
    }

    .Reference {
        margin-bottom: 5px;
    }
}


.media-below-xs({
    i {display:none;}
});

#matchlist-solutionOrderCheck {
    margin-bottom: 25px;
}

#multiplechoice-solutionOrderCheck {
    margin-bottom: 25px;
    margin-top: -10px;
}

//MatchList question type
#matchlist{
     #responseModal {
         .matchlist-modalinput {
             margin-left: unset;
         }
     }

    #pairs{
         .matchlist-leftelement {
             width:48%;
         }
         .matchlist-arrow {
             margin-right:2%;
             margin-left:2%;
         }
         .matchlist-rightpairelement {
             width:40%;
         }
         .removeButton{
             width:2%;
         }
    }

    #matchlist-button{
        #addPair{
            width:48%;
        }
        #responseModalButton{
            width:40%;
            margin-left:5.8%;
        }
    }

    #responseModal .modal-content{
        margin-top:50%;

        .matchlist-rightelement{
            width:100%;
        }
    }
}