@import (reference) '../../../Style/bootstrap/bootstrap.less';
@import (reference) '../../../Style/bootstrap/variables_custom.less';
@import (reference) '../../../Style/includes/colors.less';
@import (reference) '../../../Style/includes/shared.less';


.contextMenu {
    margin-top: -1px; padding: 10px; border-color: #ccc; margin-bottom: 0;
    border-top-left-radius: 0; 
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}

.contextMenuOuter {
    display: none;
    z-index: 10;
    position: absolute;
    top: 28px;  
    border-left: 5px solid white; border-top: none; border-radius: 6px;
    border-bottom: 5px solid white; 
    border-right: 5px solid white;
}

.labelVisibility {
    @media only screen and (min-width: @screen-md-min) {
        float: none;
        width: 100% !important;
        text-align: left !important;
        padding-top: 0 !important;
    }
}

.menuCategories {
    .underlined {border-bottom-color: @color-category;}
}

//Grid

@grid-width-label-xs: 3;
@grid-width-controls-full-xs: (@grid-columns - @grid-width-label-xs);
@grid-width-controls-small-xs: 4;

.pageHeader {
    //.make-md-column(8);
    .Clearfix;
}

.headerControls {
    margin-left: 10px;
}

.columnLabel {
    .make-xs-column(@grid-width-label-xs);
    .xxs-stack;
}

.columnControlsFull {
    .xxs-stack;
    .make-xs-column(@grid-width-controls-full-xs);

    .aside & {
        .make-md-column(@grid-columns);
    }
}

.columnControlsSmall {
    
    .make-xs-column(1);
    width: percentage(1/@grid-columns*@grid-width-controls-full-xs/2);
    .xxs-stack;
}



.noLabel {
    .make-xs-column-offset(@grid-width-label-xs);
}

#txtNewRelatedCategory {
    float: left;
    margin-right: 12px;
}

#addRelatedCategory {
    padding-left: 0;
    .noInput
    
}

.noInput {
    border: none;
    box-shadow: none;
    width: auto;
}

.subForm label {
    text-align: left;
}

//Multiple Choice

#choices {

    .input-group-addon {
        min-width: 155px;
        text-align: left;
    }

    @media (max-width: @screen-xxs-max) {

        .input-group {
            display: block;


            input {
                border-bottom-left-radius: @input-border-radius !important;
                border-bottom-right-radius: @input-border-radius !important;
                border-top-right-radius: 0 !important;
            }
        }

        .input-group-addon {
            line-height: 20px;
            display: block;
            width: auto;
            border: 1px solid @input-group-addon-border-color !important;
            border-bottom: none !important;
            border-top-right-radius: @input-border-radius !important;
            border-bottom-left-radius: 0 !important;
            padding-right: 20px;

            & + .CloseButton {
                border-bottom-right-radius: @input-border-radius;
            }

        }

        .CloseButton {

            position: static;


            a.btn {
                position: absolute;
                right: 0;
                top: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}