.contextMenu {
  margin-top: -1px;
  padding: 10px;
  border-color: #ccc;
  margin-bottom: 0;
  border-top-left-radius: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0);
}
.contextMenuOuter {
  border-left: 5px solid white;
  border-top: none;
  border-radius: 6px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}
