@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
.contextMenu {
  margin-top: -1px;
  padding: 10px;
  border-color: #ccc;
  margin-bottom: 0;
  border-top-left-radius: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0);
}
.contextMenuOuter {
  display: none;
  z-index: 10;
  position: absolute;
  top: 28px;
  border-left: 5px solid white;
  border-top: none;
  border-radius: 6px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}
@media only screen and (min-width: 992px) {
  .labelVisibility {
    float: none;
    width: 100% !important;
    text-align: left !important;
    padding-top: 0 !important;
  }
}
.menuCategories .ColoredUnderline {
  border-bottom-color: #45aece;
}
.PageHeader:before,
.PageHeader:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.PageHeader:after {
  clear: both;
}
.headerControls {
  margin-left: 10px;
}
.columnControlsFull {
  font-size: 90%;
}
.columnControlsFull .radio,
.columnControlsFull .form-control-static,
.columnControlsFull .added-cat {
  font-size: 111.11111111%;
}
.columnLabel {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left !important;
}
.columnControlsFull,
.noControls {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.columnControlsFull .radio,
.noControls .radio,
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  margin-left: 20px;
}
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  padding-top: 0;
}
.noLabel .form-control-static {
  margin-left: 0;
}
.aside .columnControlsFull .radio,
.aside .columnControlsFull .form-control-static {
  margin-left: 0;
}
/*.columnControlsFull {

            .radio, .form-control-static {
                margin-left: 20px;
                aside {
                    margin-left: 0;
                }
            }
        }*/
.columnControlsSmall {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 479px) {
  .columnControlsSmall {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.noLabel {
  margin-left: 0;
}
.radio {
  margin-left: 20px;
}
.added-cat.SingleSelect {
  margin-left: 20px;
}
input.form-control,
textarea.form-control,
select.form-control {
  max-width: 400px;
}
#formGroupQuestionText textarea {
  max-width: none;
}
#txtNewRelatedCategory {
  float: left;
  margin-right: 12px;
}
#addRelatedCategory {
  padding-left: 0;
  border: none;
  box-shadow: none;
  width: auto;
}
.noInput {
  border: none;
  box-shadow: none;
  width: auto;
}
.subForm label {
  text-align: left;
}
#choices .input-group-addon {
  min-width: 155px;
  text-align: left;
}
#choices .input-group input {
  max-width: none;
}
@media (max-width: 479px) {
  #choices .input-group {
    display: block;
  }
  #choices .input-group input {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 0 !important;
  }
  #choices .input-group-addon {
    line-height: 20px;
    display: block;
    width: auto;
    border: 1px solid #ccc !important;
    border-bottom: none !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    padding-right: 20px;
  }
  #choices .input-group-addon + .CloseButton {
    border-bottom-right-radius: 4px;
  }
  #choices .CloseButton {
    position: static;
  }
  #choices .CloseButton a.btn {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-right-radius: 0;
  }
}
#formGroupDescription textarea {
  max-width: none;
}
#JS-References .LabelInline,
#AddReferenceControls .LabelInline {
  font-size: 111.11111111%;
}
#JS-References .JS-ReferenceContainer,
#AddReferenceControls .JS-ReferenceContainer {
  background-color: #e7ecf6;
  position: relative;
}
#JS-References .JS-ReferenceContainer:before,
#AddReferenceControls .JS-ReferenceContainer:before,
#JS-References .JS-ReferenceContainer:after,
#AddReferenceControls .JS-ReferenceContainer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#JS-References .JS-ReferenceContainer:after,
#AddReferenceControls .JS-ReferenceContainer:after {
  clear: both;
}
#JS-References .JS-ReferenceContainer .close,
#AddReferenceControls .JS-ReferenceContainer .close {
  position: absolute;
  right: 5px;
  top: 3px;
}
#JS-References .JS-ReferenceContainer .form-group + .form-group,
#AddReferenceControls .JS-ReferenceContainer .form-group + .form-group {
  margin-top: 15px;
}
#JS-References .Reference,
#AddReferenceControls .Reference {
  margin-bottom: 5px;
}
@media (max-width: 479px) {
  i {
    display: none;
  }
}
#matchlist-solutionOrderCheck {
  margin-bottom: 25px;
}
#multiplechoice-solutionOrderCheck {
  margin-bottom: 25px;
  margin-top: -10px;
}
#matchlist #responseModal .matchlist-modalinput {
  margin-left: unset;
}
#matchlist #pairs .matchlist-leftelement {
  width: 48%;
}
#matchlist #pairs .matchlist-arrow {
  margin-right: 2%;
  margin-left: 2%;
}
#matchlist #pairs .matchlist-rightpairelement {
  width: 40%;
}
#matchlist #pairs .removeButton {
  width: 2%;
}
#matchlist #matchlist-button #addPair {
  width: 48%;
}
#matchlist #matchlist-button #responseModalButton {
  width: 40%;
  margin-left: 5.8%;
}
#matchlist #responseModal .modal-content {
  margin-top: 50%;
}
#matchlist #responseModal .modal-content .matchlist-rightelement {
  width: 100%;
}
#EditQuestionForm a > span {
  max-width: 220px;
}