@import (reference) '../../../Style/bootstrap/variables_custom.less';
@import (reference) '../../../Style/bootstrap/bootstrap.less';

.contextMenu {
    margin-top: -1px; padding: 10px; border-color: #ccc; margin-bottom: 0;
    border-top-left-radius: 0; 
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}

.contextMenuOuter {
    display: none;
    z-index: 10;
    position: relative; top: 3px;
    border-left: 5px solid white; border-top: none; border-radius: 6px;
    border-bottom: 5px solid white; 
    border-right: 5px solid white;
}

.labelVisibility {
    @media only screen and (min-width: @screen-md-min) {
        float: none;
        width: 100%;
        text-align: left !important;
        padding-top: 0 !important;
    }
}


