@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*#MasterMainWrapper {
        background-color: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        .media-sm-up( {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }

        );
    }

    .MainFilterBarWrapper {
        .media-below-sm({
            margin-bottom: 10px;
        });
    }*/
.set-row:hover {
  background-color: #f3f5f8;
}
#MainFilterBar .btn-group .btn:hover {
  background-color: #FFD700 !important;
  background-image: none !important;
}
.set-row .label {
  max-width: 300px;
}
.column-MainContent div.TitleText {
  margin-bottom: 5px;
}
.column-MainContent div.TitleText span.label-question {
  font-size: 11px;
  position: relative;
  top: -3px;
}
.column-Additional {
  justify-content: flex-start;
}
.column-Additional .StatsRow {
  height: 1.5em;
  margin-left: 0;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .column-Additional .StatsRow {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.column-Additional .StatsRow i {
  width: 19px;
}
@media (max-width: 767px) {
  .column-Additional {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .column-Additional .SetInfo {
    margin-bottom: 10px;
  }
}
.column-Additional .Divider {
  width: 100%;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .column-Additional .Divider {
    display: none;
  }
}
.Pin {
  height: 25px;
  margin-top: -1px;
  padding-left: 10px;
  float: right;
}
@media (max-width: 479px) {
  .Pin {
    float: left;
  }
}