@import (reference) '../../Style/includes/imports.less';

.set-row:hover{ background-color: #f3f5f8; }

#MainFilterBar { 

    .btn-group  {

        .btn {
            .buttonBackground (@color-set-button-top; @color-set-button-bottom; @global-text-color; white);

            &:hover{
                background-color: @color-set;
                background-image: none;
            }
        }



        @media (max-width: @screen-xs-max) {

            &:first-child .btn {
                border-left: none;
            }
            &:last-child .btn {
                 border-right: none;
            }
        }
    }

    .btn-group.active { 
        
        .btn {//, .btn:hover

        .buttonBackground (@color-set-button-bottom; @color-set; @global-text-color; white);

        color: @global-text-color;
        font-weight: bold;
        }
    }
}

.column-MainContent {

    .media-sm-up ({
        width: (722px - @column-Image-sm-width - @column-Additional-sm-width);
    });
    
    .media-md-up ({
        width: (702px - @column-Image-sm-width - @column-Additional-sm-width);
    });

    .media-lg ({
        width: (852px - @column-Image-sm-width - @column-Additional-sm-width);
    });
}

.Pin {
    height: 25px;
    margin-top: -1px;
    padding-left: 10px;
    float: right;

    .media-below-xs ({
        float: left;
    });
}