@import (reference) '../../Style/includes/imports.less';

.set-row:hover{ background-color: #f3f5f8; }

#MainFilterBarBackground {

    .btn {
        //.gradientBar232 (desaturate(@color-set-button-bottom, 25), desaturate(@color-set-button-top, 25));
    }
}

#MainFilterBar { 

    .btn-group  {

        .btn {
            //.buttonBackground (@color-set-button-top; @color-set-button-bottom; @global-text-color; white);
        }
    }

    .btn-group.active { 
        
        .btn {//, .btn:hover
            //.buttonBackground (@color-set-button-bottom; @color-set; @global-text-color; white);
        }
    }

    .btn-group .btn:hover{
        background-color: @color-set !important;
        background-image: none !important;
    } 
}

.set-row .label {
    max-width: 300px;
}

.column-MainContent {

    div.TitleText{

        margin-bottom: 5px;

        span.label-question{
            font-size: 11px;
            position: relative; top: -3px;
        }
    }
}

.column-Additional{

    justify-content: flex-start;

    .StatsRow {
        height: 1.5em;
        margin-left: 0;
        margin-right: 10px;

        .media-below-sm({
            margin-top: 5px;
            margin-bottom: 5px;
        });

        i { width:19px; }
    }

    .media-below-sm({
        width: 100%;
    });

    .SetInfo {
        .media-sm-up({
            margin-bottom: 10px;
        });
    }

    .Divider {
         width: 100%;
         margin-bottom: 5px;
         .media-sm-up({
             display: none;
         });
     }
}

.Pin {
    height: 25px;
    margin-top: -1px;
    padding-left: 10px;
    float: right;

    .media-below-xs ({
        float: left;
    });
}