.set-row:hover {
  background-color: #f3f5f8;
}
#MainFilterBarBackground .btn {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f5ebb8;
  background-image: -moz-linear-gradient(top, #f2e6a6, #f9f3d2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2e6a6), to(#f9f3d2));
  background-image: -webkit-linear-gradient(top, #f2e6a6, #f9f3d2);
  background-image: -o-linear-gradient(top, #f2e6a6, #f9f3d2);
  background-image: linear-gradient(to bottom, #f2e6a6, #f9f3d2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2e6a6', endColorstr='#fff9f3d2', GradientType=0);
  border-color: #f9f3d2 #f9f3d2 #efe08f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
#MainFilterBar .btn-group .btn {
  color: #203256;
  text-shadow: white;
  background-color: #fff4b8;
  background-image: -moz-linear-gradient(top, #fff7cc, #ffef99);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff7cc), to(#ffef99));
  background-image: -webkit-linear-gradient(top, #fff7cc, #ffef99);
  background-image: -o-linear-gradient(top, #fff7cc, #ffef99);
  background-image: linear-gradient(to bottom, #fff7cc, #ffef99);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff7cc', endColorstr='#ffffef99', GradientType=0);
  border-color: #ffef99 #ffef99 #ffe34d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffef99;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#MainFilterBar .btn-group .btn:hover,
#MainFilterBar .btn-group .btn:focus,
#MainFilterBar .btn-group .btn:active,
#MainFilterBar .btn-group .btn.active,
#MainFilterBar .btn-group .btn.disabled,
#MainFilterBar .btn-group .btn[disabled] {
  color: #203256;
  background-color: #ffef99;
  *background-color: #ffeb80;
}
#MainFilterBar .btn-group .btn:active,
#MainFilterBar .btn-group .btn.active {
  background-color: #ffe766 \9;
}
#MainFilterBar .btn-group.active .btn {
  color: #203256;
  text-shadow: white;
  background-color: #ffe55c;
  background-image: -moz-linear-gradient(top, #ffef99, #ffd700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffef99), to(#ffd700));
  background-image: -webkit-linear-gradient(top, #ffef99, #ffd700);
  background-image: -o-linear-gradient(top, #ffef99, #ffd700);
  background-image: linear-gradient(to bottom, #ffef99, #ffd700);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffef99', endColorstr='#ffffd700', GradientType=0);
  border-color: #ffd700 #ffd700 #b39700;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffd700;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#MainFilterBar .btn-group.active .btn:hover,
#MainFilterBar .btn-group.active .btn:focus,
#MainFilterBar .btn-group.active .btn:active,
#MainFilterBar .btn-group.active .btn.active,
#MainFilterBar .btn-group.active .btn.disabled,
#MainFilterBar .btn-group.active .btn[disabled] {
  color: #203256;
  background-color: #ffd700;
  *background-color: #e6c200;
}
#MainFilterBar .btn-group.active .btn:active,
#MainFilterBar .btn-group.active .btn.active {
  background-color: #ccac00 \9;
}
#MainFilterBar .btn-group .btn:hover {
  background-color: #ffd700 !important;
  background-image: none !important;
}
@media (min-width: 768px) {
  .column-MainContent {
    width: 442px;
  }
}
@media (min-width: 992px) {
  .column-MainContent {
    width: 422px;
  }
}
@media (min-width: 1200px) {
  .column-MainContent {
    width: 572px;
  }
}
.Pin {
  height: 25px;
  margin-top: -1px;
  padding-left: 10px;
  float: right;
}
@media (max-width: 479px) {
  .Pin {
    float: left;
  }
}
/*# sourceMappingURL=Sets.css.map */