@import (reference) '../../../Style/includes/imports.less';


div.column  { width: 33%; float: left;}

span.CategoryType {
    font-size: 80%;
    display: inline-block; //To prevent line break inside span when situated next to category name
}

.CategoryImage {
    position: relative;
    margin-bottom: 10px;

    .media-below-xs ({
        max-width: 150px;
    });
}

.MainCategory span.label-category {
    color: darken(@color-category, 20);
    font-size: 145%;
    margin-top: 5px;
    white-space: normal;
    max-width: 100%;
}

.ReferenceAllInlineButAuthorStyle;

.Reference {
    margin-bottom: 5px;

    .Icon,
    .Name {
        display: none !important;
    }

    .Author {
        font-size: 18px;
        margin-top: -4px;
        margin-bottom: 5px;
    }
}

.CategoryRelations {
    text-align: center;
}

.RelationArrow {
    font-size: 18px;
}

#ItemMainInfo {
    
    padding-bottom: 5px;

    header{
        border-bottom: @colored-line-width solid @color-category;
        margin-bottom: 10px;
    }

    .ImageContainer {

        margin-bottom: 10px;

        .media-below-sm({

            img {
                max-height: 150px;
                width: auto;
            }
        }); 
    }

    .BottomBar {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.ContentSubheading {

    &:not(:first-child){
        margin-top: 30px;
    }
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: @memo-blue;

    &.Set {
        border-bottom-color: @color-set;
    }

    &.Question {
        border-bottom-color: @color-question;
    }
}

.LabelList {
    margin-top: 0;
    padding-right: 0;
}

.LabelItem{

    padding-bottom: 7px;

    .media-sm-up({

        padding-bottom: 5px;

        &:not(:hover) .EllipsWrapper  {
            width: 100%;
            max-height: 28px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    });
   
}

.Box + h4 {
    margin-top: 30px;
}