@import (reference) '../../../Style/includes/imports.less';


div.column  { width: 33%; float: left;}

span.CategoryType {
    font-size: 80%;
    display: inline-block; //To prevent line break inside span when situated next to category name
}

.CategoryImage {
    position: relative;
    margin-bottom: 10px;

    .media-below-xs ({
        max-width: 150px;
    });
}

.MainCategory span.label-category {
    color: darken(@color-category, 20);
    font-size: 145%;
    margin-top: 5px;
    white-space: normal;
    max-width: 100%;
}

.DescriptionSection {
    .ReferenceAllInlineButAuthorStyle;

    //.categoryDetailMainInfoReference {
    .Reference {
        margin-bottom: 20px;

        .Icon,
        .Name {
            display: none !important;
        }

        .Author {
            margin-top: -4px;
            margin-bottom: 5px;
        }
    }
}

.CategoryRelations {
    text-align: center;
}

.RelationArrow {
    font-size: 18px;
}

.ContentSubheading {

    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

    &:not(:first-child){
        margin-top: 30px;
    }
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: @memo-blue;

    &.Set {
        border-bottom-color: @color-set;
    }

    &.Question {
        border-bottom-color: @color-question;
    }
}

.LabelList {
    margin-top: 0;
    padding-right: 0;
}

.LabelItem{

    padding-bottom: 7px;

    .media-sm-up({

        padding-bottom: 5px;

        &:not(:hover) .EllipsWrapper  {
            width: 100%;
            max-height: 28px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    });
   
}


/*  Markdown Content
----------------------------------------------------------*/

.MarkdownContent {

    blockquote {
        font-style: italic;
        padding-left: 20px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    h4 {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    p {
        .media-xs-up( {
            font-size: 18px;
        }

        );
        margin-bottom: 20px;
    }

    ul {
        margin-bottom: 20px;
    }

    .centerElements {
        text-align: center;

        p {
            text-align: center;
        }
    }
}

.MarkdownContent {

    .Card {

        h2 {
            .h2;
        }

        h3 {
            .h3;
        }

        h4 {
            .h4;
        }
    }
}


.Box + h2, .Box + h3, .Box + h4 {
    margin-top: 20px;
}

.Box {
    & > h2, & > h3, & > h4 {
        &:first-child {
            margin-top: 5px;
        }
    }
}

.Box + h2, .Box + h3, .Box + h4 {
    margin-top: 50px;
}

.Box p {
    &:last-child {
        margin-bottom: 0;
    }
}

.Card.ItemList {
    padding: 10px 0 0 15px;

    .CardContent {
        max-height: none !important;
    }

    .ItemTitle, .ItemText {
        line-height: 20px;

        @media (min-width: @extra-breakpoint-cards){

            &.rowCount1 {
                height: 20px;
                overflow: hidden;
            }
            
            &.rowCount2 {
                height: 40px;
                overflow: hidden;
            }

            &.rowCount3 {
                height: 60px;
                overflow: hidden;
            }

            &.rowCount4 {
                height: 80px;
                overflow: hidden;
            }

            &.rowCount5 {
                height: 100px;
                overflow: hidden;
            }

            &.rowCount6 {
                height: 120px;
                overflow: hidden;
            }

            &.rowCount7 {
                height: 140px;
                overflow: hidden;
            }

            &.rowCount8 {
                height: 160px;
                overflow: hidden;
            }

            &.rowCount9 {
                height: 180px;
                overflow: hidden;
            }

            &.rowCount10 {
                height: 200px;
                overflow: hidden;
            }
            
        }
    }

    .ItemText {
        margin-bottom: 20px;
        
    }
}

.MarkdownContent .row {
    @media (min-width: @extra-breakpoint-cards){
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

.ItemRow {

    .media-xs-up ({
        max-height: 76px;
        margin-bottom: 18px;
        overflow: hidden;
    });

    .ItemInfo {
        margin-top: 0;
        margin-bottom: 3px;
    }

    .ContentColumn {
        margin-left: 60px;
    }

    .TextWrapper {
        position: relative;
        width: 100%;
    }

    .SetTitle {
        &:hover{
            //.ShadowBox;
            /*position: absolute;
            left: 0;
            right: 0;
            height: auto;*/
            /*overflow:visible;
            box-shadow: 0 0 30px #000;
            width: 100%;
            z-index: 100000000000;*/
        }
    }
}

.WikiLink {
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p:empty {
   display: none;
}

.SpacerDiv {
    height: 40px;
}

.SpacerDiv20 {
    height: 20px;
}
.SpacerBorderTop {
    border-top: 15px solid @color-background-global;
    margin-left: -20px;
    margin-right: -20px;
}


/*.Box .Card {
    border: none;
    box-shadow: none;

    &.SingleItem {


        .ImageContainer {
            margin-left: 0 !important;
        }

        .ContentContainer {
            margin-left: 100px !important;

            .CardContent{
                margin-right: 0px !important;
            }
        }
    }
}

.Box .Box {
    padding: 0;
    border: none;
    box-shadow: none;
}

*/
/*------------------------------------------------------
    TopicNavigation
-------------------------------------------------------*/
.topicNavigation, .setCardMiniList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;

    img {
        border-radius: 50%;
        box-shadow: 5px 5px 10px @gray-lighter;
    }

    a {
        color: @global-text-color;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .set-question-count {
        color: @gray-light;
        margin-top: 8px;
        line-height: 22px;
    }

    .topic, .setCardMini {
        .row {
            margin-top: 20px;
            margin-bottom: 25px;
        }

        .stack-below(@extra-breakpoint-cards);

        .ImageContainer {
            max-width: 80px;
            min-width: 70px;

            .LicenseInfo {
                text-align: center;
                color: @gray-light;

                &:after {
                    content: "Lizenz";
                }
            }
        }

        .topic-name {
            max-height: 65px;
            overflow: hidden;

            @media (max-width: (@extra-breakpoint-cards - 1px)) {
                max-height: none;
            }
        }

        .KnowledgeBarLegend {
            .greyed;
            font-size: 12px;
            line-height: 1.5em;
            //text-transform: uppercase;
            opacity: 0;
            transition: opacity 0.2s linear;

            .media-below-sm ( {
                opacity: 1;
            }

            );
        }

        &:hover { //show on hover over navigation tile
            .KnowledgeBarLegend {
                opacity: 1;
            }
        }
    }

    .category-knowledge-bar, .set-knowledge-bar {
        margin-top: 15px;
        height: 10px;
        width: 180px;
    }
}

/*------------------------------------------------------
    KnowledgeBar
-------------------------------------------------------*/

.category-knowledge-bar {
    height: 10px;
    width: 100%;

    .solid-knowledge, .needs-learning, .needs-consolidation, .not-learned, .not-in-wish-knowledge {
        height: inherit;
        float: left;
    }

    .needs-learning {
        background-color: @needs-learning-color;
    }

    .needs-consolidation {
        background-color: @needs-consolidation-color;
    }

    .solid-knowledge {
        background-color: @solid-knowledge-color;
    }

    .not-learned {
        background-color: @not-learned-color;
    }

    .not-in-wish-knowledge {
        background-color: @not-in-wish-knowledge-color;
    }
}

/*------------------------------------------------------
    Knowledge Square
---------------------------------------------------------*/
.square-wish-knowledge {
    float: left;
    height: 20px;
    width: 20px;
    border: black 1px solid;
}
    .NotLearned {
        background-color: silver;
    }

    .NeedsConsolidation {
        background-color: #fdd648;
    }

    .NeedsLearning {
        background-color: lightsalmon;
    }

    .Solid {
        background-color: #afd534;
    }




/*------------------------------------------------------
    MEDIA LIST
-------------------------------------------------------*/

.mediaList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
        color: @global-text-color;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }

    .mediaReference {
        .stack-below(@extra-breakpoint-cards);
        margin-top: 10px;
        margin-bottom: 25px;

        .ReferenceTitle {
            font-size: 18px;
            line-height: 22px;

            .Author {
                display: inline;
                font-size: 16px;
                line-height: 22px;
                color: #333;
                font-style: italic;

                span {
                    font-style: normal;
                }
            }

            .Title {
                display: inline;

                .subtitle {
                    display: none;
                }
            }

            .Publisher, .ParentIssue, .PublishedIn, .Editor, .TitleVolume {
                display: inline;
            }
        }

        .set-question-count {
            .topicNavigation.set-question-count;
            font-size: 16px;
        }
    }
}

/*------------------------------------------------------
    NEW STYLES
-------------------------------------------------------*/
.navLinks {
    display: inline;
    padding-left: 12px;
    padding-top: 2px;

    .visible-lg {
        display: inline !important;

        .media-below-lg({
            display: none !important;
        });
    }

    > a, > div {
        display: inline-block !important;
        margin-right: 10px !important;
        float: none !important;
    }
}

#CategoryHeader, #TopicTabContent {
    line-height: 1.5;
    margin-top:10px;

    .new-font-style();
    color: @global-text-color;

    h1, h2, h3, h4, h5 {
       //font-family: Open Sans;
        line-height: 1.2;
    }

    h1 {
        font-size: @font-size-h1-mem;
        font-style: normal;
        font-weight: 400;
        margin-top: 5px;

        .media-below-sm( {
            font-size: 6vw;
        });
    }

    h2 {
        font-size: @font-size-h2-mem;

        .media-below-sm({
            font-size: @font-size-h3-mem;
        });
    }

    h3 {
        font-size: @font-size-h3-mem;

        .media-below-sm({
            font-size: @font-size-h4-mem;
        });
    }

    h4 {
        font-size: @font-size-h3-mem;

        .media-below-sm({
            font-size: @font-size-h4-mem;
        });
    }
}

#MasterMainWrapper {
    background-color: white;
    padding: 20px;
    width:100%;
    padding-top: 0;
    margin-top: -10px;

    .Box {
        padding: 0;
        border: none;
        box-shadow: none;
    }
}

.BoxButtonBar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.CardsPortrait, .CardsLandscape {
    margin-top: 40px !important;
}

.Card {

    .CardContent {

        .CardsPortrait & {
            @media (min-width: @extra-breakpoint-cards) {
                height: 230px !important;
            }
        }
    }

    .ItemInfo {

        font-size: 14px;

        .media-xs-up({
            font-size: 16px !important;
        });
    }

    .ItemTitle {
        .media-xs-up({
            font-size: 18px !important;
        });
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .ItemText {

        line-height: 1.5;

        .media-xs-up({
            font-size: 16px !important;
        });
    }
}

.LabelList .LabelItem {

    &:before {
        top: 1.1em !important;
    }
}


#AboveMainHeading {
    margin-top: -5px;

    @media (min-width: 991px) {
        margin-top: -21px;
    }
}



.setTestSessionNoStartScreen {
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
        margin-bottom: 10px;
    }

    h5 {
        margin-bottom: 20px;
    }
}

.singleQuestionsQuiz {
    h3 {
        margin-top: 45px;
        margin-bottom: 35px;
    }
    .SpacerDiv {
        height: 45px;
    }
}

/*------------------------------------------------------
    CategoryHeader
-------------------------------------------------------*/
#CategoryHeader {
    margin-bottom: 20px;

    ConditionalLegend {
        display: block;
    }

    #HeadingSection {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    #HeadingContainer {
        //margin-left: 120px;
        flex: auto;
    }

    .ImageContainer {
        width: 120px;

        .media-below-sm( {
            width: 15%;
        }

        );
        flex-grow: 0;
        flex-shrink: 0;
        float: left;
        text-align: center;
        margin-right: 20px;
    }

    img {
        border-radius: 50%;
        width: 80px;
    }

    .LicenseInfo {
        .greyed;
        text-align: center;
    }

    #Management {
        width: 50%;
        display: flex;
    }

    .KnowledgeBarWrapper {
        padding-top: 13px;
        padding-left: 30px;
        padding-right: 30px;
        flex-grow: 1;
        vertical-align: middle;
    }

    .category-knowledge-bar {
        .ConditionalLegend {
            display: block !important;
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 10px;
            line-height: 10px;
            .greyed;
        }
    }

    .Buttons {
        flex-grow: 0;

        .Button {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
        }

        .Pin {
            i {
                width: 23px;
                transition: font 0.3s ease;
            }

            .iAddedNot, .iAdded, .iSpinner {
                vertical-align: middle;
            }

            .Text {
                display: inline;
                padding-left: 3px;
                font-size: 12px;
                .greyed;
                text-transform: uppercase;
                vertical-align: middle;
                transition: color 0.3s ease;

                @media(max-width: 380px ) {
                    display: none;
                }
            }

            &:hover {
                .Text {
                    color: #FF001F;
                }

                i {
                    font-size: 110%;
                }
            }
        }

        .dropdown-toggle, .header-savebtn {
            font-size: 18px;
            .greyed;

            &:hover, &:active, &:focus {
                color: @memo-blue;
            }
        }
    }

    #ManagementMobile {
        display: none;
        justify-content: space-between;
        margin-bottom: 30px;

        .KnowledgeBarWrapper {
            width: 50%;
            flex-grow: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .Buttons {
            flex-grow: 0;

            .Pin {
                margin-top: 5px;
            }
        }
    }



    .media-below-sm( {

        #ManagementMobile {
            display: flex;
        }

        #Management {
            display: none;
        }

        .Tabs {
            width: 100%;
            padding-right: 0;
            justify-content: space-between;
        }

        .Tab {
            width: 30%;
            text-align: center;
        }
    }

    );

    .media-below-sm( {
        margin-bottom: 30px;

        .BreadcrumbsMobile {
            padding-bottom: 0;
        }

        #ManagementMobile {
            margin-bottom: 10px;
        }

        #HeadingSection {
            margin-bottom: 30px;
            overflow: hidden;
        }
    }

    );
}

/*------------------------------------------------------
    CategoryFooter
-------------------------------------------------------*/
#CategoryFooter {
    margin-top: 100px;

    .footerToolbar {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #d6d6d6;


        .wishknowledge {
            display: flex;

            #PinLabel {
                padding-left: 10px;
                padding-top: 4px;
                display: block;
                height: 100%;
                line-height: 38px;                                  
                color: #999999;
            }
        }

        .footerDropdown {
            padding-top: 8px;

            .dropdown-menu {
                margin: -10px 0 0;
            }

            .fa-ellipsis-v {
                font-size: 18px;
                color: #999999;
            }
        }
    }
}

.media-below-md( {
    #MasterMainWrapper {
        padding-top: 10px;
    }
}); 

.DescriptionSection {
    margin-bottom: 50px;
    display: flex;

    .media-below-xs( {
        flex-direction: column;
    });

    .ImageContainer {
        margin-bottom: 20px;
        max-width: 25%;

        .media-sm( {
            max-width: 30%;
        }

        );

        .media-below-xs( {
            max-width: 100%;
            align-self: center;
        }

        );
        margin-right: 20px;
        flex-shrink: 0;


        img {
            max-height: 220px;

            .media-below-sm( {
                max-height: 200px;
            }

            );
        }
    }

    .TextColumn {
        width: 100%;
        max-width: @paragraph-max-width;
        margin-left: auto;
        margin-right: auto;
        min-width: 0;//Prevent overflowing of container in case of long wikipedia links (flexbox behaviour)
    }
}

/*------------------------------------------------------
    TopicTab
-------------------------------------------------------*/

#TopicTabContent {
    margin-top: 60px;
    box-sizing: content-box;

    #InlineEditToolbar {
        position: fixed;
        bottom: 0;
        left: 0;

        &.sticky {
            width: 100%;
            position: sticky;
        }

        .pseudo-circle, .trigger {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            right: 100px;
            bottom: 10px;
            z-index: 99998;
            cursor: pointer;
            transform-origin: 50% 50%;
            overflow: hidden;
        }

        .pseudo-circle {
            opacity: 0;
            overflow: hidden;
            transition: transform 0.3s cubic-bezier(0.0, 0.0, 0.2, 1), opacity 0.1s;

            &.open {
                margin-right: -342px;
                transition-delay: .15s;
                transition: 0.5s;
                transform: scale(10);
                opacity: 1;
                width: 100%;
            }
        }

        .floatingActionBtn {
            pointer-events: none;
            width: 100%;
            max-width: 1160px;
            display: flex;
            justify-content: flex-end;
            position: fixed;
            bottom: 30px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
            z-index: 99999;

            &.sticky {
                position: absolute;
                bottom: -40px;
            }

            .trigger {
                pointer-events: auto;
                text-align: center;
                line-height: 56px;
                background-color: #afd534;
                border: 1px solid transparent;
                transition: transform 0.15s cubic-bezier(0.4, 0.0, 1, 1), opacity 0.1s 0.1s, box-shadow 0.3s;
                opacity: 1;
                right: 50px;
                bottom: 50px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
                z-index: 99999;
                margin-left: auto;
                margin-right: 0px;

                &.open {
                    transform: translate(-50px, 40px);
                    opacity: 0;

                    icon {
                        opacity: 0;
                    }
                }

                &:hover {
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12), 0 12px 12px rgba(0, 0, 0, 0.24);
                }
            }
        }

        .dialog {
            width: 100vw;
            height: 100vh;
            background-color: none;
            left: auto;
            right: 0;
            bottom: 0;
            z-index: 999995;
            height: 50px;
            overflow: hidden;

            &.open {
                background-color: #afd534;
                transition-delay: .15s;
            }
        }

        .toolbar {
            pointer-events: none;
            bottom: 0;
            width: 0;
            height: 56px;
            overflow: hidden;
            padding: 10px;
            left: 0;
            right: 0;
            position: absolute;

            &.open {
                box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16);
                transition-delay: .15s;
                width: 100vw;
            }

            &.sticky {
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .inner {
                max-width: 1160px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 0 15px;
                backface-visibility: hidden;


                &.sticky {
                    margin: 0;
                }

                .btnRight, .btnLeft {
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;

                    .button {
                        pointer-events: auto;
                        width: 60px;
                        margin: 0 10px;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        background: transparent;
                        opacity: 0;
                        cursor: default;
                        backface-visibility: hidden;

                        &.expanded {
                            opacity: 1;
                            transition-delay: .15s;
                            cursor: pointer;
                        }

                        .icon {
                            z-index: 999999;
                            font-size: 28px;
                            display: flex;
                            justify-content: center;
                            font-size: 25px;
                            height: 20px;
                        }

                        .btnLabel {
                            z-index: 999999;
                            font-size: 12px;
                            text-align: center;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
    /*------------------------------------------------------
    Dialog and Settings
-------------------------------------------------------*/
.contentModuleSettings {
    margin: 20px;

    .modalHeader {
        margin: 0 0 20px 10px;
    }

    form {
        margin: 10px;

        .radio input[type="radio"] {
            float: none !important;
        }
    }

    .clickable {
        cursor: pointer;
    }

    .addCard {

        width: 100%;
        margin: auto 10px;

        &.btn {
            width: 140px;
        }

        &.portrait {
            width: 150px;
        }

        .form-group {
            margin: 0 !important;
        }
    }

    a {
        font-size: 14px;
        line-height: 1.42857143;
        padding: 6px 8px;
    }

    .settingsConfirmation {
        display: flex;
        justify-content: flex-end;
        margin-top: 4px;

        &.portrait {
            flex-flow: column-reverse;

            a {
                text-align: center;
            }
        }

        &.modalFooter {
            margin-top: 100px;
            margin-right: 10px;
        }
    }

    .setCards, .topicCards, .questionCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

        &.grid {
            width: 257px;
            height: 157px;
            display: inline-block;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin: 10px;
            cursor: move;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &.portrait {
                width: 166px;
                height: 344px;
            }

            &.fullwidth {
                width: 100%;
            }

            &.smallCard {
                height: 91px;
            }

            &.placeholder {
                border: 1px dotted #45aece;
                cursor: default;
            }

            &.editView {
                cursor: pointer;
            }

            .card {
                text-align: center;
                flex-direction: column;
            }
        }
    }

    .sortable-ghost {
        background: #dddddd;
    }

    .selectModuleContainer {
        margin-top: 30px;

        .moduleSection {
            margin-bottom: 20px;
            padding-bottom: 20px;

            &.bottomBorder {
                border-bottom: solid 1px #d6d6d6;
            }

            .mainModules {
                flex-direction: row;
            }

            .subModules, .miscModules {
                flex-direction: column;
                margin-left: 20px;
            }

            .mainModules, .subModules, .miscModules {
                display: flex;
                justify-content: space-between;
                align-content: flex-start;
                flex-wrap: wrap;
                width: 100%;

                .sampleContainer {
                    align-content: center;
                    max-width: 160px;
                    text-align: center;
                    padding: 10px;
                }

                .sampleContainer, .sampleList {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 16px;

                    &.hover {
                        border-radius: 3px;
                        border: solid transparent 1px;
                        transition: 0.2s;
                        border-color: #45aece;
                    }

                    img.show-tooltip {
                        max-width: 120px;
                        max-height: 80px;
                        margin: 0 auto
                    }

                    .sampleContainerText {
                        text-align: center;
                        width: 100%;
                        line-height: 1.3;
                        margin-top: 5px;
                        height: 100%;
                        max-height: 40px;

                        &.noImage {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
    /*------------------------------------------------------
    Spinner Overwrite
-------------------------------------------------------*/
    .spinner {
        left: calc(45% - 20px);
    }
    /*------------------------------------------------------
    LearningTab
-------------------------------------------------------*/
    #LearningTabContent {
        .SessionTitle {
            display: none;
        }

        .SessionHeading {
            .EduPartnerWrapper {
                width: auto;
            }
        }
    }

    .NoQuestions {
        margin-top: 40px;
        .new-font-style;
    }
    //-------------------------Spinner.css overwrite----------------
    .spinner {
        display: none;
    }
    /*------------------------------------------------------
    ContentModule
-------------------------------------------------------*/
.ContentModule {
    position: relative;

    .ModuleBorder {
        border-radius: 3px;
        border: solid transparent 1px;
        transition: 0.2s;

        h1, h2, h3, h4, h5 {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        @media(max-width: 512px) {
            padding: 0;
        }

        &.hover {
            border-color: #45aece;
            cursor: pointer;
            margin: 0 -20px;
            padding: 0 20px;
        }

        .missingTextInModule {
            text-align: center;
            color: #e3e3e3
        }

        .spacerModule {
            margin: 0.2rem;
            display: flex;
            justify-content: center;
        }

        .SingleCardFullWidth;

        .VideoWidgetPlaceHolder {
            width: 100%;
            margin: 20px 0;
            padding: 19px;

            .videoWidgetPlaceholderBorder {
                width: 100%;
                height: 600px;
                display: inline-block;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }
        }
    }

    .well {
        margin-bottom: 0px
    }

    ul.module-options {
        margin-top: -50px;
        cursor: pointer;
    }

    .module {
        list-style-type: none;
    }

    .list-group-item {
        border: 0px;
    }

    .ButtonWrapper {
        display: flex;
        align-content: center;
        position: absolute;
        top: -15px;
        right: -55px;
        height: 100px;
        width: 50px;

        @media(max-width: 780px) {
            top: 0;
            right: -20px;
            width: 30px;
            height: 80px;
        }

        &.moveToCenter {
            top: 50%;
            margin-top: -50px;

            @media(max-width: 780px) {
                margin-top: -40px;
            }
        }

        .Button {
            margin: auto;
            height: 80px;
            width: 30px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;


            &.dropdown {
                display: flex;
                flex-direction: column;
            }

            .ButtonEllipsis {
                font-size: 18px;
                color: #999999;
            }

            .delete {
                border-top: 1px solid #ccc;
                margin-top: 7px;
            }
        }
    }



    .ModuleHandle {
        position: absolute;
        top: 50%;
        left: -50px;
        margin-top: -50px;
        font-size: 18px;
        color: #999999;
        width: 40px;
        height: 100px;
        display: flex;
        justify-content: center;

        @media(max-width: 780px) {
            height: 70px;
            margin-top: -35px;
            width: 30px;
            left: -20px;
        }

        .ModuleHandleInner {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            width: 30px;
            height: 60px;

            .IconWrapper {
                width: 20px;
                display: flex;
                justify-content: center;
            }

            .Handle {
                cursor: grab;
            }

            .SortButton {
                cursor: pointer;

                .hide {
                    opacity: 0;
                }
            }

            .ButtonEllipsis {
                font-size: 18px;
                color: #999999;
            }
        }
    }
}

    #ContentModulePlaceholder {
        width: 100%;
        margin: 20px 0 60px;
        padding: 19px;

        .placeholderBorder {
            height: 200px;
            border-width: 2px;
            border-style: dashed;
            border-color: #e3e3e3;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;

            .fa-plus-square {
                color: #e3e3e3 !important;
                transition: 0.2s;

                &.hover {
                    color: #45aece !important;
                    cursor: pointer;
                }
            }

            &.hover {
                border-color: #45aece;
                cursor: pointer;
            }
        }
    }

#KnowledgeGraphTools {
    display: flex;
    flex-direction: row-reverse;

    #graphToolbar, #knowledgeGraphFullscreen, #knowledgeBarCheckBox {
        padding: 0 5px;
        color: #999999;
        line-height: 20px;
        vertical-align: middle;

        .btn {
            padding: 5px 10px;
        }

        #graphDropdownMenu {
            padding: 6px 8px;

            .selectionContainer {
                padding: 0 10px;
                margin-top: 10px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }

                label {
                    color: #333333;
                }
            }

            .sliderContainer {
                margin: 15px 0 20px 0;
            }

            .sliderContainer, .selectionContainer {
                width: 300px;

                .sliderLabel {
                    display: flex;
                    justify-content: space-between;
                    color: #333333;

                    label {
                        padding: 0 20px;
                    }

                    input {
                        text-align: right;
                        margin-bottom: 5px;
                        border: none;
                    }
                }

                .slider {
                    appearance: none;
                    width: 100%;
                    height: 6px;
                    border-radius: 5px;
                    background: #003264;
                    outline: none;
                    transition: opacity .2s;
                }

                .slider::-webkit-slider-thumb {
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #fff;
                    border-color: #D6D6D6;
                    border-width: 0.1px;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
                    cursor: pointer;
                }

                .slider::-moz-range-thumb {
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #fff;
                    border-color: #D6D6D6;
                    border-width: 0.1px;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
                    cursor: pointer;
                }

                #GraphSelectionContainer {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    border-bottom: solid 1px #d6d6d6;

                    .dropdown-toggle {
                        text-align: left;
                        border-radius: 4px !important;
                    }

                    .btn-group {
                        width: 100%;
                        text-align: left;

                        button.dropdown-toggle {
                            display: flex;
                            justify-content: space-between;

                            output {
                                max-width: 270px;
                            }

                            .caret {
                                margin-top: 15px;
                            }
                        }
                    }

                    #radNodeButton, #rectNodeButton {
                        display: flex;
                        padding: 10px;

                        &:hover {
                            cursor: pointer;
                        }

                        img {
                            max-width: 80px;
                            padding: 10px 20px 10px 10px;
                        }

                        span {
                            padding: 6px 0;
                        }
                    }

                    .btn {
                        border-radius: 0;
                        border: none;

                        &.btn-default {
                            width: 100%;
                            background-color: transparent;
                        }

                        &.hover {
                            background-color: #f5f5f5;
                        }
                    }
                }
            }

            .alert-warning {
                margin: 0 10px 10px 10px;
                padding: 5px 10px;

                &.hidden {
                    display: none;
                }
            }
        }

        .fullScreen-btn {
            padding: 9px 0 9px 17px;
        }

        i {
            font-size: 18px;
            color: #999999;
        }
    }


    #knowledgeGraphFullscreen {
        padding: 0;
    }

    #knowledgeBarCheckBox {

        &.invisible {
            display: none;
        }

        padding-top: 10px;
        font-size: 14px;
        padding-right: 0;

        span.knowledgeGraphBarLabel {
            margin-right: 3px;
            position: relative;
            bottom: 2px;
        }

        .knowledgeGraphBarToggle {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 17px;
        }

        .knowledgeGraphBarToggle input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .graphToggle {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #999999;
            transition: .1s;
            border-radius: 60px;
        }

        .graphToggle:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 2px;
            bottom: 3px;
            background-color: white;
            transition: .1s;
            border-radius: 50%;
        }

        input:checked + .graphToggle {
            background-color: #003264;
        }

        input:focus + .graphToggle {
            box-shadow: 0 0 1px #003264;
        }

        input:checked + .graphToggle:before {
            transform: translateX(15px);
        }
    }
}

#KnowledgeGraphHelpText {
    padding-left:20px;
    font-size: 14px;
    color: #999999;
}
    

.setQuestionCount, .ItemInfo, .categoryQuestionCount {
    .Pin {
        .fa-heart-o {
            padding-right: 10px;
        }
    }
}

    .sortable-ghost {
        background: #dddddd;
    }

    [v-cloak] {
        display: none;
    }


.editor {
    position: relative;

    &__floating-menu {
        position: absolute;
        z-index: 1;
        margin-top: -0.25rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s, visibility 0.2s;

        &.is-active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.menubar {
    &.is-hidden {
        visibility: hidden;
        opacity: 0;
    }

    &.is-focused {
        visibility: visible;
        opacity: 1;
        transition: visibility .2s,opacity .2s;
    }
}