@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
div.column {
  width: 33%;
  float: left;
}
span.CategoryType {
  font-size: 80%;
  display: inline-block;
}
.CategoryImage {
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .CategoryImage {
    max-width: 150px;
  }
}
.MainCategory span.label-category {
  color: #247189;
  font-size: 145%;
  margin-top: 5px;
  white-space: normal;
  max-width: 100%;
}
.Reference.DailyIssue .PublicationDate {
  display: none;
}
.Reference div:not(.Name):not(.Author) {
  display: inline;
}
.Reference div:not(:last-child):not(.Name):not(.Author):not(.Icon):not(.NoSeperator):not(.tooltip):not(.tooltip-arrow):not(.tooltip-inner):after {
  content: ",\0000a0";
}
.Reference {
  margin-bottom: 5px;
}
.Reference .Icon,
.Reference .Name {
  display: none !important;
}
.Reference .Author {
  font-size: 18px;
  margin-top: -4px;
  margin-bottom: 5px;
}
.CategoryRelations {
  text-align: center;
}
.RelationArrow {
  font-size: 18px;
}
#ItemMainInfo {
  padding-bottom: 5px;
}
#ItemMainInfo header {
  border-bottom: 5px solid #45aece;
  margin-bottom: 10px;
}
#ItemMainInfo .ImageContainer {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #ItemMainInfo .ImageContainer img {
    max-height: 150px;
    width: auto;
  }
}
#ItemMainInfo .BottomBar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ContentSubheading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #003264;
}
.ContentSubheading:not(:first-child) {
  margin-top: 30px;
}
.ContentSubheading.Set {
  border-bottom-color: #FFD700;
}
.ContentSubheading.Question {
  border-bottom-color: #AFD534;
}
.LabelList {
  margin-top: 0;
  padding-right: 0;
}
.LabelItem {
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .LabelItem {
    padding-bottom: 5px;
  }
  .LabelItem:not(:hover) .EllipsWrapper {
    width: 100%;
    max-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}