@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}div.column {
  width: 33%;
  float: left;
}
span.CategoryType {
  font-size: 80%;
  display: inline-block;
}
.CategoryImage {
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 479px) {
  .CategoryImage {
    max-width: 150px;
  }
}
.MainCategory span.label-category {
  color: #247189;
  font-size: 145%;
  margin-top: 5px;
  white-space: normal;
  max-width: 100%;
}
.DescriptionSection .Reference.DailyIssue .PublicationDate {
  display: none;
}
.DescriptionSection .Reference div:not(.Name):not(.Author) {
  display: inline;
}
.DescriptionSection .Reference div:not(:last-child):not(.Name):not(.Author):not(.Icon):not(.NoSeperator):not(.tooltip):not(.tooltip-arrow):not(.tooltip-inner):after {
  content: ",\0000a0";
}
.DescriptionSection .Reference {
  margin-bottom: 20px;
}
.DescriptionSection .Reference .Icon,
.DescriptionSection .Reference .Name {
  display: none !important;
}
.DescriptionSection .Reference .Author {
  margin-top: -4px;
  margin-bottom: 5px;
}
.CategoryRelations {
  text-align: center;
}
.RelationArrow {
  font-size: 18px;
}
.ContentSubheading {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #003264;
}
.ContentSubheading:not(:first-child) {
  margin-top: 30px;
}
.ContentSubheading.Set {
  border-bottom-color: #FFD700;
}
.ContentSubheading.Question {
  border-bottom-color: #AFD534;
}
.LabelList {
  margin-top: 0;
  padding-right: 0;
}
.LabelItem {
  padding-bottom: 7px;
}
@media (min-width: 768px) {
  .LabelItem {
    padding-bottom: 5px;
  }
  .LabelItem:not(:hover) .EllipsWrapper {
    width: 100%;
    max-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/*  Markdown Content
----------------------------------------------------------*/
.MarkdownContent p,
.MarkdownContent ul,
.MarkdownContent ol,
.MarkdownContent blockquote {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.MarkdownContent blockquote {
  font-style: italic;
  padding-left: 20px;
}
.MarkdownContent h2 {
  margin-top: 45px;
  margin-bottom: 30px;
}
.MarkdownContent h3 {
  margin-top: 45px;
  margin-bottom: 30px;
}
.MarkdownContent h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.MarkdownContent p {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .MarkdownContent p {
    font-size: 18px;
  }
}
.MarkdownContent ul {
  margin-bottom: 20px;
}
.MarkdownContent .centerElements {
  text-align: center;
}
.MarkdownContent .centerElements p {
  text-align: center;
}
.MarkdownContent .Card h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}
.MarkdownContent .Card h2 small,
.MarkdownContent .Card h2 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
.MarkdownContent .Card h2 small,
.MarkdownContent .Card h2 .small {
  font-size: 65%;
}
.MarkdownContent .Card h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}
.MarkdownContent .Card h3 small,
.MarkdownContent .Card h3 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
.MarkdownContent .Card h3 small,
.MarkdownContent .Card h3 .small {
  font-size: 65%;
}
.MarkdownContent .Card h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.MarkdownContent .Card h4 small,
.MarkdownContent .Card h4 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
.MarkdownContent .Card h4 small,
.MarkdownContent .Card h4 .small {
  font-size: 75%;
}
.Box + h2,
.Box + h3,
.Box + h4 {
  margin-top: 20px;
}
.Box > h2:first-child,
.Box > h3:first-child,
.Box > h4:first-child {
  margin-top: 5px;
}
.Box + h2,
.Box + h3,
.Box + h4 {
  margin-top: 50px;
}
.Box p:last-child {
  margin-bottom: 0;
}
.Card.ItemList {
  padding: 10px 0 0 15px;
}
.Card.ItemList .CardContent {
  max-height: none !important;
}
.Card.ItemList .ItemTitle,
.Card.ItemList .ItemText {
  line-height: 20px;
}
@media (min-width: 650px) {
  .Card.ItemList .ItemTitle.rowCount1,
  .Card.ItemList .ItemText.rowCount1 {
    height: 20px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount2,
  .Card.ItemList .ItemText.rowCount2 {
    height: 40px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount3,
  .Card.ItemList .ItemText.rowCount3 {
    height: 60px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount4,
  .Card.ItemList .ItemText.rowCount4 {
    height: 80px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount5,
  .Card.ItemList .ItemText.rowCount5 {
    height: 100px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount6,
  .Card.ItemList .ItemText.rowCount6 {
    height: 120px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount7,
  .Card.ItemList .ItemText.rowCount7 {
    height: 140px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount8,
  .Card.ItemList .ItemText.rowCount8 {
    height: 160px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount9,
  .Card.ItemList .ItemText.rowCount9 {
    height: 180px;
    overflow: hidden;
  }
  .Card.ItemList .ItemTitle.rowCount10,
  .Card.ItemList .ItemText.rowCount10 {
    height: 200px;
    overflow: hidden;
  }
}
.Card.ItemList .ItemText {
  margin-bottom: 20px;
}
@media (min-width: 650px) {
  .MarkdownContent .row {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 480px) {
  .ItemRow {
    max-height: 76px;
    margin-bottom: 18px;
    overflow: hidden;
  }
}
.ItemRow .ItemInfo {
  margin-top: 0;
  margin-bottom: 3px;
}
.ItemRow .ContentColumn {
  margin-left: 60px;
}
.ItemRow .TextWrapper {
  position: relative;
  width: 100%;
}
.ItemRow .SetTitle:hover {
  /*position: absolute;
            left: 0;
            right: 0;
            height: auto;*/
  /*overflow:visible;
            box-shadow: 0 0 30px #000;
            width: 100%;
            z-index: 100000000000;*/
}
.WikiLink {
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p:empty {
  display: none;
}
.SpacerDiv {
  height: 40px;
}
.SpacerDiv20 {
  height: 20px;
}
.SpacerBorderTop {
  border-top: 15px solid #F6F8FA;
  margin-left: -20px;
  margin-right: -20px;
}
/*.Box .Card {
    border: none;
    box-shadow: none;

    &.SingleItem {


        .ImageContainer {
            margin-left: 0 !important;
        }

        .ContentContainer {
            margin-left: 100px !important;

            .CardContent{
                margin-right: 0px !important;
            }
        }
    }
}

.Box .Box {
    padding: 0;
    border: none;
    box-shadow: none;
}

*/
/*------------------------------------------------------
    TopicNavigation
-------------------------------------------------------*/
.topicNavigation,
.setCardMiniList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.topicNavigation img,
.setCardMiniList img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px #eeeeee;
          box-shadow: 5px 5px 10px #eeeeee;
}
.topicNavigation a,
.setCardMiniList a {
  color: #203256;
}
.topicNavigation a:hover,
.setCardMiniList a:hover,
.topicNavigation a:active,
.setCardMiniList a:active,
.topicNavigation a:focus,
.setCardMiniList a:focus {
  text-decoration: none;
}
.topicNavigation .set-question-count,
.setCardMiniList .set-question-count {
  color: #999999;
  margin-top: 8px;
  line-height: 22px;
}
.topicNavigation .topic .row,
.setCardMiniList .topic .row,
.topicNavigation .setCardMini .row,
.setCardMiniList .setCardMini .row {
  margin-top: 20px;
  margin-bottom: 25px;
}
@media (max-width: 649px) {
  .topicNavigation .topic,
  .setCardMiniList .topic,
  .topicNavigation .setCardMini,
  .setCardMiniList .setCardMini {
    float: none;
    width: 100%;
    height: inherit;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.topicNavigation .topic .ImageContainer,
.setCardMiniList .topic .ImageContainer,
.topicNavigation .setCardMini .ImageContainer,
.setCardMiniList .setCardMini .ImageContainer {
  max-width: 80px;
  min-width: 70px;
}
.topicNavigation .topic .ImageContainer .LicenseInfo,
.setCardMiniList .topic .ImageContainer .LicenseInfo,
.topicNavigation .setCardMini .ImageContainer .LicenseInfo,
.setCardMiniList .setCardMini .ImageContainer .LicenseInfo {
  text-align: center;
  color: #999999;
}
.topicNavigation .topic .ImageContainer .LicenseInfo:after,
.setCardMiniList .topic .ImageContainer .LicenseInfo:after,
.topicNavigation .setCardMini .ImageContainer .LicenseInfo:after,
.setCardMiniList .setCardMini .ImageContainer .LicenseInfo:after {
  content: "Lizenz";
}
.topicNavigation .topic .topic-name,
.setCardMiniList .topic .topic-name,
.topicNavigation .setCardMini .topic-name,
.setCardMiniList .setCardMini .topic-name {
  max-height: 65px;
  overflow: hidden;
}
@media (max-width: 649px) {
  .topicNavigation .topic .topic-name,
  .setCardMiniList .topic .topic-name,
  .topicNavigation .setCardMini .topic-name,
  .setCardMiniList .setCardMini .topic-name {
    max-height: none;
  }
}
.topicNavigation .topic .KnowledgeBarLegend,
.setCardMiniList .topic .KnowledgeBarLegend,
.topicNavigation .setCardMini .KnowledgeBarLegend,
.setCardMiniList .setCardMini .KnowledgeBarLegend {
  color: #999999;
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media (max-width: 767px) {
  .topicNavigation .topic .KnowledgeBarLegend,
  .setCardMiniList .topic .KnowledgeBarLegend,
  .topicNavigation .setCardMini .KnowledgeBarLegend,
  .setCardMiniList .setCardMini .KnowledgeBarLegend {
    opacity: 1;
  }
}
.topicNavigation .topic:hover .KnowledgeBarLegend,
.setCardMiniList .topic:hover .KnowledgeBarLegend,
.topicNavigation .setCardMini:hover .KnowledgeBarLegend,
.setCardMiniList .setCardMini:hover .KnowledgeBarLegend {
  opacity: 1;
}
.topicNavigation .category-knowledge-bar,
.setCardMiniList .category-knowledge-bar,
.topicNavigation .set-knowledge-bar,
.setCardMiniList .set-knowledge-bar {
  margin-top: 15px;
  height: 10px;
  width: 180px;
}
/*------------------------------------------------------
    KnowledgeBar
-------------------------------------------------------*/
.category-knowledge-bar {
  height: 10px;
  width: 100%;
}
.category-knowledge-bar .solid-knowledge,
.category-knowledge-bar .needs-learning,
.category-knowledge-bar .needs-consolidation,
.category-knowledge-bar .not-learned,
.category-knowledge-bar .not-in-wish-knowledge {
  height: inherit;
  float: left;
}
.category-knowledge-bar .needs-learning {
  background-color: lightsalmon;
}
.category-knowledge-bar .needs-consolidation {
  background-color: #fdd648;
}
.category-knowledge-bar .solid-knowledge {
  background-color: #afd534;
}
.category-knowledge-bar .not-learned {
  background-color: silver;
}
.category-knowledge-bar .not-in-wish-knowledge {
  background-color: #dddddd;
}
/*------------------------------------------------------
    Knowledge Square
---------------------------------------------------------*/
.square-wish-knowledge {
  float: left;
  height: 20px;
  width: 20px;
  border: black 1px solid;
}
.NotLearned {
  background-color: silver;
}
.NeedsConsolidation {
  background-color: #fdd648;
}
.NeedsLearning {
  background-color: lightsalmon;
}
.Solid {
  background-color: #afd534;
}
/*------------------------------------------------------
    MEDIA LIST
-------------------------------------------------------*/
.mediaList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.mediaList a {
  color: #203256;
}
.mediaList a:hover,
.mediaList a:active,
.mediaList a:focus {
  text-decoration: none;
}
.mediaList .mediaReference {
  margin-top: 10px;
  margin-bottom: 25px;
}
@media (max-width: 649px) {
  .mediaList .mediaReference {
    float: none;
    width: 100%;
    height: inherit;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.mediaList .mediaReference .ReferenceTitle {
  font-size: 18px;
  line-height: 22px;
}
.mediaList .mediaReference .ReferenceTitle .Author {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-style: italic;
}
.mediaList .mediaReference .ReferenceTitle .Author span {
  font-style: normal;
}
.mediaList .mediaReference .ReferenceTitle .Title {
  display: inline;
}
.mediaList .mediaReference .ReferenceTitle .Title .subtitle {
  display: none;
}
.mediaList .mediaReference .ReferenceTitle .Publisher,
.mediaList .mediaReference .ReferenceTitle .ParentIssue,
.mediaList .mediaReference .ReferenceTitle .PublishedIn,
.mediaList .mediaReference .ReferenceTitle .Editor,
.mediaList .mediaReference .ReferenceTitle .TitleVolume {
  display: inline;
}
.mediaList .mediaReference .set-question-count {
  color: #999999;
  margin-top: 8px;
  line-height: 22px;
  font-size: 16px;
}
/*------------------------------------------------------
    NEW STYLES
-------------------------------------------------------*/
.navLinks {
  display: inline;
  padding-left: 12px;
  padding-top: 2px;
}
.navLinks .visible-lg {
  display: inline !important;
}
@media (max-width: 1199px) {
  .navLinks .visible-lg {
    display: none !important;
  }
}
.navLinks > a,
.navLinks > div {
  display: inline-block !important;
  margin-right: 10px !important;
  float: none !important;
}
#CategoryHeader,
#TopicTabContent {
  line-height: 1.5;
  margin-top: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #203256;
}
@media (max-width: 767px) {
  #CategoryHeader,
  #TopicTabContent {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}
#CategoryHeader h1,
#TopicTabContent h1,
#CategoryHeader h2,
#TopicTabContent h2,
#CategoryHeader h3,
#TopicTabContent h3,
#CategoryHeader h4,
#TopicTabContent h4,
#CategoryHeader h5,
#TopicTabContent h5 {
  font-family: Open Sans !important;
  line-height: 1.2;
}
#CategoryHeader h1,
#TopicTabContent h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}
@media (max-width: 767px) {
  #CategoryHeader h1,
  #TopicTabContent h1 {
    font-size: 35px;
  }
}
#CategoryHeader h2,
#TopicTabContent h2 {
  font-size: 35px;
}
@media (max-width: 767px) {
  #CategoryHeader h2,
  #TopicTabContent h2 {
    font-size: 25px;
  }
}
#CategoryHeader h3,
#TopicTabContent h3 {
  font-size: 25px;
}
@media (max-width: 767px) {
  #CategoryHeader h3,
  #TopicTabContent h3 {
    font-size: 20px;
  }
}
#CategoryHeader h4,
#TopicTabContent h4 {
  font-size: 25px;
}
@media (max-width: 767px) {
  #CategoryHeader h4,
  #TopicTabContent h4 {
    font-size: 20px;
  }
}
#MasterMainWrapper {
  background-color: white;
  padding: 20px;
  width: 100%;
}
#MasterMainWrapper .Box {
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.BoxButtonBar {
  margin-top: 50px;
  margin-bottom: 50px;
}
.CardsPortrait,
.CardsLandscape {
  margin-top: 40px !important;
}
@media (min-width: 650px) {
  .CardsPortrait .Card .CardContent {
    height: 230px !important;
  }
}
.Card .ItemInfo {
  font-size: 14px;
}
@media (min-width: 480px) {
  .Card .ItemInfo {
    font-size: 16px !important;
  }
}
.Card .ItemTitle {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}
@media (min-width: 480px) {
  .Card .ItemTitle {
    font-size: 18px !important;
  }
}
.Card .ItemText {
  line-height: 1.5;
}
@media (min-width: 480px) {
  .Card .ItemText {
    font-size: 16px !important;
  }
}
.LabelList .LabelItem:before {
  top: 1.1em !important;
}
#AboveMainHeading {
  margin-top: -5px;
}
@media (min-width: 991px) {
  #AboveMainHeading {
    margin-top: -21px;
  }
}
.singleSetFullWidth,
.singleCatFullWidth {
  margin: 50px 0 30px;
  padding: 40px 0;
}
.singleSetFullWidth .highlightSet,
.singleCatFullWidth .highlightSet {
  background-color: #ffda7f;
}
.singleSetFullWidth .ImageContainer,
.singleCatFullWidth .ImageContainer {
  text-align: center;
}
.singleSetFullWidth .ImageContainer img,
.singleCatFullWidth .ImageContainer img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 5px 5px 10px #eeeeee;
          box-shadow: 5px 5px 10px #eeeeee;
}
.singleSetFullWidth .ImageContainer .LicenseInfo,
.singleCatFullWidth .ImageContainer .LicenseInfo {
  text-align: center;
  color: #999999;
}
.singleSetFullWidth .ImageContainer .LicenseInfo:after,
.singleCatFullWidth .ImageContainer .LicenseInfo:after {
  content: "Lizenz";
}
.singleSetFullWidth .setTitle,
.singleCatFullWidth .setTitle,
.singleSetFullWidth .categoryTitle,
.singleCatFullWidth .categoryTitle {
  margin-bottom: 20px;
}
.singleSetFullWidth .setTitle h3,
.singleCatFullWidth .setTitle h3,
.singleSetFullWidth .categoryTitle h3,
.singleCatFullWidth .categoryTitle h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.singleSetFullWidth .setTitle,
.singleCatFullWidth .setTitle {
  border-bottom: 5px solid #FFD700;
}
.singleSetFullWidth .categoryTitle,
.singleCatFullWidth .categoryTitle {
  border-bottom: 5px solid #45aece;
}
.singleSetFullWidth .setQuestionCount,
.singleCatFullWidth .setQuestionCount,
.singleSetFullWidth .categoryQuestionCount,
.singleCatFullWidth .categoryQuestionCount {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  color: #999999;
  font-size: 14px;
}
.singleSetFullWidth .KnowledgeBarWrapper,
.singleCatFullWidth .KnowledgeBarWrapper {
  display: inline-block;
}
.singleSetFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend,
.singleCatFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend {
  color: #999999;
  margin-top: -10px;
  font-size: 12px;
  line-height: 1.5em;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media (max-width: 767px) {
  .singleSetFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend,
  .singleCatFullWidth .KnowledgeBarWrapper .KnowledgeBarLegend {
    opacity: 1;
  }
}
.singleSetFullWidth .KnowledgeBarWrapper:hover .KnowledgeBarLegend,
.singleCatFullWidth .KnowledgeBarWrapper:hover .KnowledgeBarLegend {
  opacity: 1;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar {
  display: inline-block;
  height: 10px;
  width: 180px;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  height: inherit;
  float: left;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-learning,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-learning {
  background-color: lightsalmon;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .needs-consolidation,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .needs-consolidation {
  background-color: #fdd648;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .solid-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .solid-knowledge {
  background-color: #afd534;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-learned,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-learned {
  background-color: silver;
}
.singleSetFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .set-knowledge-bar .not-in-wish-knowledge,
.singleSetFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge,
.singleCatFullWidth .KnowledgeBarWrapper .category-knowledge-bar .not-in-wish-knowledge {
  background-color: #dddddd;
}
.singleSetFullWidth .buttons,
.singleCatFullWidth .buttons {
  margin-top: 20px;
}
.singleSetFullWidth .buttons .btn,
.singleCatFullWidth .buttons .btn {
  margin-top: 10px;
}
.singleSetFullWidth .buttons .btn-primary,
.singleCatFullWidth .buttons .btn-primary {
  font-size: 18px;
  min-width: 220px;
}
.singleSetFullWidth .buttons .dropdown,
.singleCatFullWidth .buttons .dropdown {
  display: inline-block;
}
.setTestSessionNoStartScreen {
  margin-top: 20px;
  margin-bottom: 20px;
}
.setTestSessionNoStartScreen h2 {
  margin-bottom: 10px;
}
.setTestSessionNoStartScreen h5 {
  margin-bottom: 20px;
}
.singleQuestionsQuiz h3 {
  margin-top: 45px;
  margin-bottom: 35px;
}
.singleQuestionsQuiz .SpacerDiv {
  height: 45px;
}
/*------------------------------------------------------
    CategoryHeader
-------------------------------------------------------*/
#CategoryHeader {
  margin-bottom: 20px;
}
#CategoryHeader #HeadingSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
#CategoryHeader #HeadingContainer {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}
#CategoryHeader .ImageContainer {
  width: 120px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  float: left;
  text-align: center;
  margin-right: 20px;
}
@media (max-width: 767px) {
  #CategoryHeader .ImageContainer {
    width: 15%;
  }
}
#CategoryHeader img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 80px;
}
#CategoryHeader .LicenseInfo {
  color: #999999;
  text-align: center;
}
#CategoryHeader #Management {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#CategoryHeader .KnowledgeBarWrapper {
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#CategoryHeader .category-knowledge-bar .ConditionalLegend {
  display: block !important;
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #999999;
}
#CategoryHeader .Buttons {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
#CategoryHeader .Buttons .Button {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
#CategoryHeader .Buttons .Pin {
  margin-top: 2px;
}
#CategoryHeader .Buttons .Pin i {
  width: 23px;
  -webkit-transition: font 0.3s ease;
  transition: font 0.3s ease;
}
#CategoryHeader .Buttons .Pin .iAddedNot,
#CategoryHeader .Buttons .Pin .iAdded,
#CategoryHeader .Buttons .Pin .iSpinner {
  vertical-align: middle;
}
#CategoryHeader .Buttons .Pin .Text {
  display: inline !important;
  padding-left: 3px;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#CategoryHeader .Buttons .Pin:hover .Text {
  color: #B13A48;
}
#CategoryHeader .Buttons .Pin:hover i {
  font-size: 110%;
}
#CategoryHeader .Buttons .dropdown-toggle {
  font-size: 18px;
  color: #999999;
  margin-top: 2px;
}
#CategoryHeader .Buttons .dropdown-toggle:hover,
#CategoryHeader .Buttons .dropdown-toggle:active,
#CategoryHeader .Buttons .dropdown-toggle:focus {
  color: #003264;
}
#CategoryHeader #ManagementMobile {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
#CategoryHeader #ManagementMobile .KnowledgeBarWrapper {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 0;
  padding-right: 0;
}
#CategoryHeader #ManagementMobile .Buttons {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
#CategoryHeader #ManagementMobile .Buttons .Pin {
  margin-top: 5px;
}
@media (max-width: 767px) {
  #CategoryHeader #ManagementMobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  #CategoryHeader #Management {
    display: none;
  }
  #CategoryHeader .Tabs {
    width: 100%;
    padding-right: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #CategoryHeader .Tab {
    width: 30%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #CategoryHeader {
    margin-bottom: 30px;
  }
  #CategoryHeader .BreadcrumbsMobile {
    padding-bottom: 0;
  }
  #CategoryHeader #ManagementMobile {
    margin-bottom: 10px;
  }
  #CategoryHeader #HeadingSection {
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  #MasterMainWrapper {
    padding-top: 10px;
  }
}
.DescriptionSection {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 479px) {
  .DescriptionSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .DescriptionSection {
    margin-bottom: 50px;
  }
}
.DescriptionSection .ImageContainer {
  margin-bottom: 20px;
  max-width: 25%;
  margin-right: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .DescriptionSection .ImageContainer {
    max-width: 30%;
  }
}
@media (max-width: 479px) {
  .DescriptionSection .ImageContainer {
    max-width: 100%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
}
.DescriptionSection .ImageContainer img {
  max-height: 220px;
}
@media (max-width: 767px) {
  .DescriptionSection .ImageContainer img {
    max-height: 200px;
  }
}
.DescriptionSection .TextColumn {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}
/*------------------------------------------------------
    TopicTab
-------------------------------------------------------*/
#TopicTabContent {
  margin-top: 60px;
}
/*------------------------------------------------------
    LearningTab
-------------------------------------------------------*/
#LearningTabContent .SessionTitle {
  display: none;
}
#LearningTabContent .SessionHeading .EduPartnerWrapper {
  width: auto;
}
.NoQuestions {
  margin-top: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #203256;
}
@media (max-width: 767px) {
  .NoQuestions {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
  }
}