@import (reference) '../../../Style/includes/imports.less';


div.column  { width: 33%; float: left;}

.CategoryType {
    color: @color-category;
    margin-top: 0;
}

.CategoryImage {
    margin-bottom: 10px;
    .media-below-xs ({
        max-width: 150px;
    });
}

.MainCategory span.label-category {
    color: @color-category-dark;
    font-size: 145%;
    margin-top: 5px;
}

.Reference {
    font-size: 20px;
    margin-bottom: 15px;

    span.Text.show-tooltip:hover {
 //       font-weight: bold;
    }

    &.Book .Title {
        display: none;
    }
}

.CategoryRelations {
    text-align: center;
}

.RelationArrow {
    font-size: 18px;
}