@import (reference) '~~/assets/includes/imports.less';

.default-dropdown{
    display: flex; 
    color: @memo-grey-dark; 
    font-size: 14px;
}
.v-popper--theme-dropdown .v-popper__inner {
    display: flex; 
    color: @memo-grey-dark;
    font-size: 14px;
    a{color: @memo-grey-dark}
    .dropdown-row{
        padding: 3px 20px;
        line-height: 26px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .dropdown-label{
            padding-left: 12.5px; 
            color: @memo-grey-dark;
        }
        .dropdown-icon{
            height: 100%;
            display: flex;
            color: @memo-grey-darker;
            width: 20px;
            justify-content: center;
            align-items: center;
        }
    }
   
    
  }