@import (reference) '~~/assets/includes/imports.less';

#StickySearch, #HeaderSearch {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;

    .SearchContainer {
        width: 100%;
        
        input {
            min-width: 0px;
            width: 0px;
            border: none;
            padding: 0;
            transition: all 0.3s;
            background: transparent;
        }

        &.showSearch {
            input {
                border: 1px solid #ccc;
                width: 100%;
                padding: 6px 40px 6px 12px;
                background: white;
            }
        }
    }

    .searchButton {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        font-size: 20px;
        position: absolute;
        z-index: 1050;
        width: 34px;
        transform: translateZ(0);

        svg.fa-magnifying-glass {
            color: white;
        }

        svg.fa-xmark, svg.fa-magnifying-glass {
            transition: all 0.1s;
        }

        &:hover {
            cursor: pointer;

            svg.fa-xmark, svg.fa-magnifying-glass {
                color: @memo-green;
            }
        }
    }
}

#StickySearch {
    .searchButton {

        svg.fa-xmark, svg.fa-magnifying-glass {
            color: @memo-grey-dark;
        }

        &:hover {

            svg.fa-xmark, svg.fa-magnifying-glass {
                color: @memo-blue;
            }
        }
    }
}

#HeaderSearch {
    @media (max-width: 767px) {
        padding-right: 0;
    }
}