@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}.columnControlsFull {
  font-size: 90%;
}
.columnControlsFull .radio,
.columnControlsFull .form-control-static,
.columnControlsFull .added-cat {
  font-size: 111.11111111%;
}
.columnLabel {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left !important;
}
.columnControlsFull,
.noControls {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.columnControlsFull .radio,
.noControls .radio,
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  margin-left: 20px;
}
.columnControlsFull .form-control-static,
.noControls .form-control-static {
  padding-top: 0;
}
.noLabel .form-control-static {
  margin-left: 0;
}
.aside .columnControlsFull .radio,
.aside .columnControlsFull .form-control-static {
  margin-left: 0;
}
/*.columnControlsFull {

            .radio, .form-control-static {
                margin-left: 20px;
                aside {
                    margin-left: 0;
                }
            }
        }*/
.columnControlsSmall {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 479px) {
  .columnControlsSmall {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.noLabel {
  margin-left: 0;
}
.radio {
  margin-left: 20px;
}
.added-cat.SingleSelect {
  margin-left: 20px;
}
input.form-control,
textarea.form-control,
select.form-control {
  max-width: 400px;
}
.input-group input.form-control,
.input-group textarea.form-control,
.input-group select.form-control {
  max-width: none;
}