html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 5px;
  width: 100%;
  height: 100%;
}

#inspector {
  border: 2px solid black;
  width: 250px;
  height: calc(100% - 10px);
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: scroll;
  background: rgba(255,255,255,0.8);
  padding: 1em;
}

#inspector input {
  font-size: 0.85em;
  width: 100%;
  height: 2em;
  margin-bottom: 0.5em;
  padding-left: 0.25em;
}

#inspector ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#inspector li {
  display: inline-block;
  border: 1px solid white;
  border-radius: 0.5em;
  margin: 1px 2px;
  font-size: 0.75em;
  cursor: default;
}

#inspector li:hover {
  border: 1px solid black;
}

#inspector li:last-child {
  width: 2em;
  text-align: center;
}

.from li {
  background-color: #dcd;
}

.from a:first-child:before {
  content: '? ';
  padding-left: 0.5em;
}

.to li {
  background-color: #ddc;
}

.to a:first-child:before {
  content: '? ';
  padding-left: 0.5em;
}

#inspector a:last-child {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.25);
  width: 1.25em;
  margin-left: 0.5em;
  margin-right: 0;
  border-radius: 100%;
  text-align: center;
  font-size: 1em;
}

#inspector a:last-child:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

svg {
  border: 2px solid black;
}

rect {
  stroke-width: 2;
  fill: #fff;
}

.hover rect {
  stroke-width: 3.5;
}

.fixed rect {
  fill: #eee;
}

path.selected, .selected rect {
  stroke-width: 3;
}

path {
  stroke: #000;
  stroke-width: 2;
  fill: none;
}

path:hover {
  stroke-width: 3;
}

line {
  stroke: #000;
  stroke-width: 2;
}

text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}
