@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (max-width: 649px) {
}@media (min-width: 650px) {
}h2 {
  margin-top: 45px;
}
.teaserText {
  margin-top: 30px;
  font-size: 1.3em;
  line-height: 1.4em;
}
.overviewBlock {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .overviewBlock {
    margin-top: 40px;
  }
}
.overviewIcon {
  font-size: 2em;
  text-align: center;
}
.overviewHeader {
  font-size: 1.4em;
  font-weight: bold;
}
.overviewSubtext {
  color: #999999;
}
.overviewMore {
  text-align: center;
  margin-top: 15px;
}
p.subheader {
  color: #999999;
  font-size: 1.3em;
  margin-bottom: 20px;
}
ol li {
  margin-top: 10px;
}
img.screenshot {
  padding-top: 15px;
}
@media (max-width: 991px) {
  img.screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    height: auto;
  }
}
@media (min-width: 992px) {
  img.screenshot {
    float: right;
    margin: 0 0 25px 25px;
  }
}
code {
  display: inline-block;
  margin-left: 10px;
  padding: 3px 6px;
  white-space: normal;
}