@import '../../Style/includes/imports.less';


h2 {
    margin-top: 45px;
}

.teaserText {
    font-size: 1.3em; 
    line-height: 1.4em;
}

.overviewBlock {
    margin-top: 25px;
    .media-sm-up ({
        margin-top: 40px;
     });

}

.overviewIcon {
    font-size: 2em;
    text-align: center;
}

.overviewHeader {
    font-size: 1.4em;
    font-weight: bold;
}

.overviewSubtext {
    color: @global-text-color-grey;
}

.overviewMore {
    text-align: center;
    margin-top: 15px;
}


p.subheader {
    color: @global-text-color-grey;
    font-size: 1.3em;
    margin-bottom: 20px;
}

ol li {
    margin-top: 10px;
}

img.screenshot {
    padding-top: 15px;
    .media-below-md ({
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
        height: auto;
    });
     .media-md-up ({
         float: right;
         margin: 0 0 25px 25px;
     });
}

code {
    display: inline-block;
    margin-left: 10px;
    padding: 3px 6px;
    white-space: normal;
}