.set-row{ border-top:1px solid #A6BADE; }
.set-row:hover{ background-color: #f3f5f8; }

div.column-1 { width: 160px;float: left; padding-top: 5px; padding-left: 5px;}
div.column-2 { width: 495px;padding-right: 10px; float: left; padding-top: 5px;}
div.column-3 { width: 125px;float: left; padding-top: 5px;}