/*div.column-1 { background-color: green; }
div.column-2 {background-color: seashell; }
div.column-3 { background-color: yellowgreen;}
div.question-row{background-color:silver;}*/

div.question-row:hover{ background-color: #f3f5f8; }
.column { display: inline-block;}
div.question-row div.header { margin-bottom: 3px; border-bottom: 1px solid beige ;}

div.column-1 { 
    width: 135px;float: left; padding-top: 5px; padding-left: 5px;

    div.image-container{

        img{
            border-radius: 5px;
        }

        .selectQuestion{
            font-size: 12px; 
            position: absolute; left:5px; bottom: 1px; 
            width: 105px; 
            color: black; 
            background-color: white; 
            opacity:0.7; 
            display: none;
        }

    }


}
div.column-2 { width: 550px;padding-right: 20px; float: left; padding-top: 5px;}
div.column-3 { 
    width: 160px;float: left; padding-top: 5px;
}
div.question-row div.answersTotal{ width: 40px;}
div.question-row div.percentageBar{ width: 65px;float: right;}

.sliderValue{ margin-left: 10px;}
.piePersonalRelevanceTotal{ display:none; margin-top: 10px;}

.menu p.categories { padding-top: 10px; font-weight: bold;margin-bottom: 5px;}
.menu div.category {
    font-size: 13px;
    a { padding-left: 25px; }
}

div.column-3 div.row {
    margin-left: 0px;
}

div.selected-row { background-color: #E7ECF6;}
div.selected-row:hover { background-color: #d6e0f4;}

.modal.fade {-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none}

.tsqRow:hover{ background-color: #f3f5f8;cursor: pointer;}