@import (reference) '../../Style/includes/imports.less';

@question-row-image-padding: 5px;

/*div.column-Image { background-color: green; }
div.column-MainContent {background-color: seashell; }
div.column-Additional { background-color: yellowgreen;}
div.question-row{background-color:silver;}*/

.SearchQuestionsForm {

    .clearfix;

    .control-label {
        //.make-md-column(3);
        //.make-lg-column(2);
        float: left;
        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
        .MobileHide;
    }

    .input-group { 
        .xxs-stack;
        .make-xs-column(8);
        .make-md-column(6);
    }

    .form-group {
        .clearfix;
    }
}

.JS-RelatedCategories {
    .xxs-stack;
    .make-xs-column(12);
   // .clearfix;
}

.btnAddQuestion {

    margin-bottom: 10px;

    #mobilePageHeader & {
        float: right;
    }
    
    .media-md-up ({
        float: right;
        position: absolute;
        right: 0;
        top: 5px;
    });
}


.question-row {

    margin-left: -@grid-gutter-width/2;
    margin-right: -@grid-gutter-width/2;
    padding-left: @grid-gutter-width/2 - @question-row-image-padding;
    padding-right: @grid-gutter-width/2 - @question-row-image-padding;

    .media-sm-up ({
        margin-left: -@question-row-image-padding;
        margin-right: -@question-row-image-padding;
        padding-left: 0;
        padding-right: 0;
    });

    &:hover{
        background-color: #f3f5f8;
    }
}

div.selected-row { background-color: #E7ECF6;}
div.selected-row:hover { background-color: #d6e0f4;}

.modal.fade {-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none}

.tsqRow:hover{ background-color: #f3f5f8;cursor: pointer;}



.column { display: inline-block;}

.column-Image {
    float: left;
    padding-top: @question-row-image-padding;
    padding-left: @question-row-image-padding;
    min-width: (@column-Image-below-xs-width - 1px);

    .media-below-xs ({
        position: absolute !important;
    });
    .make-xs-column(2);

    .media-sm-up({
        width: @column-Image-sm-width;
    });

    .image-container {
        margin-bottom: 5px;
        position: relative;

        img {
            width: 105px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            max-width: 100%;
        }

        .selectQuestion {
            font-size: 12px;
            position: absolute;
            bottom: 1px;
        bottom: 10px;
            width: 105px;
            color: black;
            background-color: white;
            opacity: 0.7;
            display: none;
        }
    }
}

.column-MainContent {

    padding-right: 20px;
    padding-top: 5px;
    float: left;
    position: relative;

    .make-xs-column(10);

    .media-below-xs ({
        width: 100%;
        padding-left: 76px;
    });

    .media-sm-up ({
        width: (722px - @column-Image-sm-width - @column-Additional-sm-width);
    });
    
    .media-md-up ({
        width: (702px - @column-Image-sm-width - @column-Additional-sm-width);
    });

    .media-lg ({
        width: (852px - @column-Image-sm-width - @column-Additional-sm-width);
    });
}


.QuestionText {

    font-weight: normal;
    font-size: large;

    .media-below-xs ({
       clear: left;
    });
}

.column-Additional {

    float: left;
    padding-top: 5px;
    line-height: 15px;
    font-size: 90%;

    .media-below-xs ({
        padding-left: 76.15625px;
    });

    .media-xs ({
        margin-left: 10px;
    });

    .media-sm-up ({
        width: @column-Additional-sm-width;
    });
}

.NumberTimes {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.NumberTimesStats {
    .media-sm-up ({
        margin-top: 7px;
        padding-bottom: 20px;
    });
}


/*.QuestionAuthor {

    .media-sm-up({
        padding-top: 16px;
    })
}*/


@media DISABLE (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .StatsGroup {
        float: left;

        &.NumberTimesStats {
            .make-xs-column(4);
        }

        &.QuestionAuthor {
            .make-xs-column(4);
            float: right;
            > div {
                float: right;
                clear: right;
            }
        }
    }
}

//$temp begin
@media (max-width: @screen-xs-max) {

    .NumberTimesStats {
        clear: left;
        float: left;
    }
    .QuestionAuthor {
        float: right;
        > div {
            float: right;
            //clear: right;
        }
    }
}
//$temp end



.addRelevance {
    display: block;
    padding-bottom: 6px;
}

.sliderContainer {
    padding-bottom: 6px;
    padding-top:5px;
    width: 150px;
    //&::after{#Clear}

    @media only screen and (max-width: @screen-sm-min)  {
        float: left;
    }
}
//$temp
.sliderContainer, .addRelevance {
    @media only screen and (max-width: @screen-sm-min) {
        float: left;
    }
}

.sliderValue{margin-left: 6px;}
.removeRelevance {margin-left: 2px;}
.piePersonalRelevanceTotal{ display:none; margin-top: 10px;}

.menu p.categories { padding-top: 10px; font-weight: bold;margin-bottom: 5px;}
.menu div.category {
    font-size: 13px;
    a { padding-left: 25px; }
}

div.column-Additional div.row {
    margin-left: 0;
}

.Pin {

    height: 25px;
    margin-top: -1px;
    padding-left: 10px;
    float: right;

    .media-below-xs ({
        float: left;
    });
} 