@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 649px) {
}
@media (min-width: 650px) {
}
/*div.column-Image { background-color: green; }
div.column-MainContent {background-color: seashell; }
div.column-Additional { background-color: yellowgreen;}
div.question-row{background-color:silver;}*/
/*#MasterMainWrapper {
        background-color: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        .media-sm-up( {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }

        );
    }

    .MainFilterBarWrapper {
        .media-below-sm({
            margin-bottom: 10px;
        });
    }*/
.SearchQuestionsForm {
  /*.input-group { 
        .xxs-stack;
        .make-xs-column(8);
        .make-md-column(6);
    }*/
}
.SearchQuestionsForm:before,
.SearchQuestionsForm:after {
  content: " ";
  display: table;
}
.SearchQuestionsForm:after {
  clear: both;
}
.SearchQuestionsForm:before,
.SearchQuestionsForm:after {
  content: " ";
  display: table;
}
.SearchQuestionsForm:after {
  clear: both;
}
.SearchQuestionsForm .control-label {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 991px) {
  .SearchQuestionsForm .control-label {
    display: none;
  }
}
.SearchQuestionsForm .form-group:before,
.SearchQuestionsForm .form-group:after {
  content: " ";
  display: table;
}
.SearchQuestionsForm .form-group:after {
  clear: both;
}
.SearchQuestionsForm .form-group:before,
.SearchQuestionsForm .form-group:after {
  content: " ";
  display: table;
}
.SearchQuestionsForm .form-group:after {
  clear: both;
}
@media (max-width: 479px) {
  .JS-RelatedCategories {
    float: none;
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
  }
}
.question-row .label {
  max-width: 300px;
}
#menu1 ul.dropdown-menu {
  left: auto;
  right: 0;
}
.SelectAreaCheckbox {
  display: block;
}
.SelectAreaImageInfo {
  height: 60%;
  top: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (max-width: 767px) {
  .SelectAreaCheckbox {
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .SelectAreaImageInfo {
    display: none;
  }
}
.NumberTimes {
  display: inline-block;
  width: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .NumberTimesStats {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sparklineTotals {
    margin-right: 3px;
  }
}
.sparklineTotals,
.sparklineTotalsUser {
  font-size: 11px;
}
/*.QuestionAuthor {
    .media-sm-up({
        padding-top: 16px;
    })
}*/
@media DISABLE (min-width: 480px) and (max-width: 767px) {
  .StatsGroup {
    float: left;
  }
  .StatsGroup.NumberTimesStats {
    position: relative;
    float: left;
    width: 33.33333333%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .StatsGroup.QuestionAuthor {
    position: relative;
    float: left;
    width: 33.33333333%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
  }
  .StatsGroup.QuestionAuthor > div {
    float: right;
    clear: right;
  }
}
@media (min-width: 768px) {
  .StatsRow {
    height: 20px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .NumberTimesStats {
    clear: left;
    float: left;
  }
  .QuestionAuthor {
    float: right;
  }
  .QuestionAuthor > div {
    float: right;
  }
}
.addRelevance {
  display: block;
  padding-bottom: 6px;
}
.sliderContainer {
  padding-bottom: 6px;
  padding-top: 5px;
  width: 150px;
}
@media only screen and (max-width: 768px) {
  .sliderContainer {
    float: left;
  }
}
@media only screen and (max-width: 768px) {
  .sliderContainer,
  .addRelevance {
    float: left;
  }
}
.sliderValue {
  margin-left: 6px;
}
.removeRelevance {
  margin-left: 2px;
}
.piePersonalRelevanceTotal {
  display: none;
  margin-top: 10px;
}
.menu p.categories {
  padding-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.menu div.category {
  font-size: 13px;
}
.menu div.category a {
  padding-left: 25px;
}
div.column-Additional div.row {
  margin-left: 0;
}
#StatusFilterBar label {
  padding-top: 0px;
}
#StatusFilterBar span {
  margin-top: 5px;
  margin-right: 3px;
  padding: 2px;
  font-size: 13px;
  border-radius: 3px;
}
#StatusFilterBar span input[type=checkbox] {
  position: relative;
  top: 2px;
}
@media (min-width: 768px) {
  .column-Additional {
    width: 200px;
  }
  .column-Additional div.row div.col-AnswerChance {
    font-size: 13px;
    color: grey;
    padding-bottom: 15px;
  }
  .column-Additional div.row div.col-AnswerProbability {
    font-size: 28px;
    color: #828282;
    padding-bottom: 16px;
  }
  .column-Additional div.row div.col-AnswerProbability i.fa-tachometer {
    display: none;
  }
  .column-Additional div.row div.col-AnswerProbability span.derivation {
    display: none;
  }
  .column-Additional div.row div.col-Wishknowledge {
    padding-bottom: 18px;
  }
}
.column-Additional:hover div.row div.col-AnswerProbability span.derivation {
  display: inline;
}
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddedNot,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddSpinner,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddedNot i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddSpinner i {
  font-size: 13px;
  height: 26px;
}
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddedNot i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddSpinner i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded i i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddedNot i i,
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddSpinner i i {
  position: relative;
  top: -5px;
}
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded {
  padding-right: 0px;
  padding-left: 0px;
}
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAdded i {
  font-size: 17px;
}
.column-Additional div.col-Wishknowledge .HeartToAddButton .iAddedNot span {
  position: relative;
  bottom: 4px;
}
@media (max-width: 767px) {
  .column-Additional div.row {
    width: 100%;
  }
  .column-Additional div.row .col-AnswerChance,
  .column-Additional div.row .col-AnswerProbability,
  .column-Additional div.row .col-Wishknowledge {
    width: auto;
    display: inline-block;
    padding-left: 0px;
    padding-right: 3px;
    font-size: 14px;
  }
  .column-Additional div.row .col-Wishknowledge {
    float: right;
  }
}