@import (reference) '../../Style/bootstrap/bootstrap.less';
@import (reference) '../../Style/bootstrap/variables_custom.less';
@import '../../Style/includes/colors.less';
@import '../../Style/includes/variables.less';
@import '../../Style/includes/shared.less';

@question-row-image-padding: 5px;

/*div.column-Image { background-color: green; }
div.column-MainContent {background-color: seashell; }
div.column-Additional { background-color: yellowgreen;}
div.question-row{background-color:silver;}*/

.question-row {

    margin-left: -@grid-gutter-width/2;
    margin-right: -@grid-gutter-width/2;
    padding-left: @grid-gutter-width/2 - @question-row-image-padding;
    padding-right: @grid-gutter-width/2 - @question-row-image-padding;

    @media (min-width: @screen-sm-min) {
        margin-left: -@question-row-image-padding;
        margin-right: -@question-row-image-padding;
        padding-left: 0;
        padding-right: 0;
    }

    &:hover{
        background-color: #f3f5f8;
    }
}
.column { display: inline-block;}

//$temp begin
@media (max-width: @screen-xs-max) {

    .NumberTimesStats {
        clear: left;
        float: left;
    }
    .QuestionAuthor {
        float: right;
        > div {
            float: right;
            //clear: right;
        }
    }
}
//$temp end


.column-Image {min-width: @column-Image-below-xs-width;}

@media DISABLE (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .StatsGroup {
        float: left;

        &.Slider, &.NumberTimesStats {
            .make-xs-column(4);
        }

        &.QuestionAuthor {
            .make-xs-column(4);
            float: right;
            > div {
                float: right;
                clear: right;
            }
        }
    }
}
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {

.row .column-Additional {
        padding-left: 16.66666667%;
        //padding-right: 20px;
        margin-left: 10px;
    }
}

@media (max-width: (@screen-xs-min - 1px)) {
    .column-Image {position: absolute !important;}
    .row .column-MainContent {
        width: 100%;
        padding-left: 76.15625px;
    }

    .row .column-Additional {
        padding-left: 76.15625px;
    }
    

    .QuestionText {clear: left;}

    div.ShortStats {
        float: left;
    } 
}

@media only screen and (max-width: @screen-sm-min) {
    .column-Additional{
        width: 100%;
    }
}


.column-Image {

    .make-xs-column(2);
    
    @media only screen and (min-width: @screen-sm-min) {
        width: @column-Image-sm-width;
    }

    float: left;
    padding-top: @question-row-image-padding;
    padding-left: @question-row-image-padding;

    .image-container{

        margin-bottom: 5px;

        img{
            width: 105px;
            border-radius: 5px;
            max-width: 100%;
        }

        .selectQuestion{
            font-size: 12px; 
            position: absolute; left:5px; bottom: 1px; 
            width: 105px; 
            color: black; 
            background-color: white; 
            opacity:0.7; 
            display: none;
        }
    }
}

.column-MainContent {

    .make-xs-column(10);
    .make-sm-column(7);
    .make-lg-column(8);

    // col-xs-10 col-sm-7 col-lg-8

    @media only screen and (min-width: @screen-sm-min) {
        width: (722px - @column-Image-sm-width - @column-Additional-sm-width);
    }
    
    @media only screen and (min-width: @screen-md-min) {
        width: (702px - @column-Image-sm-width - @column-Additional-sm-width);
    }

    @media only screen and (min-width: @screen-lg-min) {
        width: (852px - @column-Image-sm-width - @column-Additional-sm-width);
    }
}

.column-Additional {
    @media only screen and (min-width: @screen-sm-min) {
        width: @column-Additional-sm-width;
    }
}

.btnAddQuestion {

    margin-bottom: 10px;

    #mobilePageHeader & {
        float: right;
    }
    
    @media (min-width: @screen-md-min) {
        float: right;
        position: absolute;
        right: 0;
        top: 5px;
    }
}

//$temp:
@media only screen and (max-width: @screen-sm-min) {
    
}


div.column-MainContent {
    //width: 550px;
    padding-right: 20px;
    float: left;
    padding-top: 5px;
    position: relative;
}

.ShortStats {
    height: 25px;
    margin-top: 0;
    margin-right: 4px;
    border-radius: 6px;
    border: 1px solid beige;
    background-color: beige;
    padding:4px;
    float: right;
}

.QuestionText{
    font-weight: normal;
    font-size: large;
}

.column-Additional { 
    //width: 160px;
    float: left;
    padding-top: 5px;
    line-height: 15px;
    font-size: 90%;
}
.question-row .answersTotal{ width: 40px;}
.question-row .percentageBar{ width: 65px;float: right;}

.addRelevance {
    display: block;
    padding-bottom: 6px;
}

.sliderContainer {
    padding-bottom: 6px;
    padding-top:5px;
    width: 150px;
    //&::after{#Clear}

    @media only screen and (max-width: @screen-sm-min)  {
        float: left;
    }
}
//$temp
.sliderContainer, .addRelevance {
    @media only screen and (max-width: @screen-sm-min) {
        float: left;
    }
}

.sliderValue{margin-left: 6px;}
.removeRelevance {margin-left: 2px;}
.piePersonalRelevanceTotal{ display:none; margin-top: 10px;}

.menu p.categories { padding-top: 10px; font-weight: bold;margin-bottom: 5px;}
.menu div.category {
    font-size: 13px;
    a { padding-left: 25px; }
}

div.column-Additional div.row {
    margin-left: 0;
}

.NumberTimesStats {}

.NumberTimes {
    display: inline-block;
    width: 20px;
    text-align: center;
}


div.selected-row { background-color: #E7ECF6;}
div.selected-row:hover { background-color: #d6e0f4;}

.modal.fade {-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none}

.tsqRow:hover{ background-color: #f3f5f8;cursor: pointer;}

.SearchQuestionsForm {

    .clearfix;

    .control-label {
        //.make-md-column(3);
        //.make-lg-column(2);
        float: left;
        padding-left: @grid-gutter-width/2;
        padding-right: @grid-gutter-width/2;
        .MobileHide;
    }

    .input-group { 
        .xxs-stack;
        .make-xs-column(8);
        .make-md-column(6);
    }
}

#choices {

    @media (max-width: @screen-xxs-max) {

        .input-group {
            display: block;

            input {
                border-bottom-left-radius: @input-border-radius !important;
                border-top-right-radius: 0 !important;
            }
        }

        .input-group-addon {
            display: block;
            width: auto;
            border: 1px solid @input-group-addon-border-color !important;
            border-bottom: none !important;
            border-top-right-radius: @input-border-radius !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
