<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />

    <add key="SmtpServer" value="mail.richtig-oder-falsch.de"/>
    <add key="SmtpPassword" value="password"/>
    <add key="SmtpUser" value="noreply@richtig-oder-falsch.de"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="_debugMails" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>