<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />

    <add key="SmtpServer" value="mail.richtig-oder-falsch.de"/>
    <add key="SmtpPassword" value="password"/>
    <add key="SmtpUser" value="noreply@richtig-oder-falsch.de"/>
    <add key="EmailDefaultFrom" value="noreply@richtig-oder-falsch.de"/>
  </appSettings>

  <connectionStrings>
    <add name="main" connectionString="Server=localhost;Database=TrueOrFalse_Test;uid=TrueOrFalse;pwd=jklaem34jkl3"/> 
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Projects\TrueOrFalse\src\TrueOrFalse.Tests\_debugEmails" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  
</configuration>