<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="Autofac" version="3.5.2" targetFramework="net472" />
  <package id="BDDish" version="0.1.2.2" targetFramework="net472" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net472" />
  <package id="EasyNetQ.Management.Client" version="0.47.12.38" targetFramework="net472" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="JetBrains.dotMemoryUnit" version="2.3.20160517.113140" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net472" />
  <package id="NHibernate" version="5.2.6" targetFramework="net472" />
  <package id="NUnit" version="3.5.0" targetFramework="net472" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net472" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net472" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net472" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net472" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net472" />
  <package id="Quartz" version="2.3.2" targetFramework="net472" />
  <package id="RabbitMQ.Client" version="3.5.2" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="Serilog" version="2.2.1" targetFramework="net472" />
  <package id="SharpTestsEx" version="1.1.1" targetFramework="net472" />
</packages>