.title-mixed-colors span#uch {
  color: #e7ecf6;
}
.title-uch-candy span#uch {
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
}
.title-uch-bended #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.title-uch-bended #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.title-old {
  font-weight: 800;
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
  font-size: 28px;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .title-old {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .title-old {
    font-size: 40px;
    padding-top: 2px;
  }
}
.title-old span#m {
  padding-right: 3px;
}
.title-old span#uch {
  font-size: 20px;
  text-transform: lowercase;
}
@media (min-width: 480px) {
  .title-old span#uch {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .title-old span#uch {
    font-size: 30px;
  }
}
.title-new-candy-pure {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
  line-height: 30px !important;
}
.title-new-candy-pure #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.title-new-candy-pure #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.title-new-roboto-slab {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.title-new-roboto-slab #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.title-new-roboto-slab #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.title-new-roboto-slab #m {
  margin-right: -1px;
}
.title-new-roboto {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
  font-weight: normal;
}
.title-new-roboto #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.title-new-roboto #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.title-new-roboto #uch {
  font-weight: bold;
}
.title-new-roboto #m {
  margin-right: -1px;
}
.title-new {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
}
.title-new #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.title-new #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.fixed-height-header .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo1 .block.title h1 {
  font-weight: 800;
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
  font-size: 28px;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .Logo1 .block.title h1 {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .Logo1 .block.title h1 {
    font-size: 40px;
    padding-top: 2px;
  }
}
.Logo1 .block.title h1 span#m {
  padding-right: 3px;
}
.Logo1 .block.title h1 span#uch {
  font-size: 20px;
  text-transform: lowercase;
}
@media (min-width: 480px) {
  .Logo1 .block.title h1 span#uch {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .Logo1 .block.title h1 span#uch {
    font-size: 30px;
  }
}
.Logo1 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo2 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.Logo2 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo2 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo2 .block.title h1 #m {
  margin-right: -1px;
}
.Logo2 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo2 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo3 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.Logo3 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo3 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo3 .block.title h1 #m {
  margin-right: -1px;
}
.Logo3 .block.title h1 span#uch {
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
}
.Logo3 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo3 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo4 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.Logo4 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo4 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo4 .block.title h1 #m {
  margin-right: -1px;
}
.Logo4 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo4 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo4 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo4 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo5 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.Logo5 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo5 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo5 .block.title h1 #m {
  margin-right: -1px;
}
.Logo5 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo5 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo5 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo5 .block.title h1 span#uch {
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
}
.Logo5 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo6 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
  font-weight: normal;
}
.Logo6 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo6 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo6 .block.title h1 #uch {
  font-weight: bold;
}
.Logo6 .block.title h1 #m {
  margin-right: -1px;
}
.Logo6 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo6 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo7 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
  font-weight: normal;
}
.Logo7 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo7 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo7 .block.title h1 #uch {
  font-weight: bold;
}
.Logo7 .block.title h1 #m {
  margin-right: -1px;
}
.Logo7 .block.title h1 span#uch {
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
}
.Logo7 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo7 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo8 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
  font-weight: normal;
}
.Logo8 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo8 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo8 .block.title h1 #uch {
  font-weight: bold;
}
.Logo8 .block.title h1 #m {
  margin-right: -1px;
}
.Logo8 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo8 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo8 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo8 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo9 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
  font-weight: normal;
}
.Logo9 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo9 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo9 .block.title h1 #uch {
  font-weight: bold;
}
.Logo9 .block.title h1 #m {
  margin-right: -1px;
}
.Logo9 .block.title h1 span#uch {
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
}
.Logo9 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo9 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo9 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo9 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo10 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
  line-height: 30px !important;
}
.Logo10 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo10 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo10 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo10 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo11 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Emilys Candy', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive;
  line-height: 30px !important;
}
.Logo11 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo11 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo11 .block.title h1 span#uch {
  color: #e7ecf6;
}
.Logo11 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo11 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo11 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo12 .block.title h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 0;
  font-family: 'Roboto slab', 'MS Serif', 'Palatino Linotype', 'Book Antiqua', cursive !important;
  line-height: 32px !important;
}
.Logo12 .block.title h1 #uch {
  vertical-align: 3px;
  display: inline-block;
  margin-right: -2px;
}
.Logo12 .block.title h1 #uch span {
  display: inline-block;
  font-size: 35px !important;
}
.Logo12 .block.title h1 #m {
  margin-right: -1px;
}
.Logo12 .block.title h1 #uch span:first-child {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  vertical-align: -3px;
}
.Logo12 .block.title h1 #uch span:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  vertical-align: -3px;
}
.Logo12 .HeaderMainRow {
  height: 37px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
.Logo12 #uch {
  color: #a1c629;
}
/*# sourceMappingURL=logo.css.map */