.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.usercard-enter-active{
  transition: all 0.1s ease;
}
.usercard-leave-active {
  transition: 0s;
}


.usercard-enter-from,
.usercard-leave-to {
  opacity: 0;
  // transform: translateX(30px);
}

.collapse-enter-active,
.collapse-leave-active {
  transition: max-height 0.2s ease, opacity 0.2s ease,
}

.collapse-enter-from,
.collapse-leave-to {
  max-height: 0;
  opacity: 0;
}

.collapse-enter-to,
.collapse-leave-from {
  max-height: 500px; /* Arbitrary max-height to accommodate content */
  opacity: 1;
}

/* Grow Transition */
.grow-enter {
  opacity: 0;
  transform: scale(0);
}

.grow-enter-active {
  animation: grow 0.15s forwards;
}

.grow-leave {
  opacity: 1;
  transform: scale(1);
}

.grow-leave-active {
  animation: growReverse 0.15s forwards;
}

/* Keyframes */
@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growReverse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}