<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="3.3.4" targetFramework="net452" />
  <package id="Autofac.SignalR" version="3.0.2" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="EasyNetQ" version="0.49.1.388" targetFramework="net452" />
  <package id="EasyNetQ.Management.Client" version="0.47.12.38" targetFramework="net452" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net461" />
  <package id="jQuery" version="1.6.4" targetFramework="net452" />
  <package id="Markdig" version="0.10.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NHibernate" version="4.0.0.4000" targetFramework="net452" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Quartz" version="2.3.2" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.5.2" targetFramework="net452" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net452" />
  <package id="RollbarSharp" version="0.3.3.0" targetFramework="net452" />
  <package id="Serilog" version="2.2.1" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Seq" version="3.0.1" targetFramework="net461" />
</packages>